[2018-07-12 01:02] SethTisue commented on #10758
cc @milessabin

[2018-07-12 03:01] retronym commented on #10758
I expect the problem will be an interaction with delayed expansion of white box macros, as described in https://github.com/scala/scala/blob/50077e92ca9666ac96c91c18648433530b43dd7f/src/compiler/scala/tools/nsc/typechecker/Macros.scala#L712-L734

[2018-07-12 04:08] retronym commented on #10762
This suggests that the root problem is in compiling Scalatest itself:

[code]

That method is defined in Scalacheck as:

[code]

The higher kinded type param `S` within `org.scalatest.matchers.MatcherFactory1[T with Any,[-S]org.scalatest.enablers.Sortable[S]]` is incorrectly (I think) owned by `Matcher`.

Now, why is that?

[2018-07-12 04:32] retronym commented on #10762
In Scala 2.12, `be` has the type.

[code]

[2018-07-12 04:53] retronym commented on #10762
Minimized:

[code]

[2018-07-12 05:09] retronym commented on #10762
[code]

https://github.com/scala/scala/pull/6069

[2018-07-12 06:06] retronym commented on #10762
Here's a variation that also crashes 2.12, albeit, I think, for a different reason.

[code]

[2018-07-12 06:16] chrisphelps commented on #10969
Related: https://github.com/scala/collection-strawman/issues/510

[2018-07-12 07:39] NthPortal commented on #11014
why does `lengthCompare` need to be final? I would think that it specifically *shouldn't* be final, so that you can overload it for optimisation

[2018-07-12 08:03] julienrf commented on #11014
`lengthCompare` is `final` on the `List` override only. This is not a problem because `List` is `sealed` (and also was in 2.12, so there is no breakage here). I’ve updated the PR description.

[2018-07-12 08:51] julienrf opened #11015 "Type inference issue in presence of overloads using varargs"
As reported in https://github.com/etorreborre/specs2/issues/687#issuecomment-404384272, overloading resolution does not play well with type inference in the following case:

[code]

This could be a problem for us because scala/scala#6879 did introduce such problematic overloads.

[2018-07-12 08:58] julienrf commented on #11014
The problem with making it *only* `@deprecatedOverriding` is that this may lead to inconsistent definitions for `length` and `size`.

My preference is to keep it `final`: this would ensure that collection implementations are correct, although this can break existing collection implementations that used to override it.

[2018-07-12 09:06] julienrf commented on #11014
After reading again the issue description I think it was mostly wrong: it’s fine to have a `final` `length` on `List` and `Range` because these are `sealed` types. The only remaining case is on `Iterator`, where `length` is defined as an alias to `size` and it makes sense to keep it `final` for the reason I explained in my previous comment. Therefore I think we can safely close that issue. Sorry @

[2018-07-12 09:06] #11014 closed

[2018-07-12 09:23] lrytz opened #11016 "Overloading resolution for function and SAM fails with Unit adaptation"
This fails in 2.12 and 2.13

[code]

Mabye this can be improved. Found by compiling Spark for 2.12 (https://issues.apache.org/jira/browse/SPARK-14220?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=16540495#comment-16540495)

[2018-07-12 09:31] MasseGuillaume commented on #11014
@julienrf We should reopen this issue for `Iterator`. The `@deprecatedOverriding` should mention the concern about size and length.

https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/util/ByteIterator.scala#L42

[2018-07-12 09:49] #10981 closed

[2018-07-12 10:00] sjrd commented on #11014
Deprecations must only be used when the previous meaning can be preserved, although it is not recommended anymore. If overriding `length` does not change `size` as well anymore, then we are not preserving the previous meaning of overriding `length`. That means that a deprecation is not strong enough. It must be a hard compile error.

[2018-07-12 11:32] julienrf commented on #11013
I’m not sure what we should do about that one. It might be fine to just document the change and not try to provide a deprecated type alias because we don’t really have an equivalent type in the new design. Also, the situation is the same for other template traits such as `immutable.LinearSeqLike`, `immutable.IndexedSeqLike`, `immutable.SeqLike`, etc.

[2018-07-12 11:34] sjrd commented on #11013
The only purpose of `IndexedSeqOptimized` is to extend from it, and it's been established that providing compatibility for custom collections was outside the scope of the new collections. Just drop it. You won't ever be able to salvage custom collections.

Btw, it's another reason for which all the `final` -> `@deprecatedOverride` are pointless.

[2018-07-12 11:36] sjrd commented on #10998
Drop them. It's only relevant for custom collections, and compatibility for custom collections are DOA.

[2018-07-12 11:37] sjrd commented on #11009
Drop them. It's only relevant for custom collections, and compatibility for custom collections are DOA.

Also, the override wouldn't really be compatible, since it would fail to implement/override `remove` accordingly anyway. So a hard error is required, not just a deprecation.

[2018-07-12 11:45] MasseGuillaume commented on #11009
I don't understand this point. Can you elaborate more?

[2018-07-12 11:51] sjrd commented on #11009
If a user calls `remove`, they won't use the implementation in the overridden `--`. So overriding `--` breaks the contract that `remove` and `--` do the same thing. One would need to *also* override `remove` to protect the contract, but if they do that, overriding `--` is pointless. So there is no reasonable scenario where overriding `--` is *correct*.

[2018-07-12 12:02] sjrd commented on #11009
You are not helping my migration if you allow my code to compile with incorrect behavior. Keep my behavior intact if you can. If you can't, *please* prevent my code from compiling.

[2018-07-12 12:04] julienrf commented on #11009
What would become incorrect?

[2018-07-12 12:04] MasseGuillaume commented on #11009
@sjrd `remove` is final in my proposal, how would you override it?

I'm only pointing out that in < 2.13, there were only symbolic operators (`+`) and as a custom collection implementer, this is what you need to implement. In >= 2.13, you need to implement the non-symbolic operator (`remove`), and you need to provide a cross-compatibility layer.

For example, we want to cross compile a mutable.Bui

[2018-07-12 12:08] sjrd commented on #11009
Ah, my mistake. I didn't see that you suggested `remove` to be `final` instead. Yes, that would indeed be fine. If you do that you also need to do it with `append` and all the other methods that have switched from a symbolic name to an alphanumeric-plus-symbolic-alias name.

[2018-07-12 12:48] milessabin commented on #10758
PR here: https://github.com/scala/scala/pull/6927.

[2018-07-12 12:58] Jasper-M commented on #11009
Disregarding compatibility I have to say I find it *a lot* cleaner to have the symbolic operators be final aliases, and the alphabetic methods be overridable.

[2018-07-12 13:12] NthPortal commented on #10947
@julienrf I don't think scala/scala#6910 fixes this. I'm still concerned about the definition of `mapInPlace` on `mutable.Seq` without a default implementation, because

- it is a non-trivial barrier to implementing your own collection
- there may not be a sensible implementation for some (any?) linear `mutable.Seq` types

In particular, looking at the default implementation of `mutable.SeqLike.tr

[2018-07-12 13:15] julienrf commented on #10947
That’s a good point, we should probably define it only on `mutable.IndexedSeq` (which has an efficient implementation). What do you think?

[2018-07-12 13:35] #10957 closed

[2018-07-12 14:47] MasseGuillaume opened #11017 "Map withDefault/withDefaultValue should return a Map"
This line compiles in 2.12 but not in 2.13:

https://github.com/akka/akka/blob/master/akka-actor-tests/src/test/scala/akka/routing/RoundRobinSpec.scala#L68

[code]

2.12
[`def withDefault[V1 >: V](d: (K) ⇒ V1): Map[K, V1]`](https://static.javadoc.io/org.scala-lang/scala-library/2.12.6/scala/collection/immutable/Map.html#withDefault[V1>:V](d:K=>V1):scala.collection.immutable.Map[K,V1])

2.13
[`def

[2018-07-12 15:24] kellen opened #11018 "Method with generic return type hides implicit overload"
Overloading a method on a class `A` via an implicit class works:
[code]

But if one of the methods takes a type param for the return type:

[code]

the following error occurs:
[code]

Even giving them the same return type fails:
[code]

with:
[code]

[2018-07-12 15:26] julienrf commented on #11017
FTR, that was already the case in 2.12. The important property to ensure is that the returned Map still has a default value, which is the case in the current implementation.

[2018-07-12 19:06] MasseGuillaume commented on #11017
This line compiles in 2.12 but not in 2.13:

https://github.com/akka/akka/blob/master/akka-actor-tests/src/test/scala/akka/routing/RoundRobinSpec.scala#L68

[code]

2.12
[`def withDefault[V1 >: V](d: (K) ⇒ V1): Map[K, V1]`](https://static.javadoc.io/org.scala-lang/scala-library/2.12.6/scala/collection/immutable/Map.html#withDefault[V1>:V](d:K=>V1):scala.collection.immutable.Map[K,V1])

2.13
[`def

[2018-07-12 19:30] julienrf commented on #11017
That’s because the return type of `withDefaultValue` is too specific: we should widen it to `Map[K, V]` instead of `Map.WithDefault[K, V]`.

Workaround:

[code]

[2018-07-12 20:01] mycaule commented on #10604
Hello,

we had the same kind of problem today at work.
We wanted to write a very big `case class` but encountered these compilation errors.

I think I have reproduced the bug in a minimal reproducible way.
https://github.com/mycaule/scalabug10604-testcase

It might be the same stuff as the 22 fields case class limit earlier.

[2018-07-12 20:08] SethTisue commented on #10604
@mycaule unrelated to the 22 limit. it's:

[2018-07-12 20:47] MasseGuillaume opened #11019 "SortedSet.collect does not accept a function for which there is no Ordering on the codomain"
2.12

[code]

2.13

[code]

[2018-07-12 20:54] MasseGuillaume commented on #11019
Hum, this is probably due to the absence of `CanBuildFrom`.

For `map`, I think the behavior it 2.13 make sense:

2.12

[code]

2.13
[code]

[2018-07-12 21:01] MasseGuillaume commented on #11019
This is documented here: https://github.com/scala/collection-strawman/wiki/FAQ#what-are-the-breaking-changes.

workarround:
val temp: Set[Int] = collection.immutable.SortedSet(1).
temp.collect{ case x => A(x) }

[2018-07-12 21:09] Ichoran commented on #10947
@julienrf - FYI I had been thinking the same thing but I think I forgot to express it.

[2018-07-12 22:16] NthPortal commented on #10947
... thank you for closing this when I fast-forwarded my fork to upstream, GitHub

[2018-07-13 04:45] paulp commented on #11016
That wouldn't compile even without the call to f, if it matters. Same erasure.

[2018-07-13 07:00] julienrf commented on #11019
What should we do @MasseGuillaume?

This is a documented change and the recommended way to achieve what you want to achieve in the first post is to use the `unsorted` operation:

[code]

[2018-07-13 07:16] adriaanm commented on #11016
Yep, but here it was mostly intended as minimal way to observe overloading's flailings.

[2018-07-13 08:52] julienrf commented on #10987
I’ve added this list of unsupported types to the FAQ: https://github.com/scala/collection-strawman/wiki/FAQ#what-are-the-breaking-changes

I suggest to close this issue for now. We can see later if we should invest in a better compatibility layer for these removed classes.

[2018-07-13 08:56] julienrf commented on #10976
I’ve added a point about that in the FAQ: https://github.com/scala/collection-strawman/wiki/FAQ#what-are-the-breaking-changes

[2018-07-13 10:03] adriaanm commented on #10762
The variation can be further minimized, btw:
[code]

[2018-07-13 10:41] adriaanm opened #11020 "`asSeenFrom` crashes on intersection with `this.type`"
split out from #10762

[code]

[2018-07-13 11:09] #10987 closed

[2018-07-13 11:13] MasseGuillaume commented on #11019
`unsorted` is only available in 2.13: https://github.com/scala/scala-collection-compat/issues/95

[2018-07-13 11:13] #11019 closed

[2018-07-13 11:15] MasseGuillaume commented on #11009
@sjrd Can you add your observation on stack allocation?

[2018-07-13 11:16] #10998 closed

[2018-07-13 11:17] #10985 closed

[2018-07-13 11:17] #10976 closed

[2018-07-13 11:21] sjrd commented on #11009
Regarding `+` and `updated`, here:
https://github.com/scala/scala/blob/a0026305125dcc814097b1fbb798fe925ca9f81f/src/library/scala/collection/immutable/Map.scala#L76-L94

If `+` is a final alias to `updated`, the inliner or the JVM can inline `+`, stack-allocate the tuple, then do a (potentially polymorphic) call to `updated` with scalar values.

If `updated` is an alias of `+`, and `+` happens to

[2018-07-13 13:01] adriaanm commented on #11020
Curious:
[code]

[2018-07-13 13:06] adriaanm commented on #11020
yet:
[code]

[2018-07-13 14:05] adriaanm commented on #11020
The BTS of the intersection violates the following invariant:

[code]

[2018-07-13 14:34] adriaanm commented on #11020
Dotty also skips the singleton type in its BTS (caching elided):

[code]

[2018-07-13 17:37] hsn10 opened #11021 "scaladoc 2.12.6 crash on @throws with -implicits"
It happens when i cross compile my getopt project to scala 2.12.6

Project URL: https://gitlab.com/hsn10/getopt
Reproducible at branch master: https://gitlab.com/hsn10/getopt/commits/master at revision https://gitlab.com/hsn10/getopt/tree/c41c3870b00e195848b2b351539c1150210af032

JDK: Oracle jdk1.8.0_162 64 bit
Steps to reproduce: `sbt +doc`
Workaround: comment -implicits scalac option to make it

[2018-07-13 17:59] denisrosset opened #11022 "Compiler crash while compiling with JDK 10"
This is with OpenJDK 10 on Ubuntu (where, weirdly, the package is name `openjdk-11-jdk`), on Scala 2.12.6.

The project is here: https://github.com/denisrosset/symdpoly

It's a medium-sized code base, using notably macros, path-dependent and singleton types.

The macros come mostly from `machinist` (for typeclass operators), `shapeless` (`Witness` is used a lot), `metal` and `scalin`.

The last tw

[2018-07-14 06:12] xuwei-k commented on #11022
https://github.com/scala/bug/issues/10717 ?

https://github.com/denisrosset/symdpoly/blob/1a43e3fca334d027257284c3863732efbe357a50/build.sbt#L109

[2018-07-14 06:17] denisrosset commented on #11022
Yep indeed, disabling optimizations help -- the tests run perfectly then.

You can close this as duplicate if you feel like it! Thanks for your input.

[2018-07-14 16:03] #11022 closed

[2018-07-14 16:42] joshlemer commented on #11017
@julienrf would it be a good idea to move this into `MapOps` so that it can return `CC[K, V]`?

[2018-07-14 19:16] julienrf commented on #11017
I think we tried at some point but that didn’t work well (but I don’t remember why…). You give it another try if you want!

[2018-07-14 19:44] joshlemer commented on #11017
Actually on second thought, is it worth giving up the greater specificity for the sake of type inference here? I remember on occasion being annoyed that one can't really use `Map.WithDefault` as a user because these methods upcast in previous versions. It is in fact useful to be able to rely upon a map having a default, because then it is safe to call `apply` and don't need to litter your code wit

[2018-07-14 19:58] julienrf commented on #11017
I think I misunderstood your previous comment then. I thought you were suggesting to make `Map.WithDefault` extend `MapOps` so that we can refine the type returned by its transformation operations to preserve the information that the map has a default value.

I totally agree that it would be good to have such a thing, but I think we’ve previously tried and failed (I might be wrong, though).

[2018-07-14 20:18] joshlemer commented on #11017
@julienrf sorry, you didn't misinterpret me, I changed subjects :-). My second question was: Maybe it is better to leave this as-is and not fix it just for the sake of type inference? I personally have at some point wanted to write code against `Map.WithDefault` so that I can statically guarantee that I don't have to cover the case of missing keys, so perhaps the regression of breaking the type in

[2018-07-15 01:11] NthPortal commented on #8028
Is this resolved by scala/scala#6907?

[2018-07-15 03:39] #8746 closed

[2018-07-15 20:39] isaacl commented on #10968
I think the only other enhancement is for clone, and that requires a change to bytecode generation which I'm not familiar w/.  The JNI methods in java.lang.reflect are much, much slower than scala impls and not worth pursuing.

But I did have an idea for ArrayOps to try to avoid these runtime lookups with concrete subclasses – probably best as a separate bug.

[2018-07-16 01:31] Prithvirajbilla commented on #11010
Is this is the issue?
https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/index.html?search=Coll doesn't list lot of collections in `Member results`. whereas, https://static.javadoc.io/org.scala-lang/scala-library/2.12.6/index.html?search=Coll lists collections in `Member results` correctly.

It was not very clear to me from the description. Thanks.

[2018-07-16 01:44] Prithvirajbilla commented on #10999
This looks interesting. I'd like to take a look at this.

 I agree with option for visibility of `Protected` functions.

But don't think option for visibility of `private ` functions is useful, given we can't use those private functions. I can't think of a good purpose for them.

[2018-07-16 02:43] som-snytt commented on #10999
My Java friend (I have one friend, and he happens to use only Java and only Eclipse) doesn't download javadoc. He only hovers in the IDE to view it. I don't understand that behavior.

I always download Javadoc and Scaladoc; it is a separate representation, for me, from what any IDE might report. It is the golden representation. I have a jetty that serves various docs including java and scaladoc.

[2018-07-16 06:52] julienrf commented on #11010
Hey @Prithvirajbilla. Sorry the description is not very detailed. It’s about a type member named `Coll` and defined in `GenMapFactory`, `SortedMapFactory`, `SortedSetFactory` and `GenericCompanion`.

We might want to provide an equivalent type member in our factory template traits (e.g. `IterableFactory`, `MapFactory`, etc.) for the sake of compatibility. That being said, I think this type member

[2018-07-16 06:56] julienrf commented on #11017
The problem is that the current implementation returns `Map.WithDefault` after you call `map.withDefaultValue(xx)`, but then if you add, remove or transform that `Map.WithDefault` instance you only get back a `Map` (it is not statically known to be a `Map.WithDefault`). So, I think we should either widen the return type of `withDefaultValue` to be `Map` instead of `Map.WithDefault`, or make all tr

[2018-07-16 06:58] MasseGuillaume commented on #11010
Only for `CanBuildFrom` so far.

[2018-07-16 07:03] NthPortal commented on #11005
what's the desired fix for this? possibilities include:

- That's how views work, and that's what happens if you nest a ton of `View.Concat`s. You're using `View.Concat` essentially as a cons cell, which is not intended. Don't do that
- `View.Concat#knownSize` always returns `-1`
- `View.Concat#knownSize` does something fancy to attempt to detect if it is comprised of other `View`s (or maybe speci

[2018-07-16 07:03] julienrf commented on #11010
Ok, then I suggest that we focus on more urgent things!

[2018-07-16 07:04] xuwei-k commented on #10200
[code]

[2018-07-16 07:06] julienrf commented on #10200
I guess we can close that issue, then?

[2018-07-16 07:08] #10200 closed

[2018-07-16 07:09] julienrf commented on #11005
We can try to implement the third proposition (basically, “fusion” for `knownSize`). Otherwise I’m happy to live with the first proposition. I think the second proposition (always returning `-1` in views) may cause more harm than good.

[2018-07-16 07:22] xuwei-k opened #11023 "ArrayOps#startsWith throw ArrayIndexOutOfBoundsException"
### latest Scala 2.13.x [0c15792](https://github.com/scala/scala/tree/0c157929fe01a0e47723ca3a9bb5c31ab0183836)

[code]

### 2.13.0-M4

[code]

### 2.12.6

[code]

### 2.11.12

[code]

[2018-07-16 07:30] julienrf commented on #10947
That being said, our current implementation in `ListBuffer`, `UnrolledBuffer` and `JListWrappor` are all `O(n)`. I could keep these implementations but still move the definition of `mapInPlace` from `mutable.SeqOps` to `mutable.IndexedSeqOps`, though.

[2018-07-16 08:48] Jasper-M commented on #11023
What's wrong with `-1`?

[2018-07-16 09:01] #10758 closed

[2018-07-16 09:08] MasseGuillaume commented on #10999
@som-snytt I don't use an IDE but I use scaladoc every day. I use javadoc.io to fetch what I want: https://javadoc.io/doc/com.typesafe.akka/akka-http_2.12/10.1.3

There is also [dash](https://kapeli.com/dash) to aggregate documentation.

[2018-07-16 09:23] dwijnand commented on #10810
Fixed in https://github.com/scala/scala/pull/6529, due in 2.12.7.

[2018-07-16 09:23] #10810 closed

[2018-07-16 09:49] #11008 closed

[2018-07-16 09:49] allanrenucci commented on #11005
This issue is not specific to `View.Concat`. All views that implements `knownSize` in term of the underlying collection share the same issue (e.g. `Drop`, `Take`, `ScanLeft`, `Map`...)

https://github.com/scala/scala/blob/40d0f04830c504925327250503c1c457d455e452/src/library/scala/collection/Factory.scala#L243-L245

Not sure what the best solution is but we should at least change all the `knownSize

[2018-07-16 10:04] julienrf commented on #11005
I agree: a simple improvement would be to not re-evaluate `knownSize`.

[2018-07-16 14:52] Ichoran commented on #10947
I think we'd better move to `IndexedSeqOps`, then.

[2018-07-16 15:41] allanrenucci opened #11024 "Disallow passing arrays for repeated arguments"
`Seq` will be an alias for `immutable.Seq` in 2.13. Therefore, you should not be able to pass an `Array` where a repeated argument is expected. Currently:
[code]

This raises the question: What do we do for Java defined methods? Should we still allow passing an `Array`? E.g.
[code]

It would be nice to not have a special case for java defined methods, but this might incur a performance cost as you

[2018-07-16 15:49] adriaanm commented on #11024
related code in uncurry: https://github.com/scala/scala/blob/9812c7d3c9dc10ed2e96499c755657ca5bd90ddb/src/compiler/scala/tools/nsc/transform/UnCurry.scala#L245-L320

[2018-07-16 16:14] xuwei-k opened #11025 "consider revert #6755 because maybe Char + String is more efficient."
### build.sbt

[code]

### A.scala

[code]

### `sbt compile` log

[code]

### `javap -v target/scala-2.13.0-pre-4d39d4f/classes/A.class`

[code]

[2018-07-16 18:17] Ichoran commented on #11024
There is no particular reason that `A*` has to mean `immutable.Seq[A]`.  It probably shouldn't, since that would prevent efficient passing of mutable collections to varargs, and efficiency is one of the main points of mutable collections.

[2018-07-16 18:18] sjrd commented on #11025
Write
[code]
instead.

[2018-07-16 18:28] smarter commented on #11025
Or just write "ab" :) In less trivial cases use the `s""` interpolator which is optimlzed since 2.12.5:
[code]
[code]

[2018-07-16 18:47] soronpo opened #11026 "Compiler crash: unexpected curried method types with intervening existential"
Tested on latest 2.12.x and 2.13.x:  2.13.0-M5 and 2.12.6
Version 2.12.x reports a compilation error that seemed to be resolved for 2.13.0-M3 and above.

Code:
[code]

Crash log:
[code]

[2018-07-16 18:47] sjrd commented on #11024
Are you suggesting that varargs should be specified as `scala.collection.Seq` instead of `Seq` (which now means `scala.collection.immutable.Seq`)?

[2018-07-16 20:03] Ichoran commented on #11024
@sjrd - Yes, because doing otherwise will clobber performance of varargs, which will require a whole set of new `collection.mutable.Seq` or other methods that don't require rebuilding before being passed in.  For `Array` itself it's fine, as `immutable.ArraySeq` presumably has about the same overhead as `mutable.WrappedArray`.  But for anything else it's an issue.

[2018-07-16 23:55] xuwei-k commented on #11025
Should we recommend the `s""` interpolator instead of `Char#toString` in deprecation message?

[2018-07-17 01:16] joshlemer commented on #10919
@szeiger do we still want to deprecate MapOps#mapValues?

[2018-07-17 02:12] joshlemer commented on #11017
I thought I would actually try both approaches and see which one people like more.
The version which exposes `WithDefault` as return type of transformations is here:
https://github.com/joshlemer/scala/tree/issue/11017-part2-2.13
The version which upcasts `withDefault[Value]` methods is here:
https://github.com/joshlemer/scala/tree/issue/11017-2.13

[2018-07-17 07:46] plokhotnyuk opened #11027 "Inconsistency between `.toSeq` and `.to[Seq]` in Scala 2.12.x"
Initially investigated in https://github.com/AVSystem/scala-commons/issues/76
[code]

[2018-07-17 08:11] dwijnand commented on #11025
I think that's an excellent idea.

[2018-07-17 08:49] xuwei-k commented on #11024
[code]

:scream:

[2018-07-17 08:53] dwijnand commented on #11024
ummutable

[2018-07-17 09:16] Jasper-M commented on #11024
Why do we special case arrays and not just depend on the existing implicit conversions of Array[x] => Seq[x]? An Array is not a Seq...

[2018-07-17 16:14] SethTisue commented on #11027
2.10 and 2.11 are the same.

you mentioned on Gitter that this is "already fixed in 2.13.0-M4", so I'm closing the ticket.

my guess is that a pull request changing the 2.12 behavior wouldn't be accepted, on the grounds that it's better to leave long-established and not-technically-outright-incorrect behavior well enough alone this late in a release cycle

[2018-07-17 16:14] #11027 closed

[2018-07-17 17:11] xuwei-k opened #11028 """.toArray[Any] throw ClassCastException"
## 2.13.x

[latest 2.13.x `6ff29f9` 2018-07-17](https://github.com/scala/scala/tree/6ff29f967f84cfe77cf1ff15e9ea343abde586be)

[code]

https://github.com/scala/scala/blob/6ff29f967f84cfe77cf1ff15e9ea343abde586be/src/library/scala/collection/StringOps.scala#L855-L856

https://github.com/scala/scala/blob/6ff29f967f84cfe77cf1ff15e9ea343abde586be/src/library/scala/collection/StringOps.scala#L146

We c

[2018-07-17 17:36] som-snytt commented on #10748
There are a few paths to destruction, as shown in the PR tests. Probably it needs more tests.

[2018-07-17 22:29] SethTisue commented on #5669
@SethTisue said:
The parser combinators library is now community-maintained. Issues with it are now tracked at https://github.com/scala/scala-parser-combinators/issues/61 instead of here in the Scala JIRA.

Interested community members: if you consider this issue significant, feel free to open a new issue for it on GitHub, with links in both directions.

[2018-07-17 22:44] sjrd commented on #11024
Is there? What about `scala.reflect.ClassTag`, for example? Anyway, we could side-step this problem by introducing `type VarArgs[+A] = scala.collection.Seq[A]` in `scala`.

[2018-07-18 05:17] NthPortal commented on #11028
should be fixed by scala/scala#6878

[2018-07-18 07:48] julienrf commented on #11005
Maybe the title of the issue is not clear. Indeed, `knownSize` on views independent of the number of elements of the views, but if you combine a *collection of views* together, then `knownSize` is linear with the number of combined views.

[2018-07-18 07:49] NthPortal commented on #11005
yes, `View.Prepended` is going to have the same problem as `View.Concat` - I would stick them in the same category.

Funnily enough, since `xs` is a list, `view1.knownSize` is actually linear in the size of `xs` to discover that the size is not known xD

In your first example, `view1.last` is also O(n<sup>2</sup>), so... bad performance everywhere! ¯\\\_(ツ)_/¯

Honestly, this makes me lean more to

[2018-07-18 13:16] szeiger commented on #11024
Treating Java varargs as effectively immutable was a conscious decision, allowing to pass arrays from Scala code was not. Uncurry does the necessary adaptation but I must have missed how it gets through typer in the first place. I expected that it would use an implicit conversion, in this case the deprecated `scala.Predef.copyArrayToImmutableIndexedSeq`.

[2018-07-18 13:39] szeiger commented on #11017
I think the current implementation is OK. You need to add a type annotation in cases like the one that prompted this ticket but in exchange you get more precise types. Keeping the `WithDefault` in the types to indicate whether this property is actually preserved by a transformation would be even nicer. It's worth a try but I fear it will complicate the implementation considerably for a small impro

[2018-07-18 14:01] joshlemer commented on #11017
@szeiger see https://github.com/scala/scala/pull/6943

[2018-07-18 15:53] SethTisue commented on #11005
agree

[2018-07-18 23:06] xerial opened #11030 "Scala 2.13.0-M4: StackoverflowError during compilation"
Scala 2.13.0-M4 shows the following StackOverflowError, which never happened in Scala 2.11, 2.12:

https://travis-ci.org/wvlet/airframe/builds/405575941 (Only Scala 2.13.0-M4 build fails)
https://travis-ci.org/wvlet/airframe/jobs/405575946 (StackOverflowError in Scala 2.13.0-M4):
[code]

How to reproduce:
[code]

The cause of the error:
If I remove the following lines from the code, the error disa

[2018-07-18 23:10] SethTisue commented on #11030
does increasing the JVM stack size setting make the problem go away? we need to distinguish whether it's actually consuming unbounded stack (bug), or just is consuming a little more stack than it used to and happened to exceed the limit on this particular codebase with your particular JVM settings (not a bug)

[2018-07-18 23:16] xerial commented on #11030
@SethTisue I tried `-Xss128m` (from 2m), but the problem still occurred.

It seems using two classes extending MessageCodec[Seq[A]] and MessageCodec[IndexSeq[A]] at the same time causes this issue:
https://github.com/wvlet/airframe/blob/32cf6f4b7e112e6fb4b9cd21cd2614542db2a5e9/airframe-codec/src/main/scala/wvlet/airframe/codec/CollectionCodec.scala#L59-L77

If I use only one of them, this error do

[2018-07-18 23:20] SethTisue commented on #11030
okay. are you able to reproduce it in a self-contained piece of code that we could incorporate into our regression tests...?

[2018-07-18 23:22] xerial commented on #11030
ok. I'll try.

[2018-07-18 23:30] SethTisue commented on #11030
note that even on 2.12.6, compiling with `-Ytyper-debug` induces compilation to fail:

[code]

[2018-07-18 23:38] xerial commented on #11030
@SethTisue interesting, but i guess it's unrelated to this issue because even if I remove Logger macro code, the problem still happens. Could you try 'codec/compile' ?

[2018-07-18 23:42] xerial commented on #11030
OK. It seems I need to fix the above cyclic reference first to see the typer debug log in codec project.

[2018-07-18 23:47] SethTisue commented on #11030
`codec/compile` is what I already tried, but I had enabled `-Ytyper-debug` build-wide. so yes, it's a good suggestion to enable it in the codec project only, using `set codec / Compile / scalacOptions += "-Ytyper-debug"`. when I do that, I still get errors on 2.12.6:

[code]

whether it's related or not, I don't know (especially since we don't have a minimization yet)

[2018-07-18 23:48] SethTisue commented on #11030
(see my comment, which I wrote before I'd seen yours, even though it ended up showing up after it on GitHub)

[2018-07-19 00:03] xerial commented on #11030
@SethTisue
Here is the minimized code to reproduce recursive type error:
build.sbt
[code]

Sample.scala
[code]

[code]

[2018-07-19 00:05] xerial commented on #11030
- Scala 2.13.0-M4, 2.12.6 <- failed
- Scala 2.11.11 <- passed

[2018-07-19 00:09] xerial commented on #11030
It seems this two lines are good enough to reproduce this recursive type error:
[code]

[2018-07-19 00:12] xerial commented on #11030
This error didn't happen if the case class is changed to a regular class.

[2018-07-19 00:19] xerial commented on #11030
At least I've found a workaround for my project (using regular classes instead of case classes) to avoid this stackoverflow error.

[2018-07-19 00:22] SethTisue commented on #11030
it's interesting and perhaps useful to know what the minimization is with `-Ytyper-debug` enabled, but what's the minimization without it enabled...?

[2018-07-19 00:43] xerial commented on #11030
I've tried but it's bit hard to find minimization to cause StackOverflowError.

[2018-07-19 00:59] xerial opened #11031 "String multiplication + mkString causes OutOfMemoryError in Scala 2.13.0-M4"
This simple code causes OutOfMemoryError in Scala 2.13.0-M4:
[code]

[code]

A workaround is adding toSeq:
[code]

[2018-07-19 01:02] xerial commented on #11031
Duplicate of https://github.com/scala/bug/issues/10951?

[2018-07-19 05:53] SethTisue commented on #11031
Duplicate of #10951

[2018-07-19 05:53] #11031 closed

[2018-07-19 08:58] allanrenucci commented on #11024
I'll quote @odersky's comment in lampepfl/dotty#4787

[2018-07-19 10:15] dwijnand commented on #4974
Sadly Paul didn't document why he filtered those exceptions out: https://github.com/scala/scala/commit/beebad1bc4

Given:
* this isn't a very heavily used API
* the behaviour is as documented, and
* the alternate behaviour is available with another method

I think we should just leave the status quo over introducing a breaking change. Thus: closing.

[2018-07-19 10:15] #4974 closed

[2018-07-19 12:41] szeiger commented on #11024
@allanrenucci I agree. That was the intention with `copyArrayToImmutableIndexedSeq`. I'll try to figure out why it's not used.

[2018-07-19 14:17] szeiger commented on #10986
Unrelated to `ArrayBuilder`. I removed these classes because they appear to be useless. The only specialized methods were `length`, `apply` and `update`, none of which is ever called because they are available directly on `Array`. Other methods did not benefit from the specialization because `ArrayOps` itself is not specialized. In fact, the subclasses are actually harmful for performance because

[2018-07-19 14:23] szeiger commented on #10986
A small addition: The specialized methods are called from `ArrayOps` methods to prevent typecasing on array types for every access in bulk operations. We can do this in a different way inside the `ArrayOps` bulk methods as already implemented in `fold`, `foldLeft` and `foldRight`. It may be useful to do the same for other methods that can benefit from this optimization.

[2018-07-19 16:08] szeiger commented on #10919
After rereading this thread it still looks like a sensible option to me. I'm undecided whether the replacement should be a dedicated `mapValuesView` method or `.view.mapValues`.

[2018-07-19 17:03] SethTisue commented on #4974
yeah, this stuff is headed for a module anyway

[2018-07-20 00:50] julienrf commented on #10919
Introducing `mapValuesStrict` or `mapValuesView` would look quite bad, imho.

[2018-07-20 02:05] xuwei-k opened #11032 "infinite loop in IndexedSeq#search"
[code]

[code]

https://github.com/scala/scala/blob/d71f4da401c72faa6d91d904d3f2859b49895a06/src/library/scala/collection/IndexedSeq.scala#L62-L76

[2018-07-20 02:44] #10947 closed

[2018-07-20 08:55] MasseGuillaume opened #11033 "Map.flatMap regression in 2.13"
[code]

[code]

[2018-07-20 13:33] julienrf commented on #11033
Possible workarounds:

[code]

[2018-07-20 16:02] szeiger commented on #11033
This will be fixed by https://github.com/scala/scala/pull/6871

[2018-07-20 19:40] NthPortal commented on #11028
@dwijnand why not M5?

[2018-07-20 19:52] NthPortal commented on #11005
Are we closing this as "works as intended"?

[2018-07-20 19:55] NthPortal commented on #10942
I don't think having operations the behave like this is possible (due to how overload resolution works), so I'm going to close it. If someone else has ideas, feel free to reopen

[2018-07-20 19:55] #10942 closed

[2018-07-20 22:43] dwijnand commented on #11028
Didn't mean anything by it. From your comment Seth labelled it M5. Seeing as the comment was erroneous I was just reverting that.

[2018-07-20 22:45] #11028 closed

[2018-07-21 00:11] NthPortal commented on #11028
okay 👍

[2018-07-22 08:30] xuwei-k commented on #11024
[code]

compile with `-Xprint:jvm` (latest 2.13.x) ↓

[code]

- https://github.com/scala/scala/commit/7c018a0056e4ee0f6f70fcfcabc00fa440eeb83b
- https://github.com/scala/scala/blob/8970becbf46339d56a1d0e6c8d5bc753a678fd4f/src/library/scala/runtime/ScalaRunTime.scala#L254-L270
- https://github.com/scala/scala/commit/457dfd07449a8b7943b2a6c614fb57ea2a7b452e#diff-0d6df8c6e82b95e5c0d2f4b2662688f5R263

[2018-07-22 11:47] Blaisorblade commented on #5642
IIUC, Scala2 intersections won't be simplified, that will be left to Scala3 intersections, so this can be closed.
The workaround also becomes unnecessary once #5298 is fixed (which it hopefully is in Dotty).

[2018-07-23 13:15] xuwei-k commented on #11024
BTW, `unapplySeq` should work `scala.collection.Seq` or only `scala.collection.immutable.Seq` ?
https://github.com/scala/scala/pull/6962#issuecomment-407052349

[2018-07-23 13:27] xuwei-k opened #11034 "error during expansion of this match (this is a scalac bug)."
### 2.12.6

[code]

### 2.13.0-M4

[code]

[2018-07-23 13:39] #11032 closed

[2018-07-23 16:06] Blaisorblade opened #11035 "Override in Dotty treated as Overload in Scala 2 due to `with` semantics, must deprecate/forbid on Scala2 side"
https://github.com/lampepfl/dotty/issues/4781 describes a Dotty-Scalac incompatibility, and discussion suggests it is a bug in Scalac that we shouldn't support in Dotty. Hence, this should be at least deprecated in 2.14, according to the ideal migration policy (that we haven't written down) — @allanrenucci is working to remove uses from the stdlib.

@adriaanm seems to imply in that issue that the

[2018-07-23 20:40] som-snytt commented on #10898
That's because [nobody cares](https://contributors.scala-lang.org/t/which-operations-should-be-included-in-the-new-collections/1106/80).

[2018-07-23 20:40] #10898 closed

[2018-07-23 21:48] ktegan opened #11036 "inner .par collection breaks outer ForkJoinTaskSupport on Linux x86 Scala 2.12.5"
I first submitted this to stackoverflow and Volodymyr Glushak was not able to recreate the bug on Mac OS or using scastie.  I'm hoping that someone else can recreate this issue or figure out what about my current environment might be causing the problem.

I'm using Scala 2.12.5 and Java OpenJDK 1.8.0_161-b14 on a Linux 3.10.0 x86_64 kernel.

I want to make a parallel collection that uses a fixed n

[2018-07-24 12:52] julienrf commented on #11017
I agree with @szeiger and the workarounds are simple to apply (see https://github.com/scala/bug/issues/11017#issuecomment-404624910). I suggest that we keep the current implementation. Feel free to re-open the issue if you think I’m missing something.

[2018-07-24 12:52] #11017 closed

[2018-07-24 12:53] julienrf commented on #11005
Yes.

[2018-07-24 12:53] #11005 closed

[2018-07-24 13:14] szeiger commented on #11024
It looks like varargs do not really have an expected collection type. The relevant part of typer that handles `_*` arguments is:

[code]

And `typedStarInPattern` allows both `Array` and `Seq`. Changing it at this point would require changes to how overload resolution interacts with varargs because it is possible to have mixed overloads with Java and Scala varargs of the same base type in the same

[2018-07-24 15:38] Ichoran commented on #11024
Do we have any evidence that this is an extant problem that is causing significant harm?

Performance regressions do cause harm.  At the very least we should benchmark before/after to get an idea of how bad it is.

If this is "fixed" and as a consequence people end up writing a bunch of

[code]

I don't think we've made things better.

[2018-07-24 16:04] szeiger commented on #11024
We have the same situation in `Predef.copyArrayToImmutableIndexedSeq` which is deprecated so it prints a warning when you accidentally copy an array into an `immutable.Seq`. I'm adding a similar deprecation message for the automatic adaptation.

I don't understand the purpose of your code example. If the first method takes a `collection.Seq` there is no need for the second method. We have non-depr

[2018-07-24 16:13] Ichoran commented on #11024
The second method was anticipating a more complicated scenario than makes sense to describe here; just ignore it!

So the workaround for arrays is to replace `(xs: _*)` for arrays with `(ArraySeq.unsafeWrapArray(xs))`, correct?  And there is no workaround for `collection.mutable.Seq` (aside from hoping that the API
will be changed to have the pair of methods I wrote above)?

[2018-07-24 16:42] szeiger commented on #11024
Right, if you want to support mutable Seqs and varargs you need two separate methods since M4.  Defensive copying of explicit array values won't make this any harder. If you only have a varargs method you'll need to use `unsafeWrapArray` to avoid copying, same as for non-varargs uses of `immutable.Seq`.

[2018-07-24 16:49] Ichoran commented on #11024
Guess I missed it on M4, then.  Was that ever benchmarked?

[2018-07-24 17:02] szeiger commented on #11024
I can't think of a good use case that could be benchmarked. The recommendation for migrating to 2.13 is to use `collection.Seq` instead of `scala.Seq` or varargs if you want to support mutable collections (and arrays). There is no performance penalty in this case.

If you keep using `scala.Seq` or varargs and thus end up with copies of arrays (and the associated deprecation warnings) the performan

[2018-07-24 18:10] Ichoran commented on #11024
The problem is that historically there was no reason to create both methods.  But now if I write

[code]

then _I_ am the one who gets the deprecation warning, but ThatOtherLibrary is where the changes have to occur.  There's no, "Warning, users of your library may find your API to have reduced performance as they will now have to copy mutable collections to pass them in to this method." when they

[2018-07-24 20:44] #5642 closed

[2018-07-25 11:28] MasseGuillaume opened #11037 "unsorted should return the most specific type"
https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/index.html?search=unsorted

Currently `unsorted` return the base collection:

[code]

I would prefer it returns the most specific collection since this method is needed for compatibility with < 2.13. In < 2.13 `map`, `collect` and `flatMap` returns the most specific unsorted type of the collection when it cannot find an implicit Orde

[2018-07-25 12:03] MasseGuillaume opened #11038 "Enum.ValueSet map: ambiguous reference to overloaded definition"
[code]

2.12

[code]

2.13

[code]

ibid for: `collect`, `flatMap`

[2018-07-25 13:03] julienrf commented on #11038
Have you tried with the latest release? It should have been fixed.

[2018-07-25 14:31] xuwei-k opened #11039 ""polymorphic expression cannot be instantiated to expected type" error since Scala 2.13.0"
https://github.com/paulbutcher/ScalaMock/blob/11d579371ec0f573169f12d178cec72ffec8b2c3/shared/src/test/scala/com/paulbutcher/test/mock/MockNamingTest.scala#L50

### latest 2.13 (or 2.13.0-M4)

[code]

### 2.12.6

[code]

### 2.13.0-M3

[code]

[2018-07-26 03:25] xuwei-k opened #11040 "Varargs and unapplySeq don't allow mutable Seqs anymore"
https://github.com/scala/scala/pull/6962#discussion_r204665539

[code]

[code]

[2018-07-26 04:33] som-snytt commented on #10893
Power asserts in Groovy suffer the same problem with respect to side effects. The intro docs mention it. In REPL, you know you're going to need these intermediate representations. Aside from side-effecting `toString`, there's no downside. It would be nice if there were a uniform way to capture state cheaply, but maybe that's called serialization.

[2018-07-26 10:51] julienrf opened #11041 "Deprecate tupleNZipped operations"
These operations have been replaced by `lazyZip`:

[code]

We should deprecate the implicit conversion that makes the `zipped` operation available.

[2018-07-26 14:53] smarter opened #11042 "Missing override checks lead to unsoundness"
[code]
If we make `get` in `Base` abstract, we get an error as expected:
[code]
Dotty always produces an error:
[code]

This is somewhat important since it affects the design of the collections, see https://github.com/lampepfl/dotty/issues/4839

[2018-07-27 14:54] ntviet18 opened #11043 "Seq append stop working"
Hello Everyone,

Today I found that the append operation on Seq somehow stop working.

[code]

Prepend method's still working fine

[code]

 Did I mis-configured something?

[2018-07-27 15:10] szeiger commented on #11040
I'm hijacking this ticket instead of opening a new one because it is already about what looks to me like the core of the problem.

We changed the `scala.Seq` alias in M4 to resolve to `scala.collection.immutable.Seq` instead of `scala.collection.Seq`. This alias is used by varargs so now they are forced to be immutable, too. Since we have to interoperate with Java varargs, which use mutable arrays

[2018-07-27 15:31] hrhino commented on #11043
There's no `+` nor `+=` method on `Seq`; that method is only on mutable collections.

If you mean to append, you can use the append operator: `seq = seq :+ 1`.

The reason for
[code]

is the much-maligned `any2StringAdd` feature, whereby `foo + "string"` implicitly converts to `foo.toString() + "string"`. The only `+` method on `seq` is that, which is why you're getting that specific error.

[2018-07-27 15:36] ntviet18 commented on #11043
@hrhino , thank you very much for your fast and detailed explanation
I was confused with Set[Int] which does have + method

[2018-07-27 15:36] #11043 closed

[2018-07-27 16:06] SethTisue commented on #11043
@ntviet18 a better place for usage questions like this is https://users.scala-lang.org

[2018-07-27 16:08] ntviet18 commented on #11043
@SethTisue , thank you very much, very helpful source

[2018-07-27 16:43] #10901 closed

[2018-07-30 10:19] dwijnand commented on #11005
Shouldn't the scaladocs of `knownSize` at least be tweaked?

Having to memoize underlying known sizes like scala/scala#6988 proposes is surprising.

[2018-07-30 13:22] NthPortal commented on #11005
@dwijnand the current scaladocs say:

At least to me, this doesn't indicate that the operation has a negligible cost; just that it's not O(n). I would never expect it to be expensive, but there's no need to compute it twice (PEP 572 anyone? 😉).

[2018-07-30 13:48] NthPortal commented on #11005
Oh, huh. We should probably bring the docs in line with each other then.

[2018-07-31 07:10] julienrf commented on #11005
Indeed, the docs should not be overridden in `IterableOnceOps`. We should move what is currently in `IterableOnceOps` to `IterableOnce`.

[2018-07-31 08:40] arontsang opened #11044 "Type inference of "case class".copy being erased"
[code]

The code fails to compile on the last line, as T for bar has been erased to Nothing.

[2018-07-31 09:03] Jasper-M commented on #11044
If you agree you have to pass the type arguments explicitly when you construct a `Foo` from scratch, why not when you construct one by copying?

[code]

[2018-07-31 18:53] kailuowang opened #11045 "companion expansion through macro annotation stop working in scaladoc compile 2.13-M4"
Example project created here:
https://github.com/kailuowang/simulacrum_213

It uses simulacrum’s `@typeclass` annotation which expands the companion with some extra methods.
[code]
It works fine in `sbt compile`, it also works fine on `sbt doc` on Scala 2.12

cc @mpilquist

[2018-08-01 00:44] Ichoran opened #11046 "Queue and ArrayStack patchInPlace in the wrong place"
Version 2.13.0-20180731-142616-329c477

[code]

Possible fix: rename the method `patchInWrongPlace`

[2018-08-01 00:50] Ichoran commented on #11046
Note--this affects `insertAll` also.

[2018-08-01 01:24] Ichoran opened #11047 "Queue and ArrayStack drop underfilled sliding windows (unlike everything else)"
[code]

I actually prefer the Queue behavior, but I guess it's too late to change it now without changing the name of the method. (Maybe we can add a new one, `window(size, advance)`, with the "correct" behavior?)

Anyway, `Queue` and `ArrayStack` need to be fixed.  (It's probably ArrayDeque which is wrong, but I don't have it in collections-laws yet.)

[2018-08-01 01:39] Ichoran opened #11048 "No-op copyToArray throws exception in Array, ArrayDeque, Queue, ArrayStack"
The standard behavior is not to throw an exception, even if you index outside the target, as long as you're not doing anything.  (In fact, even if you are doing anything, you don't throw an exception--you just don't do it.)

Array and the ArrayDeque inheritance hierarchy all throw an exception instead, even on a no-op (zero length copied).

[code]

[2018-08-01 02:17] Ichoran opened #11049 "PriorityQueue can return `null` instead of throwing an exception when empty"
[code]

[2018-08-01 06:50] Ichoran opened #11050 "ArrayDeque and subclasses fail to insert anything when resize needed"
[code]

The problem is that there's no reset (around line 141)

[code]

[2018-08-01 09:29] dkhalansky opened #11051 "Incorrect companion identification when defined in a code block"
[code]
Reproducible on 2.13.0-M4 and on some older versions. I didn't check when the bug was introduced.

Outside the repl, it happens too, and the error message is even more amusing in its clear indication that there really is just one file:
[code]

I think that it has something to do with https://github.com/scala/scala/blob/2.13.x/src/compiler/scala/tools/nsc/typechecker/Namers.scala#L2094-L2114

[2018-08-01 14:57] #11037 closed

[2018-08-02 15:12] MasseGuillaume opened #11052 "Iterator.empty has different return type"
in Scala 2.12

[code]

in Scala 2.13

https://github.com/scala/scala/blob/be5ba0541bdf3a0e4d1de8df806d6f6294236d3c/src/library/scala/collection/Iterator.scala#L890

[code]

It's used in akka for example to generate an Exception

https://github.com/akka/akka/blob/59040fadadacda5354e0af73a44237096ab23774/akka-actor/src/main/scala/akka/util/ByteIterator.scala#L36

This is the error you get:

[code]

[2018-08-02 15:36] MasseGuillaume commented on #10973
Here is annother one:

https://github.com/akka/akka/blob/59040fadadacda5354e0af73a44237096ab23774/akka-actor/src/main/scala/akka/util/ByteIterator.scala#L446-L448

[code]

[code]

[2018-08-02 16:45] Blaisorblade commented on #11042
FWIW: On our side, the relevant checks were implemented in https://github.com/lampepfl/dotty/pull/4013/files#diff-d9f0cf9c3f67df900a2d657a417633b5R628.

[2018-08-02 17:59] ritschwumm commented on #11052
lol @akka

[2018-08-02 21:26] SethTisue commented on #11045
error:

[code]

[2018-08-02 21:35] SethTisue commented on #11045
this is sufficient to reproduce the problem:

[code]

error:

[code]

[2018-08-02 21:37] SethTisue commented on #11045
a smaller reproducer is:

[code]

error:

[code]

[2018-08-02 21:44] SethTisue commented on #11045
@adriaanm orange alert in macro paradise wing

[2018-08-03 03:53] som-snytt commented on #11052
So an `Iterator[Nothing].next()` is guaranteed to throw, and it wouldn't be necessary to provide a branch for the `if else`, though I always see it written as `if else`.

Someone should also remind akka to use parens for `next()`.

IIRC, when Popeye laughs, he says "akka, akka, akka" over and over.

There must a pun forthcoming with `Iterator.empty` and `Humpty Dumpty`. Possibly involving `thread

[2018-08-03 09:09] #10792 closed

[2018-08-03 09:31] #10956 closed

[2018-08-03 12:06] julienrf commented on #11052
Workaround: `Iterator.empty[Nothing].next()`?

[2018-08-03 12:25] MasseGuillaume commented on #11052
@som-snytt This is not cross-compatible. In scala <= 2.12, you would get this error:

[code]

[2018-08-03 12:41] viktorklang commented on #11052
@MasseGuillaume You could possibly use: [akka.util.Collections.EmptyImmutableSeq.iterator.next()](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/util/Collections.scala#L15)

[2018-08-03 12:47] MasseGuillaume commented on #11052
@viktorklang will do, However, this bug is about cross-compatibility. We should avoid breaking code. Even more, if there is no easy cross-compatible workaround.

[2018-08-03 12:57] viktorklang commented on #11052
@MasseGuillaume I understand. I was only offering a cross-compilable alternative in the mean time.

[2018-08-03 12:58] MasseGuillaume commented on #11052
This works in 2.12 and 2.13:

[code]

[2018-08-03 13:01] viktorklang commented on #11052
@MasseGuillaume Except that you are now allocating empty iterators.

scala> Iterator[Nothing]() eq Iterator[Nothing]()
res1: Boolean = false

[2018-08-03 13:10] julienrf commented on #11052
@MasseGuillaume `(Iterator.empty: Iterator[Nothing]).next()`

[2018-08-03 16:20] sjrd commented on #11014
You have to anyway, because you have to override `size` in 2.13 to preserve the correct behavior.

[2018-08-04 20:36] som-snytt commented on #11012
This would have been a good first issue, but I've been jonesing to get into the compiler code a little.

Getting the caret at the right spot would also make a good first issue.

https://github.com/scala/scala/pull/7001

[2018-08-04 23:54] joshlemer commented on #11048
@Ichoran this is fixed in https://github.com/scala/scala/pull/6926
I have added test cases for the above [here](https://github.com/scala/scala/pull/6926/files#diff-df9ae63268f46a69b9be9e73273d2a72R104) and [here](https://github.com/scala/scala/pull/6926/files#diff-e8dfab7b4912f3840540ac42592063ddR69)

[2018-08-05 19:54] som-snytt commented on #10820
Linted under https://github.com/scala/scala/pull/6627

[2018-08-06 06:54] dk14 commented on #9115
After rethinking the whole "Fixed In Dotty" meme, I wonder if there any regression tests planned (or in place) on those issues (9115, 5304 etc), given that some migrational tweaks might cause some bugs to come back in Scala3?

[2018-08-06 08:37] #8469 closed

[2018-08-06 08:37] #11048 closed

[2018-08-06 13:05] #11049 closed

[2018-08-06 13:24] MasseGuillaume opened #11053 "Iterable ++ Iterator"
This snippet compile in 2.12 but not in 2.13

[code]

[code]

[2018-08-06 13:50] MasseGuillaume opened #11054 "Missing BuildFrom instance for IterableOnce"
[code]

[code]

Workaround:

[code]

[2018-08-06 15:09] MasseGuillaume opened #11055 "SortedSet.collect cannot infer partial function"
For this specific case:

[code]

compiles fine in 2.12 but in 2.13 I get the following error:

[code]

[2018-08-06 15:38] MasseGuillaume opened #11056 "flatMap pattern fail to compile"
This snippet fail to compile in 2.13

[code]

[code]

[2018-08-07 02:52] SethTisue commented on #11009
@MasseGuillaume does scala/scala#6929 closing settle this, or is there any mop-up that needs to happen?

[2018-08-07 03:06] bingbai0912 commented on #10436
I've also run into a similar issue on 2.11.8, with an infinite loop with stack trace:
[code]

[2018-08-07 03:12] SethTisue commented on #11003
feedback/review on scala/scala#6907 is welcome

[2018-08-07 03:59] joshlemer commented on #11056
I believe this is duplicate of #11033

[2018-08-07 06:58] MasseGuillaume commented on #11056
Correct.

[2018-08-07 06:58] #11056 closed

[2018-08-07 06:59] MasseGuillaume commented on #11009
@SethTisue all good.

[2018-08-07 07:57] xuwei-k commented on #11055
simpler example

[code]

`SortedSet` have two overload `collect`

https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/collection/immutable/SortedSet.html

<img width="891" alt="screen shot 2018-08-07 at 16 56 33" src="https://user-images.githubusercontent.com/389787/43762425-e17f2966-9a62-11e8-83e0-46600ace1fb6.png">

[2018-08-07 08:19] Jasper-M commented on #10436
@bingbai0912 You're using, in a distributed and multi threaded environment, a class that is both deprecated and doesn't pretend to be thread safe. I think that's the issue you need to solve.

[2018-08-07 08:44] MasseGuillaume opened #11057 "Cannot use varargs from Java"
[code]

[code]

[code]

[code]

javap result from 2.13.X

[code]

javap result from 2.12.X

[code]

[2018-08-07 09:26] #8882 closed

[2018-08-07 09:34] MasseGuillaume opened #11058 "Compile crash: Something is wrong: cannot find S in applied type org.scalatest.matchers.Matcher[T]"
[code]

[code]

[2018-08-07 13:27] asoltysik opened #11059 "Vector::head throws UnsupportedOperationException instead of NoSuchElementException"
### Expected behaviour:
`Vector::head` should throw `NoSuchElementException` as mentioned in docs and similar to `List` and other collections.
https://www.scala-lang.org/api/2.12.6/scala/collection/immutable/Vector.html#head:A

### Current behaviour:

`Vector::head` throws `UnsupportedOperationException`

### Reproduction:
[code]

[2018-08-07 13:37] lrytz opened #11060 "MemberDef range position should wrap annotations"
[code]

The range position for the `ClassDef` is `[20:27]`, so it doesn't include the annotation. This causes completions in the annotation to fail in 2.13 (2.12 uses some different mechanism it seems), the [call to `wrappingTree`](https://github.com/scala/scala/blob/47b422400eb389fdbd704ed885efb23839d64374/src/repl/scala/tools/nsc/interpreter/PresentationCompilation.scala#L41) returns a range tha

[2018-08-07 14:11] julienrf commented on #11053
One way to make `++` take an `IterableOnce` would be to wrap it in `LazyList` so that it becomes iterable more than once.

[2018-08-07 14:19] Jasper-M commented on #11053
Does `++` require something that is iterable more than once, besides performance optimizations?

[2018-08-07 14:57] SethTisue commented on #10700
https://github.com/scala/scala/pull/6352 promotes this to an error for 2.13

[2018-08-07 15:05] julienrf commented on #11053
The reason it requires an Iterable is that the view based design first builds a view of the result of the operation, and then this view might or might not be forced according to the resulting collection type. View.Concat has to be iterable more than once because it inherits from Iterable. Therefore, the only way to make it work with IterableOnce parameters is to memoize their content during the fi

[2018-08-07 16:07] Ichoran commented on #11053
It seems counterintuitive that a view-based design, which is supposed to minimize intermediate work, is actually doing the opposite here in the default case.

Is there any reasonable workaround that will allow `xs ++ ys` to work efficiently by default?  (For instance, overloading the method to also take an `Iterator`?)

[2018-08-07 16:19] lrytz commented on #11060
I think this can be fixed in RC1, @SethTisue @adriaanm agree?

[2018-08-07 17:27] julienrf commented on #11053
The view-based design is not supposed to minimize intermediate work, it provides a correct implementation of transformation operations for both strict and non strict collections.

We could do that maybe, but I’m not sure what benefit you would get.

The solution I propose is to rewrite the `View.Concat` type as follows:

[code]

[2018-08-07 17:55] MasseGuillaume commented on #11057
/cc @adriaanm

[2018-08-07 19:06] SethTisue commented on #10436
background on scala.util.parsing.combinator being deprecated: https://github.com/scala/scala-parser-combinators/issues/99

[2018-08-07 20:37] MasseGuillaume commented on #11057
It looks like `@annotation.varargs` is broken in 2.13.X.

[2018-08-07 20:38] lrytz commented on #11057
I'll take a look tomorrow.

[2018-08-07 22:06] MasseGuillaume commented on #11057
The partest for varargs is here: https://github.com/scala/scala/blob/2.13.x/test/files/jvm/t8786-sig.scala

However, this does not illustrate the situation correctly. I created a test harness to prove this:

You can take a look at this commit in 2.13.x:
https://github.com/MasseGuillaume/scala/commit/04035f9dfb881627cb7834680431b97ef68c7c04

And this commit in 2.12.x:
https://github.com/MasseGuilla

[2018-08-07 23:53] joshlemer commented on #11055
@julienrf any ideas what to do here? maybe the SortedSet#collect should be renamed `collectSorted` or something?

[2018-08-08 00:14] joshlemer commented on #11052
Why not just `Iterator.empty.next()`? This works in 2.12 and 2.13

[2018-08-08 01:49] NthPortal commented on #11052
I was confused about that as well

[2018-08-08 07:35] lrytz commented on #11057
Most likely caused by https://github.com/scala/scala/pull/6531

[2018-08-08 07:47] adriaanm commented on #11060
agree, but could we keep the correct but slow version in M5, deferring the optimization to RC1?

[2018-08-08 07:58] adriaanm commented on #11058
dupe of #10762

[2018-08-08 07:58] #11058 closed

[2018-08-08 08:25] lrytz commented on #11055
@adriaanm can inference be improved here? see @xuwei-k's [simpler example](https://github.com/scala/bug/issues/11055#issuecomment-410968847).

[2018-08-08 08:26] MasseGuillaume commented on #11052
@joshlemer @NthPortal read the first comment again:
https://github.com/scala/bug/issues/11052#issue-347056469

This does not compile:

[code]

[2018-08-08 08:29] MasseGuillaume commented on #11057
@lrytz can you assign this bug to me? I would love to solve this.

[2018-08-08 08:32] szeiger commented on #11013
Agreed. This is an implementation class, so I'm closing this issue.

[2018-08-08 08:32] #11013 closed

[2018-08-08 08:34] szeiger commented on #11000
Closing because there doesn't appear to be a useful way forward (see discussion on https://github.com/scala/scala-dev/issues/532)

[2018-08-08 08:34] #11000 closed

[2018-08-08 08:45] szeiger commented on #10945
`Partition` has been fixed

[2018-08-08 08:56] adriaanm opened #11367 "upgrade repl to jline 3"
I was sure I already had a ticket, but can't find it. We should do this by RC1. The other scheduled REPL improvements will have to wait until 2.13.x.

[2018-08-08 09:03] lrytz commented on #11057
@MasseGuillaume sorry I just saw your comment now, after submitting the PR...

[2018-08-08 11:18] szeiger commented on #11038
Works in 2.13.x.

[2018-08-08 11:18] #11038 closed

[2018-08-08 11:37] adriaanm commented on #11055
fixed by scala/scala#6871

[2018-08-08 11:43] szeiger commented on #10988
`s.c.m.SetLike` and `s.c.m.MapLike` used to extend `Builder` in 2.12.x. We should probably keep it this way.

[2018-08-08 12:07] adriaanm commented on #10819
Regressed with https://github.com/scala/scala/pull/5310  (-Yliteral-types):

[code]

[code]

[2018-08-08 12:08] szeiger commented on #10990
Only the special cases `AnyRefMap` and `LongMap` have these methods at the moment.

[2018-08-08 12:19] adriaanm commented on #10819
Specifically, it's because of bounds propagation in TypeVar's deriveConstraint. I thought I had a PR that disabled that already...

[2018-08-08 12:55] #10783 closed

[2018-08-08 12:55] dwijnand commented on #10783
Fixed in https://github.com/scala/scala/pull/6443.

[2018-08-08 13:16] szeiger commented on #11052
This appears to be a limitation of type inference. The compiler can infer the correct type in the polymorphic version (`Iterator.empty.next(): Byte`) or insert the missing empty parameter list (`Iterator.empty.next: Byte` in 2.12) but not both combined.

Our standard `IterableFactory` requires `def empty[A]`. Not being able to extend `IterableFactory` in the `Iterator` companion object would be a

[2018-08-08 13:38] #10686 closed

[2018-08-08 13:38] #10740 closed

[2018-08-08 14:44] szeiger commented on #10973
Should be easy enough to avoid by going back to the overloaded methods. In the long term it would be nicer if we could make eta-expansion smarter to deal with default parameters automatically.

[2018-08-08 14:49] szeiger commented on #10974
I was wondering about the use case for `repr`. We can easily add it but there's no good replacement to recommend. In a collection implementation you would use `coll`. Is there any reason to call it from the outside? In extension methods you can tie the knot with suitable type constraints so that the collection value itself is its own `repr`. This should work for all collections in 2.13. The previo

[2018-08-08 14:59] eed3si9n opened #11061 "JDK 11 gets confused about override methods: reference to X is ambiguous"
This was originally reported by @chbatey in https://github.com/akka/akka/issues/25449.

### steps

[code]

Clone https://github.com/eed3si9n/override-in-jdk11

[code]

### problem

[code]

### expectation

It compiles.

### note

It works on JDK 8, but note that there are two `get` when you look at it using javap:

[code]

----

#### project/build.properties

[code]

#### build.sbt

[code]

#### s

[2018-08-08 15:12] #10514 closed

[2018-08-08 15:18] szeiger commented on #11053
`IterableFactory.from` can already deal with `IterableOnce`. This was not the case in the beginning. Is there any reason why `fromIterable` doesn't do the same?

[code]

If we change it to accept an `IterableOnce` it is easy for `concat` to do the same. If the RHS is `Iterable`, create a `View`, otherwise create an `Iterator`.

[2018-08-08 15:39] elfprince13 opened #11062 ""Unable to locate class file for inner class""
I have two source files, one Java, one Scala.
The Java class definition is as follows:
[code]
The Scala source contains the following:
[code]

Everything works fine with a clean build, *or* if the definition of `class EmptyNode[E]` is commented out; however, after roughly ~1 edit cycle, I get the following error message:

[code]

I'm using Scala 2.12.6 on Java 8. Notably, the class file in questio

[2018-08-08 16:52] julienrf commented on #11053
@szeiger Good idea! We might want to do the same for `zip`, btw…

[2018-08-08 17:02] #10990 closed

[2018-08-08 17:12] julienrf commented on #10974
That makes sense. So, we would just reintroduce it for backward compatibility and deprecate it?

[2018-08-08 17:40] szeiger commented on #11046
It appears to be the other way around actually: `ArrayDeque#insertAll` inserts at the wrong position and this also affects `patchInPlace`.

[2018-08-08 19:42] veera83372 commented on #11059
Can I pick this one?

[2018-08-08 20:05] asoltysik commented on #11059
I'm not working on this so I'd say go ahead

śr., 8.08.2018, 21:42 użytkownik veera venky <notifications@github.com>
napisał:

[2018-08-08 20:12] adriaanm commented on #10819
Note that this is sensitive to the expected type because `typedIf` assigns the expected type when it's fully defined. This is not in the spec -- instead, it's said to be the weak lub, as you'd imagine. (Same for `match` -- using the expected type is also not spec'ed)

[2018-08-08 20:26] veera83372 commented on #10823
Can I start working on it ?

[2018-08-08 20:30] SethTisue commented on #10823
@veera83372 go for it!

[2018-08-08 20:33] veera83372 commented on #10823
@SethTisue  Thanks for confirmation

[2018-08-08 21:28] joshlemer commented on #11041
@julienrf does this mean that all of these are deprecated?

* Tuple2Zipped
* ZippedIterable2
* Tuple3Zipped
* ZippedIterable3

[2018-08-08 21:32] joshlemer commented on #11041
And of course, the conversion that enables `(xs, ys, zs).zipped`

[2018-08-08 21:39] SethTisue commented on #11041
ALL THE THINGS

[2018-08-08 21:39] joshlemer commented on #11041
For now I have not deprecated the above 4 classes, just the implicit conversions, but will if that's what's wanted.

[2018-08-08 21:39] SethTisue commented on #11041
direct usages of these classes are almost certainly exceedingly rare or nonexistent, but regardless, I don't see a downside to deprecating them

[2018-08-08 21:41] SethTisue commented on #11041
anyway deprecating them will help us remember to delete them later

[2018-08-09 01:55] joshlemer commented on #10791
This seems to be fixed in 2.13.x branch:
[code]
prints
[code]

[2018-08-09 02:27] SethTisue commented on #10791
@joshlemer could I interest you in adding test coverage on this, so we can be sure it doesn't regress?

[2018-08-09 03:35] retronym commented on #11061
Perhaps already fixed by #6531

[2018-08-09 04:39] ijuma commented on #10817
Probably fixed by https://github.com/scala/scala/pull/6889#discussion-diff-208481638R127

[2018-08-09 06:33] julienrf opened #11063 "Add lazyZip to ArrayOps and StringOps"
The `lazyZip` operation is currently only available on `Iterable`. To use it on an `Array` or a `String` you have to first convert them to iterables. The `lazyZip` operation should be available on `Array` and `String` without requiring this conversion.

[2018-08-09 08:10] #10569 closed

[2018-08-09 08:11] adriaanm commented on #10569
Fixed in scala/scala#6150.

[2018-08-09 08:27] #10988 closed

[2018-08-09 08:28] #11046 closed

[2018-08-09 08:31] #11059 closed

[2018-08-09 08:57] #5324 closed

[2018-08-09 09:08] dwijnand commented on #10569
Fixed in https://github.com/scala/scala/pull/6150.

[2018-08-09 11:37] #5559 closed

[2018-08-09 11:37] #5579 closed

[2018-08-09 11:37] #10519 closed

[2018-08-09 11:37] #10771 closed

[2018-08-09 11:46] hrhino opened #11064 "Regressive messaging in 2.13 repl around wildcards."
[code]

[code]

Originally noticed by @som-snytt over at scala/scala#6335; affects repl only.

[2018-08-09 16:12] MasseGuillaume opened #11065 "knownSize vs hasDefiniteSize"
I was working on scala-collection-compat to add an extension method for `knownSize` and I notice a couple of inconsistencies.

This tables summarize a bunch of collection containers, their `knownSize` in 2.13.X, their `hasDefiniteSize` in 2.12.X if available (? otherwise).

For example:

* `Some(1)` has `knownSize = -1`, I expect `knownSize = 1`. Ibid for cBitSet, etc
* `c.Iterator(1)` has `knownS

[2018-08-09 16:15] szeiger commented on #10973
Unfortunately cases such as https://github.com/scala/bug/issues/10973#issuecomment-404166638 were enabled by not making all but the most flexible implementation of a method `final`. Overriding of methods with default parameters in general is a bit awkward because you have to repeat all parameters with the same default values.

I'm less concerned about the call sites. Instead of eta-expanding you c

[2018-08-09 16:42] szeiger commented on #11063
A more generally applicable definition would be to put `toLazyZipOps` into `Predef` and make use of `IsIterableLike`. I was going to make the argument that it is unnecessary overhead for `Array` and `String` because they are strict but actually that doesn't even matter. `LazyZipOps` forces its argument, there are no by-name tricks to prevent that, so why does it exist in the first place? Shouldn't

[2018-08-09 17:47] julienrf commented on #11065
Thanks @MasseGuillaume for the investigation! Could you add an “expected” column so that we know what actions should be performed?

[2018-08-09 18:05] julienrf commented on #11063
The problem is that you would then be able to chain `lazyZip` too many times. Consider the following expressions:

[code]

However, note that there is an implicit conversion from `LazyZipN[E1, E2, ...]` to `Iterable[(E1, E2, …)]`. If `lazyZip` was defined as a method on `Iterable`, it would become possible to call `lazyZip` on a `LazyZip4` instance:

[code]

In order to make it impossible to call

[2018-08-09 18:09] julienrf commented on #11063
Yes, that’s a good suggestion!

[2018-08-09 18:15] szeiger commented on #11065
Regarding the examples: We need to check the path taken by converting `Some(1)` to `Iterable`, it's reasonable to expect a known size.

OTOH, it makes perfect sense that `c.Iterator(1)` has `knownSize = 1`,  this an improvement over the previous state where you would get `hasDefiniteSize = false`.

I'm rescheduling this for RC1. Better known sizes are a performance improvement that can still be do

[2018-08-09 19:42] #10819 closed

[2018-08-09 19:53] #10919 closed

[2018-08-09 19:53] SethTisue commented on #10919
@joshlemer once you've accepted the invitation to https://github.com/orgs/scala/teams/contributors , comment here and I'll assign this ticket to you.

[2018-08-09 19:57] #11041 closed

[2018-08-09 20:00] joshlemer commented on #10919
@SethTisue I accepted it

[2018-08-09 20:33] SethTisue commented on #10776
PR was enclosed for inactivity, but Adriaan made some encouraging comments on it

[2018-08-09 20:45] SethTisue commented on #10919
👍 thanks for all the good scala/scala PRs lately, much appreciated!

[2018-08-09 22:00] #10791 closed

[2018-08-09 23:04] Ichoran commented on #11065
There's a correctness issue as well--`hasDefiniteSize` no longer obeys its old contract of reporting when the collection is unbounded (i.e. potentially infinite).  Shall I open another issue for that one?

The old contract also states that `Iterator` is to report it is potentially unbounded _even when_ it is taken from a finite collection.

[2018-08-09 23:39] joshlemer commented on #10696
Should this now be closed since there is now the method `ProcessBuilder#lazyLines: LazyList[String]`?

[2018-08-10 00:48] SethTisue commented on #10696
indeed

[2018-08-10 00:49] SethTisue commented on #10696
(well, we didn't get to this for 2.13. hopefully 2.14)

[2018-08-10 01:53] joshlemer commented on #10690
@SethTisue @julienrf Would changing this behavior to a consistent hash in `scala.collection.immutable.ArraySeq` be too much of a breaking change for 2.13?

[2018-08-10 01:57] joshlemer commented on #10711
@klaeufer this is fixed as of 2.13, this issue can be closed now.

[2018-08-10 03:43] eed3si9n commented on #11061
That's a great news.

[2018-08-10 03:44] #10711 closed

[2018-08-10 04:45] joshlemer commented on #9069
I will try and work on this now

[2018-08-10 04:50] SethTisue commented on #3967
https://contributors.scala-lang.org/t/case-class-tostring-new-behavior-proposal-with-implementation/2056/44

[2018-08-10 06:38] NthPortal commented on #10696
I'd have to look, but I suspect it that `lazyLines` may need to be tweaked to use `LazyList.unfold` or something. I will have a look after M5 when the new `LazyList` is merged.

[2018-08-10 06:44] NthPortal commented on #9069
I agree that this in particular should be fixable, but I personally wouldn't consider it a huge problem. In general, excessive nesting with views (or other lazy types like `LazyList`) inevitably leads to overflowing the stack, and I don't think it's fixable in general.

[2018-08-10 09:40] #11063 closed

[2018-08-10 14:16] julienrf commented on #10690
The code given in the issue description behaves correctly in 2.13.x (the hashcodes are the same).

[2018-08-10 14:42] joshlemer opened #11066 "Inconsistency in naming of methods in SeqViews/IndexedSeqView"
### In IndexedSeqView

we have the following methods:

* `def reverse: IndexedSeqView[A]`
* `def reversed: Iterable[A]`

* `def prepended[B >: A](elem: B): IndexedSeqView[B]`
* `def prependedAll[B >: A](prefix: Iterable[B]): View[B]`

* `def appended[B >: A](elem: B): View[B]`
* `def appendedAll[B >: A](suffix: Iterable[B]): View[B]`

1. Should `prepended`, `prependedAll`, `appended` and `appended

[2018-08-10 14:54] joshlemer commented on #10690
@julienrf are you sure, this test fails on 2.13.x for me
[code]

[2018-08-10 16:40] joshlemer opened #11067 "implementing classes of View, SeqView, IndexedSeqView, MapView should be made private"
Unless the intention is that users are directly calling these classes, by exposing these implementation details, we're committing to not changing the implementation (or at least supporting these classes) for a long while

List follows:
[code]

[2018-08-10 18:06] julienrf commented on #10690
Indeed, I was 2 days behind 2.13.x. Something [here](https://github.com/scala/scala/compare/0fd1b66...2.13.x#diff-a7ab156ecfe37114bc259ba947342e46) has broken the hashcode.

[2018-08-10 22:44] #11024 closed

[2018-08-10 23:25] xuwei-k commented on #10907
Before I knew it, fixed in latest 2.13 🤔

[code]

[2018-08-10 23:25] xuwei-k commented on #10907
https://github.com/scala/scala/pull/7043

[2018-08-11 00:53] NthPortal commented on #10690
It's probably a0f7c1b4dfcc9b401ed1ddc7727c8bb7fe1c18dc, which changes `immutable.ArraySeq.ofByte.hashCode` to use `MurmurHash3.byteArraySeqHash`. It should be noted that `mutable.ArraySeq.ofByte.hashCode` already used that.

[2018-08-11 03:34] xuwei-k commented on #10785
not crash with Scala 2.13.0-M4 🤔

| ○ | × |
|-------------------|-----------------------------------------|
| 2.13.0-M4, 2.11.x | 2.12.x, 2.13.0-M1, 2.13.0-M2, 2.13.0-M3 |

[code]

[2018-08-11 05:55] xuwei-k commented on #4704
fixed since Scala 2.12.x? 🤔

[code]

[code]

[code]

[2018-08-11 07:34] julienrf commented on #11066
Note that `reversed` is non-public. We have different return types for `appended` and `appendedAll` (respectively, `prepended` and `prependedAll`) because we need to know the size of the resulting collection to be able to return an `IndexedView`. In the case of `appendedAll` and `prependedAll`, we don’t know it in general (we may know it only if `knownSize` is greater than -1).

[2018-08-11 08:33] xuwei-k commented on #8025
- https://github.com/scala/scala/commit/878e7d3e0d14633d19bac47dc9b532a54eab6379#diff-4858004d7457edde08b4ac6bfed91839
- https://github.com/scala/scala/blob/v2.13.0-M4/src/library/scala/collection/mutable/ListBuffer.scala#L31-L36

Forwarders removed since Scala 2.13.0-M4

[2018-08-11 08:33] #8025 closed

[2018-08-11 08:41] xuwei-k commented on #5046
https://github.com/scala/scala/blob/v2.13.0-M4/src/library/scala/collection/mutable/ArraySeq.scala#L26

`mutable.ArraySeq` ( [renamed since Scala 2.13.0-M4](https://github.com/scala/scala/blob/v2.13.0-M4/src/library/scala/collection/mutable/package.scala#L5) ) have explicit `@SerialVersionUID` annotation.

[2018-08-11 09:37] som-snytt commented on #10785
It looks like it progressed on 2.13 the same week I was looking at it on 2.12.

Crashes on 2.13.0-20180321-093501-0170e73, errors on scala-2.13.0-pre-457dfd0-SNAPSHOT if that's meaningful.

[2018-08-11 11:40] joshlemer commented on #11066
@julienrf Maybe `appended` could be made to return IndexedSeqView, to match `prepended`

[2018-08-11 14:36] SethTisue commented on #9892
scala/scala#5950 included tests, so I think it was just inadvertent that this ticket wasn't closed when that was merged

[2018-08-11 14:36] #9892 closed

[2018-08-11 14:38] SethTisue commented on #9892
@hodga after accepting my invitation to https://github.com/orgs/scala/teams/contributors, comment here, and I'll assign this ticket to you

[2018-08-11 14:41] #5046 closed

[2018-08-11 14:44] #10907 closed

[2018-08-11 14:46] #10785 closed

[2018-08-11 14:48] #4704 closed

[2018-08-11 14:52] hodga commented on #9892
@SethTisue I accepted the invitation :)

[2018-08-11 15:50] Atry opened #11068 "Implicit resolution regression in 2.13.x"
[code]

* It compiles in Scala 2.12.6: https://scastie.scala-lang.org/ifY5zoUzQTO2qzmviNxv6g
* It does not compile in Scala 2.13.0-M4 https://scastie.scala-lang.org/5CenTZ5qRnSeE1tyhRUXfw

[2018-08-11 17:09] SethTisue commented on #11068
is it reproducible without outside dependencies?

[2018-08-12 00:57] SethTisue commented on #11066
marked as "blocker" since it would really be preferable for M5 to have final names for things

[2018-08-12 01:03] xuwei-k commented on #11068
compile success if swap these `implicit def`.

[code]

Some libraries encountered the same error (since Scala 2.13.0-M3)
- https://github.com/scalaz/scalaz/commit/2fdd887f536e17d59b586b93bf8639e5b84eccd9
- https://github.com/typelevel/kittens/commit/04394a8523f3d226c015057a11acf4e68380b582#diff-3bca8c4f5e0332228ddac09f73898b24R54

[2018-08-12 01:03] joshlemer commented on #11066
In my opinion 'appended' should return IndexedSeqView and that is the most important issue, and in fact PR #7048 depends on that

[2018-08-12 02:16] xuwei-k commented on #6525
https://github.com/scala/scala/commit/a82a56ea5ba1ff0fb3b69c0963d4aec620ab68ad

`-Yoverride-objects` dropped since Scala 2.13.0-M4

[2018-08-12 02:43] xuwei-k commented on #5091
fixed since Scala 2.13.0-M4

https://github.com/scala/scala/commit/a992c8352b9f309ec0a3d807425786dc21dd6284#diff-3828abb025ee93aa4f0b1d654200e5c9

[2018-08-12 02:43] #5091 closed

[2018-08-12 06:55] Atry commented on #11045
Related to https://github.com/mpilquist/simulacrum/issues/82

[2018-08-12 07:00] xuwei-k commented on #11068
https://github.com/scalaz/scalaz/issues/1629

[2018-08-12 14:41] #10090 closed

[2018-08-12 14:43] #9628 closed

[2018-08-12 14:44] #9371 closed

[2018-08-12 22:08] joshlemer opened #11069 "View[A]#iterableFactory should be upcast to `IterableFactory[View]`"
`override def iterableFactory = View`
which infers type `View.type`, forbidding extending traits from overriding (unless they also just point to `View` of course)

[2018-08-13 01:23] soronpo opened #11070 "String interpolation macro returns `Nothing`"
Error occurs for both 2.12.6 and 2.13.x nightly.
Minimized project at the following branch:
https://github.com/soronpo/ScalaRegression/tree/bad_string_interpolation

---

Macro.scala:
[code]

Test.scala:
[code]
Output:
[code]

[2018-08-13 03:38] xuwei-k commented on #9679
https://github.com/scala/scala-asm/commit/d2f33ce3154e34484f6304ec5923d4ebde8ec72c

[2018-08-13 03:48] xuwei-k opened #11071 ""case class X[A](a: A){ def y: a.type = a }" throw scala.reflect.internal.Types$TypeError"
https://github.com/scala/scala/pull/7007#issuecomment-411993259

[code]

[2018-08-13 05:34] #9818 closed

[2018-08-13 06:13] xuwei-k commented on #4040
https://github.com/scala/scala/pull/5623

[2018-08-13 06:13] #4040 closed

[2018-08-13 06:50] #8431 closed

[2018-08-13 06:57] milessabin commented on #11071
Non-REPL version,
[code]
This blows up in Fields, similarly to https://github.com/scala/bug/issues/10792, but isn't fixed by https://github.com/scala/scala/pull/6454. /cc @adriaanm

[2018-08-13 07:32] xuwei-k commented on #10814
duplicate https://github.com/scala/bug/issues/10600

[2018-08-13 07:32] #10814 closed

[2018-08-13 08:13] xuwei-k commented on #10590
in Scala-2.13.0-M4 `Array.empty[Nothing].headOption` compile success. but it call low priority [low priority `copyArrayToImmutableIndexedSeq`](https://github.com/scala/scala/blob/v2.13.0-M4/src/library/scala/Predef.scala#L810) not [`genericArrayOps`](https://github.com/scala/scala/blob/v2.13.0-M4/src/library/scala/Predef.scala#L436). 😕

[code]

another example

[code]

[2018-08-13 09:04] #11047 closed

[2018-08-13 09:10] #10696 closed

[2018-08-13 09:13] julienrf commented on #11066
Yes I think `appended` should return an `IndexedSeqView`. I thought it was already the case, actually. That’s probably an oversight :-/

[2018-08-13 09:36] #11069 closed

[2018-08-13 10:53] Lasering opened #11072 "Random.nextBytes should return Array[Byte] and not Unit"
Every method on the Random object returns the random value except `nextBytes` which expects the output array as argument. This makes its use very clunky compared to the other methods.

There should exist a method:

[code]

As in practice we want to specify the size of the array.

I can make a PR if the idea is accepted.

[2018-08-13 11:40] viktorklang commented on #11072
How about:

[code]

[2018-08-13 12:10] martijnhoekstra commented on #11072
IMO that's a worst of both worlds @viktorklang

Returning `Unit` makes it obvious that the method works by mutating the argument as a side-effect.

In your example, you still have to initialize the Array yourself, and the advantage is getting back the filled array that you already have created anyway. Especialy with `tap` merged, `Array.ofDim[Byte](dim).tap(nextBytes)` offers the same functionalit

[2018-08-13 12:14] viktorklang commented on #11072
@martijnhoekstra `array.tap(nextBytes)` would be nice, yes.

[2018-08-13 14:33] ibaklan opened #11073 "problem with anonymous class while using self-type"
Problem occurred when I'm trying to instantiate following class (with self-type construct) by the means of anonymous class (`new Foo {...}`)
[code]

Entire code snippet may look like this:
( fails with **Error:(13, 19) illegal inheritance**;  self-type crafts.Main7.Foo does not conform to Main7.this.Foo's selftype crafts.Main7.Foo with crafts.Main7.F0 )
[code]

While alternative snippets with 'obj

[2018-08-13 15:54] #10690 closed

[2018-08-13 16:01] szeiger commented on #11066
The others could be overloaded to return an `IndexedSeqView` if the RHS is also of that type.

[2018-08-13 16:58] szeiger commented on #11066
As Julien mentioned, `reversed` is `protected`, the public method is called `reverse`, which is consistent with immutable collections.

All of `appended`, `appendedAll`, `prepended` and `prependedAll` come from `SeqOps` and are implemented there using the basic `View.*` implementations. `SeqView` and `IndexedSeqView` selectively override `prependedAll`.

I'll add overrides for `appended` and overl

[2018-08-13 19:41] SethTisue commented on #10959
looks like a variant of #10717

[2018-08-14 01:18] joshlemer commented on #11065
How about changing `::`.knownSize to `if (tail == Nil) 1 else -1`?

[2018-08-14 07:38] julienrf commented on #11065
Then we have lost [this](https://github.com/scala/collection-strawman/blob/before-deletion/collections/src/main/scala/strawman/collection/package.scala#L107-L112) when we migrated to scala/scala. The goal was to avoid the creation of an intermediate `List` when we are only interested in an `Iterator` (which is the case in `flatMap`, for instance). We could re-implement it like this, btw:

[code]

[2018-08-14 09:01] sometao opened #11074 "stripMargin broke toString method."
stripMargin broke toString method.

code
[code]

I expect output:
[code]

but I got output:
[code]

scala-2.12.6
sbt 1.2.0
java 1.8.0_172
OS: windows 10

[2018-08-14 09:11] Jasper-M commented on #11074
The problem is in `split("\n")`. You're on Windows so you have a leftover `"\r"`.

[2018-08-14 09:16] sometao commented on #11074
thx.

[2018-08-14 09:16] #11074 closed

[2018-08-14 09:29] #11053 closed

[2018-08-14 11:14] #10974 closed

[2018-08-14 11:57] #10973 closed

[2018-08-14 12:47] #11066 closed

[2018-08-14 15:44] milessabin commented on #11071
PR [here](https://github.com/scala/scala/pull/7070).

[2018-08-14 16:44] Atry opened #11076 "Regression in Scala 2.13-M4: scaladoc silently ignores -Ymacro-annotations flag"
Given a macro annotation that renames any class to `the_class_name_is_modified_by_myAnnotation`

[code]

and another project that use the annotation
[code]
`new the_class_name_is_modified_by_myAnnotation` should compile when `-Ymacro-annotations` is set. However, `-Ymacro-annotations` is ignored by **scaladoc** in Scala 2.13.0-M4, while the same macro annotation works when paradise plug-in is enab

[2018-08-14 17:35] joshlemer commented on #11065
I'm gonna open a PR for this, I also noticed there's two implementations of single-element Iterators, which I'll combine.

[2018-08-14 20:41] szeiger opened #11077 "HashMap.merged for new CHAMP-based HashMap"
This method needs to be optimized in the same way as it was in the old HashMap implementation.

[2018-08-14 22:03] NthPortal commented on #9069
@joshlemer I'm not against optimising them (though I do question a bit making them *too* complicated), but even if you fix the problem for `IndexedSeq#view`, it's still there for `Seq#view`

[2018-08-14 22:41] joshlemer commented on #9069
@NthPortal you can check out scala/scala#7048 to see how it turned out in the end, at least for `IndexedSeqView`

[2018-08-15 00:43] xuwei-k commented on #11076
related(?) https://github.com/scala/bug/issues/11045

[2018-08-15 01:38] xuwei-k commented on #10652
https://github.com/xuwei-k/scala-1/commit/5f99b5a55de16d4d6e1083321636aa539df7803a

🤔

[2018-08-15 01:48] #10650 closed

[2018-08-15 02:48] xuwei-k commented on #4919
related to https://github.com/scala/bug/issues/11040

[2018-08-15 03:38] joroKr21 commented on #10652
It's strange that you can define a macro with default arguments, but not use them.
Anyway, closing this since the issue is not present in 2.13.

[2018-08-15 03:38] #10652 closed

[2018-08-15 08:08] jvican commented on #9427
I stumbled upon this today. Isn't there a way we can improve the error message here? It seems baffling to me that the compiler doesn't infer that `implicitly` means `implicitly[Int]` because of the the type ascription of its lhs. What am I missing?

[2018-08-15 08:34] Jasper-M commented on #9427
If you have
[code]
then for some reason scalac is not convinced it should fix `A` to `String`, because it still wants to minimize `A`. If you force it to fix `A` to something, e.g. by asking for a `TypeTag[A]`, it will infer `A =:= Nothing`. I'm pretty sure it's because of some interplay with covariance.

[2018-08-15 08:40] jvican commented on #9427
@adriaanm Is what @Jasper-M says a well-known compiler misbehavior or is it intentional that scalac behaves this way here?

[2018-08-15 08:44] smarter commented on #9427
It's normal. The compiler will prefer solutions that give a more precise result type, this is usually what you want.

[2018-08-15 13:22] soronpo opened #11078 "final implicit class can be overridden"
Overriding a `final` implicit class's equivalent definition shouldn't be possible.
[code]
Same issue in dotty https://github.com/lampepfl/dotty/issues/4948

[2018-08-15 13:49] eyalroth opened #11079 "PriorityQueue does not guarantee ordering of elements of equal priority"
In the following a code, a priority queue for integers is defined so that there are 3 priorities - one for positive integers, one for zero and one for negative integers.

[code]

The code shows that the ordering of elements with the same priority is arbitrary and is not the same as the insertion order. That is quite counter-intuitive and goes against the definition of a priority queue according to

[2018-08-15 14:24] xuwei-k opened #11080 "VectorMap#equals violate transitive law"
https://docs.oracle.com/javase/8/docs/api/java/lang/Object.html#equals-java.lang.Object-

https://github.com/scala/scala/blob/c6fc4e717490402ff2502737df3e36f331cbd9d7/src/library/scala/collection/immutable/VectorMap.scala#L107

[code]

[2018-08-15 15:05] siriwanussavapitukpong opened #11081 "restarunt-wan1"
I want support to you

[2018-08-15 15:15] SethTisue commented on #11081
@siriwanussavapitukpong https://www.scala-lang.org/community/ has advice on where to seek help with Scala

[2018-08-15 15:15] #11081 closed

[2018-08-15 15:47] SethTisue commented on #11060
@lrytz want to sneak that in, or shall we just postpone to RC1?

[2018-08-15 20:28] #8028 closed

[2018-08-15 20:28] #11003 closed

[2018-08-15 20:35] joshlemer opened #11082 "View.{partition,partitionWIth,unzip,unzip3} could return tuples"
Is there any reason to have special classes for what are just basically tuples2s and tuple3s?

[code]

[2018-08-15 21:38] mdedetrich commented on #11080
Thanks for spotting the bug, bit annoying since it effects performance

[2018-08-15 23:47] SethTisue opened #11083 "LazyList.fill and LazyList.tabulate aren't lazy in the head"
for `LazyList.fill`, I would expect the same output in both cases here:

[code]

and similarly for `tabulate`:

[code]

perhaps there are other methods with this problem?

noticed in @paulp's gist: https://gist.github.com/paulp/fac614c6de23c10644a7af25f4ef96e4

tentatively assigning @NthPortal as this is a continuation of scala/scala#7000

--------

methods to fix:

- [x] `fill`
- [x] `tabulate`

[2018-08-16 00:11] #11080 closed

[2018-08-16 00:51] paulp commented on #11083
None of these terminate. If this is intended to be the forever replacement for Stream, I'd think that they would. YMMV.
[code]

[2018-08-16 02:47] xuwei-k commented on #7833
Could not reproduce since Scala 2.11.5

[2018-08-16 03:13] #7833 closed

[2018-08-16 05:34] xuwei-k commented on #9103
Latest Scala 2.10.x, 2.11.x and 2.12.x support JDK9

[2018-08-16 05:34] #9103 closed

[2018-08-16 06:59] #8093 closed

[2018-08-16 07:00] #8012 closed

[2018-08-16 07:10] xuwei-k commented on #9306
Could not reproduce Scala 2.12.0 or later

[2018-08-16 09:17] #11071 closed

[2018-08-16 09:18] #11057 closed

[2018-08-16 09:40] lrytz commented on #4919
This issue is fixed by the fact that `scala.Seq` is now `immutable.Seq`. The only way to provoke a modification of a `_*` class parameter is by using an `immutable.Seq` which is actually mutable, such as `immutable.ArraySeq`, but that's by design.

[code]

[2018-08-16 09:40] #4919 closed

[2018-08-16 09:44] #10128 closed

[2018-08-16 15:10] hrhino commented on #9306
fixed by fields phase, maybe?

[2018-08-16 16:04] NthPortal commented on #11083
`(LazyList from 1 dropRight 1).head` can be fixed by scouting ahead
`(LazyList from 1 takeRight 0)` and `(LazyList from 1 dropRight 0)` can be fixed by checking for non-positive values

I'm not sure if I agree that I would expect `(LazyList from 1).reverse.reverse.head` to terminate, but I will think about it some more

[2018-08-16 19:12] plokhotnyuk opened #11084 "s.c.i.IntMap and s.c.m.LongMap do lot allocation during traversing by foreach/foreachKey/iterator"
Traversing of map with 128 key/value pairs can produce from 1.5K to 5K bytes for GC on JDK 8/11, while on GraalVM EE almost zero allocation is produced.

[2018-08-17 00:09] som-snytt opened #11085 "REPL completion on continuation line"
[code]

[2018-08-17 03:20] ryan-williams opened #11086 "Trivial implicit search fails only when inside method"
2.12.6:

[code]
compile error:
[code]

[2018-08-17 04:34] paulp commented on #11083
It makes enough sense that it already exists as a view:
[code]
But of course that doesn't work either.
[code]

[2018-08-17 04:48] NthPortal commented on #11083
I will agree that `reverse` shouldn't evaluate the elements (even though it has to evaluate all of the states in order to reverse it).

At the very least, `reverse` is documented as `$willNotTerminateInf`.

[2018-08-17 08:57] milessabin commented on #11086
The error you're seeing is what I would expect ... the problem is that inside `foo` the method argument `hasHKT` isn't stable, whereas outside `foo` the val `hasHKT` _is_ stable.

You can add a stabilizing val to `foo` to make the code compile,

[code]
Note, though, that you have no useful information about `F` on the inside, because the static type of the argument `HasHKT` provides none. The only

[2018-08-17 09:16] randomcoder opened #11087 "Compiler should detect if there are multiple implicit parameters with the same"
The following snipped demonstrates a situation where it is possible to create a method with multiple implicit parameters of the same type (in this case `Int`). This is a non-sensical situation as the point of having two variables would be to have two different values and the implicit resolution will force only a single implicit value to be usable as you would require ambiguous implicit values to t

[2018-08-17 14:27] ryan-williams commented on #11086
very interesting @milessabin, thanks.

I share @Jasper-M's question:
- method arguments seem "stable" (in my non-rigorous understanding of that term)
- the compiler treats them as "unstable"; is that a bug?

Also, the stability issue is apparently not present if the types' kinds are one lower (`HKT[_[_]]` → `HKT[_]`, `F[_]` → `F`):

[code]

is there a good reason for `hasHKT.F` to be considered "s

[2018-08-17 15:46] emilianogc opened #11088 "Compiler attempts recursive implicit search ignoring type bound"
The following code produces a StackOverflowException

[code]

My guess FWIW is that the compiler is trying to resolve the Context parameter in the first resolve call using resolve[Context], ignoring the type bound that restricts it to Data, which a Context is not.

This appears to be a regression from 2.11, since trying the same there doesn't fail in the same way.

Here's the full console output:

[2018-08-17 16:41] milessabin commented on #11086
No, I don't think there is.

[2018-08-17 18:26] hrhino commented on #11088
`-Xlog-implicits` gives:

[code]

... and so on.

[2018-08-17 19:16] SethTisue commented on #11083
I suggest spinning off the  `reverse`/`dropRight`/`takeRight` stuff to a separate ticket; it's orthogonal.

returning to `fill` and `tabulate`:

at https://twitter.com/StefanZeiger/status/1030056916981096449 @szeiger wrote of `fill` that he thought "you can use side-effects to build consecutive elements. It only makes sense if they are evaluated in order"

@szeiger are you sure? it seems to be tha

[2018-08-17 19:29] SethTisue opened #11089 "`LazyList`'s `last` method (and perhaps others?) should be lazier"
[code]

reported by @paulp at https://twitter.com/contrarivariant/status/1030065587559362561

are there other methods that may have this problem?

related: #11083

/cc @NthPortal @szeiger @julienrf

--------

methods to fix:

- [x] `last`
- [x] `dropRight`
- [x] `takeRight`
- [x] `slice`

[2018-08-17 19:30] SethTisue commented on #11089
@szeiger [writes](https://twitter.com/StefanZeiger/status/1030143144615202818):

[2018-08-17 19:33] SethTisue commented on #11089
as @szeiger indicates, there is a fundamental mismatch between the semantics of `Iterator` (always evaluates all traversed elements) and `LazyList` (can evaluate tail without evaluating head)

[2018-08-17 19:44] paulp commented on #11089
Those were the first methods I thought to try, so probably it's safe to say there are more examples.

[code]

[2018-08-17 20:25] sjrd commented on #11089
Maybe the head of `LazyList` shouldn't be lazy after all, as I initially suggested at https://github.com/scala/scala/pull/6880#issuecomment-402390591:

[2018-08-17 20:38] paulp commented on #11089
@sjrd I had the impression that a non-lazy head is the entire reason for this class's existence. With an eager head, isn't it Stream?

[2018-08-17 20:39] Atry opened #11090 "Scala compiler crashes if a pattern contains dynamic objects"
[code]

[2018-08-17 20:42] sjrd commented on #11089
No. The biggest difference between my alternative proposal and `Stream` is that *(non-)emptiness* is lazy. So you can hold a `LazyList` for which you haven't decided yet whether it's going to be empty or not. But once you ask for that info, and it happens to be non-empty, then you eagerly evaluate the `head`, whereas the current `LazyList` can decide that it is non-empty but still defer the evalua

[2018-08-17 20:52] paulp commented on #11089
@sjrd I always thought the way to deal with this was to propagate what is known about the size, [as seen here](https://github.com/paulp/psp-std/blob/master/std/src/main/scala/std/Size.scala). But I suppose that's neither here nor there.

[code]

[2018-08-17 20:58] sjrd commented on #11089
Hum ... I'm not sure how that is relevant, except that:

* For `Stream`, sizes of the shape `Bounded(>= 0)` would never happen, because they are not representable. A `Stream` is either known to be empty (size 0) or it is known to be non-empty (`Infinite`, `Precise`, or `Bounded(>= N)` for N >= 1).
* With my suggestion, the state where the size would be `Bounded(>= 0)` is representable.

[2018-08-17 21:04] paulp commented on #11089
It's relevant because... never mind, it's irrelevant.

[2018-08-17 22:39] NthPortal commented on #11089
for tracking purposes, can people add a list of methods that need more laziness to the description?

[2018-08-17 22:47] NthPortal commented on #11083
wrt `fill` (and `continually`): I'm not sure how I feel about whether or not `tail` should force evaluation of `head` or not.

[2018-08-17 23:26] som-snytt opened #11091 "Lint when inferred type of definition is Unit"
Concern about removing procedure syntax is:

[code]

[2018-08-18 00:49] NthPortal commented on #11089
@SethTisue `length` seems sufficiently lazy to me already

[2018-08-18 01:38] SethTisue commented on #11089
@NthPortal okay I changed the ticket name again :-)

[2018-08-18 03:42] xuwei-k commented on #11090
maybe related to https://github.com/scala/bug/issues/9712

[2018-08-18 04:13] xuwei-k commented on #11021
minimized

build.sbt

[code]

Foo.scala

[code]

execute `sbt doc`

[2018-08-18 04:46] Atry commented on #11090
Sorry I forgot that I did report this bug two years ago 😭

[2018-08-18 04:47] Atry commented on #11090
It is indeed a duplicate. Close now.

[2018-08-18 04:47] #11090 closed

[2018-08-18 05:28] NthPortal commented on #11083
@SethTisue do you mind if I broaden this issue to cover all factories/generators with laziness problems? (and the other issue can cover all methods on an instance of `LazyList` with laziness problems)

[2018-08-18 15:49] #7838 closed

[2018-08-18 23:40] Ichoran commented on #11084
I'm not sure this is exactly a bug, but rather an effect of how boxing works.  `LongMap` stores its `Long` keys unboxed; the `foreach` etc. methods are generic and require boxed values.  Graal is sufficiently clever to realize that boxing and then usage is unnecessary in many contexts (but sometimes it's unavoidably necessary!).

I'm not sure there's anything to be done here, except note that this

[2018-08-19 00:56] soronpo commented on #11070
**Workaround**
Instead of using a macro directly at the call of the string interpolation, we use an implicit macro. And instead of using `c.prefix.tree` for interpolation we dig up `c.enclosingImplicits.last.tree`.

[code]

[2018-08-19 03:14] som-snytt commented on #11090
This is issue is slightly different, in that it has already errored, but is in reportError. I remembered the old issue but had trouble finding it because it doesn't mention "pattern".

[2018-08-19 06:32] Atry commented on #11090
@som-snytt I updated the original issue to include this reproduction

[2018-08-19 21:06] joshlemer commented on #10924
@mkeskells maybe something kinda like (but with a different name obviously)
[code]

would do the trick? The problem I see with this is that `Builder[A, Iterator[A]]` cannot support a `size: Int` method because it would need to consume the `Iterator[A]` to compute its size. I was thinking about adding `def knownSize: Int` to `Builder`, but this has a slightly different meaning -- it will only compu

[2018-08-20 07:00] mkeskells commented on #11077
@szeiger  is someone working on this now, if not I can pick his up

[2018-08-20 08:16] lrytz commented on #11077
@mkeskells pretty sure it's up for grabs, @szeiger is away for the next two weeks.

[2018-08-20 14:03] MasseGuillaume opened #11092 "*InPlace operations on collection.convert.Wrappers"
`JListWrapper` defines some `*InPlace` operations:

https://github.com/scala/scala/blob/e7d934cda543bdf09214947e0028e6251d324117/src/library/scala/coll
ection/convert/Wrappers.scala#L98-L146

However, a user would not have access to those easily:

[code]

Those methods are not available. Since `asScala` returns a `mutable.Buffer`

https://github.com/scala/scala/blob/e7d934cda543bdf09214947e0028e62

[2018-08-20 16:09] #11072 closed

[2018-08-20 16:52] monoidal opened #11093 ":type ignores incomplete expressions"
If I say

[code]

I get no output. Shouldn't this give a syntax error, or allow to complete the expression in the next line?

[2018-08-21 02:27] #11040 closed

[2018-08-21 02:44] Blaisorblade opened #11094 "Forbid `final object`"
First reported in https://github.com/lampepfl/dotty/issues/4936; both `sealed` and `final` are redundant on `object`, but `final object` seems pretty common (though it's redundant).

[code]

OTOH, `final object` seems pretty common, and it even appears in the new collections, maybe because it is sometimes used in such pattern (from Dotty) — and `final` on case classes does make sense.

[code]

We'

[2018-08-21 07:44] xuwei-k commented on #11030
similar StackOverflow error in fs2

- https://travis-ci.org/xuwei-k/fs2/builds/418571769
- https://travis-ci.org/xuwei-k/fs2/jobs/418571772#L894
- https://github.com/xuwei-k/fs2/commit/73e218c24f566576a7be1b5c412ed3ab9010f407

[code]

[2018-08-21 09:03] dragos opened #11095 "Incremental compilation specialization crash"
Compiling one file in breeze leads to the following crash in specialization. It's enough to compile `math/src/main/scala/breeze/signal/support/CanConvolve.scala` after a full build. Reproduced on 2.12.3-2.12.6, possibly earlier.

[code]

After a clean build, the following "args" file could be used to trigger the crash ((if you replace the absolute paths with the right ones):

[code]

Unfortunately

[2018-08-21 09:04] dragos commented on #11095
It looks like the same specialized method overload (`apply$mcI$sp`) coming from DenseVector is entered twice in its scope, via two different paths (as a special override and special overload).

[2018-08-21 13:12] kmizu opened #11096 "The mutable collection's factory method 'empty[T]' should have parenthesis"
For example,  an instance of `scala.collection.mutable.Buffer` can be created via:

[code]

Since this method returns a different buffer for each call, it has side effect.  Then, this method should be called as the followings:

[code]

However, since `empty[T]` method is declared as 'no parentheses'  method, it cannot be done.  I think it should be fixed.  How do you think about it?

[2018-08-21 18:51] lrytz commented on #11096
We discussed this at https://github.com/scala/collection-strawman/issues/520. Please re-open if you think that it needs further discussion.

[2018-08-21 18:51] #11096 closed

[2018-08-21 18:53] #11061 closed

[2018-08-21 21:06] ktegan opened #11097 "Repeated use of ForkJoinTaskSupport on ParCollection causes OutOfMemoryException"
On my system if you repeatedly create collections and set the collection's tasksupport to a new ForkJoinTaskSupport you will fairly quickly (takes less than 1200 iterations on my machine) get a "java.lang.OutOfMemoryError: unable to create new native thread" Exception.  This kind of error could be catastrophic for long running programs that don't realize that creating collections and setting a cus

[2018-08-21 23:55] diesalbla commented on #11079
After looking for a little while on this issue, and through [this StackOverflow answer](https://stackoverflow.com/a/47969819/1002111), I found the following [Python documentation page](https://docs.python.org/3.6/library/heapq.html#priority-queue-implementation-notes).

The StackOverflow answer itself also offers an interesting idea:

Also, you can just handle those entry numbers outside the `Prio

[2018-08-22 00:38] retronym commented on #10321
Seen again in the wild, with reports that the failure was intermittent.

Possibly related #8101.

[2018-08-22 02:40] joshlemer opened #11098 "Add method View#peek"
`View`s could have a method `peek` which would allow the injection of a side-effecting function (or indeed, breakpoint) in the middle of the view's pipeline. Inspired by [Java 8 Stream#peek method](https://docs.oracle.com/javase/8/docs/api/?java/util/stream/Stream.html). The signature would be something like:

[code]

and its usage would be like

[code]

[2018-08-22 04:09] LMnet opened #11099 "False positive "parameter value is never used" warning"
I updated my application from scala 2.11.12 to 2.12.6 and I got 2 new false positive warnings.

The first one:
[code]

With the code above I got this warning:
[code]

If I delete `valueConvert` I got this error:
[code]

The second one:
[code]

With the code above I got this warning:
[code]

If I delete `convert` I got this error:
[code]

Both issues are somehow related to the pureconfig library (I

[2018-08-22 04:19] xuwei-k opened #11100 "VectorMap#{remove, init, tail} broken in Scala 2.13.0-M5"
https://github.com/scala/scala/blob/98a68df30390337425388bc9d586a46dacc7c6c4/src/library/scala/collection/immutable/VectorMap.scala#L65-L72

[code]

/cc @mdedetrich

[2018-08-22 05:36] xuwei-k commented on #11100
[code]

[2018-08-22 06:07] NthPortal commented on #11098
I would like to suggest that this be widened to all collections. It is trivial to implement (`.map(a => { f(a); a })`), but also a common enough thing to want (for debugging or logging) that it's worth not needing to write repeatedly, IMO.

[2018-08-22 06:27] joshlemer commented on #11098
Should probably be implemented as `foreach(f); this` for strict collections, so that a new one is not built

[2018-08-22 08:42] mdedetrich commented on #11100
Will fix this today

[2018-08-22 13:19] lJoublanc opened #11101 "Stray `$` in Scaladoc markup gives confusing error (UnsupportedOperationException: Position.start)"
I am getting this error when trying to `doc` or `publishLocal` in SBT. Strangely, this does not occur when compiling or running tests, so I assume that this is related to scaladoc, but am not certain.

As I'm not getting any line numbers I can't determine what is causing this to fail, and can not provide a minimal example to reproduce (the codebase is from work, so I can't release the whole thing,

[2018-08-22 13:34] lrytz opened #11102 "Improve user experience when unapplySeq doesn't conform to the expected "structural" type"
In 2.12 this works:

[code]

2.13 (with https://github.com/scala/scala/pull/7068) gives a cryptic error message:

[code]

The reason here is that `drop` returns an `ArrayBuffer`. The interface for name-based pattern matching requires `drop` to return a `scala.Seq`.

[2018-08-22 13:43] xuwei-k commented on #10726
I found similar issue. reopen this or create new issue?

[code]

[2018-08-22 13:43] lJoublanc commented on #11101
I don't know how I figured this out, but it turns out it was this:

    /** `$readPreference` query modifier. */

Which, when removing the `$` solved the problem.

I suspect that there is some kind of substitution for `$` in scaladoc (I remember seeing this for `@implicitNotFound`), which fails as the token is just a literal in this case.

So I suspect it's just default behaviour, but this should

[2018-08-22 13:44] adriaanm commented on #11100
@mdedetrich I've invited you to the contributors team, so we can actually assign this to you ;-)

[2018-08-22 13:45] milessabin commented on #10726
@xuwei-k new issue would be great. Feel free to assign to me.

[2018-08-22 13:45] xuwei-k commented on #10726
Scala 2.12.6

[code]

[2018-08-22 13:52] adriaanm opened #11103 "convertToCaseConstructor and typedNew should honor prefix of type params"
test/files/pos/pattern_relative_types.scala:
[code]

[code]

[2018-08-22 15:06] eyalroth commented on #11079
@diesalbla I am aware of the alternatives. My argument is that the term "priority queue" denotes semantics which are ignored by the default implementation, thus creating confusion amongst Scala developers. I would argue that this confusion had caused / still causing plenty of bugs for developers, some are perhaps not yet discovered since developers might be so certain in their intuitive understand

[2018-08-22 15:08] SethTisue commented on #11100
@Ichoran (who I think is on vacation) would a wave of the collections-laws wand have caught this...?

[2018-08-22 16:59] SethTisue commented on #11099
relevant? https://github.com/scala/scala/pull/5876  /cc @som-snytt

[2018-08-22 17:02] SethTisue commented on #11098
We have `tap` now. This is the same, but for collections. Can the naming can be aligned somehow? `tapEach` or something? 🤔

[2018-08-22 17:03] dlaflamme commented on #11036
@SethTisue, what exactly does it mean for this issue to be moved to the Backlog? It seems to me that the behavior observed here completely breaks the user's control of concurrency in their programs and affects the latest two released versions of scala running on the latest version of OpenJDK's 1.8 series.

More information:
It looks like this this problem was introduced between scala 2.12.4 and 2.

[2018-08-22 17:05] SethTisue commented on #11101
agree, so let's keep it open

[2018-08-22 17:37] SethTisue commented on #10765
GitHub you crazy

[2018-08-22 17:42] SethTisue commented on #11036
“Backlog” issues are issues we won't hold up any particular release over. but any such classification is only provisional

I'd assumed this was a longstanding issue, but if it in fact regressed after 2.12.4, then ah, that's different. so I've moved it to the 2.12.7 milestone (but note that doesn't promise a fix, it just means the issue will at least be considered during release planning)

is there

[2018-08-22 17:57] ktegan commented on #11036
Both of these commits are related to ForkJoinPool and are around the right time:

https://github.com/scala/scala/pull/6159/commits/59e104101acdf6a75173b9afa536627bee5f951b
https://github.com/scala/scala/pull/6171/commits/14caff65eefce78105af8fc3e87ba855c77026a6

[2018-08-22 18:58] SethTisue commented on #11100
@xuwei-k nice catch!

@mdedetrich cool, sounds good. we discussed internally whether to rebuild M5 over this (and it also came up on Gitter), but I don't think rebuilding is necessary. this is brand new code nobody is relying on yet, RC1 is fine for a fix. and if anyone wants to beat on `VectorMap` specifically, they can use a nightly build that includes the fix.

we're extremely pleased to have `

[2018-08-22 19:04] adriaanm commented on #11100
@emilypi and @fommil, if you have anything of substance to contribute, great! If not, please do refrain. (Wow this is getting old.)

[2018-08-22 19:10] fommil commented on #11100
@adriaanm what on earth are you talking about?

[2018-08-22 19:28] emilypi commented on #11100
I have amended my emojis to adhere to Lightbend's contribution policy. @adriaanm do you need anything else from me? My only substantive suggestion is to fully test PRs before merging them.

Thanks
E

[2018-08-22 19:38] fommil commented on #11100
@adriaanm why am I being pulled into this conversation, and why are my comments (asking you why I'm being pulled in) being deleted?

Actually, I don't care. Please just stop pestering me. I am no longer interested in Scala.

[2018-08-22 19:40] som-snytt commented on #11099
Yes, that's the one. For some use cases, it's currently necessary to disable linting macros (`none`):
[code]

[2018-08-22 19:40] #11099 closed

[2018-08-22 19:43] emilypi commented on #11100
Thanks for your report @xuwei-k! This is a difficult problem to abstract, but it does come down to testing each method of your data structure in a variety of settings. If there is not present already, I would hope that this contribution came with both a test suite and example usages that would expose bugs like this, and I hope this is Scala's stance in the future to require these sorts of things.

[2018-08-22 19:44] SethTisue commented on #11100
@emilypi that's enough. take it elsewhere

[2018-08-22 20:44] mdedetrich commented on #11100
@xuwei-k

Okay so, I can replicate your first issue, i.e.

[code]

However I can't replicate your second issue, i.e.
[code]

Note that I am not using the repl, instead I am writing a failing test which contains your code, i.e. in the second case I am writing

[code]

And the exception is never thrown, can something be up with the repl here?

So along with the first problem that I was able to repro

[2018-08-22 20:53] viktorklang commented on #11036
@SethTisue I'm not sure how it is intended to work. I don't see how my commit would impact this but please let me know if it seems to be causing this problem.

[2018-08-22 21:19] mdedetrich commented on #11100
NVM, ended finding it was a dumb fencepost error, fixed in https://github.com/scala/scala/pull/7123

[2018-08-22 21:33] som-snytt commented on #11036
I'll take a look.

[2018-08-22 21:36] adriaanm commented on #11100
Nice! Thanks for getting this fixed so quickly.

[2018-08-22 21:58] SethTisue commented on #11100
we still need to figure out what's up with the `.init` case, though

[2018-08-22 22:12] SethTisue commented on #11100
ahhh... the reason the result is different in the REPL is that it doesn't blow up until `.toString` as called:

[code]

[2018-08-22 22:34] SethTisue commented on #11100
(had to unlock briefly so someone could unsubscribe from the ticket, GitHub wasn't permitting it otherwise)

[2018-08-22 22:36] SethTisue commented on #11100
found it. added a commit to Matthew's PR with the fix

[2018-08-23 02:45] LMnet commented on #11099
I scanned a lot of discussions but didn't find this flag. `-Ywarn-macros:after` fixed the issue, thanks.

But anyway, it looks a bit like a "secret knowledge". How to find this flag, if you do not know about its existence?

[2018-08-23 02:51] NthPortal commented on #11079
@eyalroth the [Javadoc for `j.u.PriorityQueue`](https://docs.oracle.com/javase/8/docs/api/java/util/PriorityQueue.html) actually does state how it handles elements with the same priority:

[2018-08-23 03:06] SethTisue commented on #11079
also https://en.wikipedia.org/wiki/Priority_queue 's first paragraph says:

but then farther down it says

[2018-08-23 03:35] #11036 closed

[2018-08-23 03:47] som-snytt commented on #11099
The search box on the docs page works for `options`: https://docs.scala-lang.org/overviews/compiler-options/index.html

[2018-08-23 03:53] LMnet commented on #11099
Scala 3 is still very far from the current moment. Maybe it would be helpful if warning message will contain info about this flag.

[2018-08-23 05:03] som-snytt commented on #11099
Good idea. Somewhere there is a note for the warning to say whether it was pre- or post-expansion; it would be natural to mention the flag, too.

[2018-08-23 07:11] lrytz commented on #11102
Test case added in https://github.com/scala/scala/pull/7120, the neg test should get a better error message.

[2018-08-23 10:03] retronym commented on #10767
/cc @mkeskells @rorygraves I believe this to be the ticket of reference for the issue we were discussing. We can take another look at this to see if we can get rid of the problem in val pattern desguraring, rather than relying on `opt:l:method` being used.

[2018-08-23 10:08] rorygraves commented on #10767
Cool. I had forgotten about this ticket.

[2018-08-23 12:00] eyalroth commented on #11079
@NthPortal I admit to have missed that. I guess when I read this my mind was interpreting this as "implementation details, I don't care" 😆

@SethTisue Yep, I've read that, and this is exactly what frustrates me. I don't understand why "common implementations will not return them according to their order in the queue".

[2018-08-23 12:11] viktorklang commented on #9554
With the Future code in 2.13.0-M5 InterruptedExceptions should now be correctly handled.
Fatal errors should also be rethrown such that they either surface in the Executor(Service) and can be dealt with there. Keep in mind that all execution after a Fatal Error is undefined.

I'd more than welcome some feedback on the new Future handling here.

[2018-08-23 12:16] adriaanm commented on #10762
This should be fixed by https://github.com/scala/scala/pull/7119.

To give the fix a try in your project:

[code]

let me know how it goes!

[2018-08-23 12:37] ktegan commented on #11036
Hold on a second.  The problem persists whether or not you set the task support for the inner collection (as mentioned with an alternative code snippet at the bottom of the issue).

Also I don't understand your answer.  If the outer tasks are running in a custom pool, then why does creating or not creating an inner parallel collection mutate the behavior of the outer collection?  An immutable para

[2018-08-23 13:07] som-snytt commented on #11036
Yes, it's a little mind-bending. The idea is that the outer pool will allocate more threads when it thinks a thread is blocked, i.e., active but not running. When the inner task is run on the same pool, the task is forked, otherwise it submits the task to the other pool. I suspect in the case of submitting to the second pool, joining that task is blocking. Note that it spawns threads to keep `para

[2018-08-23 13:27] ktegan commented on #11036
Thanks, I think I understand things a little bit better now.

So this behavior of "the outer pool will allocate more threads when it thinks a thread is blocked" was added after Scala 2.12.4?  Is there some way to cap the number of simultaneous tasks?  Or alternatively cap the number of active (not running) threads?  In my case each task is allocating part of a finite resource (such as memory), so

[2018-08-23 13:34] Blaisorblade commented on #10767
The Gitter convo also points to the latest efforts in scala/scala#4376.

[2018-08-23 13:49] som-snytt commented on #11036
Sorry, I also just noticed your comment about setting tasksupport. It has to be the same pool for the inner collection. It sounds like you just want the old behavior, so I would just do that.

The issue that changed the behavior was where the inner collection has an explicitly set tasksupport, but previously that was ignored.

Otherwise you want the Java 9 FJP as in my comment.

NB: I'll submit a

[2018-08-23 14:26] viktorklang commented on #11036
@som-snytt I also just noticed that there's a possible issue from 2.13.0-M5 and onwards with the following line: https://github.com/scala/scala-parallel-collections/blob/master/core/src/main/scala/scala/collection/parallel/Tasks.scala#L394

Since https://github.com/scala/scala/blob/2.13.x/src/library/scala/concurrent/impl/ExecutionContextImpl.scala#L110

So I venture to say that [Tasks](https://gi

[2018-08-23 14:27] Jasper-M commented on #11079
Ok, I agree. A priority queue is by definition **not** a queue.

[2018-08-23 15:00] ktegan commented on #11036
Thanks for the comments and help everyone, they are well appreciated.

1. @som-snytt You said that "The issue that changed the behavior was where the inner collection has an explicitly set tasksupport, but previously that was ignored."  However, based on comments by @dlaflamme it sounds like the test shows different behavior between versions 2.12.4 and 2.12.5 when the inner collection does not exp

[2018-08-23 15:05] viktorklang commented on #11036
@ktegan 3: https://docs.oracle.com/javase/9/docs/api/java/util/concurrent/ForkJoinPool.html#ForkJoinPool-int-java.util.concurrent.ForkJoinPool.ForkJoinWorkerThreadFactory-java.lang.Thread.UncaughtExceptionHandler-boolean-int-int-int-java.util.function.Predicate-long-java.util.concurrent.TimeUnit-

[2018-08-23 15:14] ktegan commented on #11036
@viktorklang , for (3) it sounds like we're saying that the new maximumPoolSize parameter in Java9 will limit the number of live threads instead of limiting the number of currently running threads as (I'm gathering) the parallelism parameter does.  Thanks!

[2018-08-23 15:17] viktorklang commented on #11036
@ktegan To put it differently: `parallelism` is a *target*, not a limit.

[2018-08-23 15:44] joshlemer opened #11104 "View#groupBy and others should be non-terminating"
`View#groupBy(f)` currently forces the computation. Is this in the spirit of the views, is there a special reason for this to be terminating? If not I propose that it should return a `MapView`.

[2018-08-23 15:58] SethTisue commented on #11104
is there any prior discussion on this in https://github.com/scala/collection-strawman?

[2018-08-23 16:15] joshlemer commented on #11104
https://github.com/scala/collection-strawman/pull/43 is sort of tangentially related but I haven't found any discussion about this specifically

[2018-08-23 16:45] som-snytt commented on #11036
@viktorklang Thanks. The architecture makes me feel like I need a "conspiracy wall".

@ktegan The changed behavior is on 2.12.5. The commit page (your link above) shows the tags and also the PR link.

[2018-08-23 17:13] joshlemer commented on #11104
Some thoughts (copied from my comment on Reddit):

It may be difficult to swap out MapView return types for these three transformations, since they inherit from the Iterable in the hierarchy, so ItrerableOps would have to be changed (maybe include a +M[_, _] type parameter, and have these methods return M[K, CC[V]] etc?). Maybe instead it's fine to just add view versions of these methods? AKA:

`g

[2018-08-23 17:14] SethTisue commented on #11100
keeping this open because scala/scala#7123 fixes some of the bugs but not all of them, see the comments on the PR

[2018-08-23 17:27] #10533 closed

[2018-08-23 18:28] ktegan commented on #11036
@som-snytt I see the link, but my question is how does the code in the link apply to the current issue.  You said "The issue that changed the behavior was where the inner collection has an explicitly set tasksupport ..."  Based on that I thought you were saying that if the inner collection DOES NOT explicitly set its tasksupport then the PR in the link should have no effect.  If you agree with tha

[2018-08-23 18:56] som-snytt commented on #11036
@ktegan The original issue was https://github.com/scala/bug/issues/10577 as linked from the PR. It's the same as your example, except the bug was that the tasksupport was ignored. If tasksupport is not set explicitly, you get a default tasksupport.

The documentation is unambiguous:

https://docs.scala-lang.org/overviews/parallel-collections/configuration.html

[2018-08-23 19:08] ktegan commented on #11036
Sorry, my question isn't coming across well.  Would you expect the PR you did in #10577 to affect cases where the inner collection is not setting the tasksupport?

[2018-08-23 20:44] som-snytt commented on #11036
Yes, the tasksupport is used whether it was set by user or not. That's why I point out that "each par collection is parameterized with a task support"; I don't see anything which says it is pre-empted in some cases.

My Nota Bene above is about the case where it is not explicitly set.

[2018-08-23 23:26] som-snytt commented on #10533
It's like that thing on Stack Overflow where your answers keep accruing interest years later.

[2018-08-23 23:47] NthPortal opened #11105 "Very lazy LazyList creation"
Currently, `LazyList` has two forms of laziness:

1. laziness in determining whether or not it is empty (and by extension, how many elements it has)
2. independent laziness of elements - that is, evaluating a subsequent `head` or `tail` of the `LazyList` does not cause the evaluation of previous `head`s.

Of `LazyList`'s factory methods, none support both kinds of laziness. `unfold` and `from` (wh

[2018-08-24 02:36] NthPortal commented on #11079
I just checked, and python3's `queue.PriorityQueue` does not respect insertion order on its own. If even python doesn't do it, I'm going to go ahead and say that the Wikipedia article is wrong.

I also think it's worth noting that it's not difficult to wrap your elements so that the queue will respect insertion order if you prefer that and don't care about the performance loss; however, if that wa

[2018-08-24 04:31] tkrs opened #11106 "Iterator's laziness is incomplete"
[code]

Chaining `withFilter` after `map` seems to be evaluating `map` beyond the number passed to `take`.

[2018-08-24 05:39] xuwei-k commented on #11106
latest 2.13.x

[code]

[2018-08-24 06:29] xuwei-k commented on #7838
Should we remove or change [`Iterable` comment](https://github.com/scala/scala/blob/046937d99bfff4bcf261dcba836299578dae7478/src/library/scala/collection/immutable/Iterable.scala#L9-L18) ?

[2018-08-24 07:57] javax-swing commented on #11105
@NthPortal just some stuff off the top of my head. I can delete it if it is utter nonsense 😁

Reasoning for a Lazy `unfold`. Perhaps you have an application where a user chooses a date range of date-indexed data they wish to look at. This then presents them the option of choosing a date to click on.

Fetching this data is very expensive,and so you want to cache the results of the data in the users

[2018-08-24 09:18] lrytz commented on #7838
Yes!

[2018-08-24 09:20] lrytz commented on #11106
Thanks! We should find which commit fixed it and see if it's covered by a unit test, otherwise add one.

[2018-08-24 12:11] rnd4222 opened #11107 "scalac java.lang.StackOverflowError on moderately large file"
Scala version 2.12.6
OpenJDK 1.8.0_181
Ubuntu 16.04

Compiling [this](https://pastebin.com/jmmUKyGP) piece of code results in [StackOverflowError](https://pastebin.com/raw/ARDpJSbU).

[2018-08-24 12:20] schlichtanders opened #11108 "scala.Dynamic together with macros doesn't work with multiple parameter lists"
might be related to #7914

When working with macros and Dynamic, everything works awesome but handling method calls with multiple parameter lists.

Here an example, tested in Scala 2.11.12
[code]
The very last line gives both the following two compile errors
[code]

[2018-08-24 12:40] ktegan commented on #11036
OK, it seems like there is no simple short term solution to this.  Until Java 9 comes out we might move back to 2.12.4 so that the target thread count is respected 99% of the time instead of 0% of the time.

Thanks for the help!

[2018-08-24 12:42] ktegan commented on #11097
This might be related to #11036 but I'm not sure so I don't think this is ready to close yet.  Does anyone know what resource is running out in the JVM and why?

[2018-08-24 12:52] viktorklang commented on #11097
@ktegan Can you force the JVM to do a thread dump?

[2018-08-24 13:57] joroKr21 commented on #11097
Am I missing something in your example or are you creating a new FJP per iteration?

[2018-08-24 14:27] SethTisue commented on #11107
in general, we consider it normal that some kinds of heavily nested code will require giving the compiler more stack (e.g. with `-Xss`)

does the problem go away with `-Xss`? if so, this is almost certainly a "won't fix"

[2018-08-24 14:45] rnd4222 commented on #11107
@SethTisue I'm already tried increasing -Xss and -Xmx and problem still remains:
`> show scalacOptions
[info] * -J-Xss256m
[info] * -J-Xmx8G`
And increasing it further doesn't solves the problem.

[2018-08-24 14:51] SethTisue commented on #11107
is the problem reproducible without external dependencies? I tried compiling the code myself, but couldn't without dependency declarations.

[2018-08-24 14:52] som-snytt commented on #11097
I agree it looks like "creating a lot of thread pools runs out of threads eventually." It's easy to reopen if we are disabused.

[2018-08-24 14:52] #11097 closed

[2018-08-24 14:55] som-snytt commented on #11036
@ktegan I like a happy customer. My previous advice to set the same testsupport on both collections is a simple short term solution. That will be 2.12.4 behavior with respect to this issue.

[2018-08-24 15:07] adriaanm commented on #10762
I'm not sure if this is progress, but now I'm stuck at:
[code]

I'm using @MasseGuillaume's branch 2.13.0-M4 with slight modifications (http://github.com/adriaanm/akka/tree/2.13.0-M5) and locally built scalatest/scalacheck/java8-compat/collection-compat

[2018-08-24 15:12] Atry commented on #11108
Duplicates to #10307

[2018-08-24 15:13] ktegan commented on #11097
I would characterize this as "creating one thread pool at a time, then garbage collecting it, eventually runs out of a mysterious resource".  I would also note the example shows that you can create as many ForkJoinPools as you like if you don't assign them to the tasksupport of a collection.

Is there no recycling for some resource inside of a ForkJoinPool?  For the default case that throws an exc

[2018-08-24 15:16] #11108 closed

[2018-08-24 15:26] rnd4222 commented on #11107
Sorry, forgot to mention external dependencies:

"com.github.finagle" %% "finch-circe" % "0.22.0"
"io.circe" %% "circe-generic" % "0.9.0"

I don't tried to reproduce a bug without it - all the code do is combine dependencies in various ways.

[2018-08-24 15:36] rnd4222 commented on #11107
OK, [https://pastebin.com/iAnZ83QH](here) is minimized example without external dependencies at all.

[2018-08-24 15:41] SethTisue commented on #11107
the repeated section of the stack trace is

[code]

[2018-08-24 15:42] SethTisue commented on #11107
the no-external-dependencies version gives SOE with default stack size, but compiles fine with `scalac -J-Xss2m S.scala`

[2018-08-24 15:44] SethTisue commented on #11107
[code]

I think the issue here is the method you are using to increase the stack size. once the JVM has already started, it's too late. you need to set it at JVM startup time

[2018-08-24 15:44] #11107 closed

[2018-08-24 15:46] jvican commented on #10762
Thanks for looping me in! I'm looking into this error. In your fork, `AkkaPersistentFSMTest.java` does not exist (I can only find it in akka latest master), so I don't understand how Zinc finds this class. Is it possible that you're reusing an analysis file from a previous compile?

[2018-08-24 15:48] Jasper-M commented on #11108
Hmm, I don't see how it's a duplicate. But I don't see how it's a bug either.

[2018-08-24 15:53] adriaanm commented on #10762
The file is in git, and also on disk for me: https://github.com/adriaanm/akka/blob/2.13.0-M5/akka-persistence/src/test/java/akka/persistence/fsm/AbstractPersistentFSMTest.java

[2018-08-24 16:35] ktegan commented on #11036
But if the body of the map calls functions that call other functions that call other functions I have to pass the instance of the outer collection's testsupport through all of those.  Basically any function that could be called inside of an parallel collection now has to take an additional testsupport parameter to be able to have the old behavior.

[2018-08-24 17:00] som-snytt commented on #11036
That is the issue at hand, @ktegan .

[2018-08-24 17:53] ktegan commented on #11036
@som-snytt  I'm not positive I understand your comment, but I will assume for now you agree with my assessment.  Please let me know if I'm mistaken.

[2018-08-24 18:09] SethTisue commented on #11036
@ktegan thanks for the report and investigation. this could be invaluable to anyone else who runs into this. thx @som-snytt and @viktorklang as well

[2018-08-24 19:27] hrhino opened #11109 "uncurry of generic Java varargs bounded by Serializable is wrong"
[code]

Limited to `Serializable` (and `Comparable`) as those are the Java classes we artificially give an `Any` parent to.

[2018-08-24 19:51] som-snytt commented on #11036
@ktegan sorry I wasn't clear. @SethTisue is laughing at not understanding my comment, nobody understands me. I'm sure there is a classic song along those lines. I was going to say that `Future` passes its context implicitly, but I don't know why parallel collections doesn't, this is not my area of expertise, if I had one. If I can submit a PR, probably it will take a system property to determine w

[2018-08-24 21:37] SethTisue opened #11110 "reconsider removal of -Yno-adapted-args in 2.13"
I'm confused why `-Yno-adapted-args` got the axe (in https://github.com/scala/scala/pull/6505, under the umbrella of
https://github.com/scala/scala-dev/issues/430)

might this have been overzealous? `-Yno-adapted-args` is both widely used and useful IMO

and it only causes "language fragmentation" in the sense that it makes some code — code that has been producing compiler warnings since Scala 2.1

[2018-08-24 21:48] ktegan commented on #11097
@viktorklang I don't know how to set that up.  Happy to do it though.

@som-snytt @joroKr21 You should be able to create a parallel collection, use it, discard the parallel collection and repeat this process all over again as long as you want.  Parallel collections that use the default tasksupport can do this, and my example shows that if you set the tasksupport to a ForkJoinPool you cannot.  If t

[2018-08-24 21:57] SethTisue commented on #11097
there are three ways to get a thread dump: control-\\ (platform-dependent iirc, not sure about Windows?), `kill`, or `jstack`. see e.g. https://stackoverflow.com/questions/4876274/kill-3-to-get-java-thread-dump . it's an invaluable tool for doing almost any kind of JVM-based work

[2018-08-24 22:29] SethTisue commented on #11100
hopefully https://github.com/scala/scala/pull/7134 restores correctness

[2018-08-25 01:28] joroKr21 commented on #11097
You're not calling `shutdown`. E.g. this also runs out of memory:
[code]

[2018-08-25 10:53] #10827 closed

[2018-08-25 14:15] ktegan commented on #11097
@joroKr21 Thanks!  That's exactly what I didn't understand.  In my opinion the Scala docs should be updated to mention that you need to call shutdown() (https://docs.scala-lang.org/overviews/parallel-collections/configuration.html) but this issue is fine to stay closed.  Now I can do something like the following (rough code, not fully tested):

    implicit class ParImplicits[A](val it: Iterable[A

[2018-08-25 19:00] NthPortal commented on #11105
@javax-swing if you have a fixed date range, you can use `tabulate`

[2018-08-25 19:09] NthPortal commented on #11105
I think actually a very compelling usecase is testing the laziness of `LazyList`. Currently (not pushed), the implementation for testing both laziness of state and of elements is quite complex and unfriendly:

[code]

If we think about adding a method to simplify the implementation, we might try something like this:

[code]

This allows us to rewrite the testing implementation as follows:

[code]

[2018-08-25 22:48] Blaisorblade opened #11111 "Are Java parents supposed to come with their own arguments or delegate that to their lawyers?"
One of these two things is wrong:
[code]

I vote for "they're both illegal and Dotty will forbid both, absent some extremely strong compatibility requirement".

The first happens to be tested by `test/files/run/t3613.scala`, which still lives in Dotty, but maybe the code was legal back then, either because of different semantics with raw types, or because AbstractListModel [had no type argument in

[2018-08-26 09:41] javax-swing commented on #11105
@NthPortal Even if the state part is lazy, you could still replicate both with `unfold`

https://scastie.scala-lang.org/S44MPq47R0eTDGxvpo4Q5A

If people were so inclined to delay the computation of `S`

[2018-08-26 12:54] Philippus commented on #8073
This seems to have been solved by @adriaanm in https://github.com/scala/scala/pull/6436

[2018-08-26 14:58] #8073 closed

[2018-08-26 15:51] joshlemer opened #11112 "s.c.m.Buffer#append method is ambiguous"
`scala.collection.mutable.Buffer` defines two `append` methods. One is single-arg, the other is var-arg. This means that you cannot call the single-arg version because it is ambiguous with a single-elem var-arg call.

the method definitions:
[code]
an example error:
[code]

[2018-08-26 15:58] som-snytt commented on #11112
https://github.com/scala/bug/issues/11015

[2018-08-26 16:32] mblaze opened #11113 "Following a literal with type arguments list results in a compiler error"
Example:

[code]

What I expected is for `'symbol[Int]` to compile successfully.

Scala's [grammar](https://www.scala-lang.org/files/archive/spec/2.13/13-syntax-summary.html) would suggest that this should be possible. This does not work for all literals (for `String` it is understandable as it already has an `apply` defined).

I'm working with scalac 2.13.0-M4.

[2018-08-26 16:40] SethTisue commented on #11015
indeed, https://github.com/scala/bug/issues/11112

[2018-08-26 16:48] Blaisorblade commented on #11111
We should ideally agree on behavior with lampepfl/dotty#5027.

[2018-08-26 19:45] sjrd opened #11114 "patchInPlace has absurd semantics when `from + replaced > length`"
I couldn't find any written down Scaladoc for `patchInPlace`, so it is difficult to argue it's a *bug*, but I'll try. Here is a transcript:
[code]
As you can see in the very last (successful) call, `replaced` was truncated to `buf.length`, and because `from = 0`, the call succeeds. But in the other two calls, `replaced` being truncated to `buf.length` does not help, because `from > 0` and hence `f

[2018-08-26 20:02] diesalbla commented on #11079
To my view, the current issue comes down to three alternatives for action:
- Modify the documentation of that class to explicitly indicate that "ties are broken arbitrarily"; or
- Rename the `PriorityQueue` to `Heap`, or `ArrayHeap`, which seems may be more accurate'; or
- Modify the `PriorityQueue` class to ensure that, for tie-breaking, it is also a FIFO queue.

The first one seems straightforwa

[2018-08-26 22:29] NthPortal commented on #11079
I am in favour of the first option there

[2018-08-26 22:40] NthPortal commented on #11114
I would assume that it should have the same semantics as `patch` (I agree that it still needs to be documented), except that it modifies the underlying collection. Thus, the two that throw an exception ought to return `resN: buf.type = ArrayBuffer(1, 2, 3, 10, 11)`

[2018-08-27 04:00] SethTisue commented on #11113
note that Dotty likes it fine:

[code]

it would be interesting for someone to look into this a little and see whether it's a trivial issue with Scala 2's parser, or something deeper

[2018-08-27 08:11] Jasper-M commented on #11110
There doesn't seem to be a warning without the flag, though.

[2018-08-27 09:48] Jasper-M commented on #11109
This seems to be fixed in 2.13, right?

[2018-08-27 11:09] hrhino commented on #11109
mm, not as of `2.13.0-pre-53c4be1`? The bytecode for that method is the same.

[2018-08-27 11:12] hrhino commented on #11110
You need to use `-Ywarn-adapted-args` for the warning, which apparently made the cut, so that and `-Xfatal-warnings` have a similar effect in conjunction.

That said, I always turn on `-Yno-adapted-args` in my project, and I'll be sad to see it go. (Isn't there talk of removing it completely in Dotty?)

[2018-08-27 11:39] Jasper-M commented on #11109
You're right. I was confused because 2.12.6 also has problems overload resolution in this code. I forgot to try the `: J` part in 2.13.

[2018-08-27 11:41] hrhino commented on #11109
You gave me such high hopes for a copy-paste fix 😿...

[2018-08-27 12:12] dwijnand commented on #11110
Duplicate of https://github.com/scala/scala-dev/issues/496, I'd say.

[2018-08-27 12:13] lrytz commented on #9137
There are two variants of this bug.

In the first one, the inliner creates a new local variable (in the example below for the receiver):

[code]

This can be fixed by setting all local vars created by the inliner to `null` after the inlined code. However, the same problem exists for local variables copied into the callsite method:

[code]

To avoid a full combined liveness&nullness analysis, we ca

[2018-08-27 12:41] #10762 closed

[2018-08-27 12:41] #11103 closed

[2018-08-27 12:44] Jasper-M commented on #9137
Not really related to inlining anymore, but something like this, either at bytecode or at Scala-language level, could also make the runtime semantics of block expressions more intuitive.

[code]

[2018-08-27 12:46] hrhino commented on #11113
It's not restricted to symbols:

[code]

[2018-08-27 12:49] hrhino commented on #11113
I suspect it's this (listing the trees which precede an inserted type application:

[code]

[2018-08-27 12:50] lrytz commented on #9137
Yes, I'm not saying it's a useless optimization. But at least the user can manually make `tmp` a `var` and `null` it out. If the issue is due to inlining, you're out of luck (except for `@noinline`). We'd also need to study if nulling out locals is universally a good idea (for performance), or if it can cause issues on its own.

So I think it makes sense to be eager about nulling out locals in the

[2018-08-27 12:52] jvican commented on #10762
I'll have a look at what's going on soon, I opened https://github.com/scala/bug/issues/10762#event-1810494772.

[2018-08-27 13:02] #11109 closed

[2018-08-27 15:15] SethTisue commented on #11110
yes, this "feature" is on its slow way out of existence.

ah, right, thanks for the correction. note that this warning has been part of `-Xlint` since 2.11, though, so it hasn't been *only* behind that one obscure flag.

I see your point, but that one's targeted for 2.13.1. I opened this ticket specifically to ask what we're going to do for 2.13.0-RC1/2.13.0.

[2018-08-27 15:20] SethTisue commented on #11109
why closed?

[2018-08-27 15:27] dwijnand commented on #11110
I think that one should target RC1.

[2018-08-27 16:00] martijnhoekstra commented on #11079
As a long time wikipedian, and administrator on the English wikipedia, the use of the text of a wikipedia article as an authoritive source makes me very uneasy

[2018-08-27 16:15] SethTisue commented on #11079
sadly the word "heap" is also badly overloaded in computer science :-(

[2018-08-27 16:43] eyalroth commented on #11079
Just to strengthen the confusion argument, take a look at the documentation of `scala.collection.immutable.Queue`:

Whereas `java.util.Queue` goes:

So in fact in Java they made sure to reflect the inconsistency of the terminology in their documentation, which IMHO just shows how inappropriate it would be to consider such a "priority queue" as a "queue" (same goes for stacks).

Furthermore, `scala

[2018-08-27 17:04] Jasper-M commented on #11079
Indeed, so that difference in documentation actually makes sense.

[2018-08-27 21:47] Blaisorblade opened #11115 ""Bad superClass for class” crash"
Define and compile `object Boxing`, then load in a scala REPL (e.g. `sbt console`) and type

[code]
That's strange—it mentions type `Boxing` tho it doesn't exist. Maybe because a valid but member-less `Boxing.class` has been created? But OK.
For the crash, try this:

[code]
Error at https://gist.github.com/Blaisorblade/83f7b997269a080890576c7a738f6972. Highlights:
[code]

[2018-08-27 21:52] Blaisorblade commented on #11115
This seems to need the REPL — even compiling separately the following (which is the desugaring output from the REPL according to its output) doesn't trigger the crash:
[code]

[2018-08-28 02:30] NthPortal opened #11116 "Problems with ControlThrowable"
`scala.util.control.ControlThrowable` is "[a] marker trait indicating that the Throwable it is mixed into is intended for flow control." ([docs](https://www.scala-lang.org/api/current/scala/util/control/ControlThrowable.html)). One of its key features is that it extends `scala.util.control.NoStackTrace`, and thus (unless disabled) does not incur the significant construction cost of filling in the

[2018-08-28 02:30] NthPortal commented on #11116
cc @viktorklang

[2018-08-28 02:52] som-snytt commented on #11115
Also requires the object in the empty package.

[2018-08-28 03:31] SethTisue commented on #11115
ohhhhhhhh good call @som-snytt why didn't I think of that?

[2018-08-28 05:10] xuwei-k opened #11117 "Singleton types are lost when used on the left of a right-associative operator"
[code]

https://github.com/scala/bug/issues/10726#issuecomment-415036293

[2018-08-28 22:39] shawjef3 opened #11118 "Array iterator reduced performance from 2.12.6 to 2.13.0-M4"
As part of another investigation I found that 2.13.0-M4's iterator over arrays is around 7% slower than 2.12's, although I didn't account for any overhead from JMH's [Blackhole](http://hg.openjdk.java.net/code-tools/jmh/file/3769055ad883/jmh-core/src/main/java/org/openjdk/jmh/infra/Blackhole.java#l377), if any.

Please see [my results](https://docs.google.com/spreadsheets/d/1L1z4N5wUP7iZG0pz0Gh9rW

[2018-08-28 22:44] shawjef3 commented on #11118
[2.13.0-M5 implementation](https://github.com/scala/scala/blob/612e9374f5731d2b22c02c8c3793c990273a8cb7/src/library/scala/collection/ArrayOps.scala#L107)

[2.12.6 implementation](https://github.com/scala/scala/blob/v2.12.6/src/library/scala/collection/IndexedSeqLike.scala#L52)

[2018-08-29 06:59] #9080 closed

[2018-08-29 11:43] plokhotnyuk opened #11119 "Unexpected exeption in `scala.reflect.macros.contexts.Evals.eval`"
Steps to reproduce:
1. `git clone git@github.com:plokhotnyuk/play.git`
2. `cd play`
3. `git checkout jsoniter-scala-integration-error`
4. `sbt clean stage`

[code]

It compiles fine without error(s) when macro is called from the separated object like in the following PR:
https://github.com/plokhotnyuk/play/pull/5/files

[2018-08-29 12:01] ruippeixotog commented on #11079
I think that the best course of action is to document in an unambiguous way the guarantees given by each collection - even if it's to tell that the order is undefined, as with the current `PriorityQueue`. Given that there's no consensus of what the behavior of a theoretical priority queue implementation should be, I think it's better to leave things as they are.

Personally, I don't expect of a pr

[2018-08-29 15:14] joshlemer opened #11120 "Create method `IterableOnce#copyToArray(dest: Array[A], srcPos: Int, destPos: Int, len: Int): Int`"
This would complete the functionality provided by `System.arraycopy` and allow for some nice speed boosts in things like:

* `Iterable#copyToArray(dest, destPos, len)` could be optimized in many cases by using this method, and by setting `srcPosition = numElementsConsumed`
* `ArrayBuffer` -> `Vector` building could be done without use of intermediate `ArrayBufferIterator`

[2018-08-30 00:22] edmundnoble opened #11121 "Unintuitive, arguably broken inliner behavior"
I expect that a method marked `@inline`, when called from code with `-opt-inline-from` set correctly, will be inlined. However, I was surprised to discover that this is not only not the case, but there wasn't even a warning triggered.

See here: https://github.com/scala/scala/blob/1e904d75450373d7845eb7452d940e52d955b27d/src/compiler/scala/tools/nsc/backend/jvm/opt/InlinerHeuristics.scala#L180

Th

[2018-08-30 00:43] hrhino commented on #11121
Regarding the final defs in `object`s: we don't mark your method `ACC_FINAL` unless you actually say `final`, even though methods of static modules are effectively final:

[code]

I recall someone saying there was a reason for keeping it this way. The optimizer doesn't know that much about the symbols from the rest of the compiler; I'm not sure if the information (whether it's in a static module)

[2018-08-30 01:03] hrhino commented on #11121
More responsively:

That block of code is (in your project, one hopes) switching on `-opt-inline-heuristics` being the `"default"`, in which case the decision is [this line](https://github.com/scala/scala/blob/1e904d75450373d7845eb7452d940e52d955b27d/src/compiler/scala/tools/nsc/backend/jvm/opt/InlinerHeuristics.scala#L218):

[code]

`callsite.isInlineAnnotated` is a bit of a bad name, because it

[2018-08-30 01:07] edmundnoble commented on #11121
I guess the problem is actually in `requestIfCanInline`, but I don't see why call-site inline works here when definition-site doesn't. Nor why `final` is required.

[2018-08-30 01:08] hrhino commented on #11121
Right. Assuming this is testz-related, if you can point me to methods that aren't inlining as expected, I'll take a look. This doesn't sound correct.

[2018-08-30 01:10] edmundnoble commented on #11121
Sure, mark any of the `test` methods in `*Suite` as `@inline` and it won't be inlined into `Main$`. Use this branch: https://github.com/edmundnoble/testz/tree/factor

[2018-08-30 01:58] Ichoran commented on #11114
I have a (failing) collections-laws test for `patchInPlace` that insists that it behave identically to `patch`.  If someone who wants to fix `patchInPlace` can get collections-laws running and keep modifying `patchInPlace` until it passes, that would be great.  I wasn't able to submit a full set of bug reports because the presumption in collections-laws is that bugs are rare, and so testing stops

[2018-08-30 04:46] NthPortal commented on #11116
For reference, this came up when working on `scala.util.Using`, which (like try-with-resources) suppresses exceptions.

[2018-08-30 06:57] lrytz commented on #11121
I'd need a reproducer for that. This is pretty basic functionality of the inliner, and there's a large number of tests that would fail if your observation was generally true.

I see in your project you're using `-opt-inline-from:<sources>`, which can show surprising behavior with sbt's incremental compilation.

This is also not true in general, so there must be something else going on. Can you sho

[2018-08-30 06:57] #11121 closed

[2018-08-30 07:50] xuwei-k opened #11122 "Vector#prependedAll(Iterator) lose parameter values"
[code]

https://github.com/scala/scala/blob/v2.13.0-M5/src/library/scala/collection/immutable/Vector.scala#L207

`prefix.size` consume all elements

[2018-08-30 07:53] sadhen opened #11123 "Inconsistent equality for WrappedArray.ofRef"
[code]
is `false` in `2.12.2 +` and is `true` in `2.11.x , 2.12.0, 2.12.1`

This behavior change is introduced by scala/scala#5551 and effectively this merged one scala/scala#5607 .

[2018-08-30 11:19] xuwei-k opened #11124 "Predef.implicitly TODO comment"
https://github.com/scala/scala/blob/v2.13.0-M5/src/library/scala/Predef.scala#L214

Should we just add `e.type`? or remove TODO comment if incorrect?

[2018-08-30 11:46] xuwei-k commented on #11124
🤔

[code]

[code]

`javap -v A\$.class`

[code]

[2018-08-30 11:48] lrytz commented on #11124
Maybe your shell expanded the `**`, try with `'-opt-inline-from:**'`?

[2018-08-30 11:49] smarter commented on #11124
Would be interesting to do this change and see what happens to the community build. Same thing with `identity` and `locally` .

[2018-08-30 11:51] lrytz commented on #11124
(Wait, I misunderstood something)

[2018-08-30 11:53] lrytz commented on #11124
What is the problem with the bytecode you posted above?

[2018-08-30 11:55] milessabin commented on #11124
FYI shapeless has a `the` method with these semantics, backed by a macro to ensure inlining, and there is also @non's [Imp](https://github.com/non/imp) which is basically the same.

I'm sure Erik won't mind me saying that we'd both like to see this change so we can retire our workarounds :-)

[2018-08-30 12:02] xuwei-k commented on #11124
The `@inline` annotation provide meaningful effects regardless of whether add `: a.type = ` or not.

[2018-08-30 12:26] lrytz commented on #11124
The inliner on the bytecode level, on erased types, so the change doesn't matter there.

It can make a difference in constant folding, maybe elsewhere
[code]

[2018-08-30 13:50] joshlemer commented on #11114
Why not pattern match to optimize the `Seq` case, otherwise falling back to slower version?

[2018-08-30 15:17] sadhen commented on #11123
@alexeyr  @adriaanm  Is this behavior change expected?

[2018-08-30 15:26] edmundnoble commented on #11121
What I was seeing appears to be entirely artifacts of the incremental compiler; is that documented anywhere? As well, the edit I made still applies:

[2018-08-30 17:45] shawjef3 commented on #11083
It seems to me that which factory method I use should not determine the laziness.

[2018-08-30 17:50] shawjef3 commented on #11083
I can see laziness being determined by a factory method when it takes a thunk vs a value. So like I'd expect `LazyList(1,2,3)` to be more strict because of varargs, but other methods use `=> T`, `Int => T`, and so on, so I expect those to be lazy. A version of fill that is strict could be `LazyList.strictFill[A](Int)(A)`.

[2018-08-30 17:58] shawjef3 commented on #10924
Make everything explicit and optional when it might be unknown for a given builder. Example,

case class Size(size: Option[Int], knownSize: Option[Int], isDefiniteSize: Boolean)

`def size: Size`

[2018-08-30 18:10] milessabin commented on #6317
I can't reproduce this with 2.13.0-M5.

[2018-08-30 23:48] mkeskells commented on #10924
@shawjef3 please lets not create garbage on a call to size

[2018-08-31 03:38] NthPortal commented on #11083
@shawjef3 But there are already factory methods for which `tail` forces evaluation of `head` - `unfold`, `from(Iterator)`, `iterate`, and possibly others

[2018-08-31 03:51] shawjef3 commented on #11083
@NthPortal I guess I misunderstood `head` to mean the value in the head and not just the node in the list.

[2018-08-31 05:11] lrytz commented on #11121
Yeah, there's not enough documentation about what the optimizer does and how it works. I'm currnetly working on some improvements to the optimizer for 2.13, and it's also on my list to write down some details about its internals. I really hope to get to that.

I can't follow the reference, where's t3 defined / used?

[2018-08-31 05:39] SethTisue opened #11470 "Re-enable MiMa once 2.13.0-RC1 is out"
we may still be willing to break binary compatibility between M5 and RC1 and .0, but we'd like the build to let us know that it's happening so we don't do so unawares

[2018-08-31 11:50] Ichoran commented on #11114
@joshlemer - Because in practice I think you wouldn't use `patchInPlace` unless it was higher-efficiency, and I think it's unlikely to be higher-efficiency unless the implementation for iterators was converting to an array, and that's trivial to do with the `Iterable` version.

[2018-09-01 01:58] xuwei-k opened #11125 "consider rename StringOps#lines. conflict jdk11 java.lang.String#lines"
- <https://download.java.net/java/early_access/jdk11/docs/api/java.base/java/lang/String.html#lines()>
- <https://github.com/scala/scala/blob/v2.13.0-M5/src/library/scala/collection/StringOps.scala#L631>

<img width="1361" alt="screen shot 2018-09-01 at 10 53 02" src="https://user-images.githubusercontent.com/389787/44941290-3a25df80-add5-11e8-8197-b94c17b2a25e.png">

[code]

[code]

[2018-09-01 05:36] sadhen opened #11126 "Future blocks on a shutdown ExectionContext"
Found this bug working on https://github.com/apache/spark/pull/22304

This is the simplified code to reproduce the bug:

https://github.com/sadhen/blocking-future

This bug exists in `2.12.6`and `2.13.0-M4`. Fixed in `2.13.0-M5`.

[2018-09-01 08:17] lyricallogical commented on #11125
Even if we change lines' signature, the risk still exists that the same problem will happen.
For solving it, we should add a method like `ops` for converting explicitly to StringOps.

[2018-09-01 09:34] xuwei-k opened #11127 "scalac generate NonLocalReturnControl bytecode when Boolean#&& and try catch"
Scala 2.13.0-M5, 2.12.6, 2.11.12

https://github.com/scala/scala/blob/v2.13.0-M5/src/library/scala/collection/immutable/VectorMap.scala#L110-L131

[code]

warning (Scala 2.13.0-M5)

[code]

javap (Scala 2.13.0-M5)

[code]

[2018-09-01 10:01] milessabin commented on #11124
@xuwei-k what would that gain us in those cases?

The rationale for making the change in the case of `implicitly` is that, depending on the type argument, there are refinements which are lost. But in the case of those type classes there aren't any useful refinements to lose.

[2018-09-01 20:18] #11126 closed

[2018-09-02 06:57] eyalroth commented on #11079
@ruippeixotog I would argue that if the heap-like data structure -- which I believe is rarely being used -- is in the standard library, then the FIFO variant should be there as well.

Note at some of akka's contributors reactions to the issue from the two links I posted earlier:

patriknw:

viktorklang (on the SO question):

[2018-09-02 14:42] joshlemer commented on #11112
Well, somehow this seems to work in 2.13.0-M5

[code]

[2018-09-02 19:06] odd opened #11128 "Performance degradation for concat on immutable sets and maps in 2.13.0-M5"
The implementation of `concat` in `collection.StrictOptimizedSetOps` and `collection.StrictOptimizedMapOps` (both new in 2.13.0-M5) uses a builder to create the resulting collection. The elements of the original collection are added to the builder followed by the elements of the suffix collection. This requires `N + M` builder `addOne`-calls (where `N` is the number of elements in the original col

[2018-09-02 19:43] NthPortal commented on #11105
I'm wondering if there is value in having

[code]

in order to reduce allocation over @javax-swing's suggestion. Internally, `head` is wrapped inside of a `Function0` (i.e. `() => A`); thus, calling `LazyList.unfold[() => A, S]` wraps it twice as `() => () => A`. If we added `unfoldLazy` as shown above, we could remove the need to wrap `head` twice, thus improving both performance and reducing GC.

[2018-09-02 19:44] som-snytt commented on #11112
It works when it doesn't infer `Any`. That is what changes the specificity test.

[code]
I think you didn't show what you were trying originally.

[2018-09-02 19:58] NthPortal opened #11129 "Improve documentation for scala.util.Using"
Improve documentation for `scala.util.Using`, as requested in https://github.com/scala/scala/pull/6907#pullrequestreview-144817350

[2018-09-03 07:46] odd commented on #11128
Looking some more at this it seems some implementations of `immutable.Iterable`, `immutable.Set` and `immutable.Map` are affected while others are not.

The affected ones (i.e. inheriting the slow version of `concat` from `collection.StrictOptimized[Iterable|Set|Map]Ops`) are:
* `immutable.ArraySet` (although `ArraySeq` needs to copy anyway since nothing is shared between instances even though it

[2018-09-03 08:09] #11122 closed

[2018-09-03 12:30] grindvoll opened #11130 "Potential ClassCastException when pattern matching case class within generic trait"
Using Scala 2.12.6, the following code crashes with a ClassCastException:

[code]

By removing the `Group` wrapper object, the code works as expected. It seems that the extra wrapper object somehow confuses check of the `$outer` reference check in the inner case class.

This bug is related to #9639 and Test1 in #6583. #9639 is still reported as open, but it seems to be fixed in Scala 2.12.6.

[2018-09-03 13:00] #10893 closed

[2018-09-03 19:03] #11114 closed

[2018-09-03 21:47] NthPortal opened #11131 "Update documentation for LazyList"
Update scaladocs for `LazyList`, following up on scala/collection-strawman#367, scala/scala#7000, #11307, scala/scala#7558, and probably others.

---------

A non-exhaustive list of things to document:

- [x] which methods preserve laziness, and to what degree

[2018-09-04 07:15] grindvoll commented on #11130
Just tested this case in newer Scala versions. It also fails for 2.13.0-M5. In Dotty 0.9.0-RC, it works OK.

[2018-09-04 08:33] grindvoll opened #11132 "Unexpected pattern match compile error for generic case class"
The following code fails to compile for scala 2.12.6 and 2.13.0-M5:

[code]

The compiler reports:
[code]

The code compiles by refining the type `c` from `val c: Any` to `val c: C[_]`.

(In Dotty, the result is exactly the opposite. Matching on `c: Any` works, while matching on `c: C[_]` fails.)

[2018-09-04 12:09] milessabin commented on #10035
This appears to be fixed in 2.13.0-M5.

[2018-09-04 12:52] Jasper-M commented on #10035
It still crashes the REPL for me:

[code]

[2018-09-04 15:26] joshlemer opened #11133 "Deprecate scala.sys.process.ProcessBuilder symbolic methods"
* go through https://www.scala-lang.org/api/current/scala/sys/process/ProcessBuilder.html
* add non-symbolic aliases for all the symbolic methods
* deprecate the symbolic methods
* especially required: deprecate `#>` because it may become a keyword in Scala 3 for types (https://github.com/lampepfl/dotty/issues/4712#issuecomment-401873165)

[2018-09-04 15:54] SethTisue commented on #11133
perhaps looking at Ammonite's design for their comparable API would be helpful

[2018-09-04 17:26] szeiger commented on #11065
@Ichoran You're right that `hasDefiniteSize` is not identical to `knownSize >= 0`. Would it make more sense to add concrete `hasDefiniteSize` implementations in 2.13 for compatibility instead of using the simple but not quite correct version we have now?

I don't see a reason for keeping the old semantics around In the long run. Quoting the 2.12 scaladocs:

In other words: Even though the standard

[2018-09-04 18:56] ashawley opened #11134 "Deprecate UnrolledBuffer"
Somebody brought up `scala.collection.mutable.UnrolledBuffer` in the gitter channel.  I guess there was some confusion about what it was for.

It appears that `UnrolledBuffer` is an internal-only class.  It was marked sealed in 2.12 after it was deprecated for sub-classing in 2.11.  Seems it is only needed for parallel collections, not for the collections generally.   Someone should probably confi

[2018-09-04 21:12] #11012 closed

[2018-09-04 21:13] #11100 closed

[2018-09-04 23:39] Ichoran commented on #11065
I think we should add concrete implementations of `hasDefiniteSize` for compatibility.  I am agnostic about whether we should retain the method in the long run, or simply deprecate it.  On the one hand, there isn't any other way to check for possibly unbounded collections (`knownSize < 0` doesn't mean it's possible); on the other, unbounded collections are not very common, and extending the collec

[2018-09-05 05:39] NthPortal commented on #11065
I think I'm in favour of deprecating `hasDefiniteSize` and removing it in the long run, as it has poor semantics (both in terms of what is documented and what is possible), and is also not very actionable.

Poor semantics:

- > The old contract also states that Iterator is to report it is potentially unbounded even when it is taken from a finite collection.

  This is not really a desirable proper

[2018-09-05 06:16] grindvoll commented on #11130
Another observation: By introducing a trait, the code works as expected:

[code]

[2018-09-05 07:48] igreenfield opened #11135 "Add mapWhile to the standard library"
If I want to map an iterable until some condition is met.

[code]

[2018-09-05 12:47] Jasper-M commented on #11135
I think `mapWhile` can mean 2 different, though similar, things.

[code]

[2018-09-05 13:40] igreenfield commented on #11135
The second option you mention is equal to takeWhile().map()
But the first option is not the same as: map().takeWhile() because the map will be applied to all the elements and only after the take will take affect.

[2018-09-05 13:52] Jasper-M commented on #11135
That's where iterators or views come in.

[2018-09-05 14:40] milessabin commented on #10035
Ha! Looks like I incidentally fixed it myself ... PR incoming :-D

[2018-09-05 15:18] milessabin commented on #10035
PR here: https://github.com/scala/scala/pull/7178.

[2018-09-06 00:18] NthPortal commented on #11089
There are other methods that got missed that aren't sufficiently lazy. I am in the middle of fixing them, and will try to add them to the description soon. If you find any other methods, please add them to the description as well or drop a comment.

[2018-09-06 12:34] #6317 closed

[2018-09-06 13:32] szeiger commented on #11102
I was never a fan of expecting different result types with and without `drop` because it causes unnecessary restrictions as in the example above and creates unnecessary `toSeq` calls in many other cases. My preference is to add `toSeq` whenever the type is not statically known to be `scala.Seq`, with or without `drop`.

[2018-09-06 16:33] #10765 closed

[2018-09-06 16:45] martijnhoekstra commented on #10765
close actually intended to close the issue. 👍

[2018-09-07 01:08] hrhino opened #11136 "deadly diamond of death, mixin edition"
scala/bug#10853 caused extraneous bridge methods to be generated, causing certain methods in the new collections to be unable to be marked final (otherwise, the bridge would override a final method). That was fixed in 2.13.0-M5.

Now comes a second complication:

[code]

which, on 2.13.0-M5, produces a `java.lang.VerifyError: class L overrides final method c.(I)I`.

So we still can't make them fin

[2018-09-07 07:51] adriaanm opened #11137 "Scaladoc should allow filtering html tags"
Currently, we simply pass through any html tags from source to the documentation. @xuwei-k pointed out that this could be unsafe (say, someone puts a `<script>` tag with malicious content in a scaladoc comment and it slips by PR review).

To make Scaladoc safer by default, I propose we whitelist allowed tags, and warn/error/entity-encode (on) other tags (tbd). All raw html passes through https://g

[2018-09-07 07:58] adriaanm commented on #11137
A good start for a whitelist would be: https://meta.stackexchange.com/questions/1777/what-html-tags-are-allowed-on-stack-exchange-sites (though we should add table-related ones).

Also, note that we emit diagrams/highlighted code using the Raw mechanism, so we should make sure not to break those :-)

[2018-09-07 08:04] martijnhoekstra commented on #11137
Another inspiration can be the whitelist that MediaWiki uses: https://meta.wikimedia.org/wiki/Help:HTML_in_wikitext

[2018-09-07 08:08] adriaanm commented on #11137
One place to put this logic would be here, as all raw html passes through: https://github.com/scala/scala/blob/v2.13.0-M5/src/scaladoc/scala/tools/nsc/doc/html/HtmlTags.scala#L47-L52

EDIT: actually, we should only escape in this usage of `Raw`: https://github.com/scala/scala/blob/v2.13.0-M5/src/scaladoc/scala/tools/nsc/doc/html/HtmlPage.scala#L122

[2018-09-07 08:09] NthPortal commented on #11137
It also might be worth looking at what GitHub allows in GFM

[2018-09-07 08:09] adriaanm commented on #11137
Ideally, we'd just disallow html and only use GFM in docs :-)

[2018-09-07 08:30] xuwei-k commented on #11137
That's not quite correct. Maybe almost escape html tags. see following example.

https://github.com/scala/scala/pull/7183

### source:
[code]

### generated html

<img width="344" alt="screen shot 2018-09-07 at 17 26 16" src="https://user-images.githubusercontent.com/389787/45207533-2beb2e00-b2c3-11e8-9a0e-d6f91d254ffb.png">

<img width="315" alt="screen shot 2018-09-07 at 17 25 54" src="https://u

[2018-09-07 08:41] xuwei-k commented on #11137
related scaladocs

### Manifest

`Iterable<A>` -> `Iterable`
- https://github.com/scala/scala/blob/b6af76d29d0c7b3514253889d9e4bcc209ee8412/src/library/scala/reflect/Manifest.scala#L38
- https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M5/scala/reflect/Manifest.html

<img width="573" alt="screen shot 2018-09-07 at 17 34 55" src="https://user-images.githubusercontent.com/389787/4520798

[2018-09-07 15:02] szeiger commented on #11083
My argument for `fill` to keep evaluating in order was that side-effects are the *only* way to use it, unless you want to produce equivalent values for every element. A version of `fill` that produces values in an undefined or at least difficult to know (and keep correct) order (i.e. the evaluation order) seems much less useful to me.

[2018-09-07 23:19] smarter opened #11408 "Integrate scala-java8-compat in the standard library ?"
I don't really get why https://github.com/scala/scala-java8-compat is still a separate library now that Scala is Java 8+ only. As more and more Java libraries (including the JDK itself) start taking advantages of Java 8 Optional/streams/..., using them from Scala becomes increasingly more cumbersome.

A built-in conversion between Option and Optional would be especially useful, it's not a big impl

[2018-09-08 02:30] NthPortal commented on #11131
I would love it if someone else volunteered to take this on - I would like to focus on ensuring that `LazyList` is properly lazy.

[2018-09-08 13:03] #11123 closed

[2018-09-10 01:17] retronym commented on #11125
In scala/scala-dev#557, I suggested to restore `linesIterator` as an alias for `lines`. People using that can cross build between 2.12 and 2.13.

https://github.com/retronym/scala/tree/topic/linesIterator

WDYT?

[2018-09-10 01:17] retronym commented on #11125
Marking as a blocker as it can't be done in a minor release.

[2018-09-10 02:35] SethTisue commented on #11083
hmm, that seems rather convincing, actually. @NthPortal what do you think?

[2018-09-10 04:29] NthPortal commented on #11083
I'm torn. On the one hand, the argument is convincing to me as well. On the other hand, the only side effects I've seen it used with are `Random.nextThing()`, for which the evaluation order doesn't (shouldn't) matter anyway (on the other hand, if it's random values, why would you specifically evaluate them out of order?). Additionally, the fact that it's by-name (as opposed to being a `Function0`)

[2018-09-10 05:18] NthPortal opened #11138 "Range API is weird"
The API for `Range` allows you to call `by (x: Int)` on a `Range` to change the step, which is great. It allows you to say `1 to 10 by 2`, and get all of the odd numbers from 1 to 10.

However, it also allows you to do silly things like `1 to 10 by 1 by 4 by 7 by 2`, which is just ridiculous and it really shouldn't.

Ideally, there should be two types of `Range`: one with and one without a step, w

[2018-09-10 07:41] martijnhoekstra commented on #11138
It seems kind of useful to be able to receive a range and then be able to set a step. `1 to 10 by 1 by 4 by 7 by 2` is IMO ridiculous in that there is no reason to do that (directly) not that you could if you wanted to.

Making ranges only allow you to change the range if the range was 1 (at compile time) makes no sense to me.

[2018-09-10 09:50] smarter commented on #11136
FWIW, Dotty is bug-for-bug compatible here: https://github.com/lampepfl/dotty/issues/5094 :).

[2018-09-10 11:36] hrhino commented on #11136
I'll race ya to fix it 😉.

[2018-09-10 11:39] smarter commented on #11136
I guess first we'd need to agree if this should compile or not ? The example leads me to believe it shouldn't, but can we fix the standard library to not hit this ?

[2018-09-10 11:50] hrhino commented on #11136
I've convinced myself that this shouldn't compile with the same error.

The spec says:

In the example, the linearization of `L` is (`L`, `SOSO`, `SOIO`, `AS`, `SO`, `IO`, `Object`, `Any`). So, `SO`'s `c` overrides `IO`'s `c`, and `SOIO`'s `c` overrides `SO`'s `c` (and `IO`'s). So there should be an error on that second overriding relation, since the overridden member is final.

[2018-09-10 11:55] hrhino commented on #11136
I also think that the standard library is silently doing the wrong thing here, as this implies that `List` is getting `StrictOptimizedIterableOps`'s `concat` method, not `SeqOps`'s:

[code]

So we expect `concat` to delegate to that last `appendedAll`, which has the tail-sharing optimization we've come to expect from `List`, but in fact it's getting the more general version, which doesn't.

[2018-09-10 12:26] szeiger commented on #11138
I doubt it's worth the added complexity of having two separate types.

[2018-09-10 15:00] szeiger commented on #11118
I have no reason to believe why the new implementation should be slower but I can confirm your results using a pared down version of your project that contains nothing but a modified version of ArrayIteratorBenchmarks. To make it easier to find the source of the problem and allow quick iterations I added a simplified version of ArrayOps from 2.13.x. This is on 2.12.6 with the regular implementatio

[2018-09-10 15:24] hrhino commented on #11118
Could it be that the 2.12 version caches the array's length? Since the array's type argument is unbounded, calls to `.length` need to go through the `array_length` runtime method.

[2018-09-10 15:47] szeiger commented on #11118
It looks like the main difference is specialization of `apply`. Even though 2.12 has to box into `ArrayOps.ofInt` and its `apply` method will never be called externally, internal code such as the `Iterator` implementation benefits from the specialization. Manually specializing it (like we already did for some other `ArrayOps` methods in 2.13) brings the performance numbers much closer. I'm still s

[2018-09-10 16:26] szeiger commented on #11118
Add specialization (`@specialized` + manual dispatch for the constructor is sufficient; I didn't see any improvements from manual specialization) and cache `length` and now it's consistently faster than in 2.12.6:

[code]

[2018-09-10 16:58] kaishh opened #11139 "Generates invalid TypeTag with free type variables in member types, if member types reference type parameters"
An example:

[code]

This behavior is inconsistent with current behavior of `type` declarations in defs – they fail as expected:

[code]

I think, intuitively, the code above should fail to compile – `TypeTag`s should never contain uninstantiated type variables. User shouldn't be able to take a type tag inside the class body, when variables haven't been instantiated yet, only outside with a type p

[2018-09-10 16:58] shawjef3 commented on #11118
@szeiger Great job!

[2018-09-10 18:51] veera83372 commented on #11101
What could be the potential error message ?

[2018-09-10 19:50] jameskoch2 opened #11140 "REPL completion of backquoted symbols broken"
[code]

Then type x.TAB, resulting in:

[code]

[2018-09-10 20:17] SethTisue commented on #11140
looks like the kind of thing @som-snytt can't resist

[2018-09-10 21:13] som-snytt commented on #11140
someday I'll be sitting at a divey bar and encounter those eyes that seem to look right through me.

[2018-09-11 02:07] SethTisue commented on #9076
should this still be on the 2.13.0-RC1 milestone, or shall we push it out to 2.13.x or 2.14?

[2018-09-11 03:27] som-snytt commented on #9076
Basically anything from 2015 onward has to be 2.13. Anything earlier is so intractable it must wait for the Scala 3 re-write, when all bets are off. Unless someone is betting on Scala 3? Sorry if I spoke out of turn.

[2018-09-11 03:40] joshlemer commented on #11134
I think that an UnrolledBuffer may come well in handy sometimes, though I've never used it myself.

[2018-09-11 03:46] joshlemer commented on #11128
Also, see https://github.com/scala/scala/pull/7192, where I've implemented a much much faster HashMap#concat method, which will be copied to HashSet if and when that PR is accepted

[2018-09-11 08:18] dehun opened #11141 "no warning "reference for uninitialized value" if value accessed from function"
In the next code snippet I reference `y` through method `foo` while initializing `x`. Initialization of `x` happens before initialization of `y`. I expected warning "Reference to uninitialized value". However no warning was generated in this case.

[code]

Reproduced on scastie for scala versions 2.12.4 and  2.13.0-M4.

[2018-09-11 10:04] martijnhoekstra opened #11142 "invalid main warning lies about signature"
[code]

  Reason: main method must have exact signature (Array[String])Unit

Note that the main method doesn't actually have a main method with parameter type `Array[String]`

[2018-09-11 11:34] #11118 closed

[2018-09-11 11:56] martijnhoekstra commented on #11141
Duplicate of #339 -- that is, "fixed"  by `-Xcheckinit`?

[2018-09-11 12:26] dehun commented on #11141
It is hard for me to see how #339 is related to this one.
As far as I understand `-Xcheckinit` will do a runtime check.
Which is nice, but warning during compilation time will be way more valuable for me.

[2018-09-11 12:32] martijnhoekstra commented on #11141
ugh - #399, not #339

[2018-09-11 12:33] hrhino commented on #11141
I don't think this is likely to be fixed, or worth fixing.

[code]

and suddenly you need to do pretty complicated code analysis to determine that `y` is not actually used in `foo` while initializing `x`. There are of course even more complicated examples which could come up in real code.

[2018-09-11 14:38] SethTisue commented on #11141
this has come up over and over in the past decade-plus, there have been many discussions about it, the reason nothing has been done is that it's very unclear how it could be addressed. a solution would require a SIP. if you're interested in discussing possible solution approaches, there's https://contributors.scala-lang.org for that

[2018-09-11 14:38] #11141 closed

[2018-09-11 16:49] som-snytt commented on #11140
Duplicates https://github.com/scala/bug/issues/6919

[2018-09-11 16:49] #11140 closed

[2018-09-11 16:59] som-snytt commented on #7957
Not providing backticks duplicates https://github.com/scala/bug/issues/6919

Note that modern completion doesn't suggest anything after unquoted `package`.

[2018-09-11 16:59] #7957 closed

[2018-09-12 01:02] Ichoran commented on #11134
Being sealed and/or deprecated for subclassing is not in any way a sign that a collection is for internal use only.  It means, instead, that the implementation relies upon the cooperative behavior of multiple methods and/or their interaction with internal data structures, and thus that subclassing attempts are likely to fail.  That is: _use_ the collection, but do not extend it.

That said, `Unrol

[2018-09-12 03:39] NthPortal commented on #11134
to add on to what @Ichoran said: `List` is sealed as well, and I don't think anyone is suggesting it ought to be deprecated and removed

[2018-09-12 05:05] xuwei-k commented on #11137
https://github.com/scala/scala/blob/d4a0df8d02334f2f29d8946bce5a3e3bc28d7ee9/src/scaladoc/scala/tools/nsc/doc/base/CommentFactoryBase.scala#L120-L159

[2018-09-12 06:05] joshlemer opened #11143 "Champ HashMap filter/filterNot methods should be optimized to not perform any hashes"
there is currently a test for this for the `OldHashMap` implementation, found [here](https://github.com/scala/scala/blob/2.13.x/test/files/run/t6200.scala#L33). This requirement should probably be brought forward to the new hash collections if possible

[2018-09-12 11:49] ashawley commented on #11134
There is a companion object for `UnrolledBuffer` for constructing instances of `UnrolledBuffer`, so  being marked `sealed` isn't a guard from being consumed by users.

[2018-09-12 11:56] ashawley commented on #11134
The discussion here is getting off the tracks.  The motion under review is moving `UnrolledBuffer` to parallel collections.  Going forward, hopefully the discussion can focus on that.

Admittedly, this is because I came up with a short title, "Deprecate UnrolledBuffer", but it probably should be "Move UnrolledBuffer to parallel collections".  I presumed the former would be the resolution in the co

[2018-09-12 12:37] xuwei-k commented on #10717
https://github.com/scala/scala/pull/7089

[2018-09-12 12:37] #10717 closed

[2018-09-12 12:58] Jasper-M commented on #11134
It looks like it was once moved from `parallel` to `mutable` because it's not an internal or parallel-specific collection. Its private subclass `DoublingUnrolledBuffer` however seems to exist for the parallel collections.

[2018-09-12 14:15] joshlemer commented on #11143
Also, that test should be a JUnit or scalacheck test, not a partest I reckon.

[2018-09-12 14:36] lJoublanc commented on #11101
Not sure whether this is triggered only by the aforementioned documentation
macro. If that is the case, something alluding to the fact that it's
scaladoc referring to a non-existant type parameter. But I suspect
'Position' is not specific to the scaladoc macro, and is used elsewhere?
Also the line number would be really useful - without it it's nearly
impossible to tell what triggered it.

On Mon,

[2018-09-12 16:06] smarter commented on #9076
It's indeed fixed in Dotty: https://github.com/scala/scala-dev/issues/195 :)

[2018-09-13 01:38] Atry opened #11144 "Raw string literals are not properly highlighted in code blocks in Scaladocs"
<img width="1085" alt="2018-09-13 09 34 55" src="https://user-images.githubusercontent.com/601530/45461973-64ae5b80-b738-11e8-91e5-85b36bf83193.png">

The single quoted `" Doe"` should be considered as a part of the enclosing raw string literal instead of code.

* [The Scaladoc link](https://static.javadoc.io/com.thoughtworks.dsl/dsl_2.12/1.0.0-RC19/com/thoughtworks/dsl/keywords/NullSafe.html)
* [

[2018-09-13 03:33] joshlemer commented on #11143
Actually I'll post the test here for future records, and remove the old tests anyways

[code]

[2018-09-13 07:52] ksilin opened #11145 "Include/explain iterator laziness in documentation"
The [documentation of `Iterator#map`](https://www.scala-lang.org/api/current/scala/collection/Iterator.html#map[B](f:A=%3EB):Iterator[B]) explains the lazy nature correctly, once you know about iterator laziness already. However, the implications for side-effecting applications of `map` can surprise developers new to Scala (as it did surprise me)

An aside on the implications of laziness in the [I

[2018-09-13 11:18] xuwei-k commented on #11144
- https://github.com/scala/scala/blob/v2.13.0-M5/src/scaladoc/scala/tools/nsc/doc/html/SyntaxHigh.scala#L147-L164
- https://github.com/scala/scala/blob/v2.13.0-M5/src/scaladoc/scala/tools/nsc/doc/html/SyntaxHigh.scala#L252-L254

[2018-09-13 12:12] joshlemer commented on #11143
Ditto for HashSet
[code]

[2018-09-13 12:29] joshlemer opened #11147 "immutable.HashSet#union should use structural sharing"
This will be a direct port from this PR:
https://github.com/scala/scala/pull/7192

And once it does, we should add this test in junit
[code]

[2018-09-13 12:39] joshlemer opened #11148 "immutable.HashSet#diff should use structural sharing"
And once it does so, we should test it with this JUnit test

[code]

[2018-09-13 12:43] joshlemer opened #11149 "immutable.HashSet#subsetOf should not invoke any key.hashCode()'s"
And when this is implemented, you should test it with this JUnit test

[code]

[2018-09-13 14:47] SethTisue commented on #11145
note that scala/bug is normally used for issues actionable in the scala/scala repo, but this issue is actionable over at https://github.com/scala/docs.scala-lang

[2018-09-13 15:12] #11023 closed

[2018-09-13 16:09] #11025 closed

[2018-09-13 16:37] bes1002t opened #11150 "Bind an object to ILoop"
I'm using the scala.tools.nsc.interpreter.ILoop to run REPL in my command line script. I saw that it is possible to bind an object to a IMain instance, but I can't find a way to do that with an ILoop instance.

I just wanna pass my tool context to the REPL instance so the user does not have to care about a login mechanism. If he starts my tool he is already logged in and could retrieve objects fro

[2018-09-13 18:47] som-snytt opened #11151 "REPL replay doesn't preserve power mode imports"
If it resets, since the imports are not in history.
[code]

[2018-09-13 20:05] som-snytt commented on #11150
Use the `javax.script` API to create a context for a scripted REPL. It's not obvious how you want to use the context: have the REPL run some init code? You're starting the REPL programmatically? Or you just want to pass some credentials via system properties? I'd suggest taking this up on gitter.

I don't think 2.13+ REPL will have a different mechanism for storing arbitrary context, but it should

[2018-09-13 20:14] #11150 closed

[2018-09-14 02:49] xuwei-k commented on #8782
in 2.12.6

[code]

Range.Double removed since Scala 2.13 https://github.com/scala/scala/pull/6468

[2018-09-14 02:49] #8782 closed

[2018-09-14 03:04] NthPortal commented on #10781
More bugs:

- #8782
- others?

[2018-09-14 03:29] xuwei-k opened #11152 "'(BigDecimal(1) to BigDecimal(s"1.${"0" * 32}1") by BigDecimal(s"0.${"0" * 33}1")).toList' cause infinite loop in Scala 2.13.0-M5"
I think there are two reasons.

1. [Use MathContext in BigDecimal operations](https://github.com/scala/scala/commit/ace11c068b7a0ec67b70e67da465da23277e1287)
2. [NumericRange.NumericRangeIterator](https://github.com/scala/scala/blob/465aea6695c320ea6388c2856d439b4b2521ff5d/src/library/scala/collection/immutable/NumericRange.scala#L374)

not infinite loop when `toArray` because `toArray` does not u

[2018-09-14 07:50] ksilin commented on #11145
Ah, I see. Thanks for pointing me in the right direction.  Closing in favor of https://github.com/scala/docs.scala-lang/issues/1145

[2018-09-14 07:50] #11145 closed

[2018-09-14 22:39] tIGO opened #11153 "Iteration over exhausted sub-iterator leads to NPE"
[code]
The reason is that internals of ConcatIterator [null'ed](https://github.com/scala/scala/blame/2.13.x/src/library/scala/collection/Iterator.scala#L1044) on `hasNext` method invocation, but `advance` invokes [current.hasNext](https://github.com/scala/scala/blame/2.13.x/src/library/scala/collection/Iterator.scala#L1053) without checking it for null.

Works in 2.11.8. Doesn't work in 2.12.6/2.1

[2018-09-14 23:07] SethTisue commented on #11094
relevant:
https://stackoverflow.com/a/26079667/86485

[2018-09-15 02:33] xuwei-k commented on #11125
https://github.com/scala/scala/pull/7218/files#diff-a7e7b847970727f538a3c4f0416d36b8

[2018-09-15 02:38] bmccutchon opened #11154 ":javap crashes REPL with java.lang.NoClassDefFoundError (JDK 11)"
This is completely reproducible for me and happens regardless of what `Foo` I pass to `:javap Foo` (even if it doesn't exist).

[code]

[2018-09-15 06:13] Atry opened #11155 "Cannot link to use case of type alias in Scaladoc"
[code]

[code]

[code]

<img width="796" alt="2018-09-15 14 12 23" src="https://user-images.githubusercontent.com/601530/45583272-653e2200-b8f1-11e8-8187-b6797edb7e4d.png">

[2018-09-15 06:39] plokhotnyuk opened #11157 "Stack overflow during compilation due infinity recursion in the `scala.tools.nsc.transform.ExplicitOuter$OuterPathTransformer.outerPath` method"
Here is a top of the stacktrace for scalac version is 2.12.6:

[code]

[2018-09-15 06:39] joroKr21 commented on #11154
This happened to me too and somehow `java -version` and `JAVA_HOME` were pointing to different Java versions. I didn't have time to fix it but maybe this helps you.

[2018-09-15 06:46] McBrainy commented on #11154
Nope, that's not it. I didn't have JAVA_HOME set at all. I set it to the correct location and nothing changed.

[2018-09-15 08:25] xuwei-k opened #11158 "Can't call scala.StringBuilder#length_= in 2.13.0-M5"
https://github.com/scala/scala/blob/v2.13.0-M5/src/library/scala/collection/mutable/StringBuilder.scala#L68

[code]

[code]

🤔

[2018-09-15 08:43] Jasper-M commented on #11157
Hard to say without code, but most likely a duplicate of #10035 and has a PR.

[2018-09-15 08:52] xuwei-k commented on #11154
workaround: `scala -nobootcp`

[2018-09-15 14:53] Atry opened #11159 "Regression: prepended SeqView should still be a SeqView"
`1 +: 2 +: Nil.view` compiles in Scala 2.12:
[code]

but not in Scala 2.13.0-M5

[code]

[2018-09-15 14:59] julienrf commented on #11159
I think @joshlemer has a work in progress that fixes this issue.

[2018-09-15 15:36] som-snytt commented on #11154
Wow, xuwei-k is all over the place.

I also took a look. This is the REPL class not seeing the `javax.tools` class on the platform class loader.

The tool is loaded reflectively using the REPL class loader. I'll look for the way to eliminate the warning.

[code]

[2018-09-15 21:56] joshlemer commented on #11159
This is not a problem if you don't use the symbolic operators:
[code]
But that's pretty dissatisfying. Is it worth unmarking symbolic operators as `final` to satisfy this usecase?

[2018-09-16 01:07] SethTisue commented on #11154
@retronym this looks like your dept, should we try to sneak a fix into 2.12.7, or let it go?

[2018-09-16 04:29] som-snytt commented on #11154
I may have to pop in my DVD of "Frozen" now.

[2018-09-16 12:45] xuwei-k commented on #10908
😱

[code]

[2018-09-16 14:59] joshlemer opened #11160 "{LazyList, immutable.BitSet} builder may continue modifying previously-released LazyLists"
[code]

[code]

[2018-09-16 17:42] joroKr21 commented on #10908
LUB of F-bounded types with refinement = :scream:
<details>
<summary>scala> println(lub(typeOf[LazyList[Int]] :: typeOf[Vector[Int]] :: Nil))</summary>
scala.collection.immutable.AbstractSeq[Int]{def iterableFactory: scala.collection.SeqFactory[[A]scala.collection.immutable.AbstractSeq[A]{def reverse: scala.collection.immutable.AbstractSeq[A]; def prependedAll[B >: A](prefix: IterableOnce[B]): sca

[2018-09-16 18:09] joroKr21 commented on #10908
I guess all those methods in the refinement come from `SeqOps`. If we remove `AbstractSeq` we get just `Seq[Int]` because `Seq[+A] extends SeqOps[A, Seq, Seq[A]]`. But it's not possible to have `AbstractSeq[+A] extends SeqOps[A, AbstractSeq, AbstractSeq[A]]` :thinking:

[2018-09-16 18:33] joroKr21 commented on #10908
How about having `trait TheOneAndOnlyAbstractSeq[+A] extends AbstractSeq[A] with SeqOps[A, TheOneAndOnlyAbstractSeq, TheOneAndOnlyAbstractSeq[A]]`? Would this nullify the class size benefits of `AbstractSeq`?

[2018-09-16 20:15] NthPortal commented on #11083
Reopening this issue to return `fill` and `continually` to less lazy semantics

[2018-09-16 22:07] NthPortal commented on #11160
`LazyList` calls `mapResult` off of `ArrayBuffer.newBuilder`, so the problem would seem to lie there

[2018-09-16 22:39] joshlemer commented on #11160
@Ichoran do you have an opinion on what the behavior here should be? From the existence of `ReusableBuilder` it seems implied that regular builders are not reusable, and so adding elements to Builders after `result()` is a violation of its contract. But then, what is the correct behaviour? Throw exception, or do nothing?

[2018-09-17 03:56] SethTisue commented on #11155
broader thought: should we be using `@usecase` at all anymore in 2.13...? maybe we should deprecate it for 2.13.0-RC1?

[2018-09-17 04:02] SethTisue commented on #11158
what's the underlying cause?

[2018-09-17 05:15] retronym commented on #11154
We could certainly do with a better error message when the `scala` is started without `-nobootcp` and `java.lang.NoClassDefFoundError: javax/tools/JavaFileManager` is raised.

The illegal reflective access warning would require another command line option:

[code]

Not sure how to automate the addition of this in a low-risk manner.

It _might_ be possible to reflectively load a new `ModuleLayer` w

[2018-09-17 11:07] xuwei-k commented on #11160
- https://github.com/scala/scala/blob/9bfd7d82c277aefa1fe987724f445a5d2d6a53a1/src/library/scala/collection/immutable/BitSet.scala#L91
- https://github.com/scala/scala/blob/9bfd7d82c277aefa1fe987724f445a5d2d6a53a1/src/library/scala/collection/immutable/BitSet.scala#L95-L116

use `fromBitMask` instead of `fromBitMaskNoCopy` ? 🤔

[2018-09-17 11:25] janekdb opened #11161 "Support escaping inline pipe symbols in Scaladoc Tables"
Allow escaping Scaladoc table cell delimiter

Interpret \| as content instead of cell delimiter following the GitHub
Flavored Markdown Table Extension spec.

For example this markdown should define a 2 column table,

[code]

[code]
Instead the escaped pipes are parsed as cell delimiters.

[2018-09-17 11:29] xuwei-k commented on #11158
minimal reproduce example:

### CharSeqJava.java

[code]

### Main.scala

[code]

[2018-09-17 11:33] xuwei-k commented on #11158
Should we swap mixin order? 🤔

- https://github.com/scala/scala/blob/v2.12.6/src/library/scala/collection/mutable/StringBuilder.scala#L31-L37
- https://github.com/scala/scala/blob/v2.13.0-M5/src/library/scala/collection/mutable/StringBuilder.scala#L30-L34

[code]

[2018-09-17 14:02] Jasper-M commented on #11158
I think we should.

[2018-09-18 09:37] adriaanm commented on #7994
@lrytz did this end up getting verified as fixed?

[2018-09-18 13:58] #11153 closed

[2018-09-18 14:01] adriaanm commented on #7994
It doesn't crash, at least. I'll leave it open in case `null` was not the expected result for the declaring class..
[code]

[2018-09-18 14:55] gzoller opened #11162 "(2.12.6) error during expansion of this match (this is a scalac bug)"
I receive this error message in multiple places in my code.  I've included a snip here, compiled against 2.12.6.  Also tried 2.12.4 and saw the same problem.

For full effect clone and build https://github.com/gzoller/ScalaJack on branch feature/v7_staging

[code]

[2018-09-18 16:05] som-snytt commented on #11154
Besides running javap, I meant to follow up after Lukas said he prefers asm for this; I was thinking of a generic `:print` with flavors for both.

[2018-09-18 17:57] gzoller commented on #11162
Narrowed the problem.  If I compile against 2.12.3 my code compiles with no problems.  Building the same code against 2.12.4+ produces these match errors.  Did something change?

[2018-09-18 19:55] SethTisue commented on #11153
2.12.x backport https://github.com/scala/scala/pull/7227

[2018-09-18 19:57] SethTisue commented on #11162
can the bug be demonstrated with a minimized piece of standalone (no dependencies) code?

[2018-09-18 22:09] gzoller commented on #11162
Surely.  Check this out:  https://github.com/gzoller/scalabug

It's a minimal project with no external dependencies and complexity reduced to a minimal level.

It compiles and runs fine under Scala 2.12.3, but not 2.12.4+.

[2018-09-18 22:29] hrhino commented on #11162
`git bisect` blames scala/scala@5197256b44f34fa50ed468954d0bfb3bc469477d.

[2018-09-18 22:51] hrhino commented on #11162
Minimized even more:
[code]

[2018-09-19 01:43] SethTisue commented on #10959
@aryairani is this fixed in Scala 2.12.7-bin-f2129b9, which is our current 2.12.7 release candidate? it's available via `resolvers += "scala-integration" at "https://scala-ci.typesafe.com/artifactory/scala-integration/"`

[2018-09-19 06:47] #11149 closed

[2018-09-19 15:37] xuwei-k opened #11163 "NumericRange[BigDecimal]#sum throw ClassCastException"
### latest Scala 2.13.x

- https://github.com/scala/scala/blob/3826f6e5acbefeb322bf8dcf687fb13e81f1b5c5/src/library/scala/collection/immutable/NumericRange.scala#L185-L189
- https://github.com/scala/scala/blob/3826f6e5acbefeb322bf8dcf687fb13e81f1b5c5/src/library/scala/math/Numeric.scala#L163-L187

[code]

### Scala 2.12.6

- https://github.com/scala/scala/blob/v2.12.6/src/library/scala/collection/

[2018-09-20 02:16] SethTisue commented on #11125
`.linesIterator` cross-compiles, but gives a deprecation warning. a workaround that cross-compiles but involves nothing deprecated is `.linesWithSeparators.map(_.stripLineEnd)`. (I know: yuck.)

[2018-09-20 02:46] joshlemer opened #11164 "Investigate potential alternative data structures for `s.c.i.HashCollision{Map,Set}Node`"
Currently HashMapCollisionNodes use an underlying `Vector[(K, V)]` to represent a hash collision bucket. However, we can probably achieve better performance using a mutable data structure, which the builder can take advantage of during a build phase.
The properties we are looking for are:
* Very small memory overhead, there should not be big wasted space i.e. in the case of an `ArrayBuffer`
* Shou

[2018-09-20 03:34] SethTisue commented on #11125
(in the workaround ugliness-level sweepstakes, adding `Predef.augmentString("")` beats mine on fewer characters, but loses on not being insertable in the middle of a chain of method calls)

[2018-09-20 13:09] diesalbla commented on #9151
@ochafik @SethTisue I have news on this issue. I have copied the code example into a `pos` example, and I have run it with the `partest`, using the current version of `2.13.x`, to wit, [this commit](https://github.com/scala/scala/commit/35f71fa3ef83f5ec894467c13df98cba7a99547f). The code  successfully compiles, although it takes 8.24 seconds to do so, which may not be a reasonable time.

Details f

[2018-09-20 15:01] diesalbla commented on #10156
I have checked out the version `2.12.4`, and tested the following code, added to a `neg` test file.

[code]
Running this with `partest test/files/pos/t10156.scala` no longer gives a `StackOverflow`, but with a compiler error. It would seem that this bug has been solved since at least version `2.12.4`.

[2018-09-20 19:35] m-sp commented on #10403
I think this can be closed now @janekdb ?

[2018-09-20 19:37] #10403 closed

[2018-09-20 23:55] SethTisue commented on #11125
note that it isn't safe to rely on the compiler to catch bad uses of `.lines`, you want to search your source code and find all of them

often the compiler will catch it, e.g. `s.lines.toVector` fails to compile because Java's `Stream` doesn't have `toVector`

but more devious is something like `s.lines.filter(...) == ...`. Java's `Stream` has filter, and `==` isn't typesafe, so if you're lucky yo

[2018-09-21 00:26] SethTisue commented on #11125
gah, we removed `.linesIterator` entirely from 2.13. so `.linesIterator` won't become a cross-buildable alternative until we bring it back in 2.13.0-RC1 😢

it's okay though, `Predef.augmentString(...).lines` is fine. I'm just annoyed that I forgot about the removal in 2.13.

[2018-09-21 02:18] SethTisue commented on #11152
it's been a long day. I seem to have pushed a number of commits to various repos referencing "11152" (this bug) that should have referenced scala/bug#11125. sigh