[2020-02-23 04:51] som-snytt commented on #11892
The comment says:
[code]
I wonder what it means.

https://github.com/scala/scala/blob/2.13.x/src/compiler/scala/tools/nsc/transform/SpecializeTypes.scala#L862

[2020-02-24 03:12] soronpo opened #11895 "False shadowing deprecation warning from #8353"
The following code emits a class shadowing deprecation warning where none exists (AFAIK).
This code compiles in dotty 0.22.0-RC1 without any warnings.
[code]

[2020-02-24 03:13] soronpo commented on #8353
This PR causes a false class shadowing warning.
https://github.com/scala/bug/issues/11895

[2020-02-24 09:42] lrytz commented on #11895
Thanks for testing the snapshot!

[2020-02-24 10:05] #11890 closed

[2020-02-24 12:45] lrytz commented on #11888
Adding a few type aliases to Predef would be binary compatible.

[2020-02-24 13:20] #5507 closed

[2020-02-24 14:49] OndrejSpanel opened #11896 "Wrong ScalaDoc for TypeApi members and decls regarding sorted"
Scala 2.12.10 and 2.13.1 for both Types.TypeApi decls and members mentions `declarations.sorted`.

See also https://www.scala-lang.org/api/current/scala-reflect/scala/reflect/api/Types$TypeApi.html#decls:Types.this.MemberScope

[code]

[code]

It should be *Use `decls.sorted`* and *Use `members.sorted`* instead.

[2020-02-24 18:15] som-snytt commented on #11894
This is a bit tricky, in that `get` does respect `null` value as existing, but `putIfAbsent` in the Java API does not, i.e., an existing `null` value is treated as absent.

I'm not an expert, but the Java API is uniform in treating `null` as absent.

I like the size check trick, if size is cheap.

I think it's necessarily true that some code somewhere relies on the current behavior.

[2020-02-25 03:17] som-snytt commented on #11895
I'll spend a few minutes this evening, as I'm also interested in https://github.com/scala/bug/issues/8121 false warning.

[2020-02-25 04:43] som-snytt opened #11897 "A problem of no import"
[code]
It was deemed useful to `import Predef.{toString => _}` to disable the root import for the current compilation unit.

[2020-02-25 08:25] som-snytt commented on #11895
Are type members allowed to shadow nested classes in parents? That seems like cheating.

[2020-02-25 08:45] Jasper-M commented on #11895
This is some weird stuff.

[code]

[2020-02-25 08:57] #9076 closed

[2020-02-25 10:34] #11639 closed

[2020-02-25 10:34] #11657 closed

[2020-02-25 11:11] #11897 closed

[2020-02-25 15:05] #11895 closed

[2020-02-25 21:12] adamgfraser opened #11898 "Type Inference Issue with Compound Types"
[code]

[2020-02-25 21:22] som-snytt opened #11899 "Abstract type alias is considered syntax-incomplete in REPL"
SO noticed:
[code]
SO else noticed that on the first line of input only, it dumps you into interactive mode (same on 2.12):
[code]

[2020-02-25 21:24] som-snytt commented on #11899
https://stackoverflow.com/questions/60402306/why-does-scala-evaluate-a-type-alias-when-it-has-a-line-break-and-no-equals-sign/60402568#60402568

[2020-02-25 21:27] som-snytt commented on #11899
The handler should print `declared abstract type alias` or something helpful.

[2020-02-25 21:31] SethTisue commented on #11899
I'm getting that Som-is-already-working-on-a-PR-with-a-fix vibe, here

[2020-02-25 21:34] som-snytt commented on #11899
I have to restore the comment I deleted at some point:
[code]

[2020-02-25 22:13] SethTisue commented on #11899
À la recherche du Som perdu

[2020-02-25 22:50] ansvonwa commented on #11894
This is only true for the concrete _concurrent_ implementations in Java. The _non-concurrent_ ones can hold `null`-values and there is nothing that prevents you from implementing a `juc.ConcurrentMap` that also can hold `null`s (it is even mentioned explicitly in the doc).

It is. I am just a little worried that concurrent modifications (for example by the GC in WeakHashMap) between the `size`-cal

[2020-02-26 00:19] som-snytt commented on #11894
I meant to say, for example, `Map#computeIfAbsent` says, "If the specified key is not already associated with a value (or is mapped to null), attempts to compute its value using the given mapping function and enters it into this map unless null." So, mapped to null means the same as absent.

[2020-02-26 07:37] joroKr21 commented on #11898
That sounds like an artifact of the typechecking algorithm:
  * there is no backtracking
  * type variable constraints are accumulated during subtyping checks
  * It doesn't zip parents of refined types and try to match them somehow but it goes left to right:
    - `ZLayer[Has[A0] with Has[A1], Nothing, Has[B]] <:< ZLayer[Has[A] with Has[B], Nothing, Has[C]]`
    - `Has[A] with Has[B] <:< Has[A0]

[2020-02-26 08:04] som-snytt commented on #10323
Name binding should be respected with respect to the snippet, perhaps:

[code]
`X` should mean the object and not the def.

Currently, the statements are taken separately: the import is taken to satisfy the user reference, and the object is imported to satisfy the import's reference; they are generated at differing depths, and are ambiguous because the object is imported by name.

[2020-02-26 11:23] hrhino commented on #11898
That sounds about right -- there's no reason that `A` isn't a valid instantiation for `A0` _and_ `A1`.

[code]
is only slighly more verbose (and you could kinda-curry the `C` type parameter if you wanted).

[2020-02-26 11:26] adamgfraser commented on #11898
I agree that specifying the type parameters is not that bad, but what is really strange to me is that if I use an intermediate value it also works:

[code]

If I don't provide any information about the expected type it infers the return type as `ZLayer[Has[A] with Has[B], Nothing, Has[C]` so how does telling it the expected return type, which is the same as what would be inferred anyway, prevent i

[2020-02-26 11:37] joroKr21 commented on #11898
You are still specifying the argument types explicitly and only `C` is inferred.

[2020-02-26 11:41] hrhino commented on #11898
Because Scala's being "helpful" here and trying to use the expected type (derived from the declared result type) to guide type inference, outside-in. If you have no expected type then it has to go inside-out, by typing the argument to `fromServices` and then seeing what that required `A0` and `A1` to be instantiated as.

[2020-02-26 12:34] smarter commented on #11898
It's a combination of several things:
1. if you have an expected type, it will be used to guide type inference
2. Type inference then needs to get `Has[A] with Has[B] <:< Has[?A0] with Has[?A1]` to typecheck, and at this point there's multiple subtyping rules that can be applied that will lead to a different solution, it so happens that the implementation will choose the solution `?A0 := A; ?A1 :=

[2020-02-26 12:39] joroKr21 commented on #11898
You could achieve the same effect by specifying a type alias for `type |[+A, +B] = A with B` and then:
`ZLayer[Has[A] | Has[B], Nothing, C]`

But beware, it's a leaky abstraction: #10506

[2020-02-26 12:42] smarter commented on #11898
Yeah, that's why I put the type alias at the top-level, because that ensures we'll compare the aliases first, before any dealiasing.

[2020-02-26 15:39] adamgfraser commented on #11898
@smarter Thank you! That is an interesting suggestion. Shall we close this issue then?

[2020-02-26 21:57] som-snytt commented on #8176
[code]

[2020-02-27 14:26] #11831 closed

[2020-02-28 13:15] #11899 closed

[2020-02-29 03:31] hrhino commented on #10318
I vote for this being Not-A-Bug, since [the spec says](https://scala-lang.org/files/archive/spec/2.13/08-pattern-matching.html#extractor-patterns):

[code]

and `Lit` isn't a `StableId`.

[2020-02-29 11:20] SethTisue commented on #10318
agree

[2020-02-29 12:58] som-snytt commented on #11437
@SethTisue thanks for mentioning the doti status. I still think we need a `f--d in doti` label.

I came across it because I thought you had created an issue for default var init.

[2020-03-01 00:16] SethTisue commented on #6623
so this is fixed for 2.12.11 but only under non-default settings, but fixed for 2.13.2 under default settings?

[2020-03-01 00:28] SethTisue commented on #6623
actually, is it even fixed at all? am I missing something?

[code]

[2020-03-01 00:50] #10318 closed

[2020-03-01 01:14] hrhino commented on #7281
It's too late for that, too.

[2020-03-01 01:31] som-snytt commented on #6623
@SethTisue you need a lightbend subscription to get the sbt ScalaOptionParser support.

[2020-03-01 07:34] SethTisue commented on #7281
I wonder what the use case for "recognize value classes at runtime" even is. Judging from how little attention this ticket has attracted, maybe it's rare-to-nonexistent to want or need to do it.

[2020-03-01 15:14] dwijnand commented on #6623
Maybe it's fairer to not call this one fixed.  The "magic" import option gets rid of the increased nesting, but we still nest things and try to pretend we don't.

[2020-03-01 15:34] som-snytt commented on #6623
Actually instead of filtering all output, the feedback output should echo the user input (not showing wrapping). Wrapping should be visible otherwise, in `:type` and `toString`, etc.

[2020-03-01 16:07] SethTisue commented on #6623
hehe, I suppose I should have mentioned that I had to add it to ScalaOptionParser to even do that

[2020-03-01 20:35] poslegm opened #11900 "Trailing commas in function bodies and constructors"
Hello! Scala compiler allows trailing comma in the lambda body, function body and constructors. Is it bug or correct behavior? Looks a little weird.

In a [SIP-27](https://docs.scala-lang.org/sips/trailing-commas.html) I've read:

Is function bodies comma-separated elements?

## reproduction steps

[code]

## problem

Code compiles

## expectation

Code doesn't compile

Related https://github.com/

[2020-03-01 22:14] som-snytt commented on #11900
I just noticed this, too, and also consulted the docs and commit. The implementation is just in the scanner: COMMA, NL, RBRACE will ignore the COMMA. That is as opposed to emitting an IGNORABLE_COMMA which the parser could selectively ignore.

There was a recent fix for `type T,` which is tricky to observe in Scala 2, but Scala 3 still accepts a top-level `type T,` at EOF. (PR forthcoming.)

[2020-03-02 08:45] #7281 closed

[2020-03-02 09:14] #9908 closed

[2020-03-02 09:14] lrytz commented on #9908
https://github.com/scala/scala/pull/8770

[2020-03-02 10:54] odersky commented on #11888
I think it was pretty much random. We cannot put all annotations in `scala` or `Predef`, that would pollute top-level namespaces too much. So some annotations ended up in `scala` and some in `scala.annotation`.

I have a proposal to fix this at the root, rather than fiddling with some individual annotations: https://github.com/lampepfl/dotty/issues/8419

[2020-03-03 12:24] #3220 closed

[2020-03-03 12:24] Jasper-M commented on #10318
Is this a bug then?

[code]

[2020-03-03 16:37] smarter opened #11901 "SerialVersionUID on a trait does nothing and therefore should be disallowed"
## reproduction steps

[code]

## problem

This compiles, but the annotation doesn't actually do anything (and it can't do anything since we can't add a static field to an interface)

## expectation

This should emit an error, like https://github.com/lampepfl/dotty/pull/8429

[2020-03-03 16:49] chuchao333 commented on #11901
I am going to work on this one, will try to get a PR up soon. Thanks

[2020-03-03 18:25] som-snytt commented on #11901
For your consideration:

[code]
I acknowledge that smarter folks like smarter don't use linters.

[2020-03-03 18:30] som-snytt commented on #11901
Also, shout out to whoever made that sweet bug report template. @eed3si9n

[2020-03-03 18:34] som-snytt commented on #11900
Quick acknowledgement of @dwijnand test case:
[code]
which I think will happen never, even in the universe where the monkeys type out the complete works of Shakespeare AND Borges's story about Pierre Menard AND Menard's complete works.

[2020-03-03 19:03] smarter commented on #11901
Ah, it's hidden behind a lint flag, weird. I guess that's intentional so this can be closed.

[2020-03-03 19:03] #11901 closed

[2020-03-03 19:11] som-snytt commented on #11901
Maybe duplicate of "use -Xlint -Werror by default".

[2020-03-03 20:01] neko-kai commented on #11900
@som-snytt ur wrong that's my code

[2020-03-03 20:33] som-snytt commented on #11900
@neko-kai kudos to you! or neko-kai-kudos.

[2020-03-03 20:39] OlegYch commented on #11900
i claim that code as well

[2020-03-03 20:41] Jasper-M commented on #11900
It was my code

[2020-03-03 20:41] SethTisue commented on #11900
*I'm* Spartacus!

[2020-03-03 20:42] SethTisue commented on #11901
excellent warriors use xlint werror

[2020-03-03 20:47] som-snytt commented on #11900
Now I'm not sure if I'm in the universe where the monkeys type comments responding to what the monkeys typed in the other universe.

[2020-03-03 20:56] som-snytt commented on #11901
I will pay for that t-shirt, it doesn't even have to be a Scala Spree freebie.

Maybe on the back it could pun on "worrier".

[2020-03-03 23:11] som-snytt commented on #11901
The behavior https://github.com/scala/scala/pull/6174

The flag https://github.com/scala/scala/pull/6886

It looks like the flag was introduced to reduce noise? There is minimal discussion about whether the lint flag reduces effectiveness.

Maybe just making it an error is more effective.

[2020-03-04 07:13] dwijnand commented on #11901
I'm painting it on my Wall.

[2020-03-04 14:57] #10773 closed

[2020-03-05 12:31] SethTisue opened #12269 "JLine 3: handle `.inputrc`?"
at https://github.com/scala/scala/pull/8036#discussion_r317896657 , @retronym wrote:

[code]

[2020-03-05 16:11] Jasper-M opened #11902 "unchecked warnings in REPL of recent 2.13.x build"
[code]

Those warnings weren't there in 2.13.1.

[2020-03-05 16:51] dwijnand commented on #11902
Same as #11534? (via @smarter)

[2020-03-05 16:55] som-snytt commented on #11902
Since my neologism was missed on gitter:

[2020-03-06 08:57] SethTisue opened #12267 "JLine 3: Support camel-cased, acronym-style completion as previously"
for example, previously `System.rFOE` would complete to `System.runFinalizersOnExit`, but it doesn't anymore

[2020-03-06 13:37] smanikim opened #11903 "Await.result keeps waiting for already completed awaitable"
## reproduction steps
Seems like not ideal scenario, But I am not able to repro at wish. Some race condition in some scenario seem to govern this.

## problem
I do believe that for very small duration awaitable, Await.result(awaitable, Duration.someDuration) keep running forever and time out after mentioned duration. I am not able to reproduce it in UT somehow to add it but I have observed it in p

[2020-03-06 21:18] rachitnigam opened #11904 "Infinite loop/compiler crash with Dotty 0.22.0-RC1"
## reproduction steps

Running the following program crashes the compiler with `java.lang.OutOfMemoryError`.

[code]

## problem

I was trying to implement an parametric AST where the `Term` enum can be parameterized with a type `T` used to recursively build well-typed terms (so a `Term[Type]` can only contain other `Term[Type]`) and a "Tag" `K`.

On changing the program to not have `K` (note the

[2020-03-07 09:58] SethTisue commented on #11904
@smarter can you transfer this to lampepfl/dotty?

[2020-03-07 13:14] smarter commented on #11904
Nope.

https://help.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

[2020-03-07 13:14] smarter commented on #11904
@rachitnigam Please reopen your issue on https://github.com/lampepfl/dotty/issues

[2020-03-07 13:14] #11904 closed

[2020-03-07 16:36] LorenzoCC commented on #11709
I will look into this.

[2020-03-08 02:44] som-snytt commented on #11903
I'm not sure there is enough information to be actionable.

There is [a check for completion](https://github.com/scala/scala/blob/2.12.x/src/library/scala/concurrent/impl/Promise.scala#L235); in 2.13, the short-circuit [is earlier](https://github.com/scala/scala/pull/7768).

In the event of a race between a completing thread and an awaiter, the awaiter sees either a result or the listeners it will

[2020-03-08 13:45] smanikim commented on #11903
Yeah, I saw the [check for completion](https://github.com/scala/scala/blob/2.12.x/src/library/scala/concurrent/impl/Promise.scala#L235) .
ExecutionContext has threads equal to (number of cores  + 1)     and queue (number of cores * 100).

There is single awaiter for one [Future.sequence] (https://github.com/scala/scala/blob/2.12.x/src/library/scala/concurrent/Future.scala#L669). There are many suc

[2020-03-09 10:19] viktorklang commented on #11903
@smanikim What EC are you using?

[2020-03-09 13:27] SethTisue commented on #7934
:squirrel: https://github.com/scala/scala/pull/8373

[2020-03-09 13:27] #7934 closed

[2020-03-09 20:28] SethTisue opened #12266 "JLine 3: restore behavior: "You typed two blank lines. Starting a new command."?"
this no longer triggers, but there's less need for it now that we have multiline editing, so not a blocker ... I think?

[2020-03-09 22:20] ritschwumm commented on #11903
this sounds a lot like an issue i recently saw in one of our tests (scala 2.12.10).
i'm a bit hazy on the details, but iirc the future we were awaiting was in fact a Future.successful and the EC was the global one.
there was a twist, though: if the call t Await.result was inside an extension method on Future taking the EC as an implicit parameter, the code hung until the timeout of 5 seconds. stra

[2020-03-09 22:48] viktorklang commented on #11903
@ritschwumm Sounds like an initializer issue. If the initializer lock of one calls submits something else to execute on another thread, which accesses something which is being initialized in the first thread, and especially if the first awaits the completion of the other, you've got a deadly embrace situation happening.

[2020-03-10 14:54] frosforever opened #11905 "Regression trouble inferring type of java wildcard in 2.12.10"
## reproduction steps

Using the dependency: `"io.grpc" % "grpc-core" % "1.18.0"`, the following code fails to compile in `2.12.10` and `2.13.1` but compiles just fine in `2.11.12`

[code]

## problem
Fails with:
[code]

## expectation
This compiles fine in `2.11.12`. It also compiles if `Test` is an `object` instead of a `trait`. From what I can tell, this was also an issue in `2.10` that got fix

[2020-03-10 16:10] joostheijkoop opened #11906 "Strange error message when trying to override a val and calling super on the overriden val (2.13.1)"
## reproduction steps

use scala 2.13.1 or https://scalafiddle.io/sf/bSB8JgJ/3 (though in scala fiddle the `<none>` is left off) and try to compile this:

[code]

## problem

The message is not very helpful and seems incomplete:

[code]

The `lazy` property seems to trigger the least informative message.

## expectation

a more informative complete error message, that explains what is and is not a

[2020-03-10 16:13] #9576 closed

[2020-03-11 08:23] smanikim commented on #11903
@viktorklang I use custom EC which is created using scala.concurrent.ExecutionContext#fromExecutor for creating future. We use one more custom EC for Future.sequence. This seq is actually passed to Await.result.

[2020-03-11 08:59] rjolly commented on #11754
I confirm 2.12.10 is impacted as well, it breaks the scripting engine.
`jrunscript -classpath lib\scala-compiler-2.12.9.jar;lib\scala-reflect-2.12.9.jar;lib\scala-library-2.12.9.jar -Djava.class.path=lib\scala-library-2.12.9.jar -l scala
scala> "hello world"
hello world
scala>

jrunscript -classpath lib\scala-compiler-2.12.10.jar;lib\scala-reflect-2.12.10.jar;lib\scala-library-2.12.10.jar -Djava.c

[2020-03-11 09:36] som-snytt commented on #11906
Regressed in 2.12.0, perhaps because of fields?

Quick PR for lazy, which is an accessor without an accessed; and also augment the explanation.

doti is still terse.

[2020-03-11 10:10] #11902 closed

[2020-03-11 19:51] viktorklang commented on #11903
If you supply your own Executor then you also need to implement
BlockContext support yourself—so I expect that to cause your issue, unless
you can reproduce using EC.global

[2020-03-11 23:32] ritschwumm commented on #11903
thanks @viktorklang - as this was inside a test class which inherts a lot of "interesting" stuff that might very well be the case. probably more likely than it having to do anything with this issue.

[2020-03-12 01:50] som-snytt commented on #11903
Do we need a diagnostic "thread dump on timeout"?

[2020-03-12 05:35] smanikim commented on #11903
@viktorklang in my case, my custom thread pool is running lot below capacity. If I understand correctly, blockContext will help me with more threads  (depending on maxExtraThreads) if I have more tasks concurrently than pool capacity. But In my case, I am not even using 10% of my pool capacity and plus there is no queue on my threadpool. Lemme check further to see more differences.

@som-snytt I c

[2020-03-12 09:23] SethTisue commented on #11903
I’m closing since it’s far from clear there is any Scala bug involved here. feel free to continue discussing; we can reopen if a Scala issue can be identified

[2020-03-12 09:23] #11903 closed

[2020-03-12 10:55] smanikim commented on #11903
@SethTisue I am not sure how to prove it as I am not able to produce it in UT. But in other case, I would need help to prove otherwise.

[2020-03-12 12:33] #11906 closed

[2020-03-12 21:39] som-snytt commented on #11758
They have `@nowarn` suppression now.

[2020-03-13 15:33] smanikim commented on #11903
FWIW, moving to java CompletableFuture helped fixing the issue

[2020-03-13 15:53] viktorklang commented on #11903
@smanikim Could you share a gist of the Scala reproducer and a contrast to what your CompletableFuture solution looks like?

[2020-03-13 19:41] #11859 closed

[2020-03-13 23:58] som-snytt opened #11907 "New parameter type inference induces regression"
## reproduction steps

[code]

## problem

[code]

## expectation

By commenting out the `apply` method, overload resolution proceeds as expected.

Explicitly annotating `t.g[Y](this)` also works around the behavior.

Maybe if assisted type inference ("higher-order function type parameter inference") fails during overload resolution, it could fall back to the old behavior and type check with unexp

[2020-03-14 00:06] som-snytt commented on #11907
https://stackoverflow.com/questions/60677577/why-scalac-gets-confused-my-sam-type-not-implementing-function-when-it-overloads/

[2020-03-14 14:33] joroKr21 commented on #10507
Same issue with macros. The problem is that the trees don't have a position and the logic that checks for preceding constructor definition relies on positions.

[2020-03-16 07:21] smanikim commented on #11903
@viktorklang Below is my summary

Scala one:-  I iterate over a collection and get some future. These futures use 2 different type of execution context. Later, I use Future.sequence on these using some other EC and Await.result on these.

Java one:-  I iterate over a collection and get some CompletableFuture. These futures use 2 different type of execution context. Later, I use  CompletableFuture.

[2020-03-16 08:02] dwijnand commented on #11700
Note this workaround suffers from the risk of inferring `Nothing` and those hitting `java.lang.ClassCastException: Foo cannot be cast to scala.runtime.Nothing$`.

[2020-03-16 11:32] viktorklang commented on #11903
@smanikim Can you make the examples runnable? (so we can try them out locally)

[2020-03-16 11:51] xuwei-k opened #11908 "scala.tools.nsc.javac.JavaParsers can't parse JDK14 records"
## reproduction steps

https://openjdk.java.net/jeps/359

https://github.com/scala/scala/blob/a20345d2380dfc63ff0aa41d4ab97b538a9f74a7/src/compiler/scala/tools/nsc/javac/JavaParsers.scala#L874

[code]

build.sbt

[code]

A.java

[code]

B.scala

[code]

sbt version 1.3.8

## problem

[code]

## expectation

no error.

## workaround

[code]

[2020-03-16 14:01] smanikim commented on #11903
Runnable has simple logic. runnable calls intersection on some set and just return it. somelike

def fn(in: Set[Int]) = {
store.intersect(in)
}

where store could be in memory or database depending on recency of data.

[2020-03-16 14:04] smanikim commented on #11903
something funny is if we enable debug in fn, error goes away. debug does't do anything but just print count of intersected items

[2020-03-16 14:39] melezov opened #11909 "Compiler crashes on incomplete partially applied function type signature"
Reproducible on 2.12.10 and 2.13.1 (edit: reproducible with 2.12.11 too)
[code]

[2020-03-17 14:20] noresttherein opened #11910 "Type constructor V parameterized with a type A including a member type T does not resolve T when parameterized with a concrete subtype of A"
## reproduction steps

[code]

## problem

[code]

## expectation
typer should(?) resolve A#T forSome { type A = a.type } to a.type#T => a.T => N

[2020-03-17 14:30] joroKr21 commented on #11910
That might be a bug but `A <: AssemblerT[_]` makes no sense in this example - you can just use `A <: Assembler`. In case you need a workaround.

[2020-03-17 15:27] noresttherein commented on #11910
`Assembler { type T = t } forSome { type T = t }` very much _isn't_ the same as `Assembler`.
This is a very stripped down example for the described issue, but there are many constructs which compile with one of the above and not the other and vice versa. My guess (at least intention behind experimenting with many variants of the above) is that the former is a subtype of `Assembler` which has a def

[2020-03-17 18:03] SethTisue commented on #11910
in Dotty,

[code]

since projections on abstract types aren't allowed anymore

[2020-03-17 18:14] SethTisue commented on #11910
@noresttherein can you detail your argument for believing that the compiler should consider `component(a).get` to conform to type `N`? I'm not able to reconstruct your thinking here.

[2020-03-18 02:08] tkawachi opened #11911 "Wide NumericRange#isEmpty throws an IllegalArgumentException"
Current implementation of `isEmpty` uses `length` method which throws an Exception.

## reproduction steps

[code]

## problem

[code]

## expectation

[code]

[2020-03-18 06:44] noresttherein commented on #11910
As I said, I may be completely wrong because I don't know the exact algorithm the typer uses to unify abstract type terms with type parameters of the argument, particularly when a type is 'fixed' as some abstact type `_$1` and not unified further as in the example.

My understanding was that as `a :AssemblerT[N]` and `a.type =:= N`, then as seen from `Values[a.type]`, `A =:= a.type` and, after par

[2020-03-18 06:52] joroKr21 commented on #11910
I'm not sure TBH. What you're saying makes sense, but we have to check the details (I haven't yet). Just wanted to say that abstract type members are semantically equivalent to existential types and in fact dotty is removing existential types without losing much expressivity because we can still use abstract type members.

Is there anything in your original code that prevents you from just using a

[2020-03-18 07:22] joroKr21 commented on #11886
Hmm that is interesting. I was reading the spec a bit closer.

If we consider `f.Bar =:= f.type#Bar` then that would include `f.type` and `Bar`

But the type of `f: Foo` which would mean `Foo#Qux` and not `f.Qux`.
Notice how we lost the path dependent type when we widened `f`.
How does dotty handle this?

[2020-03-18 07:30] joroKr21 commented on #11910
Ah right then there is also the issue that this is all unsound 😄

[2020-03-18 09:15] #10769 closed

[2020-03-18 12:45] #10507 closed

[2020-03-18 15:10] SethTisue commented on #11636
obviated by https://github.com/scala/scala/pull/8534

[2020-03-18 15:13] noresttherein commented on #11910
If by refactoring to abstract type members you mean only `Values[A <: Assembler]`, then I alread did it because of this issue. I tried to go with the above because I wanted to somehow eliminate casts `A#T.asInstanceOf[a.T]` without mandating `A <: Singleton`.

What got me somewhat worried though is the mention that projections on all abstract types aren't allowed in Dotty (ergo, at some point, in

[2020-03-19 02:51] som-snytt commented on #11661
A heavy hand in the linked PR.

[2020-03-19 04:33] MasseGuillaume opened #11912 "Incorrect deprecation message: "Octal escape literals are deprecated, use ... instead""
## reproduction steps

compile the following:

[code]

## obtained

`\u001b`

[code]

## expectation

it should be `\u001bc`

[code]

Scala 2.13.1
https://scastie.scala-lang.org/9hvZnukeQEisQ7aUrA56Hw

[2020-03-19 08:45] som-snytt commented on #11912
The recommendation specifies the character instead of repeating the whole text.
[code]
If the question is how long is the patch, it should do the doti and `^^^^`.

[2020-03-19 10:46] lrytz opened #11913 "private[this] subverts override accessibility check"
[code]

Should not compile. See the discussion at https://github.com/scala/scala/pull/8810#issuecomment-601053015

See also https://github.com/scala/bug/issues/11881

[2020-03-19 14:04] #9725 closed

[2020-03-19 14:04] #9911 closed

[2020-03-19 14:04] #11789 closed

[2020-03-19 17:08] SethTisue commented on #1748
is this still reproducible on 2.13.x?

[2020-03-19 17:09] SethTisue commented on #3218
someone want to take a look and see whether this should remain open?

[2020-03-19 17:12] SethTisue commented on #4940
someone want to take a look and see whether this should remain open? I wonder what Dotty does here.

[2020-03-19 17:13] SethTisue commented on #9259
Scala by Example has been superseded by https://docs.scala-lang.org/tour/tour-of-scala.html

[2020-03-19 17:13] #9259 closed

[2020-03-19 17:23] dwijnand commented on #4940
This one compiles now 😄

[code]

In dotty it does, and Som's variant doesn't work in Dotty:

[code]

I don't think this issue is worth fixing (but I'm fine with spec changes, less sure about compiler changes).  voteForClose += 1

[2020-03-19 19:06] som-snytt commented on #4940
I think the bug where Scala 2 ignores the type of the parameter is just a bug. It overdoes the equivalence of `_ match { case _ => }` and functionish things.

A different view:
[code]
I think my sense that 8.5 already justifies the working behavior is:
[code]

[2020-03-19 19:32] som-snytt opened #11914 "List and LazyList are like oil and water"
## reproduction steps

[code]

## problem

[code]

## expectation
More like:
[code]

[2020-03-19 19:40] SethTisue commented on #11914
duplicate of #10908

[2020-03-19 19:40] #11914 closed

[2020-03-19 20:20] SethTisue commented on #11910
@joroKr21 noticed this looks like a duplicate of #2346

[2020-03-20 00:43] Sciss opened #11915 "IMain.valueOfTerm returns obsolete values in Scala 2.13"
## reproduction steps

I created [a repository to reproduce](https://github.com/Sciss/ScalaIssue11915). Compare the output of `sbt ++2.12.11 run`:

[code]

with the output of `sbt ++2.13.1 run`:

[code]

## problem

So while the reporter prints the correct values, getting them from user code via `valueOfTerm` is broken under Scala 2.13.

The invocation at hand is

[code]

Going into the implementa

[2020-03-20 00:46] Sciss commented on #11915
In the meantime, if there is any workaround for Scala 2.13, that would be great. Greating a fresh `IMain` for each `eval` means several hundres of milliseconds slowdown. the `reset()` call is essential because each call to `eval` must be isolated from the others.

[2020-03-20 06:29] joroKr21 commented on #1748
The minimized examples compile on Scala 2.13.1

[2020-03-20 08:28] dwijnand commented on #11915
@som-snytt/@SethTisue do either of you want to take this?  I wouldn't want to clash with your JLine or other in-flight/in-mind REPL changes.  If it's disconnected enough, let me know and I'll have a crack at this one.

[2020-03-20 08:39] som-snytt commented on #11915
I started looking. I'll continue looking a bit more, albeit supine. So nice to have a sample repo.

I assume it's the caching of classloaders and/or classpaths. I can update before I sign out, in case you want to prioritize it today.

[2020-03-20 08:51] dwijnand commented on #11915
No rush.  Pingback when you have an answer.

[2020-03-20 09:26] Sciss commented on #11915
So I found the issue basically. It's that `reset()` calls `resetClassLoader()` but this has no effect for `valueOfTerm` because it refers to `lazy val runtimeMirror = ru.runtimeMirror(classLoader)`.

if I "hack" [valueOfTerm](https://github.com/scala/scala/blob/39d3b3a93cd3cf01303ba9aba487b742943d8e57/src/repl/scala/tools/nsc/interpreter/IMain.scala#L1018) to insert a new `runtimeMirror`, the prob

[2020-03-20 09:27] som-snytt commented on #11915
Yes, I also just noticed that. :)

[2020-03-20 09:32] #1748 closed

[2020-03-20 14:59] Lasering opened #11916 "Map should have method mapKeys"
[code]

[2020-03-20 15:03] SethTisue commented on #11916
please use https://contributors.scala-lang.org to discuss proposed enhancements. scala/bug is for bugs

[2020-03-20 15:03] #11916 closed

[2020-03-20 15:38] mghildiy commented on #11908
Is this taken up?

[2020-03-20 16:39] #11915 closed

[2020-03-21 00:20] som-snytt commented on #11887
Also other symbols: https://github.com/scala/bug/issues/10313

[2020-03-21 11:48] wangyum opened #11917 "Failed to generate Scaladoc when Java sources involve a raw type (worked in 2.12.10, regressed in 2.12.11)"
## reproduction steps
[code]

## problem

[code]

More details:
https://github.com/apache/spark/pull/27929/checks?check_run_id=521333701

[2020-03-21 13:53] SethTisue commented on #11917
is it reproducible in a small, self-contained test case?

looks like a problem with raw types

you say "java doc", do you mean Scaladoc?

[2020-03-21 15:34] BattlestarSC commented on #11622
I'm having the same issue with just an SBT build.
`libraryDependencies += "org.scala-lang.modules" %% "scala-parallel-collections" % "0.2.0"`
and upon compile, with `import scala.collection.parallel.CollectionConverters._`
Intellij reports that `object parallel is not a member of package collection` and cites that import line

[2020-03-21 19:36] odersky commented on #10400
See https://github.com/lampepfl/dotty/issues/8579#issuecomment-602092696

[2020-03-21 21:20] som-snytt commented on #10400
Closing as not a hookah-smoking caterpillar (as it appears in the issue label).

The workaround doesn't require double-vals:
[code]
The workaround also doesn't work with doti and its ruthless efficiency. Also `private[this]` is inferred, so removing the private-within doesn't help. This works:
[code]

[2020-03-21 21:20] #10400 closed

[2020-03-21 23:07] LorenzoCC commented on #11709
@ashawley Please review. Should I also create a PR to fix [this example in docs?](https://docs.scala-lang.org/overviews/reflection/annotations-names-scopes.html#constants)

[2020-03-22 00:23] ashawley commented on #11709
Someone else more qualified should review the changes to the reflection API in #8796 .  Hopefully, someone steps forward.

PS.  Thanks for catching the bad reference I made to the PR.

[2020-03-22 03:07] SethTisue commented on #11622
@BattlestarSC I'm not able to reproduce the problem:

[code]

[2020-03-22 07:43] #11661 closed

[2020-03-22 07:49] #11900 closed

[2020-03-22 12:04] BattlestarSC commented on #11622
Would it be relevant that I was using a Scala worksheet? Otherwise, yes, I'd say its likely Intellij, and therefor unrelated

[2020-03-22 14:03] SethTisue commented on #11622
Likely relevant. It wouldn't surprise me if IntelliJ's worksheet support uses some of the same code the REPL uses.

Additional confirmation would be if IntelliJ is logging the same “could not invalidate system packages: scala.collection" message somewhere.

[2020-03-23 03:18] xuwei-k commented on #11917
### A.java

[code]

### X.java

[code]

### Z.scala

[code]

### build.properties

[code]

### build.sbt

[code]

### `sbt doc` output

[code]

[2020-03-23 04:20] eed3si9n commented on #11917
@xuwei-k Thanks!

[2020-03-23 12:28] som-snytt opened #11918 "Wunused warns on qq fresh names"
## reproduction steps

[code]

## problem

[code]

## expectation

`@nowarn`

[2020-03-23 14:58] lrytz commented on #11917
scaladoc only, after @xuwei-k's example

[2020-03-24 12:16] hrhino commented on #11917
I think I broke this one.

[2020-03-24 23:40] som-snytt commented on #11918
Relatedly https://github.com/scala/scala/pull/8803

[2020-03-25 13:05] hrhino opened #11919 "enumeration serialization destabilization (depending on initialization)"
## Fairly trivial contrived example:

[code]

[code]

## problem

It crashes.

## expectation

It should not crash.

Caused, in a way, by scala/scala#8725.

Ideally we should not serialize `Enumeration$ValueSet$` at all (as Lukas noted in #9642 lo so many years ago) but we've got to live with the current format for now.

[2020-03-25 15:03] #11367 closed

[2020-03-26 00:29] SethTisue commented on #11908
@mghildiy nearly certain nobody is working on this

[2020-03-26 10:49] sjrd opened #11920 "The new Vector relies on catch AIOOBEs, which are UB in Scala.js"
See https://contributors.scala-lang.org/t/new-vector-performance-on-scala-js/4135 for some context. The new `Vector` implementation relies on catching `ArrayIndexOutOfBoundsException`s happening on its internal arrays, to then throw user-level exceptions.

This doesn't work on Scala.js, because AIOOBEs are Undefined Behavior (they have always been). This means that accessing out of bounds of a `Ve

[2020-03-26 10:50] sjrd commented on #11920
Also, all those `try..catch`'es may induce significant performance issues in Scala.js. Even when exception is actually thrown and caught, a try/catch is bad for performance in most JS engines (first and foremost V8, which is in Node.js and Chrome).

[2020-03-26 13:50] counter2015 opened #11921 "Type error when outer scope name is shadowed by inheritance"
## reproduction steps

[code]

## problem

[code]

## expectation
This code is from book *Programming in Scala 3rd Edition*.  Section `24.14 Views`

The type of coll should be Iterable[T] but complier judge it as Iterable[U] because the `coll` is as the same name the function `coll` defined in trait `Iterable`

In `src/library/scala/collection/Iterable.scala`

[code]
I'm new to Scala, I'm not sure

[2020-03-26 14:00] dwijnand commented on #11921
Wow, that's really unfortunate and unintuitive, IMHO!  Thanks for the report.

About the warning suggestion, my gut feeling is that emitting a warning like that will cause a lot of false positives (i.e. cases where the external name is shadowed, but that isn't a problem).

But I wonder if this behaviour has a history.  I've seen @odersky semi-recently argue in similar-ish situations (to do with im

[2020-03-26 14:23] odersky commented on #11921
That's indeed unfortunate. An immediate fix is to rename the `coll` in `Iterable`, which is right now defined like this:
[code]
It would be good to use a less common name for this.

About the problem in general: Maybe we should experiment with a warning or even an error. There is some precedence that a local import does not shadow an outer declaration. Example:

[code]
Here you get an ambiguity er

[2020-03-27 00:16] eed3si9n opened #11922 "raw-interpolator escapes backslashes in REPL"
## reproduction steps

[code]

## problem

[code]

## expectation

[code]

[2020-03-27 00:36] retronym commented on #11922
Looks like a bug in our JLine3 integration.

[2020-03-27 01:14] retronym commented on #11922
I've submitted a fix.

[2020-03-27 03:44] retronym commented on #11922
FTR, here's the part of JLine's line reader that we need to skip: https://github.com/jline/jline3/blob/7093b8ece24646955be00592ff3a8da17bb28e5d/reader/src/main/java/org/jline/reader/impl/LineReaderImpl.java#L1104-L1119

[2020-03-27 10:19] joroKr21 opened #11923 "Shapeless master broken with night scalac 2.13.2"
Example job: https://travis-ci.org/github/milessabin/shapeless-test-scala-nightly/jobs/667507411

## reproduction steps

Clone https://github.com/milessabin/shapeless-test-scala-nightly
`./run.sh`

## problem

Tests fail with `IncompatibleClassChangeError`:
[code]

## expectation

Tests should pass as they do in the community build or on shapeless master with Scala 2.13.1

[2020-03-27 10:41] ohze opened #11924 "inconsistent logic when override self type method"
## reproduction steps

+ pk1/A.scala
[code]
+ Main.scala
[code]

## problem
+ The code above run successfully
[code]
+ But when remove the `protected` modifier from `A.f` =>
[code]
+ similar (StackOverflowError) if we move `A` from `pkg1` to default package (same package as B)
## expectation
IDK :)

[2020-03-27 10:46] ohze commented on #11924
Note: The above code is simplified from akka's:
[DockerBindDnsService.atStartup](https://github.com/akka/akka/blob/v2.6.4/akka-actor-tests/src/test/scala/akka/io/dns/DockerBindDnsService.scala#L27) override [AkkaSpec.atStartup](https://github.com/akka/akka/blob/v2.6.4/akka-testkit/src/test/scala/akka/testkit/AkkaSpec.scala#L135)

[2020-03-27 11:05] lrytz commented on #11924
I cannot reproduce this, I get the infinite recursion with both 2.12.11 and 2.13.1.

The infinite recursion seems to be the correct behavior, `(self: A).f()` is a virtual call.

[2020-03-27 11:16] Jasper-M commented on #11924
When I run this in the REPL I see the same as reported by ohze

[code]

[2020-03-27 12:15] lrytz commented on #11924
Wow, i omitted the `package` declaration in `A`, and that makes a difference

[code]

[2020-03-27 13:21] lrytz commented on #11923
Hmm, for me 2.12.11 looks the same as 2.13.1

[code]

Is it a question of type printing?
[code]
Or what's the bug?

[2020-03-27 13:59] #11922 closed

[2020-03-27 14:04] joroKr21 commented on #11923
Hmm, sorry for the false alarm, it looks like a type printing bug indeed.

[2020-03-27 14:07] joroKr21 commented on #11923
Shapeless is still broken though 😄 We get:
[code]

So I'm not sure what to do.

[2020-03-27 14:43] milessabin commented on #11923
Nb. this is with last couple of scalac nightlies and shapeless master, so it isn't something which would be picked up by either the community build (which uses shapeless 2.3.3) or by normal shapeless PR validation (which use 2.13.1).

[2020-03-27 14:45] milessabin commented on #11923
`IncompatibleClassChangeError` seems very odd. Some kind of incremental/separate compilation issue?

[2020-03-27 14:47] lrytz commented on #11923
@joroKr21 can you clarify which exact Scala versions you're comparing? To me, 2.12.11, 2.13.1 and current 2.13.x all look the same.

[2020-03-27 14:54] milessabin commented on #11923
The error [here](https://travis-ci.org/github/milessabin/shapeless-test-scala-nightly/jobs/667047489#L987) is,

scala: 2.13.2-bin-bc1cad4
shapeless: f291bcc20dbd61142c0f406c511a3d9f15efc2c6 (which is current master)

We don't see it with 2.13.1.

[2020-03-27 15:12] lrytz commented on #11923
OK, thanks. So we need to diagnose / minimize. The code in the description here behaves the same on 2.13.1 and 2.13.2-bin-bc1cad4, so that doesn't seem to be related.

[2020-03-27 15:36] joroKr21 commented on #11923
Yes sorry the code in the description is what I suspected as the reason for the failure but I was completely off. I will amend the issue and make it specifically about shapeless.

[2020-03-28 05:03] som-snytt opened #11925 "Can't wildcard import from Enumeration"
## reproduction steps

[code]

## problem

[code]

## expectation

I expect not to go wut.

Oh, I see I wutted once before: https://github.com/scala/bug/issues/10336#issuecomment-338351721

This is a reduction of the neg test, which was added as part of message enhancement.

[2020-03-28 10:47] joroKr21 commented on #11923
milessabin/shapeless#994 should fix the issue but we have to wait for the next nightly.

The problem is that we were referencing the fields in the object instead of their getters. However the fields don't exist in the bytecode, they are converted to static fields. It looks like there are no checks against this so it passed through all the way to the generated bytecode.

[2020-03-28 11:29] milessabin commented on #11923
The latest nightly was [green](https://travis-ci.org/github/milessabin/shapeless-test-scala-nightly/builds/667934458).

[2020-03-28 11:29] #11923 closed

[2020-03-28 22:59] som-snytt commented on #11921
The PR here just takes all "foreign definitions" at precedence level 4, so that an inherited member defined elsewhere is like a package member defined elsewhere.

[2020-03-30 08:42] Jasper-M opened #11926 "Macros don't work in class-based REPL and JLine 3 doesn't like it"
2.13.1
[code]

2.13.2-bin-8ee21e7
[code]

2.13.2-bin-bc1cad4
[code]

[2020-03-30 09:04] Jasper-M commented on #9910
This has now turned into this. (default REPL in 2.13.2-bin-8ee21e7)

[code]

[2020-03-30 16:58] #10350 closed

[2020-03-30 19:49] dwijnand commented on #9910
Value classes "work" in the class-based REPL by interpreting snippets like `case class Foo(x: Int) extends AnyVal` with the object-based wrapper implementation: https://github.com/scala/scala/commit/fd6ea5b137de04756ea7514a4504bce83c235bb1. In my mind, this issue is resolved when that's removed and handled "properly".

[2020-03-30 19:55] Jasper-M commented on #9910
I'm not sure there's a better way though. Is there a realistic scenario where an object wrapper for a value class can still cause a deadlock?

[2020-03-30 19:58] smarter commented on #9910
Not sure if this is the best place to mention this, but it's possible to have object wrappers without deadlocks, dotty has been doing that for several years: https://github.com/scala/scala-dev/issues/161#issuecomment-227594043

[2020-03-31 09:11] jrudolph opened #11927 "scaladoc on JDK 11 with `-release 8` crashes (2.12.11 and 2.13.1)"
[code]

[2020-03-31 09:51] raboof commented on #11927
Hmm, does this have to do with the silencer plugin somehow? Don't see anything at https://github.com/ghik/silencer/ though...

[2020-03-31 11:42] lrytz commented on #9910
IIUC this comes at the cost of capturing the object in the lambda, which can cause problems when serializing the lambda.

[2020-03-31 12:17] #11920 closed

[2020-03-31 12:28] dwijnand commented on #9910
Speaking with Lukas about this, this isn't "resolved", but it's very unlikely we'll actually make this work better in the class-based REPL, so keeping it open is pointless.  And I'll take the brownie points too, 🏁.

[2020-03-31 12:28] #9910 closed

[2020-03-31 13:57] raboof commented on #11927
I'm also seeing it with other Scala versions it seems - so might be something in the akka build

[2020-03-31 14:00] lrytz commented on #11927
I'm looking at it. I also saw that it's the same in 2.12.10, so not a recent regression.

[2020-03-31 15:15] SethTisue commented on #11927
Puzzling that the community build wouldn't have caught this.

[2020-03-31 15:35] smarter commented on #9910
Correct, the fix in Dotty was to make all objects extend Serializable. This has ~zero cost since like in Scala 2, Dotty objects use writeReplace to not actually serialize anything.

[2020-04-01 01:48] giiita opened #11928 "Accessing some properties of the broken Symbol causes a forced error in macro deployment."
## reproduction steps / problem

There are some classes in the library that have an IMPORT that cannot be resolved.
For example, [org.scalatest.tools.Framework](https://github.com/scalatest/scalatest/blob/3.1.x/scalatest/src/main/scala/org/scalatest/tools/Framework.scala#L29) in ScalaTest.

If I add scalatest as a dependent library, it will be added to the test classpath, but this import will not

[2020-04-01 03:37] SethTisue commented on #11928
what is the Scala bug here?

[2020-04-01 07:11] lrytz commented on #9910
So is it a special case only for the REPL? Capturing the repl wrapper is not a problem of course, but capturing arbitrary objects is.

[2020-04-01 08:13] lrytz commented on #11927
@jrudolph @raboof the problem is `-release 8`, I updated the description. As a workaround, maybe you can remove that flag when invoking scaladoc?

[2020-04-01 08:49] raboof commented on #11927
Ah, good find, thanks!

[2020-04-01 09:26] giiita commented on #11928
It's unnatural for macro expansion to result in an error that cannot be supplemented while processing continues. But the solution may be enhancement. Should I post it as an enhancement?

[2020-04-01 09:33] smarter commented on #9910
No it's done for every object (since the same deadlock problem can happen for regular objects too), what kind of problem do you have in mind ?

[2020-04-01 10:05] soronpo opened #11929 "Misleading error message due to same signature definitions"
## reproduction steps
Use the following code:
[code]

## problem

The error generated is very misleading:
[code]
## expectation
The actual source of the problem is that inside `TwoFaceInt` the two methods have the same signature.
In dotty we get an error as expected:
[code]

[2020-04-01 11:22] hrhino opened #11930 "expanded (non-LMFable) function needlessly captures outer"
## Fairly trivial contrived example:

[code]

## problem (among others)

[code]

## expectation

No `$outer` in my lambda.

[2020-04-01 12:35] dwijnand commented on #11930
Is this #11356?  (Just found it b/c I was trying to understand wth "LMFable" means. 😄)

[2020-04-01 13:03] jrudolph commented on #11927
Thanks for investigating and fixing. Sorry about the too eager conclusion that it would be related to 2.12.11.

[2020-04-01 13:08] SethTisue commented on #11927
oh heh perhaps this is why

[code]

[2020-04-01 13:12] SethTisue commented on #11928
It seems like a question to me and not a bug report, which is what scala/bug is for.

[2020-04-01 13:12] #11928 closed

[2020-04-01 13:17] SethTisue commented on #11785
fix was reverted; see discussion on scala/scala-dev#671

[2020-04-01 14:06] SethTisue opened #12264 "JLine: completion for `:` doesn't work very well"
@lrytz reports:

[2020-04-01 18:09] som-snytt commented on #11929
`-Vimplicits` says:
[code]
It will plow through that:
[code]
then
[code]

[2020-04-01 23:13] xuwei-k opened #11931 "LazyList#lazyAppendedAll argument evaluate twice"
## reproduction steps

[code]

[code]

## problem

`print` the `"a"` twice

## expectation

only once print `"a"`

## note

🤔

https://github.com/scala/scala/blob/ca30256251d78ca9be8e60208e5d1c74e9292806/src/library/scala/collection/immutable/LazyList.scala#L347-L355

[code]

[2020-04-02 03:46] som-snytt opened #11932 "Annotation could dig deeper for arguments"
## reproduction steps

[code]

## problem

[code]

## expectation

`typedAnnotation` should try harder to notice a string argument.

[2020-04-02 03:56] som-snytt commented on #11932
dotr:
[code]

[2020-04-02 10:01] dwijnand commented on #140
https://dotty.epfl.ch/docs/reference/changed-features/pattern-bindings.html#bindings-in-pattern-definitions 🎉 :shipit:

[2020-04-02 11:15] lrytz commented on #9910
OK, so the difference to Scala 2 is that every `object` is made `extends Serializable`. So when a lambda captures the enclosing object it can still be serialized. This even works if the `object` has itself some non-serializable fields, because of the `writeReplace -> ModuleSerializationProxy`. We use the same strategy in 2.13 for serializing objects, but we don't make every object extend Serializa

[2020-04-02 13:02] #8121 closed

[2020-04-02 13:30] smarter commented on #9910
Yep! One additional trick we considered but haven't implemented so far is to add the Serializable superclass in a phase after pickler, so that it does not influence typechecking / type inference seeing as it's "just" an implementation detail.

[2020-04-02 15:28] SethTisue commented on #11931
@NthPortal do you have time/inclination to take a look?

[2020-04-02 16:08] NthPortal commented on #11931
I think @xuwei-k has nailed the source of the problem and the solution (thanks for doing all the hard work!). I'll throw up a PR later today hopefully

[2020-04-02 16:11] NthPortal commented on #11931
(relatedly, would it make sense to list me as a code owner for `*LazyList*` files, to make it more likely that I get automatically assigned/pinged?)

[2020-04-02 16:27] SethTisue commented on #11931
hmm, I don't have any experience with that GitHub feature. Seems like it couldn't hurt, happy to give it a try. I worry that such metadata would tend to fall out of date, but I worry about everything :-)

related: how about adding an entry for yourself in the scala/scala README.md? that's another place something like this can be listed

[2020-04-03 05:39] som-snytt commented on #11785
@NthPortal was that unintentional?

@Jasper-M also `KnownUnknown` and `UnknownUnknown`.

[2020-04-03 06:06] NthPortal commented on #11785
no, it was not.

this is why you only put the `Fixes X` in the PR, and never in the commit message.

[2020-04-03 06:59] #11931 closed

[2020-04-03 12:51] gitdako3706 opened #11933 "VectorMap#{remove, init, tail} still broken."
## reproduction steps
related BugReport #11100, #11218, #11220

When remove last element (most recentry updated element) and update element, Iterator does not work.
[code]
When remove last element and update element, remove may not work.
[code]

When remove last element. init does not work.
[code]

When get tail. Attempt to remove wrong position.
[code]
When remove any element, init may not work.

[2020-04-03 13:01] smarter commented on #11898
I managed to find a solution for dotty, but I don't know how hard it'd be to adapt it to scalac: https://github.com/lampepfl/dotty/pull/8635

[2020-04-03 14:58] eed3si9n commented on #11785
I'm sorry. I didn't know about this etiquette since I've been working on projects with 1~2 members.

[2020-04-04 15:44] NthPortal commented on #11785
@eed3si9n no worries. I've made the same mistake myself. honestly, it's less etiquette and more a questionable decision on github's part.

the issue is, whenever someone with write permissions for the repo containing the issue pushes a new commit containing a "fixes" clause (to the default branch?) to a repo, github evaluates the "fixes" clause. consequently, any time someone with write permission

[2020-04-04 15:45] NthPortal commented on #11931
nit: I don't think this is a a regression, as it doesn't seem like it was ever correct in a release

[2020-04-04 18:43] SethTisue commented on #11931
yeah. fwiw, we sometimes use scala/scala-dev for tickets like this (bugs that only exist in yet-to-be-released versions, that are expected to be fixed before release). but we're not even especially consistent about that ourselves

[2020-04-04 19:45] Sciss commented on #10141
Cannot reproduce in Scala 2.13.1

[2020-04-04 19:55] Sciss opened #11934 "Trait value initialization causes runtime ClassCastException when specializing in more than one type"
## reproduction steps

[code]

## problem

Tries to initialize the field `value` with a value taken from the right-most specialization variant, here `Unit`, instead of the correct variant, here `Int`:

[code]

Possibly related issues: #10094, #10141, #11707

[2020-04-04 23:07] #10141 closed

[2020-04-06 08:57] lrytz commented on #11934
Seems to be a regression in 2.12, the example works in 2.11 (i.e., it doesn't crash in 2.11; I didn't look if specialization does the right thing).

[2020-04-06 21:07] SethTisue commented on #11919
#cajunman

[2020-04-06 21:09] #11912 closed

[2020-04-06 21:52] som-snytt commented on #11912
BTW, on a branch somewhere I started looking at ranged carets. Maybe I'll get back to it.

[2020-04-06 22:51] SethTisue commented on #11654
this is fixed for 2.13.2

[code]

results in a working REPL.

[2020-04-06 22:51] #11654 closed

[2020-04-07 10:24] smanikim commented on #11903
to add, we did not have this issue with 2.11

[2020-04-07 11:03] viktorklang commented on #11903
@smanikim You might have an issue with reentrancy and class loading—what does your thread dumps say?

[2020-04-08 01:29] retronym commented on #11867
WIP: https://github.com/scala/bug/issues/11867

[2020-04-08 01:30] retronym commented on #11867
Not a blocker for 2.13.2 IMO but I'll submit a PR for consideration.

[2020-04-08 19:09] poslegm commented on #11620
Another example:

[code]

Works well with dotty

[2020-04-09 08:41] retronym opened #11935 "Overriding checks in refchecks and bridging in erasure get confused by self type"
## reproduction steps

[code]

[code]

[2020-04-09 14:17] #11919 closed

[2020-04-09 14:18] SethTisue commented on #11919
(Is a separate 2.12 fix forthcoming, or was it decided that having a 2.13 fix was sufficient?)

[2020-04-09 20:43] hrhino commented on #11919
I'm going to try to do something for 2.12.12, but I don't know how useful it'll be. Sorry I didn't catch this before the release

[2020-04-09 20:58] SethTisue commented on #11919
I haven't heard anyone complain :-)

[2020-04-09 22:28] hrhino commented on #11919
Other than me...

[2020-04-10 06:41] smanikim commented on #11903
Nothing in stack trace except
user error java.util.concurrent.TimeoutException: Futures timed out after [10000 milliseconds]
	at scala.concurrent.impl.Promise$DefaultPromise.ready(Promise.scala:259)
	at scala.concurrent.impl.Promise$DefaultPromise.result(Promise.scala:263)
	at scala.concurrent.Await$.$anonfun$result$1(package.scala:220)
	at scala.concurrent.BlockContext$DefaultBlockContext$.blockO

[2020-04-10 14:31] viktorklang commented on #11903
@smanikim Can you paste in your endite thread dump so we can see what all threads are waiting for etc?

[2020-04-10 18:00] yawaramin commented on #5365
FWIW I just tried it in Dotty and saw the same `MatchError`: https://scastie.scala-lang.org/5DVh9YP3RqG1VOGNioI4vQ

[2020-04-11 10:33] martijnhoekstra commented on #5365
@smarter did this regress in dotty? Should the label be removed?

[2020-04-11 15:45] smarter commented on #5365
It's possible I got it wrong at the time. I've opened https://github.com/lampepfl/dotty/issues/8708

[2020-04-11 19:46] leolin479 commented on #11040
I don't see the merit of "restricting varargs to immutable Seqs". "varargs", as the syntax is suggesting, should be treated as if the collection is already been decomposed to a parameter list. In such sense, it shouldn't matter at all the collection itself is mutable or immutable.

It seems dogmatic to me that the decision was made purely based on "Enforcing immutability is generally a good thing"

[2020-04-11 20:13] SethTisue commented on #11040
If you're interested in exploring the thinking behind these decisions — which is a lot broader and stretches back a lot farther than just Stefan's one comment on this one ticket — I'd suggest asking about it on https://users.scala-lang.org

[2020-04-11 21:54] japgolly opened #11936 "[2.13.2-bin-ca30256] scala.reflect.internal.Types$TypeError: type mismatch"
## reproduction steps

Try to compile the following with 2.13.2-bin-ca30256:

[code]

## problem

[code]

## expectation

It should compile successfully. It does with Scala 2.12.

[2020-04-12 00:08] SethTisue commented on #11936
The same code crashes the 2.13.1 and 2.13.0 compilers as well.

I saw on contributors that you consider this a blocker for 2.13.2, but it's now very late in the 2.13.2 cycle and I think it's farfetched that we'd consider messing with typechecking this late. Regardless, I've put it on the 2.13.2 milestone for evaluation.

Can it be minimized any further? I assume you wanted to submit the bug report

[2020-04-12 00:49] japgolly commented on #11936
Hey Seth. Yeah, fair enough on all counts there.

I think this is as small as it's going to get:

[code]

[code]

[2020-04-12 00:57] japgolly commented on #11936
I think I was a bit too quick to call this a blocker. It can be worked-around by either dropping the `extends AnyVal`, or replacing `M` in `m2` with `MTrie.N[X]`. I'll post this over at contributors too.

[2020-04-12 01:03] japgolly opened #11937 "Binding case objects in patmat cases loses object identity"
## reproduction steps

This fails with:
* 2.13.0
* 2.13.1
* 2.13.2-bin-ca30256

[code]

## problem

[code]

## expectation

It should compile. It does with 2.11 and 2.12.

[2020-04-12 01:13] smarter commented on #11937
The previous behavior was unsound: `x match { case Y =>` compiles down to an `x == Y` check (see https://www.scala-lang.org/files/archive/spec/2.13/08-pattern-matching.html#stable-identifier-patterns), so identity is in fact not guaranteed since `equals` can be overriden. The fix is to write `x match { case x: Y.type =>` instead which uses referential equality.

[2020-04-12 01:13] #11937 closed

[2020-04-12 01:35] japgolly commented on #11937
Damn, I just figured out how to get those `pos/*` tests running locally. Was hoping to submit a PR for this. Oh well. Next time :)

Thanks @smarter.

[2020-04-12 05:03] som-snytt commented on #11937
paulp would have told you that xlint would have told you that.
[code]

[2020-04-12 17:24] smarter opened #11938 "Unsound cast on ident pattern is not always rejected"
Since https://github.com/scala/scala/pull/6502, the following is rejected:

[code]
... but the following isn't, and yet will crash in the same way:
[code]
[code]

[2020-04-12 17:43] smarter commented on #11938
Also, it's suspicious that this compiles:
[code]
It doesn't crash because the compiler never actually casts `x` to an Int, it just uses `1` directly when needed, but it could (and maybe it would with a more complicated example).

[2020-04-12 21:21] SethTisue commented on #11110
given that we still have `-Ywarn-adapted-args`, and now that we have [configurable warnings](https://github.com/scala/scala/pull/8373), I think this qualifies as fixed

[2020-04-12 21:21] #11110 closed

[2020-04-13 00:17] japgolly commented on #11937
Whoops. I could've *sworn* that I had `-Xlint` on. I'd be better look into that, thanks @som-snytt

[2020-04-13 11:35] som-snytt commented on #11938
Also unhelpful:
[code]

[2020-04-13 23:33] SethTisue commented on #5787
closing as now out of scope for Scala 2

[2020-04-13 23:33] #5787 closed

[2020-04-14 01:13] som-snytt commented on #5787
I just got that.

[2020-04-14 08:20] martijnhoekstra commented on #5787
To be fair, the guy who said that is known for sneaking in witticisms and puns that can go undetected for quite a while.

[2020-04-14 09:36] agboom opened #11939 "False positive for -Wself-implicit (with lazy implicit value)"
## reproduction steps

When using Scalacheck while `-Wself-implicit` is enabled, I ran into a warning that I did not expect.

[code]

For a live demo see: https://scastie.scala-lang.org/WwQ0rFDkTl6jEDvXgOnH2w

## problem

[code]

## expectation

No warning

I'm not sure whether it is related to the fact that the resolving implicit is a lazy value, but it is part of this example.

This issue is rel

[2020-04-14 12:16] #11934 closed

[2020-04-14 14:18] smarter commented on #5365
Actually fixed in dotty now: https://github.com/lampepfl/dotty/pull/8698 :)

[2020-04-14 17:59] alexarchambault opened #11940 "Outer check should use `equals` rather than `eq` in inner class"
## reproduction steps

[code]

## problem

`instancesEqual` is false, even though `outerReferencesEqual` is true.

## expectation

`instancesEqual` is true.

This is related to but not exactly the same problem as https://github.com/scala/bug/issues/4440#issuecomment-365858185. Here, we don't have the `final` modifier, so we don't run in https://github.com/scala/bug/issues/4440. The issue here is a

[2020-04-14 19:58] sjrd commented on #11940
This behavior is by-spec.

The `equals` method of `case class`es must be consistent with pattern matching on the case class. Now, pattern matching takes *path*s into account: pattern matching with `case Foo(...)` expands to `case Wrapper.this.Foo(...)`, which only matches if the *path* (the *outer reference*) of the scrutinee is equal to the path `Wrapper.this`.

Since paths are always compared by

[2020-04-14 21:11] alexarchambault commented on #11940
FYI that corresponds to the spark issues [SPARK-2620](https://issues.apache.org/jira/browse/SPARK-2620) and [SPARK-9621](https://issues.apache.org/jira/browse/SPARK-9621), that have been biting people for years. (SPARK-2626 was bulk closed with resolution "incomplete" after being open for 5 years, and is still unfixed as of now…)

[2020-04-14 21:36] hrhino commented on #11940
It's also unsound (using a local scala in which I implemented this change):
[code]

[2020-04-14 21:41] alexarchambault commented on #11940
@hrhino It's unsound because the `Outer.equals` method that you added is unsound.

[2020-04-14 22:06] smarter commented on #11940
Am I understanding correctly that this is happening because spark uses a class-based repl? If so, that sounds like a good reason for not using a class-based repl (I still think that all issues with the object-based repl are solvable: https://github.com/lampepfl/dotty/issues/5135#issuecomment-457563633).

[2020-04-14 22:19] hrhino commented on #11940
What is unsound about my `equals`? It's the same as yours! (Ok, I elided the `null` check because I'm lazy.)

I don't even have to write an `equals` method.
[code]

[2020-04-14 22:39] sjrd commented on #11940
`x.isInstanceOf[C]` always returns `false` when `x` is `null`. So even with the laziness, the two `equals` methods are strictly equivalent.

[2020-04-14 23:34] som-snytt commented on #11939
The related issue is fixed for upcoming 2.13.2 (not current release 2.13.1).

I can't tell by looking (or remembering) if it's the same problem.

`import org.scalacheck.Arbitrary.{arbitrary, _}` is to resolve a conflict with another wildcard import?

[2020-04-14 23:37] hrhino commented on #11939
It's the same problem, what with `NoSymbol` being everyone's transowner.

Why not to 2.12.x?

[2020-04-14 23:53] hrhino commented on #11243
I think this was fixed by scala/scala#8515.

[2020-04-14 23:54] #11243 closed

[2020-04-15 00:14] som-snytt commented on #11939
For the same reason you don't get a 212 number in NY any more?

We're going to wind up with too many semi-rhetorical questions?

[2020-04-15 00:18] hrhino commented on #11939
My bad, it wasn't supposed to be. scala/scala#8881 just because...

I'll be sure to treasure my (212) number like the rarity it apparently is.

[2020-04-15 02:11] adamgfraser opened #11941 "Inappropriate Widening of Invariant Type"
## reproduction steps

[code]

## problem

[code]

## expectation

I don't understand how the type of the `ClassTag` in `g` is `Object`. We're explicitly providing the type to `f` of `X`. So then the type of `identity` should be `Arrow[X with Y, X with Y]`. The type of the `In` parameter to `g` should have to be the same as the type of the `Out` from `identity`, which should get us `X with Y` and

[2020-04-15 02:13] adamgfraser commented on #11941
Note that this appears to work correctly in Dotty. See [here](https://scastie.scala-lang.org/8iDybe80Qvq8rLZWMm4rNA).

[2020-04-15 05:01] som-snytt commented on #11939
Duplicates https://github.com/scala/bug/issues/11813

I almost wrote Duplicatest. I verified the fix with the example.

[2020-04-15 05:01] #11939 closed

[2020-04-15 07:15] #11609 closed

[2020-04-15 07:15] #11756 closed

[2020-04-15 07:42] lrytz commented on #11941
[code]

I guess the compiler expands the compound type at some point. Compiling the example with `-Vprint:typer`

[code]

[2020-04-15 07:56] lrytz commented on #11940
For reference, https://www.scala-lang.org/files/archive/spec/2.13/08-pattern-matching.html#type-patterns

[2020-04-15 07:56] #11940 closed

[2020-04-15 07:57] lrytz commented on #11940
I think that's true, I don't know / remember why.

[2020-04-15 08:23] joroKr21 commented on #11940
To be able to serialize functions and send them across the network I think.

[2020-04-15 15:19] #11917 closed

[2020-04-15 18:52] #10600 closed

[2020-04-15 21:55] joroKr21 commented on #11941
This is just the normal LUB:
[code]

Since we can't assume that `A <: Object` for unbound type variable.
I guess it works in Dotty because it has proper support for intersection types.
So that `A with X` does not imply `A with X <:< Object`.
The workaround is to add `<: AnyRef` bound.

[2020-04-15 22:00] adamgfraser commented on #11941
I think the problem here is that this is the parameter of an invariant type. `Invariant[X with Y with Object]` is a completely unrelated type to `Invariant[X with Y]`. So if the output type of `identity` is `X with Y` it isn't sound to widen the input type of `G` to `X with Y with Object` because now we're essentially allowing function composition of unrelated types.

[2020-04-15 22:16] smarter commented on #11941
I don't see why. Traits by default extend AnyRef, which is just a type alias of Object, since X and Y are trait, `X with Y with Object` is the same type as `X with Y`.

[2020-04-15 22:21] joroKr21 commented on #11941
Yes, that's right `A with X with Object` is the same as `A with X` because X <:< Object.
But `A with Object` is not the same as `A` since `A` could be anything.
So `A with Object` (or `AnyRef`) is the most specific solution for the type parameter of `g`.
Now I'm really intrigued, how does it work in Dotty?
Heuristics to not always infer the most specific type?

[2020-04-15 22:26] joroKr21 commented on #11941
It might be more illuminating to try what happens if we have:
[code]

[2020-04-15 22:31] joroKr21 commented on #11941
Oh I keep forgetting that in the Dotty the LUB is just the union type.

[2020-04-15 22:36] joroKr21 commented on #11941
ClassTag is very capricious
[code]

[2020-04-15 22:43] smarter commented on #11941
ClassTag[X] gives you the class of the erasure of type X, and the erasure of an intersection/union type is not commutative: https://github.com/lampepfl/dotty/issues/5139 (and we most probably cannot fix this without compromising further the two-way binary interop between scala 2 and dotty).
Type inference can mean you get intersections/unions in different orders and therefore different classtags.

[2020-04-15 22:47] smarter commented on #11941
(Actually afaik only intersection/compound types have non-commutative erasure, unions are fine I think)

[2020-04-16 07:44] dwijnand commented on #11941
Seeing as implicit ClassTag synthesis isn't user-land code, maybe it should require a user's intervention when given an intersection type?  At worst, a lint.

[2020-04-16 08:11] japgolly opened #11942 "-Wdead-code flags scalajs.js.native as dead code"
# reproduction steps

Compile the following with Scala.JS 0.6.32 and Scala 2.13.1, and `-Wdead-code` enabled:

[code]

## problem

[code]

## expectation

`js.native` isn't dead code. It shouldn't be flagged as such.

/cc @sjrd

[2020-04-16 08:16] japgolly commented on #11942
FYI `-Wunused:explicits` has a similar problem. Flags all the parameters in `js.native` methods.

[2020-04-16 10:19] neko-kai commented on #11941
@adamgfraser izumi Tag contains a `cls: Class[_]` field, unlike native ClassTag it takes the class of the LUB of intersections, instead of the first element, maybe that would work better in your case?

[2020-04-16 13:34] hmemcpy commented on #3664
I just ran into this by attempting to use `tupled`:

[code]

Calling:
`Person.tupled(p)` works when there's no companion object for `Person`.

Would really love to see this fixed.

[2020-04-16 13:39] alexarchambault commented on #11940
It may still be interesting to allow to replace the `eq` with an `equals` for outer references, when a specific compiler setting is passed say. That setting could be enabled along `-Yrepl-class-based`, and the right `equals` method added to the wrappers of the class-based repl. That would allow to fix [SPARK-2620](https://issues.apache.org/jira/browse/SPARK-2620), which has been opened / unresolve

[2020-04-16 13:54] SethTisue commented on #11839
leaving the issue open because the linked PR only supports mappings to the `java.base` module, so we're not all the way to a complete fix yet

[2020-04-16 13:56] steven-barnes commented on #11839
It has been a while, but I believe it works with any JDK module.

Sent from my iPhone

[2020-04-16 13:57] #11933 closed

[2020-04-16 13:58] HuStmpHrrr commented on #3664
wow this issue is still open.

one potential fix I can come up with is to add a piece of syntax so that intention is revealed properly. for example,

[code]

this creates a `Person` companion object which does not have any builtin function etc.

imagine the syntax is augmented:

[code]

in this imaginary case, the `something` inside is added into the companion object.

in general, the fact that we

[2020-04-16 13:59] SethTisue commented on #11839
@ashawley also didn't seem completely sure one way or the other. can somebody actually confirm?

[2020-04-16 14:28] ashawley commented on #11839
I'm suggesting Scaladoc should support multiple mappings to modules, not just one mapping.

[2020-04-16 15:07] steven-barnes commented on #11839
I have a lot of time on my hands now. If you write up a spec, then I can implement it. Or work on some other issue.

[2020-04-16 15:25] ashawley commented on #11839
It would be nice to have the apiMappings work as it used to in 2.12 (see bug description and the example code repo).  Whether that's even possible after the change in 16a3216, I'm not sure.

[2020-04-16 15:33] Jasper-M commented on #3664
But you can. Everything that you write in the body of `object Person { ... }` is effectively added to the `Person` companion object _in addition to_ the generated `apply` and `unapply` methods. Only the `FunctionN` supertype is not automatically added.

The weird thing is this:

[code]

The `Serializable` supertype _is_ added even to the custom companion object. Wouldn't it be possible to also aut

[2020-04-16 16:49] HuStmpHrrr commented on #3664
I guess @hmemcpy just mentioned that `tupled` doesn't work? probably only `apply` and `unapply` are special?

there is a good reason to believe these two functions are special too.

in any case, it's always good to have syntax to distinguish intentions, otherwise once it's "fixed", someone else is going to complain.

[2020-04-16 23:25] hrhino commented on #11942
I have a guess that this related to the fact that `js.native` has declared type `Nothing`, but what am I doing wrong?

https://github.com/hrhino/t11942 compiles fine with `sbt clean compile`.

[2020-04-17 00:23] japgolly commented on #11942
Hi @hrhino . I copied the wrong snippet, sorry about that. I've updated this ticket and send a PR to https://github.com/hrhino/t11942/pull/1

[2020-04-17 07:23] lrytz commented on #11844
@SethTisue for 2.13.2?

[2020-04-17 13:14] SethTisue commented on #11844
sure

[2020-04-17 13:54] adamgfraser commented on #11941
@neko-kai Good idea! Let me look at that.

[2020-04-17 15:44] yanns commented on #11110
I also wanted to have something like `-Yno-adapted-args` in scala 2.13.

For me it does not work:
[code]

The new configurable warning convention does not work:
[code]

I could use `-Xlint:adapted-args`

[2020-04-17 17:39] SethTisue commented on #11110
right. thank you for the correction

but note also that it's included in `-Xlint`'s defaults, so it doesn't normally need to be individually enabled:

[code]

as for the turning the warning into an error, `-Werror` will turn all warnings into errors, and the incantation for turning just this particular warning into an error is `-Wconf:cat=lint-adapted-args:e`:

[code]

[2020-04-17 17:42] SethTisue commented on #11110
by the way, it isn't clear to me why some things are `-W` flags and other things are under `-Xlint` instead. @som-snytt is there some rule there?

[2020-04-17 18:51] som-snytt commented on #11110
Warnings that are not noisy and also "recommended" can be promoted to lint.

E.g., `-Wunused:params` is not enabled by `-Xlint:unused` (as a very refined case).

`-Wdead-code` has false positives, so is not linted.

The borderline promotable warnings IMHO are numeric-widen and value-discard.

[2020-04-17 20:24] som-snytt opened #11943 "Symbol.toString uses deprecated syntax"
## reproduction steps

[code]

## problem

Input and output do not gibe.

## expectation

`Symbol.toString` should be consistent with recommended constructor expression.

[2020-04-17 20:24] mkurz opened #11944 "Bug overriding varargs method defined both in Scala class and Java interface"
## reproduction steps

Clone [my fork](https://github.com/mkurz/playframework/) of the Play Framework and checkout [the `addAttrs` branch](https://github.com/mkurz/playframework/tree/addAttrs) (according [pull request](https://github.com/playframework/playframework/pull/10199)):
[code]

Try to compile:
[code]

## problem

Because of [this commit](https://github.com/mkurz/playframework/commit/59a6b

[2020-04-17 23:10] som-snytt opened #11945 "Repl stack trace summary doesn't count suppressed frames correctly"
## reproduction steps

[code]

## problem

[code]

## expectation

Printing the suppressed exception doesn't seem to count frames correctly, as the depth is 28. Here, the top four differ in the two exceptions.

[2020-04-17 23:12] som-snytt commented on #11945
Probably it should report both `... 4 elided and 24 more`?

[2020-04-18 01:23] NthPortal commented on #11945
@som-snytt how do you feel about the following?

[code]

[2020-04-18 02:54] hrhino commented on #11942
Hmmk, this appears to be at least somewhat by design. `native` is defined as
[code]
so as far as Scala is concerned, there's absolutely no way that evaluating `native` will do anything but throw. Obviously for scala.js, that's not correct.

I think there are two possibilities here:
1) change scala.js to have `def native[T]: T = ...`, since that won't trigger the dead-code checker (but might cause

[2020-04-18 03:16] NthPortal commented on #11944
Scala can handle overriding Java varargs with Scala varargs.

I'm going to illustrate the problem by replacing varargs with their corresponding implementations (and translate everything to Scala).

[code]

then `RequestImpl` tries to inherit from both, and override the varargs method to return `play.mvc.Http.Request`. but those two `addAttrs` methods are not compatible, so it can't override both.

[2020-04-18 06:11] sjrd commented on #11942
I tried that a while ago. It didn't work. Scalac would insist on calling it dead code.

[2020-04-18 06:13] sjrd commented on #11942
What should be done is not to special-case `js.native` *calls*, but completely ignore any tree *annotated* with `@js.native`, along with everything that's inside it.

[2020-04-18 07:31] mkurz commented on #11944
@NthPortal Is there maybe a chance to workaround this with the help of the [`@varargs` annotation](https://www.scala-lang.org/api/current/scala/annotation/varargs.html)? I tried but couldn't make it work unfortunately...

[2020-04-18 08:06] joroKr21 commented on #11942
Would `def native[T <: Nothing]: T = ...` work?
I recently had to do this in a macro to avoid dead code warnings.

[2020-04-18 08:14] joroKr21 commented on #11942
Or the another option might be to define a type alias `type JsNative <: Nothing`

[2020-04-18 16:43] som-snytt opened #11946 "Wunused misses macro usages"
## reproduction steps

[code]

## problem

[code]

## expectation

`-nowarn`

[2020-04-18 18:56] som-snytt opened #11947 "Wunused position less useful in anonfun"
## reproduction steps

[code]

## problem

[code]

## expectation

Warning names the correct enclosing definition, and caret is at the unused definition.

Not a repl artifact, same result in regular project.

[2020-04-19 01:05] NthPortal commented on #11944
@mkurz no, that annotation is just to make the compiler generate a java-compatible varargs forwarder, which is done automatically if you're overriding a java varargs method

[2020-04-19 08:00] som-snytt commented on #9306
The example progressed because lambdas became static methods, so mangling the private accessor was no longer necessary.

However, as the bumper sticker says, "mangling happens":

[code]
so
[code]

[2020-04-19 10:55] mkurz commented on #11944
I knew it generates an array forwarder method, but didn't know such a method is generated _automatically_ anyway when overriding java varargs (so `@varargs` wouldn't make any difference), interesting.
So I guess there is now workaround for this problem right now?

[2020-04-19 17:00] halfmatthalfcat commented on #10541
Ran into this today on `1.3.9`. Restarting/republishing to local fixed it.

[2020-04-19 17:50] yomajkel commented on #10800
Happened to me just now, but it's working if instead of `Matchers` you import `Matchers._`.

@SethTisue, maybe you're IDE aded that import.

[2020-04-19 23:14] SethTisue commented on #10919
And also note that by going through `.view` like that you lose the original collection type, `toMap` will only be right if the original type was `immutable.Map`

fwiw, `transform` exists as a strict, collection-type-preserving alternative:

[code]

thx @OlegYch for the reminder

[2020-04-20 02:06] NthPortal commented on #11944
so, a possible workaround would be to create a Scala trait that extends `JRequest` and overrides the method with an abstract implementation

[code]

this (in theory) will create a trait that has an `addAttrs` method that takes Scala varargs instead of (technically in addition to) the Java varargs. then, you ought to be able to to extend `RequestImplHelper` and `RequestHeaderImpl` at the same time,

[2020-04-20 02:08] NthPortal commented on #11944
I'm actually going to leave this ticket open, on the thought that there is still something that can be improved here.

at the very least, we can improve the error message so it indicates that the two incompatible method signatures use different kinds of varargs.

it's not actually obvious to me that you *shouldn't* be able to override two different kinds of varargs at once. it seems like Scala oth

[2020-04-20 02:24] NthPortal commented on #11944
More minimal repro:

[code]

[code]

[code]

[code]

[2020-04-20 13:50] #11945 closed

[2020-04-21 04:17] som-snytt commented on #11312
There is no information here about which version of Scala and Intellij/sbt or what is compiled besides the annotation, which cannot be used because its constructor is private. Stack trace says implicit search forces the annotation.

[2020-04-21 13:45] RoniFinTech opened #11948 "Scala doesn't complain about implicit ambiguity"
## reproduction steps

[code]

## problem

The problem is that the compiler doesn't complain about ambiguous implicit of the same type. Why is that?

## expectation
error ambiguous implicits.

[2020-04-21 13:54] lrytz commented on #11948
https://stackoverflow.com/questions/8623055/scala-implicit-parameter-resolution-precedence

https://www.scala-lang.org/files/archive/spec/2.13/07-implicits.html#implicit-parameters

[2020-04-21 13:54] #11948 closed

[2020-04-21 14:26] SethTisue commented on #11948
please use https://users.scala-lang.org for questions

[2020-04-22 02:22] zoogenic opened #11949 "$anon$1 class make compiler print java stack trace"
## reproduction steps

[code]

## problem

[code]
## expectation
Compiler shouldn't output java stack trace. I would rather expect more informative error message

[2020-04-22 02:27] SethTisue commented on #11949
https://scala-lang.org/files/archive/spec/2.13/01-lexical-syntax.html says:

but you're of course right that a proper error message would be better.

[2020-04-22 02:32] SethTisue commented on #11949
even just compiling `class $anon$1` by itself crashes the compiler, though with a different error message:

[code]

[2020-04-22 04:03] zoogenic commented on #11949
I guess the problem is `$anon$1` itself. It is a reserved anonymous class name. After replacing `$anon$1` with, say, `$bnon$1` the code works fine. And maybe it is another bug, if `$` is prohibited. The following code works:

[code]
**Output**
[code]

[2020-04-22 04:05] SethTisue commented on #11949
yeah basically if you use `$` in an identifier you're on your own, you might step on a landmine or you might not

[2020-04-22 08:13] dwijnand commented on #11949
Better, but "not a bug" or, put differently, an issue worth keeping open, IMO.

[2020-04-22 20:19] #8808 closed

[2020-04-23 10:23] ikempf opened #11950 ""-Woctal-literal" does not work in 2.13.2"
In Scala 2.13.2 the `-Woctal-literal` is giving false positives. This did not happen in 2.13.1.
This issue affects `integer` and `hex` literals.

## reproduction steps
Minimal program:
[code]
Compile using:
[code]

## problem

[code]

## expectation
The integer value `0` should not be considered as "having a leading zero".
IMO hex litterals should still allow leading zeros as writing `0x1A 0x07` i

[2020-04-23 10:27] japgolly opened #11951 "For-comp with no yield synthesises a .map call"
## reproduction steps

Desugar the following:

[code]

## problem

It effectively desugars to:

[code]

## expectation

Because there's no `yield`, I expect all `.flatMap` and `.map` calls to be `.foreach` instead. It should desugar to:

[code]

[2020-04-23 10:48] Jasper-M commented on #11951
Isn't that more or less the general issue that assignments (`y=1`) in for comprehensions incur an extra `map` call?

[2020-04-23 11:01] joroKr21 commented on #11951
You need https://github.com/oleg-py/better-monadic-for

[2020-04-23 11:25] martijnhoekstra commented on #11951
specced at https://scala-lang.org/files/archive/spec/2.13/06-expressions.html#for-comprehensions-and-for-loops to everyones chagrin as

https://contributors.scala-lang.org/t/pre-sip-improve-for-comprehensions-functionality/3509/52 is the canonical contributors thread.

[2020-04-23 11:55] soronpo opened #11952 "Scala 2.13.2 bridge builds with warnings"
## reproduction steps
Any fresh build of a project with 2.13.2.

## problem
I get
[code]
It's only occurring at the first bridge build

## expectation
No warnings displayed

[2020-04-23 12:27] smarter commented on #11952
The bridge is built with `-nowarn`: https://github.com/sbt/zinc/blob/2f1bad9874d9a4fdca7e17f071ae1943ec45521e/internal/zinc-compile-core/src/main/scala/sbt/internal/inc/AnalyzingCompiler.scala#L376. @lrytz Did https://github.com/scala/scala/pull/8373 change the behavior of `-nowarn`? Is there another flag that should be used by zinc, or should zinc filter the compiler output manually?

[2020-04-23 12:42] lrytz commented on #11952
Not that I'm aware. The regression seems to be in 2.13.1:

[code]

[2020-04-23 14:31] xuwei-k opened #11953 "compile error scalaz with Scala 2.13.2 ( "covariant type A occurs in invariant position")"
## reproduction steps

[code]

## problem

- https://travis-ci.com/github/scalaz/scalaz/jobs/322570510#L608
- https://github.com/scalaz/scalaz/blob/9a5df84b6bd9ac762d2aa52075c8d136cb05895b/core/src/main/scala/scalaz/IList.scala#L507-L513

[code]

## expectation

not compile error.

[2020-04-23 14:44] SethTisue commented on #11953
@joroKr21 might this have to do with https://github.com/scala/scala/pull/8545 ?

[2020-04-23 14:45] xuwei-k commented on #11953
more simpler example

[code]

[2020-04-23 14:50] smarter commented on #11953
This is unsound in general so scalac is right to reject this code:
[code]

[2020-04-23 14:51] #11953 closed

[2020-04-23 14:53] smarter commented on #11953
(you should be able to use `@uncheckedVariance` to bypass this)

[2020-04-23 14:54] xuwei-k commented on #11953
Thank you for quick response!

[2020-04-23 15:04] joroKr21 commented on #11953
What @smarter said 😄

[2020-04-23 18:55] NthPortal commented on #11950
@som-snytt

[2020-04-23 19:14] som-snytt commented on #11950
"How is that possible?"

[2020-04-23 22:34] KeithGrant opened #11954 "Compiler error "Decimal integer literals should not have a leading zero." for single digit zero"
## reproduction steps

[code]

[2020-04-23 23:28] SethTisue commented on #11954
duplicate of #11950

[2020-04-23 23:28] #11954 closed

[2020-04-24 07:30] #11950 closed

[2020-04-24 17:35] philwalk opened #11955 "URISyntaxException during publishLocal scaladoc phase"
## reproduction steps

[code]
NOTE: problem depends on jdk-11.0.6 ;
when I run sbt with jdk-8u251, the problem goes away.

sbt version seems not to matter (reproduced problem with 1.3.8 and 1.3.10).
scala build version: 2.13.2
[code]

Here's the full stackdump:
[code]
## expectation

[2020-04-24 17:49] eed3si9n commented on #11955
The main exception seems to be:

Do you have Scaladoc that links to `java.io.Serializable`?

[2020-04-24 18:02] eed3si9n commented on #11955
Maybe this is a variant of https://github.com/scala/bug/issues/11839

[2020-04-24 18:05] eed3si9n commented on #11839
There a report https://github.com/scala/bug/issues/11955 that says Scala 2.13.2 produces "java.net.URISyntaxException: Illegal character in path at index 53: https://docs.oracle.com/en/java/javase/11/docs/api/C:\opt\jdk\jmods\java.base/java/io/Serializable.html".

Not sure if OP is using `apiMappings`, but it seems like `java.base` isn't working?

[2020-04-24 18:16] philwalk commented on #11955
Yes, this seems quite similar to #11839.
Here's my scaladoc, which is not a symlink:

/opt/scala-2.12.11/bin/scaladoc: Bourne-Again shell script, ASCII text executable

[2020-04-24 18:25] philwalk commented on #11955
The root problem, AFAIKT, seems to be that the URI is not valid, and it seems likely that the problem would only occur with a Windows build (no colons in the path, otherwise).   I'll try to verify that the problem goes away in a linux build.

[2020-04-24 18:28] philwalk commented on #11955
Problem goes away unless build server is running Windows.  I had a successful build under WSL (same Windows server, but running Ubuntu).

[2020-04-24 19:03] eed3si9n commented on #11955
I meant something like:

[code]

I'm guessing that if someone were to reproduce this on their (Windows) machine the above would be needed.

[2020-04-24 19:43] ashawley commented on #11955
There is not a URISyntaxException in #11839.  It has to do with JDK11, but it has to do with using apiMappings and the Java modules (JEP 261).  Scaladoc just produces a warning such as "Could not find any member to link for "java.io.Serializable" and fails to produce the cross-reference hyperlink.

[2020-04-24 19:49] steven-barnes commented on #11839
I can look at this, however I do not have a Windows machine.

[2020-04-24 21:17] steven-barnes commented on #11839
Eyeballing the code, this is probably the issue:
      val tokens = path.split("/")

This needs to be "\" on Windows. java.io.File.separatorChar would work

My apologies, but lacking a Windows machine, I cannot test this

[2020-04-24 21:31] ashawley commented on #11839
Yeah, I don't think #11955  has to do with the original bug report here.  It may have been related to the pull request https://github.com/scala/bug/issues/10675

[2020-04-24 21:33] ashawley commented on #11955
There is a chance that this was broken with the changes in https://github.com/scala/bug/issues/10675 though.  It looks like this still needs to be reproduced, though.

[2020-04-24 21:43] martijnhoekstra commented on #11839
Careful, split takes a regex. You need to quote it.

[2020-04-24 21:51] steven-barnes commented on #11839
Ah yes, the famous quadruple-backslash regex. Thanks for catching that.

[2020-04-24 22:30] ashawley commented on #11955
I've reproduced it on Appveyor in this repo:

https://github.com/ashawley/scala-issue-11955

[2020-04-25 06:04] som-snytt commented on #11949
I'm not sure if dwijnand is voting to close or endorsing better behavior.

There are other issues that turn on weird encoding or implementation details.

spec:

The ‘$’ character is reserved for compiler-synthesized identifiers. User programs should not define identifiers which contain ‘$’ characters.

[2020-04-25 08:12] #11949 closed

[2020-04-25 12:35] martijnhoekstra commented on #11955
what's the minimal reproduction for this?

[2020-04-25 13:42] SethTisue commented on #11949
(earlier I said "a proper error message would be better", but I also agree with closing the ticket; we don't need to litter the bug tracker with opportunities to improve individual error messages, especially in unusual, out-of-bounds situations like this one)

[2020-04-25 20:38] steven-barnes commented on #11955
I believe this will fix the problem, but I have no way to test on Windows.

https://github.com/scala/scala/pull/8922

[2020-04-25 21:17] SethTisue commented on #11955
I put some testing instructions on the PR in the hopes someone will volunteer to try it.

[2020-04-25 23:49] som-snytt opened #11956 "ctl-C in REPL slays instead of some other behavior"
## reproduction steps

Under Ubuntu subsystem under Windows:

[code]

## problem

The part where it slays.

## expectation

No expectation for ctl-C under REPL at this time, but I hit ctl-C by reflex.

I kind of thought it would just exit.

[2020-04-26 18:20] som-snytt opened #11957 "REPL warnings reporting inconsistent or missing"
## reproduction steps

[code]

[code]

[code]

## problem

Warnings are not always displayed.

## expectation

No idea. When `IMain#updateRecentWarnings` was introduced for 2.10, the idea was to show warnings once instead of twice, so the final compilation was suppressed, and `:warnings` is available to show anything you might have missed. REPL was refactored with more finicky compilation, so it s

[2020-04-27 04:50] eugeniyk commented on #10616
Currently using bounded, rethrowable executor is not possible without mentioned hack.

Why it's a hack? Constructing `Future` / map / flatMap / onComplete / transform / etc supposed to be safe for `NonFatal` exceptions. `RejectedExecutionException` is expected behavior as backpressure signal, and it's not error neither fatal.

I agree with @gabrielgiussi, making Future never complete has to be avo

[2020-04-27 08:16] viktorklang commented on #10616
@eugeniyk Cancellation is not part of the Future state space—Cancellation is related to a task, and Future represents a value. See: https://viktorklang.com/blog/Futures-in-Scala-protips-6.html

[2020-04-27 11:39] eugeniyk commented on #10616
that's interesting

we keep modelling Future as `value` eventually available in future (if it's forever - it's probably a leak or algo completeness issue), at the same time we are aware of exceptions and JVM errors, but we are limiting internal relation to java `Executors` that potentially has richer states

I don't mean here that I can cancel the future (as Future is read-only part from consumer

[2020-04-27 12:46] ryanberckmans opened #11958 "scala.collection.mutable.StringBuilder is missing underlying API append(s, offset, len)"
[scala.collection.mutable.StringBuilder](https://www.scala-lang.org/api/2.13.2/scala/collection/mutable/StringBuilder.html) has no API to append a substring, unlike the underlying java.lang.StringBuilder's [API to do so](https://docs.oracle.com/javase/8/docs/api/java/lang/StringBuilder.html#append-java.lang.CharSequence-int-int-).

[2020-04-27 13:38] lrytz commented on #11958
@ryanberckmans hi, this issue tracker is for bugs. Please use https://users.scala-lang.org for discussion.

[2020-04-27 13:38] #11958 closed

[2020-04-27 13:42] counter2015 commented on #9434
I just tried scala 2.13.2 REPL and it does not show input in Windows10 Family Version 1909.
![1](https://user-images.githubusercontent.com/13608862/80378407-32cb1800-88cf-11ea-8b0d-da7ec48bc523.gif)

However, in 2.13.1 it works
![GIF1](https://user-images.githubusercontent.com/13608862/80378869-e3391c00-88cf-11ea-86cb-7c9d5166a492.gif)

[2020-04-27 14:06] SethTisue commented on #9434
@counter2015 please open a new ticket. it's conceivable we'll discover some relationship between the two tickets, but this ticket differs from your report in two important respects:

1) this ticket is about the behavior of `sbt console`, not `scala.bat`
2) this ticket predates Scala 2.13.2, whereas your report is about a regression in 2.13.2

[2020-04-27 14:16] counter2015 commented on #9434
@SethTisue ok, I will open a new ticket

[2020-04-27 14:24] counter2015 opened #11959 "Scala 2.13.2 REPL doesn't show input in Windows 10 CMD and PowerShell."
## reproduction steps
Environment
-  Windows10 Family Version 1909
- Scala 2.13.2

## problem
In 2.13.2, input cannot be echoed to the screen
![1](https://user-images.githubusercontent.com/13608862/80378407-32cb1800-88cf-11ea-8b0d-da7ec48bc523.gif)

However, in 2.13.1 it works
![GIF1](https://user-images.githubusercontent.com/13608862/80378869-e3391c00-88cf-11ea-86cb-7c9d5166a492.gif)

## expectat

[2020-04-27 15:22] ryanberckmans commented on #11958
thanks https://users.scala-lang.org/t/add-scala-collection-mutable-stringbuilder-charsequence-start-end/5963

[2020-04-27 18:23] hepin1989 opened #11960 "DuplicateValueAnnotationError when Compile Akka with java 13"
Check out https://github.com/akka/akka/pull/28984 and run `sbt +sortImports` with  ：

[code]
https://github.com/scala/scala/blob/bd83c8445cfb5f53ef392a760a22e5e45ed82f41/src/compiler/scala/tools/nsc/typechecker/ContextErrors.scala#L571

detail logs:

[code]

[2020-04-27 20:54] thewilly opened #11961 "mutable.PriorityQueue does not override Iterable.isTraversableAgain"
## reproduction steps
It is very simple to reproduce, just create an empty priority queue and chech the status of the `isTraversableAgain` flag. Will print that it is tru but it should not.

[code]

## problem
Most of the time you traverse a PriorityQueue as follows:
[code]
This will generate an exception because the priority queue is empty but the isTraversableAgain flag is true, when it should n

[2020-04-27 21:08] Jasper-M commented on #11961
`isTraversableAgain` is not similar to `hasNext`. The doc for `isTraversableAgain` says the following.

[2020-04-27 21:09] thewilly commented on #11961
Okay then can be closed 😁, sorry.

[2020-04-27 21:50] #11961 closed

[2020-04-28 02:29] som-snytt opened #11962 "Spurious side-effecting nullary warning with universal trait"
## reproduction steps

[code]

## problem

[code]

## expectation

Expectation was that turning on `-Xlint` for partests might exercise linting in interesting ways.

[2020-04-28 11:55] dwijnand commented on #11962
I'll try to take care of this, but feel free to work-steal me.

[2020-04-28 13:35] eugeniyk commented on #10616
Btw in guava they are using one-shot rejection-aware context (https://github.com/google/guava/blob/9537f78cc652a4f5e77f4f418d5bbf4f49674515/android/guava/src/com/google/common/util/concurrent/MoreExecutors.java#L967) that allows them to fail it

Is there any significant design differences with std scala one? I'm trying to figure out but lost with states, callbacks, executors and listeners =)

[2020-04-28 20:40] dubinsky opened #11963 ""illegal cyclic reference" again"
## reproduction steps

[code]

## problem

With Scala 2.13.0, 2.13.1 and 2.13.2:
[code]

## expectation

[code]
like with Scala 2.12.10 :)

I do not understand if this is related to #11640 (or #11734) or is actually illegal in Scala 2.13 (and Dotty). I wasn't able to find a work-around :(

[2020-04-29 00:06] som-snytt opened #11964 "Unused temporary for lonely vararg in named args rewrite"
## reproduction steps

[code]

## problem

[code]
where
[code]

## expectation

Less cruft.

[2020-04-29 01:00] som-snytt opened #11965 "Nonlocal return in lambda induces fruitless specialization"
## reproduction steps

(with `-Xlint`)

[code]

## problem

[code]

## expectation

Or is it fruity?

I don't need advice I can't act on. This is the coronavirus test of lints. Since I can't do anything about it, I'm not sure I want to know.

[2020-04-29 02:13] japgolly opened #11966 "Triple quoted strings and raw interpolated strings swallow trailing backslash and emit spurious warning"
## reproduction steps

[code]

## problem

[code]

## expectation

Silence from scalac. I'm not using a unicode escape.

[2020-04-29 02:32] SethTisue commented on #11966
2.13.2 regression. @martijnhoekstra want to take a look...?

[2020-04-29 12:55] martijnhoekstra commented on #11966
darn.

[2020-04-29 13:10] martijnhoekstra commented on #11966
The spurious error is the least problematic part of the bug.

[code]

[2020-04-29 13:49] neko-kai opened #11967 "2.13.2: Spurious octal literal warnings for ordinary `0` literal with -Woctal-literal"
## reproduction steps

To reproduce execute:

[code]

## problem

A LOT of spurious warnings appear for ordinary, non-octal `0` literals, such as:

[code]

## expectation

Expected no octal literal warnings

[2020-04-29 14:10] lrytz commented on #11967
This is a duplicate of https://github.com/scala/bug/issues/11950, already fixed in 2.13.x :)

[2020-04-29 14:10] #11967 closed

[2020-04-29 14:21] neko-kai opened #11968 "2.13.2: @uncheckedVariance is ignored in type member definitions"
## reproduction steps

To reproduce execute:

[code]

## problem

Unchecked variance annotations are ignored and variance errors abort compilation:

[code]

Minimized example (https://scastie.scala-lang.org/NupT3nqjS6qGhHIIAYaA3A):

[code]
[code]

## expectation

Expected code to compile as in 2.13.1.

[2020-04-29 15:29] NthPortal commented on #11950
this has already come up several times, and 2.13.2 has barely been out. is it worth pushing out 2.13.3 sooner rather than later just to fix this?

[2020-04-29 15:55] neko-kai commented on #11968
Unchecked variance annotation was prompted by buggy implicit search involving variant higher-kinded types, the bug still persist in `2.13.2` so trying to [remove uncheckedVariance](https://github.com/7mind/izumi/commit/c521880e50315df8e24d6ad9d823799dc1ba68b1) didn't work:

[code]

[code]

I can't seem to find any workaround to compile this code under `2.13.2`

[2020-04-29 16:23] som-snytt commented on #11950
Workaround is `-Woctal-literal -Wconf:msg=Octal:s` or more refined filtering.

Maybe scala center will release a scalafix that turns `val x = 0` into `var x: Int = _` or `1-1`.

[2020-04-29 16:40] SethTisue commented on #11950
I don't think so given that 1) most people aren't using `-Woctal-literal` in the first place, 2) the problem is highly googleable, 3) the workaround is easy

But note also that the 7-month delay between 2.13.1 and 2.13.2 was highly unusual. We expect to build 2.13.3 in 2–3 months.

Is there any reason to do it this way rather than to just omit `-Woctal-literal`?

[2020-04-29 16:43] SethTisue commented on #11960
is the problem reproducible in a small, self-contained example?

[2020-04-29 17:12] som-snytt commented on #11950
For example, it warns on `0`, `007`, `0x007`. The spurious warnings can be selected by source file.

`'-Wconf:msg=Octal&src=octal.scala:s'`

where the extra single quotes are for shell escaping. The warnings have an empty "site", so that is not useful for selection.

[2020-04-29 17:50] joroKr21 commented on #11968
I didn't know you can use `@uncheckedVariance` like that

[2020-04-29 18:36] joroKr21 commented on #11968
@neko-kai can you open another issue for the implicit search problem?

[2020-04-29 21:21] neko-kai commented on #11968
will do

[2020-04-29 22:58] SethTisue commented on #8307
this is no longer the case (in 2.11.12 or 2.12.11 or 2.13.1 or 2.13.2)

on this kind of thing, we take whatever JLine 3 gives us (JLine 3 is what we're using as of Scala 2.13.2; before that we were on JLine 2)

it works for me in both 2.13.1 and 2.13.2, not sure about older versions

[2020-04-29 22:58] #8307 closed

[2020-04-29 23:06] SethTisue commented on #9249
@som-snytt I'm inclined to close this as I don't really see a problem here. maybe it's me. want to convince me to leave it open?

[2020-04-29 23:09] SethTisue commented on #8971
these days this gives "error: repeated parameters are only allowed in method signatures; use Seq instead" (including in Ammonite)

[2020-04-29 23:09] #8971 closed

[2020-04-29 23:10] SethTisue commented on #10929
@som-snytt I don't understand the thinking here

[2020-04-29 23:12] SethTisue commented on #10873
fixed, presumably by @martijnhoekstra's unicode-escape change in 2.13.2

[2020-04-29 23:12] #10873 closed

[2020-04-29 23:13] #9695 closed

[2020-04-29 23:14] SethTisue commented on #9695
believed fixed in 2.13.2. if not fixed for you, please open a new ticket and be maximally specific about the conditions for reproducing it

[2020-04-29 23:15] SethTisue commented on #7956
closing on the assumption this is no longer a problem in 2.13.2 (and perhaps no longer a problem in earlier versions, even)

[2020-04-29 23:15] #7956 closed

[2020-04-29 23:17] SethTisue commented on #9434
the new ticket opened by @counter2015 is #11959

I'm closing this ticket on the hopeful assumption that there aren't any _other_ problems as of 2.13.2

[2020-04-29 23:17] #9434 closed

[2020-04-29 23:20] SethTisue commented on #3305
`-Yrepl-class-based` is the default in 2.13.2

[2020-04-29 23:20] #3305 closed

[2020-04-29 23:21] SethTisue commented on #3821
I don't think we need to leave this open, lots of fiddly stuff can affect the JIT.

Anyway the situation may well be different in 2.13.2 now that class-based wrappers are the default.

[2020-04-29 23:21] #3821 closed

[2020-04-29 23:22] SethTisue commented on #4219
sounds like a JLine thing. if it's still reproducible in 2.13.2 (which upgrades our REPL to use JLine 3), say so and we'll reopen.

[2020-04-29 23:22] #4219 closed

[2020-04-29 23:26] SethTisue commented on #6297
if anyone is able to reproduce this in 2.13.2, we can reopen

[2020-04-29 23:26] #6297 closed

[2020-04-30 02:29] som-snytt commented on #3821
The problem was running in the static initializer, solved by class wrappers.

[2020-04-30 02:38] som-snytt commented on #10929
Closing this as obsolete because the refactored REPL (work underway) requires the backend (compiler) is initialized concurrently with the frontend (line reader), so a special "splash reader" (like a splash screen except it read a line of text so user could start typing) is no longer required. This description is partly aspirational.

[2020-04-30 02:38] #10929 closed

[2020-04-30 02:40] som-snytt commented on #9249
JLine 3 offers more and better options.

[2020-04-30 02:40] #9249 closed

[2020-04-30 08:31] inkytonik commented on #11965
I'm seeing this warning too when moving Kiama to 2.13.2. sbt reports the fruitless warning with no coordinate information, so I can't even try to avoid it. And warnings are errors for us...

[2020-04-30 08:54] lrytz commented on #11965
Using `scala -Xlint -Wconf:any:wv`, you see

[code]

So you can work around it with `scala -Xlint:_,-unit-special`, or even `scala -Xlint '-Wconf:cat=lint-unit-specialization&site=.*NonLocalReturnControl.<init>:s'`

The warning site is wrong, should be `f` of course, not `NonLocalReturnControl.<init>`.

[2020-04-30 11:46] martijnhoekstra commented on #11966
When a string or raw interpolator ends with a backslash, that backslash is swallowed if there are additional backslashes in the string, at least 5 positions before the end.

[2020-04-30 14:21] SethTisue commented on #11965
another report, though it doesn't involve nonlocal return: https://users.scala-lang.org/t/help-to-understands-fruitless-specialization-warning/5968

[2020-04-30 17:07] som-snytt commented on #11965
Today I plan to leave a little extra time today to finish reading `-Wconf:help`.

I see I left a comment to remove specialization on Unit from `NonLocalReturnControl` later, it breaks binary compat.

But it's erroneously warning on the instance creation, an innocent `new`.

[2020-04-30 17:36] neko-kai opened #11969 "Spurious illegal premature access to the unconstructed `this` error when using local methods inside a by-name closure in super-class constructor parameter"
## reproduction steps

Minimized example:

[code]

## problem

The above fails to compile with an error:

[code]

However, the error can be worked around by enclosing the block in a redundant function with `().pipe { _ => ... }`, in which case it will compile and work as expected at runtime:

[code]

Which shows that the code doesn't actually trigger an implementation restriction.

## expectation

[2020-04-30 19:46] neko-kai commented on #11969
Note: the above can also be worked around by making `X`'s parameter by-name. However, there's another version of the bug that can't be worked around like that:

[code]

Despite `a: => Any` this still does not compile:

[code]

But a `pipe` still works around it.

[2020-04-30 21:14] neko-kai opened #11970 "Implicit is not found when a multi-variant higher kinded type is involved with another invariant implicit requirement"
## reproduction steps

Reproduction minimized from a [real-world implicit](https://github.com/7mind/izumi/blob/develop/distage/distage-core-api/src/main/scala/izumi/distage/model/definition/DIResource.scala#L758):

[code]

## problem

[code]

## expectation

Expected success. If the commented out header without variance on `F` type parameters is used, the implicit is found. Also, if `: HasConstruc

[2020-04-30 21:14] neko-kai commented on #11968
@joroKr21 Posted - https://github.com/scala/bug/issues/11970, yes, it's fixed in Dotty.

[2020-05-01 01:37] SethTisue commented on #11843
https://github.com/scala/scala/pull/8639 was closed, but could be picked up again

[2020-05-01 01:39] SethTisue commented on #11938
https://github.com/scala/scala/pull/8874 was closed, but could be picked up again

[2020-05-01 02:08] som-snytt commented on #11938
I didn't want to clutter the queue with drafts. I'll get back to it, but I don't mind if someone else does first.

[2020-05-01 02:09] som-snytt commented on #11843
It might be too hot to pick up.

[2020-05-01 02:39] SethTisue commented on #11844
I found that the default behavior did change between 2.12 and 2.13, so it appears to me that we do need the migration warning:

2.12.11:

[code]

2.13.2:

[code]

I'm working on a PR.

[2020-05-01 02:59] joroKr21 commented on #11970
Ah that's just another instance of the well known problem that `scalac` refuses to infer implicits when type parameters are inferred to be `Nothing`. In this case `R0`. If you add one more instance for `R0 = Nothing` it works. If you remove the contravariance in `F` `R0` is inferred to be `Any`.

[2020-05-01 04:28] SethTisue commented on #11844
PR: https://github.com/scala/scala/pull/8945

[2020-05-01 13:41] NthPortal commented on #11844
thank you Seth 💜

[2020-05-01 21:15] chengniansun commented on #11970
Hi,

I am curious how you minimized the attached test program? Did you use a customized delta debugger, or any existing minimization tool?

Thank you.

[2020-05-01 22:10] neko-kai commented on #11970
Just manually until version without variance compiled but not with

[2020-05-01 22:32] chengniansun commented on #11970
Thanks.

[2020-05-02 15:41] kythyra opened #11971 "2.13.2 - Compiler - StackOverflowError - illegal cyclic reference goes undetected when mixing in traits"
## reproduction steps

Compiler crashes with `StackOverflowError` for this code.
[code]

Although, if we remove trait `D` from the mixin.
[code]
The compiler is able to detect an illegal cyclic reference, before going into `StackOverflowError`.
[code]

## problem

Compiler crashes with:
[code]

(This stack trace bit below repeats itself...)

[code]

## running environment

compiled with sbt 1.3.10

[2020-05-02 16:34] SethTisue commented on #11971
Dotty:

[code]

[2020-05-03 01:00] bbonanno opened #11972 "Subtype information getting lost"
Hi there, I recenctly got this bug mockito/mockito-scala/issues/229 reported and after some digging it seems to be caused by what I think it may be a bug in the compiler.

## reproduction steps
In the following scenario, the inheritance information is not present on the compiled Class (Tested in both 2.12.11 and 2.13.2)

[code]

## problem

Running that code will print

[code]

## expectation

It

[2020-05-03 03:33] sjrd commented on #11972
That is unfortunately unavoidable. On the JVM, an interface cannot extend any class but `Object`. So if you look at Java reflection, which only uses the JVM type system, and not the Scala type system, you have no way of telling that the trait initially extended a class.

[2020-05-03 08:09] som-snytt opened #11973 "Multiarg setter [sic] is not a candidate for assignment rewrite"
## reproduction steps

[code]

## problem

[code]

## expectation

No expectation, just looking for broken multiarg infix idioms.

However, in retrospect, one might expect it to notice that the method is not a legal setter, which spec says must have the form `def x_=(y: T)`. The rewrite should not be attempted.

Other forms are accepted, such as `def x_=(i: Int, j: Int = 0): Unit = value = i + j`.

[2020-05-03 08:13] som-snytt commented on #11973
Similarly,
[code]
which is same as doti.

[2020-05-03 15:11] #11972 closed

[2020-05-04 00:55] som-snytt commented on #11843
We only need to transfer 3000 issues to doti in order to catch them up.

[2020-05-04 07:52] hjmeijer opened #11974 "scala-compiler contains jQuery below 3.5.0 which has XSS vulnerabilities"
## reproduction steps

Create a minimal project using `scala-compiler` and add the [sbt-dependency-check](https://github.com/albuch/sbt-dependency-check) plugin:

[code]

Run the plugin:
[code]

## problem

Dependencycheck reports (in `target/scala-2.13/dependency-check-report.html`) indicate vulnerabilities in jquery below 3.5.0:

## expectation

No vulnerabilities in `scala-compiler`.

[2020-05-04 09:51] #11952 closed

[2020-05-04 10:37] sjrd opened #11975 "-Xno-forwarders does not have any effect on objects without companiong class"
## reproduction steps

[code]
[code]

If I add an empty companion class for `Test`, like this:

[code]
then there is no `public static in foo(int)`:
[code]

## problem

Despite `-Xno-forwarders`, scalac creates a synthetic companion class for `Test` and creates static forwarders for its methods *when there is no normal companion class*. This is not consistent with the behavior when there is compan

[2020-05-04 14:20] #11968 closed

[2020-05-04 15:50] ganchurin commented on #11821
@SethTisue May I take this one?

[2020-05-04 16:56] bbonanno commented on #11972
@SethTisue Fair enough, many thanks for your answer!

[2020-05-04 17:07] SethTisue commented on #11821
go for it!

[2020-05-04 21:19] SethTisue commented on #4145
closing this in favor of the broader #8099

[2020-05-04 21:19] #4145 closed

[2020-05-05 03:39] dhruvilshah3 opened #11976 "Regression in asScala methods for maps in 2.13"
## reproduction steps

[code]

## problem

Starting 2.13, the behavior for `asScala` methods for Java maps seems to have changed. When using the `partition` method with a Java map, the map is iterated twice as opposed to just once when using a Scala map.

[code]

## expectation
This is a regression from 2.12 where the Java map is iterated exactly once.

[2020-05-05 06:49] lrytz commented on #11976
The reason is that the implementation of `partition` is now lazy by default (to support lazy / infinite Maps), which means the original map is traversed twice when the result is forced.

In principle this also makes sense for JavaConverters, as the conversion [is defined for `java.util.Map`](https://github.com/scala/scala/blob/2adbc1ad83bc3a18f1aa15d9996410fad9a1c7b3/src/library/scala/collection/c

[2020-05-05 14:04] #11965 closed

[2020-05-05 15:51] lokanathnayak opened #11977 "Not found Type WithFilter while upgrading to scala 2.12"
HI,

Recently I have upgraded the play to 2.6 and scala to 2.12. Below code was working fine with previous version, but now its trowing compilation error in upgraded version.

object Global extends WithFilters {

override def doFilter(next: EssentialAction): EssentialAction = {
    Filters(super.doFilter(next), CustomOverridingFilter)
  }

override def onError(request: RequestHeader, throwable: Th

[2020-05-05 16:28] SethTisue commented on #11977
please use https://users.scala-lang.org for questions

[2020-05-05 16:28] #11977 closed

[2020-05-05 20:50] SethTisue commented on #11977
https://stackoverflow.com/questions/61617423/play-migration-to-2-6-and-scala-2-12-compilation-issue-while-using-withfilter

[2020-05-05 22:30] ganchurin commented on #11821
Opened a pull request. Please take a look when you have time.

[2020-05-05 23:19] SethTisue commented on #11249
It's hard to say a priori. It might depend on the nature of the fix. It might also depend on whether a volunteer chooses to submit a backport.

[2020-05-06 00:03] SethTisue opened #11978 "2.13.2 regression: enabling `-Ymacro-annotations` defangs `-Wunused:imports`"
[code]

the import is unused, but adding `-Ymacro-annotations` prevents that from being reported

this regressed in 2.13.2; if you do the above on 2.13.1 it's fine

(reported by @Billzabob on Gitter; great catch!)

(note that `--scala-version` comes from [scala-runners](https://github.com/dwijnand/scala-runners), though that's not important to the bug)

[2020-05-06 00:09] SethTisue commented on #11978
attn @som-snytt @lrytz

[2020-05-06 00:39] som-snytt commented on #11978
Probably because Namers must makeImportContext after https://github.com/scala/scala/pull/8801

[2020-05-06 01:48] SethTisue commented on #11974
thank you for calling this to our attention!

PR: https://github.com/scala/scala/pull/8963

[2020-05-06 07:32] #11978 closed

[2020-05-06 08:00] #11821 closed

[2020-05-06 08:44] som-snytt commented on #10821
I asked on gitter if Dotty would accept this ticket there.

The codebase tends to use extra parens for `case x @ (P :: rest)`.

Example where required parens are missing: https://github.com/scala/scala/blob/2.13.x/src/compiler/scala/tools/nsc/transform/CleanUp.scala#L344

[2020-05-06 08:58] som-snytt commented on #9234
There is a trivial test test/files/neg/t6631.scala
[code]
https://github.com/scala/scala/pull/7678

[2020-05-06 08:58] #9234 closed

[2020-05-06 09:03] #11966 closed

[2020-05-06 09:10] liufengyun opened #11979 "Initialization error in stdlib"
I'm running Dotty initialization checker on stdlib, it reports an error.

I checked the source, it seems to be a true positive to me.

## problem

[code]

[2020-05-06 09:26] lrytz commented on #11979
Very nice, congrats on your work! cc @viktorklang

[2020-05-06 09:33] dwijnand commented on #11979
I tried changing that to explicitly being `null`:

[code]

and that completely breaks them:

[code]

which leads me to think it's not a true positive?  But I couldn't tell you why it works...

[2020-05-06 09:36] liufengyun commented on #11979
Thanks  @dwijnand , that is interesting. I'll look closer to see if I miss something here.

[2020-05-06 09:37] dwijnand commented on #11979
Just to add: I was just thinking, my diff might be too big a hammer, as it affects all constructions of `DefaultPromise` through that constructor...  But it fails because it can't initialise `Future$` so I think it's having the correct effect.

[2020-05-06 10:08] liufengyun commented on #11979
I added an assertion:

[code]

And the test failed:

[code]

[2020-05-06 10:43] liufengyun commented on #11979
The stack trace seems to confirm it's indeed a true positive:

[code]

[code]

[2020-05-06 11:20] viktorklang commented on #11979
Given that the code wouldn't pass tests if it didn't work—may I suggest some change in initialization logic which might affect this on Dotty?

[2020-05-06 12:08] liufengyun commented on #11979
The stack trace and assertion error come from Scala 2.13 compiler. It could be that the `null` value in `DefaultPromise` is never used, thus it is not an issue in practice.

[2020-05-06 12:29] dwijnand commented on #11979
Ah, I think I know what's happening.  It's only happening for Noop: Noop's initial value is null rather than Noop.  But that value never gets used.  My diff of making it always null for everything is too aggressive.

But I can't see an obvious way to fix that, particularly with Viktor's min/max'ing of bytecode/instructions.

[2020-05-06 12:32] viktorklang commented on #11979
@dwijnand @liufengyun AFAICS Noop is only used in methods (constructors are methods) and therefor it is alway initialized at the time when it is used. Can you link to a speicific line where it will be null at runtime?

[2020-05-06 12:36] dwijnand commented on #11979
https://github.com/scala/scala/blob/v2.13.2/src/library/scala/concurrent/impl/Promise.scala#L113

That line, when that's invoked from https://github.com/scala/scala/blob/v2.13.2/src/library/scala/concurrent/impl/Promise.scala#L367

I.e. it's recursive - an initialisation error.  One that doesn't seem to have any effect as Noop's "initial value" is never used.

[2020-05-06 12:38] dwijnand commented on #11979
@liufengyun I assume this equally reports as an error, right?

[code]

[2020-05-06 13:05] viktorklang commented on #11979
@dwijnand Ah, ok, yes—that's a benign side-effect then.

[2020-05-06 14:59] Lasering opened #11980 "False positive for -Wunused:privates under "-Xsource:3""
## Reproduction steps
https://scastie.scala-lang.org/lhejtNgFRtSxx0UXQiD2SA

Inlined:
[code]
`build.sbt` using scala 2.13.2
[code]
## Problem
[code]

## Expectation
The case class Domain has no default arguments, so no warning/error should be emitted.

[2020-05-06 15:35] SethTisue commented on #11872
the doc PR (https://github.com/scala/docs.scala-lang/pull/1643) is now merged

[2020-05-06 15:35] SethTisue commented on #11872
ping @Ichoran about whether this is appropriate for scala-collection-laws?

[2020-05-06 15:38] SethTisue commented on #11191
https://github.com/scala/scala/pull/8369 was abandoned, but could be picked up again by somebody

[2020-05-06 15:40] liufengyun commented on #11979
@dwijnand I just run the test on your diff, the checker reports the same error:

[code]

This is not a blocker to us, we reported it with the worry that it might cause unintended effects in corner cases. It is good to know that it does not cause any issue in practice 👍

[2020-05-06 15:54] Jasper-M commented on #11980
I think it's about the default arguments of the `copy` method.
I wonder what the solution should be. Don't warn for (some?) generated code? Or retract the private `copy` method if it's not used?

[2020-05-06 16:22] som-snytt commented on #7291
This particular example has worked in the modern era, the `PPP` epoch, or `post-paulp`.

[2020-05-06 16:27] viktorklang commented on #11979
Thanks for reporting! 👍
--
Cheers,
√

[2020-05-06 16:41] unkarjedy commented on #11654
just for the record, `-Xnojline` also works

[2020-05-06 17:05] som-snytt commented on #11980
Yes, the diff of `-Vprint` is that `private` is propagated:
[code]
There was a similar ticket which I can't find ATM; I thought it avoids warning about synthetics, but it seems likely I'm mistaken.

[2020-05-06 17:17] #11955 closed

[2020-05-06 17:36] som-snytt commented on #11654
https://github.com/scala/scala/pull/8906 restores the flag under deprecation.

This is like when the company rehires you because they forgot to make you train your replacement.

[2020-05-06 17:43] Jasper-M commented on #11980
I seem to remember disabling warnings for synthetics being rejected where the argument was something about eating your own dogfood. But I own neither a dog nor dogfood so I'm not sure.

[2020-05-06 22:19] regadas opened #11981 "Missing immutable.Vector#updateAt with `2.13.2`"
## problem

After upgrading from `2.13.1` to `2.13.2` I got the following error:

[code]

The library `algebird` is currently compiled with `2.13.1`

[2020-05-06 22:27] smarter commented on #11981
In 2.13.1, `updateAt` was `private[immutable]` so it should not be accessible from the outside: https://github.com/scala/scala/blob/3987e83b7cf0af7c8dcb17a08e8a040ccbe9a5e5/src/library/scala/collection/immutable/Vector.scala#L347
What does the corresponding source code look like? Perhaps algebird was published with inlining inside the standard library erroneously enabled?

[2020-05-06 22:28] regadas commented on #11981
Hi @smarter I checked `algebird` code and it's not being called directly ... https://github.com/twitter/algebird/blob/7292e8728d25949f1cd00662c9d3d8994795f4d9/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L812

[2020-05-06 22:29] smarter commented on #11981
bingo: https://github.com/twitter/algebird/blob/515fa2bc0a86c7c5e70afa91571cb297d8df2271/build.sbt#L64 the check above is `scalaVersion.value.startsWith("2.12")` when it should also be using this branch for 2.13, because the default behavior of `-optimize` inlines through everything. So it's an algebird bug build.

[2020-05-06 22:31] regadas commented on #11981
Ahaha @smarter Thanks! ok I'll fix it right away! i was unaware of that flag! 🙏

[2020-05-06 22:31] #11981 closed

[2020-05-06 22:36] smarter commented on #11981
Note that sbt provides a convenient API for matching against version numbers that should be easier and more robust than string comparisons: https://www.scala-sbt.org/1.x/docs/sbt-1.2-Release-Notes.html#Semantic+Version+selector+API

[2020-05-06 22:37] regadas commented on #11981
@smarter Gotcha! Thanks! 👍

[2020-05-07 09:00] dwijnand commented on #11980
There is a precedent that unused private code is dropped.  The case I know is private constructors are dropped if they're not accessed from the companion object (so the "private constructors" were actually public in bytecode).  However, the reason I know is because it caused spurious MiMa errors, as I wanted to keep the public bytecode (I ended up changing the strategy higher up, avoid the problem

[2020-05-07 16:51] xiningli opened #11982 "scala.tools.reflect.ToolBox error?"
## reproduction steps

[code]

[code]

[code]

[code]

## problem

[code]

## expectation

We expect to load the Test

[2020-05-07 17:24] SethTisue commented on #11982
please use https://users.scala-lang.org for questions

[2020-05-07 17:24] #11982 closed

[2020-05-07 17:25] som-snytt commented on #11982
Maybe duplicate of https://github.com/scala/bug/issues/7081

[2020-05-07 17:33] basdebakker opened #11984 "LazyList.isEmpty forces tail"
I am trying to replace usages of the deprecated Stream with the recommended LazyList. But my code is now failing because it turns out that calling `isEmpty` on a LazyList actually forces the tail.

## reproduction steps

Compile and run this code with Scala 2.13.2:

[code]

## problem

The output is the following, which shows that the tail argument of the LazyList is called, which is not the case

[2020-05-07 17:41] SethTisue commented on #11984
great catch!!

[2020-05-07 22:27] sjrd commented on #11984
I think that is expected, because the test is overly strict.

When we evaluate whether a lazy list is empty or not, we evaluate its head, and we create a new instance of `LazyList` for its tail. However, *that* `LazyList` is completely unevaluated: we don't know whether it's empty or not, and we most definitely haven't computed its head.

The test, as written, insists on not wanting the instance o

[2020-05-07 22:42] SethTisue commented on #11984
ah, I believe you are right, thanks for thinking about this more carefully than I did

even after understanding what's going on, though, "I expect the behavior of LazyList to be at least as lazy as Stream" still nags at my intuition somewhat. but I guess it's my intuition that needs to fall in line

[2020-05-07 22:47] SethTisue commented on #11984
fwiw, this (the delay in the `println` happening) also goes against what my intuition was:

[code]

but perhaps that's because I used `Stream` for a decade before `LazyList` came along, and so my intuitions developed in a certain direction

[2020-05-08 07:05] basdebakker commented on #11984
The problem is that I can't construct the `LazyList` instance for the tail yet. My version of the `stream1` method looks more like
[code]
and it is the evaluation of `condition` that I also need to postpone, but is now evaluated when I replace `Stream` by `LazyList`.

[2020-05-08 07:06] dwijnand commented on #11974
PR merged.  Will be branch merged into 2.13.x eventually.

[2020-05-08 07:06] #11974 closed

[2020-05-08 09:18] #11843 closed

[2020-05-08 09:29] dragos opened #11985 "Class parameter no longer final in 2.12.11"
## reproduction steps

[code]

## problem

The field `initializer` used to be final in 2.12.10, and it's no longer final in 2.12.11. Moreover, this causes the class to be incompatible serialization-wise (the serialver is different now).

[code]

## expectation

The same behavior as in 2.12.10

[2020-05-08 10:03] som-snytt commented on #11980
Related https://github.com/scala/bug/issues/7707

I see the fix was very narrow: `rescindPrivateConstructorDefault`

[2020-05-08 10:40] sjrd commented on #11984
Hum there should be a way to first create a `LazyList` with a function that delays the moment where you have to do the `if (condition(args))`. That's the one true benefit of the new design. That said just looking at the public API, I don't see a way to do that in user space. @SethTisue @NthPortal What would be the user-space to do that?

Otherwise, you might be able to achieve your end goal with `

[2020-05-08 11:50] dragos opened #11986 "Scaladoc crash on invalid table syntax"
## reproduction steps

[code]

## problem

There are a lot of `sys.exit` calls in the table parser, I think none of them should crash the scaladoc tool. Also, I couldn't find any mention of scaladoc table syntax. :)

[code]

[2020-05-08 11:50] lrytz commented on #11985
This is actually a bugfix for a feature: https://github.com/scala/scala/pull/8514

Because `value` is a lazy val, `initializer` is caputred in a field - it has to be available when the lazy val is computed. The compiler identifies that the field is not otherwise used and therefore emits code to null it out.

[2020-05-08 11:53] #11980 closed

[2020-05-08 12:32] iuliand-db commented on #11985
Great, thanks for the explanation! I'm closing this.

[2020-05-08 12:33] dragos commented on #11985
Great, thanks for the explanation, I'm closing this.

[2020-05-08 12:33] #11985 closed

[2020-05-08 12:56] jrudolph opened #11987 "TreeSet.map losing it's ordering when used as Iterable"
(Seems like this has to be a well-known issue/puzzler but I couldn't find one with superficial searching)

It seems that `TreeSet` is not working as expected when it is used as an Iterable.

[code]

The underlying assumption is that for all `i: Iterable[T]` where the implementing collection is sorted this property should be valid:

[code]

Without the constraint "where the implementing collection

[2020-05-08 13:06] SethTisue commented on #11986
@janekdb interested in looking at this...?

[2020-05-08 13:31] #11927 closed

[2020-05-08 13:58] lunaryorn commented on #11987
I'd like to point out that `i.toList == i.map(identity).toList` wouldn't help with the spray-json issue you linked, because the affected code in spray-json maps into another domain (JSON values) so it's not really `.map(identity)`.

For spray json you'd actually need something along the lines of "for all pure functions `f: A => B` and all `i`:

[code]

In other words `map` should preserve the orde

[2020-05-08 15:09] jrudolph commented on #11987
There are two `map` methods on `TreeSet`, one that takes an ordering of the codomain to return another `TreeSet`. Then the one inherited from `Iterable`. I'm only talking about the one inherited from `Iterable`.

There's no way to tell the `map` method inherited from `Iterable` what the ordering of the codomain should be so it returns a `HashSet`.

I guess the reason it was done that way was to ke

[2020-05-08 16:57] SethTisue commented on #11987
in the same vein: https://github.com/scala/scala-parallel-collections/issues/101 (but the thing lost is parallelism instead of ordering)

[2020-05-08 17:08] lunaryorn commented on #11987
This problem exists on 2.12 and 2.13; we hit the original spray issue with both Scala versions.

The linked parallel collections issue is 2.13 only.

[2020-05-08 20:30] Jasper-M commented on #11987
IIUC the only fix for this would be to add overloads of `map` to `Iterable` just for this use case. Simplified:

[code]
Otherwise you can never distinguish between the case where you can keep the ordering and where you can't. If you want to keep getting a `TreeSet` back even for the `A => B` case you'd have to add the overload that takes an `Ordering` to `Iterable` which would make even less sense

[2020-05-08 20:48] som-snytt commented on #11984
I've seen nth use unfold somewhere. I'll use my quarantine time to learn about that.

It seems `LazyList.Cons` is eager in its tail, but `Stream.Cons` is not? Speaking from ignorance, but I notice an extra arrow. Another fun quarantine activity!

[2020-05-08 21:18] som-snytt opened #11988 "Trying to ctl-c on input slays REPL"
## reproduction steps

[code]

## problem

[code]

## expectation

This is just a facet of control-C handling, for which there may already be a ticket?

A placeholder for "first line of input" usability issues.

This is WSL Ubuntu (YMMV).

[2020-05-08 23:34] som-snytt commented on #11281
The linked PR trusts the user to count to 22, and just reports a found and expected number of args.

Where tupling may have failed, it says so. If a tuple is expected, it reports the tuple size.

[2020-05-09 01:18] NthPortal commented on #11984
`unfold` is the intended way to defer the evaluation of the condition; or more precisely, to defer the evaluation of whether or not it is empty. Or alternatively, you can create an `Iterator` that produces the elements and call `from` with it as the arg, though this may be a bit more work. Obviously, `#::` (and `#:::`) cannot be used to defer the evaluation of whether or not it is empty, as it onl

[2020-05-09 01:22] NthPortal commented on #11984
sadly, no one thought of a `when` method for the `LazyList` companion, and we can't add one now :(

[2020-05-09 01:35] NthPortal commented on #11984
@basdebakker as Seb said, `unfold` does pretty much what you want, without too much restructuring.

[code]

[2020-05-09 04:44] som-snytt commented on #11988
Apparently I tried this already, because who wouldn't?

https://github.com/scala/bug/issues/11956

[2020-05-09 04:44] #11988 closed

[2020-05-09 12:14] basdebakker commented on #11984
Thanks. I rewrote my code (which is a bit more complex) using `LazyList.unfold` and it works for me. I'll even say it is now better than it was before.

Still, my old code was a common pattern and from what I read I had expected to use `LazyList` as a drop-in replacement for `Stream`.

[2020-05-09 13:32] SethTisue commented on #11281
remains reproducible in 2.13.2

[2020-05-09 14:51] martijnhoekstra opened #11989 "tailrec doesn't mind recursive calls to supertypes in branches."
## reproduction steps

using Scala 2.13.2,

[code]

## problem

should not compile (but does).

the recursive call `state.other.raise(state)` can't be re-written, as it is a call to a super type.

Scalac knows this, and replacing the body of `raise` with just `state.other.raise(state)` informs you of it with `could not optimize @tailrec annotated method raise: it contains a recursive call targetin

[2020-05-09 16:18] som-snytt commented on #11281
The improved messaging:
[code]
So the "variant" help is restricted to the parentheses, and tries to give simplest clarification.

[2020-05-10 12:13] travisbrown opened #11990 "Vector slice throws OOME because of subtraction overflow"
## reproduction steps

using Scala 2.13.2,

[code]

## problem

This should return the empty vector, as it does in 2.13.1 and all other previous Scala versions I've used.

[2020-05-10 17:56] martijnhoekstra opened #11991 "repl ignores input if lines following line comments"
## reproduction steps

2.13.2

[code]

## problem

the repl doesn't find x (or y).

It has to start with a comment, after that, we're fine:
[code]

[2020-05-10 17:57] martijnhoekstra commented on #11991
Taken from https://users.scala-lang.org/t/comments-in-scala-repl-paste-mode/6014  reported originally by @njsand

[2020-05-11 07:28] som-snytt opened #11992 "REPL emits ires cruft"
## reproduction steps
[code]
[code]

## problem

I don't know how the extra ires results, besides the $line3 I entered, are useful or intended to be used. Also, the output looks broken.

Therefore, I didn't expect them to be generated.

[2020-05-11 07:31] julienrf commented on #11987
The problem comes from the fact that `TreeSet` has several overloads of `map`:

![Screenshot from 2020-05-11 09-25-33](https://user-images.githubusercontent.com/332812/81535076-6c892d80-9369-11ea-8362-a1b01a54774c.png)

When you call `map`, the compiler selects the overload that returns a `TreeSet`, because it is “more specfiic” by the [overload resolution rules](https://www.scala-lang.org/files/a

[2020-05-11 07:35] #11990 closed

[2020-05-11 08:21] jrudolph commented on #11987
There's also this issue:

[code]

So, there we have an `it: Iterable[T]` where this isn't true for all f:

[code]

[2020-05-11 08:31] julienrf commented on #11987
This property is not true for all iterables, only for seqs.

[2020-05-11 08:39] lunaryorn commented on #11987
Shouldn't iteration be size- and ordered-preserving?  At least that's my perhaps naive intuitive expectation :shrug:

[2020-05-11 08:43] julienrf commented on #11987
This is not the case on `Iterable`, because sets and maps don’t necessarily have a specific iteration order.

[2020-05-11 09:07] lunaryorn commented on #11987
Still, I find it surprising if order gets lost for types which are ordered initially, and I'm also surprised that `it.size == it.map(f).size` doesn't hold for all iterables.  Looks like I assumed a lot of things about iterables which aren't true in the general case; I'd love to see this documented in the scaladoc for Iterable.

[2020-05-11 09:13] Jasper-M commented on #11987
Though it would be impossible for both those expectations to hold. You can't have `it.map(_ => 5)` return a `TreeSet` _and_ always preserve the size.

[2020-05-11 09:38] jrudolph commented on #11987
Technically, that's probably right because descriptions of the operators are vague enough to allow that behavior:

E.g. `Iterable.map`:

It only says that the function is called for every element of the source collection and that a new collection is built but not what the exact relationship between source and target collections are.

For `Iterable.collect` on the other hand, it *does* say that the

[2020-05-11 10:06] julienrf commented on #11987
Ouch, this is a problem, indeed!

I disagree. As a user, you can still use `fold`-like operations on iterables without issues. Also, you can `flatten` a `Set[List[Int]]` into a `Set` thanks to the fact that both share a common collection type (`IterableOnce`, in this case).

I disagree with your conclusion. I think we should fix this problem by better documenting the behavior of `Iterable` (and fi

[2020-05-11 10:23] #11281 closed

[2020-05-11 11:17] jrudolph commented on #11987
Maybe I wasn't accurate enough. Iterable may have some useful properties or features in its implementation. In that way it is useful. What I meant that accepting an Iterable as a library writer is not useful because it gives so little guarantees that I cannot safely interface with it. Mixing some useful with some dangerous operations doesn't help in that regard.

That's another example where the f

[2020-05-11 17:32] rhande-mdsol opened #11993 "Exception when compiling..... scala.reflect.internal.Symbols$Symbol.hasFlag(Symbols.scala:751)"
Compile the code in Travis CI, and it inconsistently fails  with this error.

[0m[[0m[31merror[0m] [0m[0mnull[0m
[0m[[0m[31merror[0m] [0m[0mscala.reflect.internal.Symbols$Symbol.hasFlag(Symbols.scala:751)[0m
[0m[[0m[31merror[0m] [0m[0mscala.reflect.internal.HasFlags.isMutable(HasFlags.scala:120)[0m
[0m[[0m[31merror[0m] [0m[0mscala.reflect.internal.HasFlags.isMutable$(Has

[2020-05-11 17:50] NthPortal commented on #11984
After some thought, I don't think it's a bug, for the following reason: on the first iteration, the condition is not evaluated lazily (which *is* something `LazyList` supports), so the pattern isn't properly lazy in the first place; consequently, you shouldn't expect it to be properly lazy as a tail either.

Thoughts?

[2020-05-11 18:40] SethTisue commented on #11993
compile what code, exactly? how would I reproduce the problem on my own computer (or my own Travis-CI job)?

also: is the problem reproducible in Scala 2.12.11? and is it reproducible in 2.13.2?

[2020-05-11 23:39] SethTisue commented on #11927
heh, I already reported this way back when at https://github.com/scala/bug/issues/11682 :-)

[2020-05-11 23:39] SethTisue commented on #11682
got re-reported and fixed at https://github.com/scala/bug/issues/11927

[2020-05-11 23:39] #11682 closed

[2020-05-12 00:12] ijuma commented on #11976
`StrictOptimizedMapOps` makes sense to me. The binary compatibility issue is unfortunate, not sure if there's a way around it.

[2020-05-12 02:02] WeichenXu123 opened #11994 "scala distinct 0.0 and -0.0 behavior is wrong"
## reproduction steps

using Scala (2.12),

[code]
This break the contract "between equals() and hashCode() If two objects are equal, then they must have the same hash code."

This leads to non-determinist distinct array results when array includes 0.0 and -0.0:
[code]

will get output
[code]
But `Array(0.0, -0.0).distinct` will get result `Array(0.0)`

## problem

0.0 and -0.0 hashCode is differe

[2020-05-12 02:30] sjrd commented on #11994
This is correct. `hashCode` must be consistent with `equals`, not `==`. You'll see that `0.0.equals(-0.0)` is *false*, so having different `hashCode`s is correct.

`##` is the one that needs to be consistent with `==`, and you showed yourself that the `##`es are equal.

[2020-05-12 03:12] #11994 closed

[2020-05-12 03:40] SethTisue commented on #11984
question for @basdebakker:

is there some documentation we ought to improve? https://github.com/scala/scala/releases/tag/v2.13.0 currently says "immutable.LazyList replaces immutable.Stream. Stream had different laziness behavior and is now deprecated", with links to PRs

two questions for @NthPortal:

what would the signature of that be...?

I see that the current definition is:

[code]

what wou

[2020-05-12 03:52] WeichenXu123 opened #11995 "Array(0.0, -0.0).distinct result is wrong."
## reproduction steps

See comment https://github.com/scala/bug/issues/11994#issuecomment-627070712
0.0 and -0.0 are different,

then why Array(0.0, -0.0).distinct get result only contains 0.0 ?
using Scala (2.12),
[code]

but sometimes, 0.0 and -0.0 are both kept after distinct:
[code]

will get output
[code]

## problem

 Array(0.0, -0.0).distinct result is wrong.

[2020-05-12 03:52] WeichenXu123 commented on #11995
@sjrd Could you explain this ?

[2020-05-12 04:10] SethTisue commented on #11995
please use https://users.scala-lang.org for questions

[2020-05-12 04:15] SethTisue commented on #11995
this was already fixed in Scala 2.13.0

[2020-05-12 04:15] #11995 closed

[2020-05-12 04:27] NthPortal commented on #11984
I'll do you one better, and give you an implementation with it:

[code]

Could mirror `Option` and add an `unless` too.

Also potentially a useful method for this sort of thing:

[code]

The major downside is that it increases the computation unnecessarily for cases where the tail `=> LazyList` is fully lazy/doesn't contain its own logic. It essentially wraps each tail in an extra layer of lazines

[2020-05-12 04:29] SethTisue commented on #11995
how it got fixed, I don't know. here's a more minimal reproduction:

[code]

what's magic about the number 56, why does it cross over at that point? some weirdness with hash buckets? 🤷‍♂️

[2020-05-12 04:32] SethTisue commented on #11995
I've closed the ticket because the problem doesn't seem to exist in 2.13, but if someone gets to the bottom of why this is happening in 2.12.x, perhaps that same someone, or a different someone, would also like to submit a fix to our 2.12.x branch

[2020-05-12 04:46] #11979 closed

[2020-05-12 05:05] SethTisue commented on #11959
well, this is odd — we did several rounds of testing on Windows before release (https://github.com/scala/scala-dev/issues/679) and didn't get any other reports of this, either before or after release

@martijnhoekstra you're not able to reproduce this, I assume? any idea what might be different in the environment that would cause different behavior?

@counter2015 is the behavior the same under Cyg

[2020-05-12 05:08] SethTisue commented on #11959
@counter2015 I assume that `-Xjline:off` makes the problem go away? (while also losing editing niceties, naturally)

[2020-05-12 05:10] SethTisue commented on #11991
Nice catch! Definitely a blocker for 2.13.3. I'll dig into it and figure out what's going on.

[2020-05-12 05:13] SethTisue commented on #11956
on MacOS, ctrl-C even on an empty line, but also with Som's sample line, just gives:

[code]

I guess let's tackle that first, and then see if the fix magically also makes the `InterruptedException` go away

[2020-05-12 06:01] counter2015 commented on #11959
Yes, it works.

[2020-05-12 06:11] counter2015 commented on #11959
REPL works well under Cygwin while Powershell has the same behavior of no output.

[2020-05-12 06:49] martijnhoekstra commented on #11959
No, works for me in CMD and MSYS. I know there is a situation where I don't get anything echoed, but I forget what it is exactly. Something more or less exotic to the point where I never bothered reporting (the `scala` sbt task in the scala/scala repo on the 2.13.x branch on CMD?)

[2020-05-12 07:07] SethTisue commented on #11867
(also not a blocker for 2.13.3? or...?)

[2020-05-12 08:26] lrytz commented on #11993
Closing for now, @rhande-mdsol re-open if you can provide more information.

[2020-05-12 08:26] #11993 closed

[2020-05-12 11:14] som-snytt commented on #11867
The title says it's a feature!

[2020-05-12 12:58] Jasper-M commented on #11995
[This commit}(https://github.com/scala/scala/commit/3a6f637b33056df80b93e743fe274f623925ea21) might have something to do with it.

  semantics for numeric types.

[2020-05-12 14:05] Jasper-M commented on #11984
Where would a regular user learn about what the difference is between a LazyList being created and "its state" being computed? And why it matters and how it's different from what Stream did?

[2020-05-12 15:57] eed3si9n commented on #11723
Maybe there should be a note on https://github.com/scala/docs.scala-lang/blob/master/_overviews/jdk-compatibility/overview.md page if we're not going to fix this issue.

[2020-05-12 17:57] basdebakker commented on #11984
My impression came about from reading the [migration guide](https://docs.scala-lang.org/overviews/core/collections-migration-213.html) which states

Reading it again I admit it doesn't explicitly say so, but to me it seemed to mean that `LazyList` was "more lazy" than `Stream`. So when it turned out that my code became less lazy (as discussed above) I was surprised.

It also states

without any qu

[2020-05-12 18:53] #11943 closed

[2020-05-12 18:54] SethTisue commented on #11839
fixed by https://github.com/scala/scala/pull/8663

[2020-05-12 18:54] #11839 closed

[2020-05-12 19:39] sjrd commented on #11984
The short answer for the differences between `Stream` and `LazyList` is the following:

* When you have an `s: Stream`, you *already* know whether it's empty or not, and if it is non-empty, you know the `head`. The `tail` is computed lazily.
* When you have an `l: LazyList`, you don't even know whether it's empty or not (this is the *more lazy* than `Stream` aspect). *Once* you know whether it is

[2020-05-13 06:59] martijnhoekstra commented on #11984
@sjrd would you mind if I used that as a base for a PR against LazyList's scaladoc (and, for the future lawyers reading along, could you let this comment fall under the contributions you have a CLA for?)

[2020-05-13 07:40] sjrd commented on #11984
Sure. You can consider all my comments in this thread as Contributions.

[2020-05-13 12:43] noresttherein opened #11996 "Class parameterization with an abstract projection type is broken by its instantiation."
## reproduction steps

using Scala 2.13.1, 2.13.2

[code]

## problem
The super cast in trait `Sub` does not compile.
Adding `Expr[S]` does not help. The problem is specific to both classes and traits extending
a class/trait in the form of `T[A] extends S[A#T]` indirectly through a class/trait which narrows down
the type parameter `A` to a type with a definition for `T`.

## workaround:
instead of

[2020-05-13 13:53] sjrd opened #11997 "`class Stream.Cons` and `object Stream.cons` are clashing with each other"
In `object Stream`, there is a [`class Cons`](https://github.com/scala/scala/blob/b91a1445fc00b92e886c927988a4f0525fcfb7cc/src/library/scala/collection/immutable/Stream.scala#L380) and an [`object cons`](https://github.com/scala/scala/blob/b91a1445fc00b92e886c927988a4f0525fcfb7cc/src/library/scala/collection/immutable/Stream.scala#L424).

This *happens* not to cause any issue on the JVM, even on W

[2020-05-13 13:58] joroKr21 commented on #11997
Running on Mac, I do see linking errors when building OSS projects that upgraded to Scala.js 1.x
I haven't investigated but this could be the reason.

[2020-05-13 14:08] dwijnand commented on #11997
Same with 2.12.x, right?  Seeing as it's the same: https://github.com/scala/scala/blob/v2.12.11/src/library/scala/collection/immutable/Stream.scala#L1149-L1163

[2020-05-13 14:15] sjrd commented on #11997
I've never observed the issue with 2.12.x. And our build uses 2.12.x by default, so I'm *constantly* building on 2.12.x.

I guess this is because in 2.12.x, `object cons` comes *before* `class Cons`. So when we compile `object cons`, we generate `Stream$cons$.class` and `Stream$cons.class`. And then when we arrive at `class Cons`, we overwrite `Stream$cons.class` with the one for `Cons`. We lose t

[2020-05-13 18:31] martijnhoekstra commented on #11984
Without a lazy constructor, it's actually really hard to give good advice on how to create a lazy tail. `head #:: continually(thunk).take(1)` seems really silly.

[2020-05-13 23:46] SethTisue commented on #11491
I'm not certain it's actually the “same” problem, but on Gitter @er1c reports that the following compiles on 2.11, 2.12, and Dotty, but not on 2.13:

[code]

the workaround is to give inference a little extra help: `bar[T](...)`

[2020-05-13 23:55] som-snytt commented on #11984
I'm not a user, but I still agree with the intuition that LL should behave like Stream.

`#::` is the poster child for by-name right-associative implicit!

It's nice that evaluation is deferred a bit (until "state" is forced, forcing both head and tail exprs). And it's nice that the evaluation order is left to right.

It would be nicer if the operand were evaluated only when tail is required. It's

[2020-05-14 00:02] SethTisue commented on #11984
Can we change `#::` without changing anything else?

[2020-05-14 00:10] SethTisue commented on #11984
I don't claim to have fully understood all this, but (like Som) my urge is still to change just `#::` while leaving everything else alone.

w/r/t changing `#::`, @NthPortal wrote:

I'm not sure this is so bad, given that only code that explicitly uses `#::` would pay the price.

[2020-05-14 00:54] som-snytt commented on #11984
I couldn't leave everything else alone. I removed some extra braces for a more uniform look.

I experimented with restoring the old stream trick, and also exploiting `lazyState` a bit more. Just a draft. Don't catch a chill.

[2020-05-14 04:29] NthPortal commented on #11984
correct - we only use `newLL` and `sCons` internally

I'm starting to feel that too. the core use case for `#::` I believe is actually recursive methods, not recursively defined values. and as noted by @basdebakker, most of the time that includes some logic other than the creation of the `LazyList`.

I'll try to write a quick benchmark of before and after the extra wrapping

[2020-05-14 05:08] NthPortal commented on #11984
benchmark results for `BigInt` fibonacci `LazyList` to `List`:

[code]

it's not clear that the loss from extra laziness is more than noise in this benchmark, and if it is, it doesn't seem super significant to me. I'll throw up a PR

--------

<details>
<summary>Code</summary>

[code]
</details>

[2020-05-14 10:55] mkurz commented on #11671
ASM 8.0.1 available: https://asm.ow2.io/versions.html

[2020-05-14 12:37] martijnhoekstra commented on #11491
might https://github.com/lampepfl/dotty/issues/8955 be related?

[2020-05-14 14:05] counter2015 commented on #11959
I just download from https://downloads.lightbend.com/scala/2.13.2/scala-2.13.2.zip
unzip it and run. It can't echo and "enter" key doesn't work in CMD and PowerShell.

[2020-05-14 14:15] michelou commented on #11959
Scala 2.13.2 REPL works fine for me too.

[2020-05-14 14:42] martijnhoekstra commented on #11959
That's so weird -- that's exactly what I did and it works for me. Maybe something weird with platform encoding? I wouldn't know where to begin trying to reproduce this.

[2020-05-14 14:52] SethTisue commented on #11491
well, overloads aren't in play in this ticket

[2020-05-14 15:10] counter2015 commented on #11959
I have no idea, it seems difficult to reproduce.
Just now I install 2.13.2 REPL in Windows 8, it works fine.

[2020-05-14 19:37] martijnhoekstra commented on #11491
I don't know what I was thinking. I swear it made sense when I posted it!

[2020-05-14 21:55] jamesward opened #11998 "Missing Unused Expression Warning"
## reproduction steps

using Scala 2.13.2,

[code]

With these compiler options:
[code]

## problem

The compiler does not catch that the first two expressions are unused.

[2020-05-15 00:14] SethTisue commented on #11956
ah actually I'm only able to reproduce the `com.sun.jna.LastErrorException` under Coursier, whether via https://github.com/dwijnand/scala-runners or with `cs launch --main-class scala.tools.nsc.MainGenericRunner org.scala-lang:scala-compiler:2.13.2 -- -usejavacp`

[2020-05-15 00:21] som-snytt commented on #11998
This isn't under a flag. It doesn't do anything with `Object#equals`.
[code]
Here, "pure" means "looks like a constant", IIRC. It could special case equals for String, or string equality for constants could be constant-folded, etc.

The heuristic could be improved, and maybe add a strict option that would be more like detecting value discard.

`-Wunused` only means a symbol that was introduced but

[2020-05-15 00:28] SethTisue commented on #11956
also no `LastErrorException` if you e.g. `"java" "-Dscala-compiler.version=2.13.2" "-cp" "/Users/tisue/Library/Caches/Coursier/v1/https/repo1.maven.org/maven2/org/scala-lang/scala-compiler/2.13.2/scala-compiler-2.13.2.jar:/Users/tisue/Library/Caches/Coursier/v1/https/repo1.maven.org/maven2/org/scala-lang/scala-library/2.13.2/scala-library-2.13.2.jar:/Users/tisue/Library/Caches/Coursier/v1/https/re

[2020-05-15 00:55] SethTisue opened #11999 "under `cs launch`, ctrl-C in the repl gives "Input/output error""
on MacOS at least (not sure about other OSs), ctrl-C in the REPL prints an exception before exiting
[code]

I'm only able to reproduce this `com.sun.jna.LastErrorException` when launching via Coursier, whether through https://github.com/dwijnand/scala-runners or more directly with `cs launch --main-class scala.tools.nsc.MainGenericRunner org.scala-lang:scala-compiler:2.13.2 -- -usejavacp`

also no

[2020-05-15 00:56] SethTisue commented on #11999
@alexarchambault do you have any guesses at what `cs launch` might be doing differently, somehow, that leads to this...? /cc @dwijnand

[2020-05-15 00:59] SethTisue commented on #11956
(a different control-C-in-the-REPL bug is https://github.com/scala/bug/issues/11999, which started its life in comments here, but it turned out to be Coursier-only and probably unrelated)

[2020-05-15 01:04] SethTisue commented on #11998
shouldn't `-Wvalue-discard` be catching it though?

[2020-05-15 03:15] SethTisue commented on #11991
@som-snytt this regressed in scala/scala@0e6426dddb16a2d18d698f7019a6a7c2593445db — do you have time to look into it...?

[2020-05-15 03:50] som-snytt commented on #11998
`-Wvalue-discard` warns that [value discard conversion](https://scala-lang.org/files/archive/spec/2.13/06-expressions.html#value-conversions) was applied. That's not in the middle of a block, in "statement position", but only at the end, in "result position", when `Unit` is expected.

[2020-05-15 04:05] som-snytt commented on #11991
@SethTisue could you move your "no good deed" joke from its original location and paste it here? This was when I had the dry cough and a couple of days before I was in bed with fever, so I don't remember anything from that week or really anything before that. "I assume it was the virus," or maybe the flu "which is just about as bad as corona."

My other joke for this ticket was, "Everyone ignores

[2020-05-15 07:33] dwijnand commented on #11999
This is to do with the differences between `coursier` and `cs`.  I'd seen another instance of this, but forget the details...  `cs` is the graal native-image while `coursier` is an executable jar.  It's something to do with JVM forking or classpath or similar.

See how it's not broken with `coursier`:

[code]

---

Btw:

there's a handy intermediate, FYI:

[code]

[2020-05-15 07:39] dwijnand commented on #11999
OK, found the comment (https://github.com/coursier/coursier/issues/1519#issuecomment-578765724) but the details it gives don't seem relevant in this case: `cs launch --fork` errors just like before `coursier launch --fork` don't error just like before...

[2020-05-15 08:54] alexarchambault commented on #11999
I would say the problem originates from the coursier native launcher, rather than from scala. More precisely from the way `ProcessBuilder` works from the GraalVM native images.

The native launcher forks by default, that is starts apps in a separate process via a `java.lang.ProcessBuilder`. From the JVM, starting the app via a `ProcessBuilder` with `--fork`, works fine (as you found out, @dwijnand

[2020-05-15 08:54] alexarchambault commented on #11999
@dwijnand `--fork` is ignored from the native launcher for now. Its equivalent from the native launcher would be `--execve`, which uses the `execve` system call to start the app in the current process rather than starting a new process, and watch it from the side. But it's interpreted as just a hint for now, and doesn't work if one doesn't pass `--jvm …`. I guess the native launcher should interpr

[2020-05-15 10:59] oscar-broman opened #12000 "-Ywarn-unused:patvars false positive"
## reproduction steps

Scala 2.13.2

[code]

## problem

`k` is used and the code won't compile without it. The warning appears to happen due to `withFilter` not using `k`.

[2020-05-15 11:05] dwijnand commented on #11999
Ah, I understand.  Thanks for all that, Alex.  Is there any benefit in using ProcessBuilder over execve?  I.e. why not just make `--fork` a deprecated alias of `--execve`?  Drops a variant, keeping things simpler/more uniform.

[2020-05-15 11:37] eshu opened #12001 "Invalid covariant class implementation crashes the Scala compiler 2.13.1 and 2.13.2"
## reproduction steps

using Scala 2.13.1 or 2.13.2,

[code]

## problem
Compiler should print an error message, it should not be crashed.
If I replace ```weight - that.weight``` with ```???```, I receive an expected error.

[2020-05-15 12:00] joroKr21 commented on #12001
Duplicate of #11775?

[2020-05-15 12:56] alexarchambault commented on #11999
I was more feeling like scrapping `--execve`. By default, `launch` would start apps in its own process, via class loading for the JVM launcher and via `execve` for the native launcher. If `--fork` is passed, both would use `ProcessBuilder` instead.

I'd be in favor of keeping `--fork`. Even though we ran into a limitation of `ProcessBuilder`, it feels less hacky than classloading things from the s

[2020-05-15 13:58] smarter opened #12002 "[2.13 regression] Scala 2.13 miscompiles Spark: it forgets to emit a field leading to a NoSuchFieldError at runtime"
## reproduction steps

This is using Scala 2.13.2 (Scala 2.13.{0, 1} had a bug preventing Spark from compiling) and a fork of Spark to get it to compile with 2.13 (see [SPARK-25075](https://issues.apache.org/jira/browse/SPARK-25075?focusedCommentId=17096870&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17096870)):
[code]

## problem

The class `HighlyCompressedMap

[2020-05-15 14:08] Jasper-M commented on #12002
Shouldn't it `iload_2` the constructor parameter instead of `getfield`?

[2020-05-15 14:20] smarter commented on #12002
That would also work yeah, that seems to be the pattern used for accessing constructor arguments normally.

[2020-05-15 14:23] Jasper-M commented on #12002
By the way this is embarrassingly simply to reproduce:

[code]

[2020-05-15 14:29] smarter commented on #12002
Looks like this regressed between 2.13.1 and 2.13.2

[2020-05-15 14:32] Jasper-M commented on #12002
I can reproduce in 2.13.0 already.

Scala 2.12.11
[code]

Scala 2.13.0
[code]

[2020-05-15 14:32] smarter commented on #12002
Oops, yes, I didn't test it right.

[2020-05-15 14:35] smarter commented on #12002
Looks like it actuall regressed between M5 and RC1.

[2020-05-15 14:48] Jasper-M opened #12003 "private[this] var field doesn't get updated in constructor body"
## reproduction steps

using Scala 2.12.11,

[code]

## problem

I mutate `a` in the constructor body, so I would expect the _field_ to be mutated, not just the constructor parameter as you can see here in the bytecode (`iload_1` and `istore_1` instead of `getfield` and `putfield`):

[code]

This is "fixed" in Scala 2.13 but it has other issues (#12002).

The rule should be, if a field needs to be

[2020-05-15 15:34] SethTisue commented on #12003
@lrytz, I'm guessing you'll want to look into this? (Feel free to assign me instead.)

[2020-05-15 15:37] SethTisue commented on #12003
Normally we'd close the ticket since it's fixed in 2.13 (and there is a separate ticket for the related problem in 2.13), but in this case I'm keeping it open and tentatively milestoning it 2.12.12 so we remember to at least consider if the (eventual) fix for #12002 is backport-able and might fix this too.

[2020-05-15 15:39] SethTisue commented on #12000
looks like one that @som-snytt will want to 👀

[2020-05-15 15:41] SethTisue commented on #12001
[code]

[2020-05-15 15:42] SethTisue commented on #11775
stack trace as of 2.13.2:

[code]

[2020-05-15 15:43] SethTisue commented on #11775
https://github.com/scala/bug/issues/12001 is a likely duplicate, so I've closed it. there, the code is

[code]

[2020-05-15 15:43] #12001 closed

[2020-05-15 17:04] atk91 opened #12004 "Scala REPL is broken on rxvt"
## reproduction steps

using Scala 2.13.2, Linux, urxvt terminal emulator (or xterm with forced TERM variable, see below)

[code]

## problem

REPL does not start

It seems that problem is in JLine3, which cannot test itself under same circumstances https://github.com/jline/jline3/issues/533

After `git bisect`ing one can find that commit that introduced this is https://github.com/scala/scala/comm

[2020-05-15 17:06] SethTisue commented on #12004
tentatively milestoned 2.13.4 since it's unlikely there'll be a new JLine version in time for 2.13.3, but you never know. I've subscribed to the JLine ticket

workaround advice you offered on Gitter:

[2020-05-15 18:09] som-snytt commented on #12000
Duplicates https://github.com/scala/bug/issues/11400
Duplicates https://github.com/scala/bug/issues/10287

[2020-05-15 18:09] #12000 closed

[2020-05-15 18:52] som-snytt commented on #12003
https://github.com/scala/bug/issues/6880

[2020-05-15 19:29] Jasper-M commented on #12003
I'm sorry about the `"fixed"` thing 😅

[2020-05-15 20:12] som-snytt commented on #12002
It looks for usages in secondary constructors, so a workaround is:
[code]

[2020-05-15 20:48] som-snytt commented on #12003
One mole at a time.

[2020-05-15 20:58] joroKr21 commented on #11775
[code]
I guess `_$1` is a fresh skolem:
[code]

[2020-05-15 22:01] som-snytt commented on #12002
I'll take a shot in a bit, by letting it elide the field but adding a local to the constructor.

[2020-05-15 22:58] SethTisue commented on #12004
hmm maybe they will roll a release soon! https://github.com/jline/jline3/issues/532

[2020-05-16 20:42] ajozwik opened #12005 "Regression using Scala 2.13.2 with quill macro."
## reproduction steps

Regression using Scala compiler 2.13.2

[code]

## problem
Up to scala 2.13.1 (and scala 2.12.11)  the code using [getquill](https://github.com/getquill/quill) with scala macro compiled without any problem.

For scala 2.13.2 - the java.lang.StackOverflowError without clear error occurs:

[code]

[2020-05-17 00:37] som-snytt opened #12006 "Inscrutible type mismatch after not auto-applying under -Xsource:3"
## reproduction steps

[code]

## problem

`sys.process` doesn't compile under `-Xsource:3`. The error message is not illuminating. I hope it has nothing to do with `read`.

[2020-05-17 00:55] SethTisue commented on #12005
have you called this to the attention of the Quill developers? it's certainly possible that this is a regression in Scala, but the first hypothesis that has to be ruled out is that the macro is faulty

[2020-05-17 02:52] eshu commented on #11775
The iteresting part in this example is that if I replace ```weight - that.weight``` to ```???```, it shows a correct error instead stack overflow exception.

[2020-05-17 07:13] joroKr21 commented on #11775
So this happens with generic F-bounded types (and unfortunately `Comparable` / `Ordered` are such types). When the types don't match the compiler will try to find an implicit conversion to the expected type. But the base type sequence of these types expands endlessly:

`K[Int] <: Cmp[K[a] forSome { type a >: Int }]`
`K[a] <: Cmp[K[b] forSome { type b >: a }]`
`K[b] <: Cmp[K[c] forSome { type c >:

[2020-05-18 10:29] dwijnand commented on #12006
Regressed since 2.13.0:

[code]

[2020-05-18 10:31] dwijnand commented on #12006
Either it should compile while emitting a warning, or without `-Xsource:3` it should emit a warning.  Either way, it would be great to make the message clearer.

[2020-05-18 10:34] dwijnand commented on #12006
Added to 2.13.3, for consideration.

[2020-05-18 15:49] SethTisue commented on #12006
anyone have a guess what PR might be responsible? (someone want to try bisecting it?)

[2020-05-18 22:17] LorenzoCC commented on #11709
@SethTisue Please review, thanks!

[2020-05-19 07:10] julienrf opened #12007 "False warning “@nowarn annotation does not suppress any warnings” reported by scaladoc"
## reproduction steps

using Scala 2.13.2,

[code]

## problem

Without the `@nowarn` annotation, the compiler produces the following warning:

[code]

With the `@nowarn` annotation, that warning is suppressed but generating the API documentation produces the following warning:

[code]

Running scaladoc should not produce this warning.

Workaround: add `-nowarn` to the scaladoc options:

[code]

[2020-05-19 18:24] noresttherein opened #12008 "Value class parameterized by subtype of primitive type crashes compiler"
## reproduction steps
using Scala 2.13.1, 2.13.2,

[code]
## problem
[code]
(Source file context irrelevant and completely unhelpful here)

(explain how the above behavior isn't what you expected)
Should compile? Not crash at least? Singleton types aren't disallowed values of value classes, so at least documentation update would be welcome.

## workaround

[code]

[2020-05-19 21:41] som-snytt opened #12009 "The old mutate the collection while iterating trick"
## reproduction steps

- [x] using Scala?

[code]

## problem

Documentation should tell me not to do that.

It would be nice if the iterator told me there was a problem. It's just using indexes from the view.

See https://github.com/scala/bug/issues/8154

[2020-05-19 22:31] joroKr21 commented on #12009
TIL some countries limit the number of precautionary statements on GHS labels. The EU where I live mandates a maximum of 6. I propose "mutating hazard".

[2020-05-19 22:56] SethTisue commented on #12009
as I said on Gitter, when someone mutates a collection on which there is a live iterator, I doubt there we can offer any better guarantee _in general_ other than shrug and say "sorry, undefined behavior"

that said, certainly

1) this should be documented somewhere, if it isn't already
2) there's nothing wrong with improving behaviors in particular scenarios (e.g. to throw an exception rather than

[2020-05-19 22:57] ganchurin opened #12010 "Scaladoc: Some parameter names in ArrayOps and StringOps are wrong"
The following methods in Scala 2.13.x have scaladoc with parameter names which differ from actual names:
* `scala.collection.ArrayOps#filterNot` (scaladoc: `pred`, actual: `p`)
* `scala.collection.ArrayOps#indexWhere` (scaladoc: `p`, actual: `f`)
* `scala.collection.ArrayOps#find` (scaladoc: `p`, actual: `f`)
* `scala.collection.ArrayOps#exists` (scaladoc: `p`, actual: `f`)
* `scala.collection.Arr

[2020-05-19 22:58] ganchurin commented on #12010
I'd like to fix it.

[2020-05-20 02:38] #11709 closed

[2020-05-20 02:42] SethTisue commented on #11709
I've merged @LorenzoCC's PR, which auto-closed this ticket.

However this ticket is pretty open-ended — it's the kind of ticket that if we leave it open, is liable to remain open forever because no one is going to be sure whether something was missed or not.

It's arguable, but I suggest we leave it closed. In general, there are many inadequacies in our documentation and we don't keep individual o

[2020-05-20 02:52] #11984 closed

[2020-05-20 02:54] SethTisue commented on #11984
@martijnhoekstra that'd be 💯

[2020-05-20 07:01] LPTK commented on #12009
@SethTisue do you think it would be acceptable, performance-wise, to have a private `var version: Int` field in mutable collections, which is incremented every time a mutable operation is done, and which is captured by iterators (so iterators can check whether the collection has changed under their feet when doing `hasNext`/`next`).

[2020-05-20 11:46] ritschwumm commented on #12009
@LPTK this field would probably have to be volatile to ensure the mechanism works accross threads... all in all, this (to me) sounds like another reason to eschwe mutable collections altogether, except in very few and tightly controlled places.

[2020-05-20 14:14] Jasper-M commented on #12009
The `version` field thing seems to be how the `java.util` collections implements fail-fast iterators.

I don't think mutable collections offer any synchronization guarantees in general anyway.

[2020-05-20 18:02] ritschwumm commented on #12009
well, they don't offer any guarantees concerning mutation while using a live iterator either, and still people seem to be surprised when that goes wrong :)

[2020-05-20 18:54] LPTK commented on #12009
@ritschwumm IMHO there's a huge difference between behaving in a buggy way in single-threaded contexts, and behaving in a buggy way in multi-threaded contexts. It's widely accepted that the latter is expected of a non-thread-safe API; but the former just seems to reflect a bad API/implementation design.

I think Java got at least that part right: basic Java collections are not thread-safe, but the

[2020-05-20 19:02] SethTisue commented on #12009
perhaps my initial reaction was too pessimistic/dismissive?

@LPTK if the Java collections do that and then that's good evidence it would be okay for us performance wise

do the checks they do seem simple/maintainable? or does it get hairy? if not, that would be also be evidence this could be feasible for us

[2020-05-20 21:14] ritschwumm commented on #12009
@LPTK yeah, agreed - with multi-threading, people tend to know it won't work well with mutable collections in the general case.

i wonder why, though - to me, an iterator is not so much different than a suspended thread. if you ignore memory model issues like cpu caches, the code ran between one call to an iterator and the next is conceptually the same as running something in a separate thread. if

[2020-05-20 23:50] enzief opened #12011 "value-discard warning is not suppressed for methods with implicit params"
## reproduction steps

using Scala (2.13.2),

[code]

## problem

expect no `warning: discarded non-Unit value` as per https://github.com/scala/scala/pull/7563

explicitly passing implicit argument works

[code]

[2020-05-21 01:14] NthPortal commented on #12009
I believe (some of?) the Java collections detect concurrent modification across multiple threads as well - see https://docs.oracle.com/javase/8/docs/api/java/util/ConcurrentModificationException.html

[2020-05-21 08:22] som-snytt commented on #12011
The adapted `f(x)` doesn't receive the magic annotation on `f`.
[code]

[2020-05-21 14:19] ajozwik commented on #12005
The code with macro has been written by myself.

I simplified code. The problem is when `AbstractSaleRepository` (which is trait)  is compiled. And only if I set scalaVersion to "2.13.2". With all "2.12.x" and "2.13.0", "2.13.1" compiles without any problem.
This class AbstractSaleRepository - use what I called `CompositeKey` - case class with at least two fields. For any other implementation - wh

[2020-05-21 15:27] SethTisue commented on #12005
A possible next step would be to use `git bisect` identify the particular Scala PR when the behavior changed. That usually makes it easy to see what's going wrong. We merged [272 pull requests](https://github.com/scala/scala/pulls?page=3&q=is%3Aclosed+milestone%3A2.13.2) for 2.13.2, so that's 9 bisect steps.

[2020-05-21 18:57] SethTisue opened #12012 "`AnyRefMap` and `LongMap`'s `+=` method's signature is incorrect, should be a tuple"
e.g. `AnyRefMap` has:

[code]

But the `+=` signature is inconsistent with other maps, where the method of the same name takes a tuple. It's also inconsistent with Scala's gradual move away from allowing multi-arg infix calls.

This turned up in https://github.com/scala/scala/pull/8998, which increases the level of linting we do in `src/library`, resulting in:

[code]

[2020-05-21 19:49] Ichoran commented on #12012
This is an overloaded method.  Since `AnyRefMap` and `LongMap` have no reason to exist save for performance, it's good to be able to use them in a high-performance fashion.  This allows the familiar `m += (key, value)` notation at full speed.

You can also (with any mutable map, and with this one) do `m(key) = value` to avoid tuples.

It's true that it's inconsistent with the move away from allowi

[2020-05-21 22:04] som-snytt commented on #12012
I was going to say, Ichoran had commented long ago on this particular issue, but I'd forgotten what his recommendation was for the idiom. I haven't searched for that previous judgment on some old issue.

I see there is specialized `addOne(k, v)` to get `this.type` back.

[2020-05-21 22:08] som-snytt commented on #12012
@SethTisue I don't mind submitting a quick deprecation in favor of `addOne` if you like. IIUC that silences the deprecation? Or maybe not if it's a syntax warning.

[2020-05-21 22:11] som-snytt commented on #12012
For some reason, the multi-arg infix issue has yielded no "adderAll" puns.

[2020-05-21 22:22] som-snytt commented on #12012
@som-snytt Good idea! I guess we'll let Jenkins tell us if the enclosing-deprecation rule applies. I think you had a PR once that deferred checks until after typer?

[2020-05-21 22:47] SethTisue commented on #12012
@som-snytt sure, yes please (and `LongMap` too). maybe it should suggest both `addOne` and `updated`?

[2020-05-21 23:00] som-snytt commented on #12012
@SethTisue OK that sounds like a plan! Let's do it!

[2020-05-22 06:44] som-snytt opened #12013 "Spurious warning issued in `<error>`"
## reproduction steps

using Scala 2.13.2,

[code]

## problem

The warning is harmless goofiness, but it's probably easy not to issue warnings about `<error>`.

[2020-05-22 11:25] ajozwik commented on #12005
I just search from https://scala-ci.typesafe.com/artifactory/scala-integration/org/scala-lang/scala-compiler/ commits.
Last correct was
2.13.2-bin-be9e4d2/     12-Feb-2020 21:06

First incorrect is:
[code]

[2020-05-22 15:13] stjohnb opened #12014 "Literal identifiers with a common root lead to invalid case classes"
## reproduction steps

using Scala 2.12.10,

[code]

Full project with the [test case](https://github.com/stjohnb/literal-identifiers/blob/master/src/test/scala/net/bstjohn/CaseClassesSpec.scala)

## problem

Both fields in the case class have the value assigned to the first field.

The issue does not occur if the second field `CMMC Capability` is changed to `CMMC xCapability` so that it is not a

[2020-05-22 16:13] SethTisue commented on #12014
is the problem reproducible in Scala 2.13.2?

[2020-05-22 18:41] nogurenn commented on #7682
I don't see the `:edit` command in 2.12 and 2.13, so I think it's temporary until this is fixed. This is what I got.

[code]

screenshot of open vscode app after running `:ed`
<img width="636" alt="Screen Shot 2020-05-23 at 2 23 18 AM" src="https://user-images.githubusercontent.com/15997393/82698086-c01a4600-9c9c-11ea-89e0-4a73db92fae8.png">

[2020-05-22 18:42] martijnhoekstra commented on #12014
Yes, same behaviour in 2.13.2

[2020-05-22 19:04] martijnhoekstra commented on #12014
Looks like the constructor is misconstructed

[code]

[2020-05-22 19:54] nogurenn commented on #11610
I'm still new to contributing, and even have very sporadic presence due to real life events, so I basically read the entire scala/scala readme. Right after the `Welcome!` header is `How to contribute`, and I immediately started reading that section. My point is new contributors are likely going to look for the documentation on contributing instructions instead of just looking for an Issues tab. I'

[2020-05-22 23:00] som-snytt commented on #7682
The feature was just a quick workaround for JLine2 limitations. It allowed using gedit to edit multiple lines of history.

Closing in favor of upstream contributions to JLine3, as necessary.

[2020-05-22 23:00] #7682 closed

[2020-05-23 04:14] snoble opened #12015 "Some methods with `lambda` in the name will crash the compiler"
## reproduction steps

repo with sbt build: https://github.com/snoble/scala-crash

scastie link: https://scastie.scala-lang.org/MywoibUzRSm0Sfb7jGjK8w

using Scala (2.13.1) (reproduced in 2.13.2 and 2.12.11),

[code]

## problem

it shouldn't error when emitting. Somehow the combination of calling `collect` and a `def` that starts with `lambda` is necessary.

[2020-05-23 06:06] som-snytt commented on #12014
Duplicates https://github.com/scala/bug/issues/8831

[2020-05-23 06:06] #12014 closed

[2020-05-23 06:41] som-snytt commented on #12015
It's funnier if you call the method `lambdaLift`.

[code]
where the code comment is
[code]

[2020-05-23 06:46] som-snytt commented on #12015
Duplicates https://github.com/scala/bug/issues/10857 and https://github.com/scala/bug/issues/2806

[2020-05-23 06:46] #12015 closed

[2020-05-23 11:12] joroKr21 commented on #12005
Trying to debug but it seems quill is not published for 2.13?

[2020-05-23 11:18] ajozwik commented on #12005
Not all modules, that I use -Dmacro.scala.version=2.13 to build. I copied solution from quill configuration.

[2020-05-23 12:04] joroKr21 commented on #12005
One easy thing you could check is if you write the code that the macro generates by hand - does it cause the same problem?

[2020-05-23 13:39] joroKr21 commented on #12005
@ajozwik @SethTisue there is another PR in 2.13.2 that touches the lines where the stack trace is looping: #8441

[2020-05-23 15:16] ajozwik commented on #12005
Yes, without my macro the problem is the same. Look on branch 2.13.2_no_own_macro

[code]

[2020-05-23 15:45] ajozwik commented on #12005
I create own implementation on branch: 2.13.2_no_own_macro - and it compiles.
If you change in `SaleRepositoryWithoutMacro` `JdbcContext[D, N] with DateQuotes` to `JdbcContextDateQuotes[D, N]` - than you receive StackOverflowError.

[2020-05-23 16:42] joroKr21 commented on #12005
Yeah that's quite complicated. I narrowed it down to a weird broken invariant that the code assumes: `x =:= y => allSymbols(x) == allSymbols(y)` but that is not true in this case.

[2020-05-23 16:55] joroKr21 commented on #12005
@ajozwik I have minimized it this far:
[code]

But I don't know Quill well. Do you think you can minimize it to remove the dependency on Quill? That would be the basis for fixing this and adding a test.

[2020-05-23 17:57] joroKr21 commented on #12005
I managed to minimize it:
[code]

[2020-05-23 20:02] ajozwik commented on #12005
+1
Thank you, I confirm - https://github.com/scala/scala/pull/9009 solves this problem.

[2020-05-24 10:09] som-snytt commented on #4962
Fixed in 2.11.0

[2020-05-24 10:09] #4962 closed

[2020-05-25 06:11] retronym commented on #12009
Some more verbiage from Java's documentation for `ArrayList`

[code]

[2020-05-25 11:07] nogurenn commented on #11610
Would a photo/diagram suffice? I want to try making a simple one, but to be honest, I don't really see photos in any of the scala readme docs. Makes me think it's a conscious decision not to have photos?

[2020-05-25 12:55] rethab opened #12016 "Resource leak: Sources not closed"
There are several places in this repo where `Source.fromFile` is used without closing the source thereafter. While this is likely not a problem in the productive sources (see output below), this has in the past led to issues with running tests on windows.

Note that this issue was originally reported by @michelou in the dotty repo https://github.com/lampepfl/dotty/issues/8358 and @smarter found th

[2020-05-26 03:15] Blaisorblade commented on #10916
Looking at the [problematic example](https://github.com/scala/bug/issues/10916#issuecomment-393850330) in light of https://github.com/lampepfl/dotty-feature-requests/issues/14#issuecomment-633778378, I'd blame `with` and not projections. Expanding `FB#T` as `String` is wrong.

I suggest closing this issue,

[2020-05-26 08:04] som-snytt commented on #12016
https://github.com/scala/bug/issues/7244 and relatedly https://github.com/scala/scala/pull/8887

[2020-05-26 19:08] LeifW commented on #12004
JLine 3.15.0 has been released: https://github.com/jline/jline3/issues/532

[2020-05-26 19:36] chaotic3quilibrium opened #12017 "Dotty (in Scastie) producing "Expected a toplevel definition" error..."
## reproduction steps

using Scala (2.12.11, 2.13.2, Dotty - within Scastie),

[code]

## problem

The above compiles and runs successfully with Scastie using 2.12.11 and 2.13.2. Selecting Dotty in Scastie causes it to fail with an error. The error is displayed underneath the line of code, `println(sB)`. And the error appears as a red X followed by this message, "Expected a toplevel definition".

[2020-05-26 19:39] SethTisue commented on #12017
This is the Scala 2 bug tracker. Please report Dotty bugs at https://github.com/lampepfl/dotty. Though, I gave this one a quick try in the Dotty 0.24.0-RC1 REPL, and didn't get an error so perhaps this is actually a Scastie bug? In which case https://github.com/scalacenter/scastie/issues would be the place for it

[2020-05-26 19:39] #12017 closed

[2020-05-26 21:17] som-snytt commented on #12016
The PR reduces some usages. There are old tickets along similar lines, including the API is unexpected or hard to use, please at least update the docs. Now just `Files.readString` or `reflect.io.Path("f").toFile.slurp()`.

[2020-05-27 08:20] Jasper-M commented on #12017
Scastie worksheet mode is disabled for Dotty. It's a limitation.

[2020-05-27 21:51] #12016 closed

[2020-05-28 07:09] smanikim commented on #11903
@viktorklang this response seems to got buried in emails. I won't be having this output now :(

[2020-05-28 16:39] lambdista opened #12018 "Spurious warning in for expression"
## reproduction steps

using Scala 2.13.2,

[code]

## problem

It gives the warning because `b` is not used in yield. Still, it is used in `if a != b`. I guess that for comprehension is desugared more or less in:
[code]
Instead it should be desugared in the following one in order not to get the warning:
[code]

[2020-05-29 03:34] koertkuipers opened #12019 "Scala compiler classpath gets confused by directory ending in .zip"
we compile scala class files at runtime. the scala files we compile are configuration files in a custom dsl, mainly used for spark. for this we use the scala compiler in `scala.tools.nsc.Global` for scala 2.12.10

recently we started tested spark cluster deploy mode (so our code now runs on cluster in a jvm not directly created by us instead of in client jvm). as it turns out the jvm on the cluste

[2020-05-29 21:01] som-snytt commented on #12018
The umbrella issue https://github.com/scala/bug/issues/10287

Similar to https://github.com/scala/bug/issues/11175 (different part of the desugared expression) and https://github.com/scala/bug/issues/11400 (in the map but refutable pattern).

Probably it's time to consolidate at https://github.com/scala/bug/issues/10287

[2020-05-29 22:09] SethTisue commented on #12018
agreed, duplicate of #10287, feel free to add the code in question as a comment there

[2020-05-29 22:09] #12018 closed

[2020-05-29 22:10] SethTisue commented on #11175
consolidating here: #11175, #11400, #12018

[2020-05-29 22:10] SethTisue commented on #10287
consolidating here: #11175, #11400, #12018

[2020-05-29 22:11] SethTisue commented on #11175
consolidating at https://github.com/scala/bug/issues/10287

[2020-05-29 22:11] #11175 closed

[2020-05-29 22:11] SethTisue commented on #11400
consolidating at https://github.com/scala/bug/issues/10287

[2020-05-29 22:11] #11400 closed

[2020-05-30 04:47] som-snytt commented on #12019
I would also get confused.

[2020-05-30 10:52] Rich2 opened #12020 "Implicit search for traits and their descendant traits extending Any"
Scala 2.13.2 sbt 1.3.10
[code]
[code]
[code]
[code]

This compiles if you uncomment the type annotation. It also compiles if AnyTr does not extend Any. This should compile without the type annotation as the inferred type is the same as the type annotation.

The dummy project for this example can be found [here](https://github.com/Rich2/anyinference)

[2020-05-30 12:35] Jasper-M commented on #12020
It does not. There is no implicit conversion.

[2020-05-30 13:16] Rich2 commented on #12020
@Jasper-M
The project was created on my desktop. I just cloned it from Github on to my laptop. I ran sbt, when I uncomment and save the type annotation it compiled and ran.
[code]

[2020-05-30 13:24] Jasper-M commented on #12020
Oh sorry I only looked at the code posted here.

[2020-05-30 13:27] Rich2 commented on #12020
My apologies I see now I accidentally didn't post the package object.
[code]

[2020-05-30 13:54] som-snytt commented on #12020
Dotty also thinks `AnyRef`:
[code]
I had to remove the `case` on `AnyB` for `scalac -Vtyper`. `-Vimplicits` just states the obvious.

[2020-05-30 17:48] som-snytt commented on #8357
`-Wself-implicit` by https://github.com/scala/scala/pull/6318, upgraded by linked PR to `-Xlint:implicit-recurses`.

The temptation is to upgrade the message to: `Curses! Implicit recurses!`

[2020-05-30 19:32] Atry opened #12021 "Regression: Rare StackOverflowError when type-checking"
## reproduction steps

using Scala 2.13.2,

[code]

## problem
[code]
This is a regression because the same code compiles in Scala 2.13.0

[2020-05-30 20:09] Atry opened #12022 "HTML-like code in code blocks of Scaladoc should not be rendered as HTML"
## reproduction steps

using Scala 2.13.2,

[code]

## problem

It rendered as:
[code]

* Source code: https://github.com/GlasslabGames/html.scala/blob/75887b53ef55d341453cbaf4c0110ca4b24d4576/html/src/main/scala/org/lrng/binding/html.scala#L711
* Generated Scaladoc: https://javadoc.io/static/org.lrng.binding/html_sjs0.6_2.12/1.0.2+34-75887b53/org/lrng/binding/html.html

This issue is created beca

[2020-05-30 20:52] SethTisue commented on #12021
can it be reproduced a small standalone example? (including, can Scala.js be removed from the equation?)

[2020-05-31 01:12] Atry commented on #12021
The bug is related to complex type checking in an application of [Name based XML literal](https://docs.scala-lang.org/sips/name-based-xml.html) and [Curried varargs](https://docs.scala-lang.org/sips/curried-varargs.html). It should not be a Scala.js specific problem.

Unfortunately, the schema of the XML defined [here](https://github.com/GlasslabGames/html.scala/blob/master/html/src/main/scala/org

[2020-05-31 01:15] som-snytt commented on #12021
Bumping stack doesn't help. (TIL how to get sbt to bump -Xss.)

[code]

https://javadoc.io/doc/org.lrng.binding/html_sjs1_2.13/latest/org/lrng/binding/html$$autoImports$.html
https://github.com/GlasslabGames/html.scala/

Hard to see anything under macro debug, so I will desist.

[2020-05-31 03:55] nogurenn commented on #11610
I'll work on it the soonest today/tomorrow.

[2020-05-31 06:41] som-snytt commented on #12021
Probably https://github.com/scala/bug/issues/12005 which has a PR.

The PR calls it a rare stack overflow, but how rare could it be at this point?

[2020-05-31 07:32] som-snytt commented on #12021
Verified fixed by stack overflow avoidance PR https://github.com/scala/scala/pull/9009

[2020-05-31 16:25] SethTisue commented on #12005
(let's keep the ticket open until scala/scala#9009 is actually merged)

[2020-05-31 16:31] SethTisue commented on #12021
let's keep the ticket open until that PR is actually merged. signed, Professor Pedantic

[2020-05-31 18:15] som-snytt commented on #12021
@SethTisue it's duplicate. I was actually going to say, "The fact that it is fixed by the associated PR suggests that this ticket is a duplicate." The stack trace is also correlative. Either I got distracted or I decided that "stack overflow avoidance" was enough subtle humor. Also I almost changed the title to read, "Rare SOE". But I don't mind how you manage your tickets.

[2020-05-31 18:22] SethTisue commented on #12021
duplicate of #12005

[2020-05-31 18:22] #12021 closed

[2020-05-31 23:25] som-snytt opened #12023 "Friendly typo checker relies on selections"
## reproduction steps

[code]

## problem

It would be nice to typo check against scope, including locals.

[2020-06-01 15:30] neko-kai opened #12024 "Alias prefix is not in implicit scope, unlike Dotty"
## Minimized code

[code]

## Output

[code]

The above, unexpectedly, compiles and works with Dotty[[1]](https://scastie.scala-lang.org/2DosmGcVTBa8T3TnSqGInQ), but not with Scala 2.13[[2]](https://scastie.scala-lang.org/jtnGsXFHTIGIxoHWdyl2zQ)

## Expectation

Expected `Xa.s` of type `Xa.internal.S` to have a **distinct** implicit scope from other values of type `X#S` and include the implicits i

[2020-06-01 21:44] joroKr21 commented on #12024
[code]

It looks like scalac and dotty disagree on the order in which rules should be applied 🤔

[2020-06-01 22:04] neko-kai commented on #12024
@joroKr21 Ah, sorry for the misleading title, the issue in question is not about type aliases, it's about value aliases of form `final val B = A.B`, the first example above is the same even without the type alias[[1]](https://scastie.scala-lang.org/Ow9NHMBMTgy1DSSMkx9xnQ):

[code]

In dotty, `Xa.s` has type `Xa.internal.S` where `Xa` is prefix of `internal` and `Xa.XS` conversion is thus in implic

[2020-06-01 22:17] joroKr21 commented on #12024
I guess it's this part of the spec:

Which is interpreted as:
[code]

[2020-06-01 22:25] #8928 closed

[2020-06-01 22:46] #12012 closed

[2020-06-01 23:00] #12010 closed

[2020-06-01 23:00] SethTisue commented on #12010
PR: https://github.com/scala/scala/pull/8996

[2020-06-01 23:09] SethTisue commented on #11991
@som-snytt want me to take this one? I consider it critical for 2.13.3

[2020-06-01 23:10] SethTisue commented on #12006
since it's under `-Xsource:3`, not a 2.13.3-blocker

[2020-06-02 01:42] som-snytt commented on #12006
This must have been when I tested the codebase's future-friendliness. The goal was to be able to say that `-Xsource:3` is sharp like a good chef's knife not like a broken beer bottle.

[2020-06-02 01:44] som-snytt commented on #11991
I must have rubbernecked it.

Inbox-style notifications were working so well for me, too. I'll take a look right now, before I'm allowed outside for some exercise on the asphalt.

[2020-06-02 05:33] eed3si9n commented on #12006
According to git bisect, https://github.com/scala/scala/pull/7660/commits/45201171aef3b33fb49955ef94ee085a275ecdbb is the first bad commit.

[2020-06-02 06:33] eed3si9n commented on #12006
Here's my PR for this to make the snippet compile - https://github.com/scala/scala/pull/9027

[2020-06-02 09:34] matobet opened #12025 "not found: value getClass"
## reproduction steps

using Scala (2.13.2),

[code]

## problem
Fails to compile with
[code]
The above class compiles successfully with Scala 2.12.7.

[2020-06-02 09:52] joroKr21 commented on #12025
This is intentional: scala/scala#8541
The behaviour was quite surprising because `getClass` referred to `Predef.getClass` and not `this.getClass`.

[2020-06-02 09:52] dwijnand opened #12026 "`@nowarn` seems to use "OR" semantics for `&`"
## reproduction steps

Scala 2.13.2

Given a warning like:

[code]

Using `@nowarn("cat=other-pure-statement")` will suppress it:

[code]

## problem

The problem is that it looks like only one filter need apply:

[code]

Compare to `-Wconf` where all filters must apply:

[code]

[2020-06-02 09:54] #12025 closed

[2020-06-02 09:56] joroKr21 commented on #12025
For reference the error we get if we use `this` explicitly:
[code]
[code]

[2020-06-02 09:56] matobet commented on #12025
@joroKr21 is there a workaround for my case? because attempting `def this() = this(this.getClass)` results in
[code]

[2020-06-02 10:03] Jasper-M commented on #12025
[code]

[2020-06-02 10:04] matobet commented on #12025
Ok, so you are saying the 2.12.7 code was incorrect all way long. But why is it illegal to do `this.getClass`?  I believe Java allows you to do this.

[2020-06-02 10:05] matobet commented on #12025
@Jasper-M actually howdy is an abstract base class that really wants to do something with the concrete `Class[_]` of its child...

[2020-06-02 10:11] Jasper-M commented on #12025
I'm not really sure how your old old accomplished that since constructors are not inherited. Maybe your minimized code is now too small to clearly see what the use case was. Anyway it's probably better to ask the question on e.g. users.scala-lang.org.

[2020-06-02 10:32] joroKr21 commented on #12025
I can't think of a workaround that would cover all use cases.
But the original code wasn't working as intended either.
Java has the same limitation: https://docs.oracle.com/javase/specs/jls/se8/html/jls-8.html#jls-8.8.7.1

[2020-06-02 10:45] Jasper-M commented on #12025
You could consider
[code]

[2020-06-02 11:11] dwijnand commented on #12025
It doesn't:

[code]

[2020-06-02 14:14] #2943 closed

[2020-06-02 14:15] #12005 closed

[2020-06-02 14:28] SethTisue commented on #10908
Dotty proposal to further improve the inferred type in Scala 3: https://github.com/lampepfl/dotty/pull/9032

[2020-06-02 14:33] matobet commented on #12025
Indeed, the legacy code I'm now migrating to Scala 2.13 must have depended on the old 2.12 behavior where it invoked `Predef.getClass`. It turns out those ctor overloads were never used and subclasses always supplied their specific `classOf[Child]`.

Thanks everyone for the quick reactions and answers! :+1:

[2020-06-02 16:03] eed3si9n commented on #12006
So it looks like the snippet in question can be interpreted in two different ways:

1. `InputStream` is a SAM of `def read(): Int`, and `C(u.openStream)` requires an eta-expansion from openStream method to `() => Int`.
2. `u.openStream` needs auto application `()`.

Under -Xsource:3 Scala 2.13.2 takes the first interpretation since https://github.com/scala/scala/pull/7660. In https://github.com/sc

[2020-06-02 16:27] SethTisue commented on #9852
https://github.com/scala/scala/pull/8995 improves the situation w/r/t to "a pure expression does nothing in statement position" warnings in particular

[2020-06-03 01:59] nogurenn commented on #7879
In 2.11.12, 2.12.11, and 2.13.2 REPL, I get the following (with variation in error format, but same exact message).

[code]

[2020-06-03 02:34] som-snytt commented on #11991
Paste will probe for a package statement by re-parsing. REPL always leaked the error if the actual code was not top-level; it mattered once REPL started reporting parser errors.

Line comments are skipped by the scanner; not sure yet what difference is with leading line comment. The package probe should probably use `parseStatsOrPackage`?

[2020-06-03 05:01] som-snytt commented on #12026
Yes, it was `forall` in one spot and `exists` in the other. Maybe that was just an oversight and not deeply significant. But it kind of makes you want `forany`. I see Java has `allMatch/anyMatch`. I don't know why the structurally similar words are easier to parse (if they are); `exists` activates a different part of my brain, and for a moment I feel distracted or abstracted, and I forget what I w

[2020-06-03 05:03] #11610 closed

[2020-06-03 15:01] #12026 closed

[2020-06-03 18:56] #11991 closed

[2020-06-03 19:11] SethTisue commented on #7879
I don't think we want to spec this, as Dotty does not have the restriction:

[code]

and I've removed the "good first issue" label since the other choice, namely lifting the restriction in Scala 2, is probably neither easy nor especially important to tackle

thanks, @nogurenn, for taking a look :+1:

[2020-06-04 06:01] #8357 closed

[2020-06-04 08:25] #12002 closed

[2020-06-04 08:27] #12003 closed

[2020-06-04 11:00] Jasper-M commented on #11310
Some things I noticed:
- In [Definitions.scala](https://github.com/scala/scala/blob/2.13.x/src/reflect/scala/reflect/internal/Definitions.scala) there seem to be no definitions for `wait` (yet the compiler does know those methods from `java.lang.Object`), and the definition of `synchronized` doesn't seem to match the type signature in the source file. So there seems to be a connection between miss

[2020-06-04 11:51] #11997 closed

[2020-06-04 11:51] dwijnand commented on #11997
Fixed in scala/scala#9035.

[2020-06-04 13:06] Jasper-M commented on #11310
And I said something similar in this overlapping issue #6684.

[2020-06-04 19:12] oxbowlakes opened #12027 "Scala 2.13.2 Vector prepending performance regression"
I have a mature application currently running scala 2.13.1 and performing its daily task comfortably with `-Xmx4g` and taking about 30-60s. If I make the change to compile/run using 2.13.2 (with no other changes) and run, it goes out of memory (even when increased to `-Xmx16g`) after about 5 minutes of running. If I capture a stack trace when running (and when it throws an `OutOfMemoryError`), it

[2020-06-04 20:39] Jaimeloeuf commented on #11608
Hi just wanted to ask if this issue has been resolved? I could not even get https://github.com/scala/scala-seed.g8 to work with this same error 😅

Not sure if this is the right place, so sorry for any noise in advance.

[2020-06-04 22:21] oxbowlakes commented on #12027
Note that this does not get any better using explicit `prependedAll`:
[code]

[2020-06-04 22:46] retronym commented on #12027
I'm taking a look to understand why this _used_ to perform okay.

But you'll get better performance in both cases with something like:

[code]

Internally, that will create a single `VectorBuilder`, append all the subsequences, then create the final result `Vector`.

[2020-06-04 23:41] retronym commented on #12027
The `case n if this.size < (n >>> Log2ConcatFaster) && suffix.isInstanceOf[Vector[_]] =>` used to kick in for this example, but the new implementation didn't bring that forward. 😕

[code]

[2020-06-04 23:59] szeiger commented on #12027
Right, `appendedAll0` should implement this check for the LHS, too, in case it's a degenerated append like in this case. It only checks the RHS at the moment. And `prependedAll` doesn't check at all.