[2018-12-14 09:01] lrytz opened #11310 "Scaladocs on AnyRef.wait/synchronized missing"
https://www.scala-lang.org/api/2.13.0-M5/scala/AnyRef.html#wait():Unit has no Scaladoc, the doc comment from https://github.com/scala/scala/blob/v2.13.0-M5/src/library-aux/scala/AnyRef.scala#L115-L120 is not emitted. Same for `synchronized`.

For methods that *do* have scaladocs, the parameter names from library-aux are not used.

Reported at https://contributors.scala-lang.org/t/scaladocs-about-l

[2018-12-14 09:47] dwijnand commented on #10790
This is going to be less easy to do with Scala 2.13's `@deprecated` becoming `final`: https://github.com/scala/scala/pull/7449

[2018-12-14 09:55] fommil commented on #10790
:man_shrugging: who can argue with the extremely convincing motivation given in that ticket.

[2018-12-14 10:53] dwijnand opened #11311 "Un-final @deprecated (and friends)"
https://github.com/scala/scala/pull/7449 makes a number of annotations insta-`final`.  Backing @fommil's concern I suggest we un-final them and mark them `@deprecatedInheritance` for 2.13 (and possibly backport) and `final` in 2.14.

Maybe some of the more niche ones can be on the fast track of insta-final, but I also don't see there being any urgency.

[2018-12-14 10:53] dwijnand commented on #11311
Thank you @hepin1989 for volunteering to fix this.

[2018-12-14 11:41] hepin1989 commented on #11311
@dwijnand I think only `deprecated` is need to be un-final for now. At least in Java you could not extend any of `@interface`.

[2018-12-14 11:44] hepin1989 commented on #11311
Another thing is, is this kind of thing supported in Scala ?
![image](https://user-images.githubusercontent.com/501740/50001686-96a1b900-ffd8-11e8-9a8b-6cc5a4b6e330.png)

[2018-12-14 12:09] He-Pin opened #11312 "java.lang.NullPointerException at scala.tools.nsc.typechecker.Typers$Typer.$anonfun$typedAnnotation$1(Typers.scala:3826)"
[code]
and then `;clean;compile` in sbt.

[code]

[2018-12-14 12:34] hepin1989 commented on #11311
Another thing is what we really needed here and there is not extends the `@deprecated` but `suppressWarnings`.
like
[code]
and then
[code]

[2018-12-14 12:51] hepin1989 commented on #10790
refs: https://github.com/scala/scala/pull/7527

@fommil The problem is we are extremely overloading the usage of `deprecated` not the motivation itself a problem ok?.

[2018-12-14 13:00] hepin1989 commented on #11311
As both Akka and Scalaz are going to make use of think kind of thing for temporarily suspending the warning, so there is kind of needs for a dedicated design around this need instead of overloading the `deprecated` more.

[2018-12-14 14:39] szeiger commented on #11275
I took the direct route with dedicated `Iterator` implementations with array-based ring buffers. This should be much faster than going through `LazyList`.

[2018-12-14 14:46] dwijnand commented on #6383
Resolved as of https://github.com/scala/scala/pull/4827 I'd say.  Reopen (or comment) if you disagree with me.

[2018-12-14 14:46] #6383 closed

[2018-12-14 15:01] #11083 closed

[2018-12-14 15:01] #11089 closed

[2018-12-14 15:51] ansvonwa opened #11313 "Lower Bounds Error: value is not a member of type parameter"
Disclaimer: I am not sure if this is a bug, but I think so.

The Scala compiler seems to give false type-errors for statements with multiple lower bounds.

Given class `Foo` with the method `g` using a lower bound for `A` and `B`

    class Foo[A, B](a: A, b: B) {
      def g[T, A1 >: A <: T, B1 >: B <: T] = List[T](a: A1, b: B1)
    }

from https://stackoverflow.com/a/6124549, and classes `X`, `Y

[2018-12-14 20:41] Sciss opened #11314 "Regression? Map .withDefaultValue refines return type in 2.13, not in 2.12"
Ok in Scala 2.12:

    var m = Map("foo" -> "bar").withDefaultValue("baz")
    m += "a" -> "b"

fails in 2.13.0-M5:

[code]

It doesn't seem to make sense to me to expose the return type `WithDefaultValue`?

[2018-12-14 20:58] julienrf commented on #11314
Related: #11017

[2018-12-14 21:05] julienrf commented on #11314
I think I understood the problem: although the `updated` method has a refined `Map.WithDefault` return type, its **symbolic alias**, the `+` operator, doesn’t: it still returns a `Map`, hence the compilation error.

The solution consists in overriding the `+` alias to also refine its return type.

[2018-12-14 23:55] joshlemer opened #11315 "Random.shuffle("hello".toSeq) does not compile"
@Sciss reports on Gitter that this line no longer compiles in 2.13

[code]

[2018-12-15 01:54] Sciss opened #11316 "Repl 2.13 versus 2.12 API - do not change signature of `beQuietDuring`"
This breaks source compatibility unnecessarily:

Before:
https://github.com/scala/scala/blob/2.12.x/src/repl/scala/tools/nsc/interpreter/IMain.scala#L211

[code]

After:
https://github.com/scala/scala/blob/2.13.x/src/repl/scala/tools/nsc/interpreter/Interface.scala#L43

[code]

(type of `body` is swallowed)

[2018-12-15 11:32] gmarti commented on #11265
Looked at it but we cannot reuse the hash from `immutable.HashMap` in `mutable.HashMap`
They both use some algorithm to improve the hash by shifting bits but they are different
`immutable.HashMap` improve hash with `scala.collection.Hashing.improve`
`mutable.HashMap` improve hash in a local `computeHash` method

And also to avoid problems, hash should be typed so we avoid dangerous change that wil

[2018-12-15 11:38] julienrf commented on #11299
We could indeed introduce a builder like we used to have in 2.12, whose `++=` method doesn’t evaluate its appended elements (see implementation [here](https://github.com/scala/scala/blob/2.12.x/src/library/scala/collection/mutable/LazyBuilder.scala)). That being said, I’m not sure it is worth it. Builders are eager by nature, this “lazy” builder is actually lazy only if you use its `++=` operation

[2018-12-15 12:34] odersky commented on #11307
I also tend to make `head` strict. It seems to be simpler conceptually.

[2018-12-15 13:32] julienrf commented on #11315
I think the problem is more on the `shuffle` definition side. It doesn’t work either with `Map`s:

[code]

[2018-12-15 13:33] julienrf commented on #11315
With the following signature it works with `Map`s but still doesn’t work with `WrappedString`:

[code]

[2018-12-15 16:14] joshlemer commented on #11265
@gmarti actually there's a PR open for this that I made here https://github.com/scala/scala/pull/7520

It does the trick of translating between the two different "improved hash" types, by taking advantage of the two facts:
* mutable HashSets and HashMaps improve their hashes in a way that is reversible (improve(improve(hash) == hash)

* immutable HashSets and HashMaps store their original hashes,

[2018-12-15 16:40] joshlemer commented on #11315
Seems the problem with Maps is that the type inferred for `CC` is `[V] Map[K,V]` but we want it to infer `[X] Iterable[X]`. It works for example if you do:

[code]
Maybe @szeiger has an idea how to nudge the inference the right way?

[2018-12-15 17:44] Sciss commented on #11315
Probably related:

[code]

[code]

(works in 2.11 and 2.12 with CBF)

[2018-12-15 19:09] Sciss commented on #8521
I was just bitten by this again in 2.13.0-M5. Thought the issue was solved. I don't really understand [this merge](https://github.com/scala/scala/pull/5657). Is it only for Scala 2.12? In the meantime I will reinstall my patch in my IMain subclass like so

[code]

I think the issue should be re-opened and tagged 2.13.x?

[2018-12-15 21:14] julienrf commented on #11315
@joshlemer

But in this case we would get back an `Iterable` instead of a `Map`, right? I think we want the static return type to be as specific as possible (`Map`, in that case).

[2018-12-15 21:17] joshlemer commented on #11315
@julienrf IMO shuffling the order of a (non-ordered, at least) map doesn't really make sense. You cannot shuffle a HashMap or TreeMap into any other order than its hashcode/ordering, and still have a HashMap/TreeMap, so I think it makes more sense to return just a generic iterable of tuples in this case.

[2018-12-15 21:19] joshlemer commented on #11315
By the way I was also playing around with reworking shuffle to instead take an implicit factory, something like..

[code]
but got again stuck with the type inference on maps issue (inferring `CC` to be `[V] Map[K, V]` rather than `[X] Iterable[X]`

[2018-12-15 21:53] julienrf commented on #11315
Well, it makes sense on `SeqMap` and `LinkedHashSet`.

So, by changing the signature as follows (the implementation stays the same):

[code]

And adding the following definition in the `BuildFrom` companion:

[code]

We have the following behavior:

[code]

[2018-12-15 22:34] julienrf commented on #11306
We should indeed specify this behavior. It makes sense to align it with the behavior of `LinkedHashMap`.

[2018-12-15 22:44] joshlemer commented on #11306
The downside is that this is a breaking change to an existing api. Maybe people are depending on this behaviour in 2.11/2.12

[2018-12-16 00:44] NthPortal commented on #11299
@julienrf The only issue with that is that it keeps rebuilding the prefix of the list every time you append to it. You can probably manage something similar using `stateFromCollConcatSuffix` (possibly soon to be `stateFromIteratorConcatSuffix`), where the suffix is lazily evaluated to either be the next element(s) appended or empty if you call `result()`

[2018-12-16 01:42] som-snytt commented on #8521
@Sciss yes, it was never forward-ported over the scary REPL refactor. I'll refresh my memory and make a PR. One really does take forward-merging for granted.

[2018-12-16 02:48] NthPortal commented on #11089
Note: this may be reverted by #11307

[2018-12-16 07:03] julienrf commented on #11299
What do you mean by ”rebuilding”?

[2018-12-16 12:52] davidcian commented on #9434
I've got the same issue on Windows 10 Family (Version 1803, 17134.471). I'm using sbt 1.2.3, and Scala 2.12.6. When I run sbt inside a git bash console, it does not echo input to the CLI, although it does receive it.

[2018-12-17 00:14] NthPortal commented on #11299
Just like `List`, appending to the end is `O(n)` and requires building a new `LazyList` containing all its elements and then whatever you're appending. It's still done lazily, but that actually kinda makes it worse, because you can blow the stack when you evaluate elements if you append too many things.

[2018-12-17 05:02] eed3si9n opened #11317 "I can't unimport names under scala package object"
## steps

I want to mask `scala.Seq`.

[code]

## problem

The name `Seq` is still available within `object Foo { ... }`.

## expectation

The code does not compile.

[2018-12-17 07:09] #11315 closed

[2018-12-17 08:42] julienrf commented on #11299
Yeah, but this “rebuilding” is lazy so it is not `O(n)`. That being said, you’re right that concatenating `m` `LazyList`s introduces `m` levels of indirections, whereas the `LazyBuilder` thing doesn’t.

[2018-12-17 09:19] #11311 closed

[2018-12-17 09:47] ennru opened #11318 "Scaladoc: Link to scoped visibility is always local"
The link to the package for scoped visibility modifiers is always rendered local to the project.

This happens for eg. `clone` in the `scala.Option` class as
https://www.scala-lang.org/api/2.12.7/scala/Option.html contains

[code]
which links to the `java.lang` package locally instead of pointing to external Javadoc.

![bild](https://user-images.githubusercontent.com/458526/50078736-09cd4a00-01e8-

[2018-12-17 10:12] ennru commented on #11300
Running a [Dead Link Checker](https://www.deadlinkchecker.com/website-dead-link-checker.asp) on [Scala 2.12.7 APIs](https://www.scala-lang.org/api/2.12.7/index.html) gives

![bild](https://user-images.githubusercontent.com/458526/50080466-6df20d00-01ec-11e9-9350-cdf227e2996f.png)

[2018-12-17 15:02] lrytz commented on #8521
https://github.com/scala/scala/pull/7544 for 2.13 (https://github.com/scala/scala/pull/5657 for 2.12)

[2018-12-17 15:09] jicahoo opened #11319 "Scala REPL hang when run commands related with ProcessLogger"
When I run below code in scala REPL, the below code will hand for ever. If I put these code in file, it can run successfully: `scala mycode.scala`
[code]

[2018-12-17 15:30] Jasper-M commented on #11317
It's generally not possible to unimport something after it has already been imported:
[code]

[2018-12-17 15:53] eed3si9n commented on #11317
Trying to tie this back to the spec.

[2](https://www.scala-lang.org/files/archive/spec/2.12/02-identifiers-names-and-scopes.html) says:

I guess in my example, the unqualified `Seq` would not be bound in `object Foo` scope, so it would try the outer scope of that and finds `import scala._` in there.

[2018-12-17 15:54] #11317 closed

[2018-12-17 19:48] som-snytt commented on #11319
Duplicates https://github.com/scala/bug/issues/9824

Use `-Yrepl-class-based` as a workaround.

[code]

[2018-12-17 19:48] #11319 closed

[2018-12-17 20:01] som-snytt commented on #10055
Duplicates https://github.com/scala/bug/issues/9824

[2018-12-17 20:01] #10055 closed

[2018-12-18 03:17] yinshurman opened #11320 "operator Referencial Transparency"
I know operator apply in scala is a syntax sugar of method call,but I think it breaks the  referencial transparency principle as I understand,eg:

`import scala.collection.mutable.Map `
`val a=Map.empty[String,Int]`
`val b=("key",10)`
`a += b                   //which is ok`
`a += ("key",10)    //which get a type mismatch error  `
`a+=(("key",10))    //which is ok again,but I think it breaks the r

[2018-12-18 06:18] lrytz commented on #11320
This issue tracker is for bugs, for discussions about the language we have discourse (https://users.scala-lang.org), gitter (https://gitter.im/scala/scala). The issue here is also discussed here: https://github.com/scala/scala-dev/issues/503

[2018-12-18 06:18] #11320 closed

[2018-12-18 09:06] #9968 closed

[2018-12-18 09:31] Jasper-M opened #11321 "Generic signatures with value classes are wrong"
In the sample below javap says that method `b` returns a `scala.Option<java.lang.String>` but the implementation of those methods strongly suggest that the `Option` contains an instance of class `X`.

[code]

[2018-12-18 09:47] Jasper-M commented on #11321
Perhaps a better illustration of the actual problem:

[code]

[2018-12-18 17:09] shawjef3 commented on #11307
I've run into a scenario where I wanted `head` to be lazy. Sometimes I want to use `Iterator` as control structure rather than a collection, where I get to accumulate results if I like. I use `Stream` (<= Scala 2.12) to lazily run each iteration and get the result. In these cases, when I call `Iterator#toStream`, I don't want the `Iterator` to execute until I explicitly start walking the `Stream`.

[2018-12-18 19:12] NthPortal commented on #11307
@joroKr21 no, but that introduces another layer of indirection (and boxing and dependent load); if it's a strong use case, we should have it not require extra boxing and indirection.

[2018-12-19 03:36] lihaoyi opened #11322 "Improved eta-expansion doesn't work for methods with default arguments"
[code]

Seems like https://github.com/scala/scala/pull/7340 missed a case; I would expect automatic eta expansion to work for both

[2018-12-19 08:18] hepin1989 opened #11323 "Add `getOrElseThrow` to Option?"
Currently, the getOrElse will give me a Nothing if I write

[code]

I would like to have a `getOrElseThrow`

[2018-12-19 08:54] sjrd commented on #11323
Could you elaborate on what's the issue you want to solve? I use this pattern often in my code without any trouble.

[2018-12-19 14:02] ennru commented on #11318
As far as I understand this link is created in `Entity.visibility`

https://github.com/scala/scala/blob/2.13.x/src/scaladoc/scala/tools/nsc/doc/html/page/Entity.scala#L774-L780

and there it shouldn't default to `LinkToTpl`, but decide if `LinkToExternalTpl` should be used.

I don't know what would be the best way to do that. Any guidance?

[2018-12-19 15:15] #7612 closed

[2018-12-19 23:35] som-snytt commented on #9637
[code]

[2018-12-20 07:09] kag0 opened #11324 "Unused non-implicit value declaration resolves diverging implicit expansion"
I spent some time poking at this one and I'm not sure where else to turn.
I would expect the code to work fine as everything I can think of is in scope.
The behavior is that all tests are failing to compile with a "diverging implicit expansion" error. Typically I'd think I've just messed up somewhere, but the odd thing is that adding a statement in two places
here https://github.com/blackdoor/jose

[2018-12-20 12:50] NthPortal commented on #9637
Fixed by scala/scala#6410

[2018-12-20 12:50] #9637 closed

[2018-12-21 04:01] ashwinbhaskar commented on #11270
@NthPortal can I take this up?

[2018-12-21 04:05] NthPortal commented on #11270
@ashwinbhaskar go for it!

[2018-12-21 06:20] ashwinbhaskar commented on #11270
@NthPortal thank you:)

[2018-12-21 06:45] som-snytt commented on #11324
What branch of that project fails? Master succeeds.

Introducing a term can shadow an implicit in lexical scope.

[2018-12-21 07:14] #5388 closed

[2018-12-21 12:37] ashwinbhaskar commented on #11270
@NthPortal Wanted to understand if I have got the definition of cyclic lazy list right. Is this a cyclic lazy list?

[2018-12-21 12:40] ashwinbhaskar commented on #11270
@NthPortal Wanted understand if I have got the definition of cyclic lazy list correct? Is this a cyclic lazy list ?

[2018-12-21 13:03] NthPortal commented on #11270
A cyclic `LazyList` has itself as its eventual tail (rather than the result of calling a method like `map` on itself). Calling `force` on such a `LazyList` will terminate (unlike the example you gave), and after being evaluated, its `toString` method displays the end of it as `...`.

[code]

[2018-12-21 21:18] kag0 commented on #11324
The linked commit specifically has the issue (although it passes right now since those lines are added).
The branch that that commit is from is [unregistered-header-params](https://github.com/blackdoor/jose/tree/unregistered-header-params).

[2018-12-22 02:59] MDIB opened #11325 "Compiler messes up with Pattern matching inside partial function"
Hey, I don't know if that's a bug or if you guys are aware but I found it interesting to report anyways.

The scala compiler messes up pattern matching when I try to use it inside a partial function (which is required to be able to map over a Map deconstructing key and value )

The following code:

[code]

Throws me the error:

[code]

Which is totally unexpected (at least for me) as it is very cl

[2018-12-22 03:02] hrhino commented on #11325
I think it's just matching against `k -> v`, no?

[2018-12-22 03:03] #11325 closed

[2018-12-22 03:03] MDIB commented on #11325
lol if I put another parenthesis around (k -> v) it works interesting, thanks!

[2018-12-22 03:06] hrhino commented on #11325
Yup! If you're not sure if something is a bug, you can also ask around on [gitter](https://gitter.im/scala/scala) or [discourse](https://users.scala-lang.org/) or stackoverflow to possibly get a faster answer.

[2018-12-23 10:19] hrhino commented on #11308
#7550

[2018-12-23 10:19] #11308 closed

[2018-12-24 00:02] joshlemer opened #11326 "VectorMap should cooperate with im/mutable HashMap/Sets/VectorMaps during addAll/removeAll/concat/removedAll etc."
Similar to the work done in https://github.com/scala/scala/pull/7520, VectorMaps contain Maps (maybe we should change it to contain specifically HashMaps), which means that like in that PR, VectorMaps can join the club and avoid rehashing of elements during bulk add/remove transformations with those collections.

[2018-12-24 02:51] ashwinbhaskar commented on #11270
@NthPortal Thank you for the clarification. I have added cycle detection to distinctBy (overriding distinct is not required as it internally calls distinctBy). But I am afraid that detecting cycle would require us to traverse the list and it might not be lazy anymore. https://github.com/scala/scala/pull/7568

[2018-12-24 07:40] ashwinbhaskar commented on #11270
@NthPortal No problem:). I understood a good deal about the LazyList during the process. Though, it would be interesting to see how it could be done while still keeping the laziness. Any pointers ? I could work on it if you could show me the way:)

[2018-12-24 15:36] MrRexZ commented on #11326
@joshlemer I can help on this (seems very straightforward since it just require changing the underlying implementation of the map) and then it can re-use your implementation. Do I have to wait until scala/scala#7520 is merged, or can I start right away?
Or can I start from your un-merged branch and push there?

[2018-12-24 16:42] joshlemer commented on #11326
Excellent!

Or can I start from your un-merged branch and push there?

I think it would be a lot easier to wait until that one is merged, I think it might get weird with rebasing and force pushing if that branch needs to be changed, and then breaking what you are working on, but if you don't mind that, then go ahead! It should only be a very small few lines to change in VectorMap anyways.

I think

[2018-12-24 19:47] diesalbla commented on #4889
This still crashes the compiler with Scala 2.12.7, but it has been fixed in the current branch 2.13.x. Which is to say, that the program in the bug description is successfully compiled.

I am not sure if I understand Paul Philipps comment, as to whether the compiler _should_ or not accept and compile the program, though. @SethTisue Could you clarify?

[2018-12-24 23:34] NthPortal commented on #11307
Requesting input from others who have been involved with `LazyList` design and/or bugs and may have input on this question.

pinging @hrhino @julienrf @szeiger @SethTisue @paulp.

I am currently leaning the same way as the current rough consensus, to make `head` strict and remove "form 2" of laziness.

[2018-12-24 23:57] OlegYch commented on #11307
i often hear people complaining about Stream head being strict, and then some people started pointing out that it's fixed in LazyList
does this suggest to revert to Stream behavior?

[2018-12-25 04:06] NthPortal commented on #11270
@ashwinbhaskar I don't know what pointers I could give without actually coding it, sorry

[2018-12-25 05:56] sjrd commented on #11307
No it doesn't. When people complain about the head being strict in `Stream`, they are in fact referring to form 1 of laziness, and that one we keep.

[2018-12-25 15:46] ashwinbhaskar commented on #11270
@NthPortal no issues:)

[2018-12-26 22:57] joroKr21 commented on #11303
`AppliedTypeVar` strikes again :tada:

It lied about its type (aka kind)!

Minimization (of the SO):
[code]

It ends up comparing:
[code]
where `?F` is a `HKTypeVar` and `[_]?F[_]` is a `PolyType(_, AppliedTypeVar(?F, _))`

The check which got tripped is here:

https://github.com/scala/scala/blob/d8d63b2da0d62db3c8239ef2886adf134ae7269b/src/reflect/scala/reflect/internal/tpe/TypeComparers.scala#L3

[2018-12-26 23:09] joroKr21 commented on #11303
The warning of course is when the check did not get fooled. It got surprised because it wasn't expecting this. But one should expect the unexpected in these corners of the compiler. You have been warned!

[2018-12-27 00:25] joroKr21 opened #11327 "Cannot BuildFrom Nothing anymore"
Scala 2.12:
[code]

Scala 2.13:
[code]

Is there another way to generically build a collection `C[_]` without holding a reference to a value of that type? Building from `Nothing` might be used in the wild more often than expected, esp. in library code (even exposed in APIs).

[2018-12-27 00:32] joroKr21 commented on #11303
@mpilquist In the meantime the workaround is not to trust type inference:
[code]

[2018-12-27 09:44] julienrf commented on #11327
Yes, the new way is to require an implicit `Factory[A, C[A]]` instead of a `BuildFrom[Nothing, A, C[A]]`.

[2018-12-27 09:54] joroKr21 commented on #11327
Aha, thanks and sorry for the noise :+1:

[2018-12-27 09:54] #11327 closed

[2018-12-27 14:22] julienrf opened #11328 "incorrect drop implementation on RangeIterator"
[code]

[code]

[2018-12-27 15:01] joroKr21 commented on #11303
Forgot to post a minimization of the warning. Triggered by GADT pattern match:
[code]

[2018-12-27 15:32] joshlemer opened #11329 "VectorBuilder#addAll(Vector) should perform a "shallow copy" of the argument, when the builder is currently empty."
Take this example
[code]

Here, `b` will perform a deep copy of `v`, but it should be able to just do something along the lines of `this.initFrom(v)` and whatever other bookkeeping is required within the builder.

This will be a really great improvement to performance, especially because this is how Vectors currently perform concatenation in most cases (`newBuilder.addAll(this).addAll(that).result

[2018-12-27 17:14] joshlemer opened #11369 "New implementation of LinkedHashSet/LinkedHashMap"
Recently, @szeiger rewrote the implementations of `mutable.HashMap` and `mutable.HashSet` [here](https://github.com/scala/scala/pull/7348). So far as I see there's no reason not to implement LinkedHashSet/Maps the same way, and in fact doing so will allow LinkedHashMaps/Sets to participate in hashcode sharing between:

* `s.c.i.HashMap`
* `s.c.i.HashSet`
* `s.c.i.VectorMap`
* `s.c.m.HashMap`
* `s.

[2018-12-27 21:19] julienrf commented on #11329
Should we really optimize for all these corner cases?

[2018-12-27 21:47] joshlemer commented on #11329
@julienrf I think that it's pretty valuable in this case, because of the fact that this is the way that Vector's currently concatenate with each other.

[2018-12-28 06:52] som-snytt commented on #11328
I'm blinking my eyes and shaking my head, and now I'm going to use the spray bottle of cleaner on my eyeglasses.

[2018-12-28 08:47] joroKr21 commented on #10920
Isn't the occurrence as a lower bound in contravariant position?
[code]

[2018-12-28 12:31] #10253 closed

[2018-12-28 13:12] smarter commented on #10920
Yes, but it also appears in an invariant position (the `A` in `Foo[A]` in the result type), and the logic (at least in Dotty) is to consider that something that appears both in positions with different variances as if it appeared in an invariant position.

[2018-12-28 13:34] joroKr21 commented on #11239
[code]
[code]
[code]

[2018-12-28 14:35] joroKr21 commented on #10920
Ok then at least we know where to look. scalac considers only the formal parameter types to compute the variance of type parameters:
https://github.com/scala/scala/blob/284a9c03c650c76e2b5295fee5c03565bcdf5246/src/compiler/scala/tools/nsc/typechecker/Infer.scala#L550

I tried adding the result type there but it caused breakage elsewhere.

[2018-12-28 15:41] joroKr21 commented on #11239
[code]

[2018-12-28 15:45] joroKr21 commented on #11239
https://github.com/scala/scala/blob/284a9c03c650c76e2b5295fee5c03565bcdf5246/src/reflect/scala/reflect/internal/Types.scala#L2506-L2516

:thinking: should `?` be kind polymorphic?

[2018-12-28 18:49] pshirshov commented on #11239
I think it should. At least don't think it may break anything.

[2018-12-28 19:19] mpilquist commented on #11303
@joroKr21 Thanks! With your patch, I was able to get a 2.13 build going for fs2.

[2018-12-28 20:56] smishmash commented on #10690
Are there any plans to port this fix to 2.12? We use byte sequences as keys, and this is giving us serious problems.

[2018-12-28 21:08] joroKr21 commented on #10920
There must be more to the story because this works fine:
[code]

Although `A` appears in invariant position in the result type (`Fn[A, B]`) it is still inferred as `String` from the constraint `A <: String` which means `A` is maximized here.

[2018-12-29 09:59] NthPortal commented on #11106
scala/scala#7543

[2018-12-29 09:59] #11106 closed

[2018-12-30 16:53] NthPortal commented on #11328
The problem boils down to the following:

[code]

[2018-12-31 06:24] smishmash opened #11330 "WrappedArray[Byte].hashCode() method works differently from List[Char].hashCode() and violates equals/hashCode contract in Scala 2.12"
https://github.com/scala/bug/issues/10690 addresses this problem for scala 2.13 in development. However the problem exists for scala 2.12 as well. Would you consider back-porting the fix to 2.12?

[2018-12-31 22:00] diesalbla commented on #10700
I have tried some of the code snippets on the current `2.13.x` branch, using the `sbt scala` REPL.

The code in the original message no longer crashes the compiler. However, it is rejected with the following error:
[code]
The same happens for the other variants of the original code, including the one-liner.

On the other hand, the _list_ command, as in the following example:
[code]

Is successfull

[2019-01-01 10:36] rfkm opened #11331 "Synchronized nested method can be incorrectly marked as static"
Hi,

I'd been investigating deadlock trouble on my Scala application and found Scala compiler seemed to emit unexpected code.

In the following code, it seems the compiler wrongly marks `g` as static even though it refers to `self`. It looks like it doesn't take `self.synchronized` into account when optimizing a nested method.

[code]

Bytecode:
[code]

It looks like this was introduced since 2.12

[2019-01-01 16:17] joroKr21 commented on #10292
When refining the GADT bounds, scalac replaces both `A` and `B` with wildcards (`?`). Then unifying `Bar[?F]` with `Foo[[b]Fun[?,b],?]` leads to the solution `?F = [b]Fun[?,b]` which is not complete because it contains `?`. If the compiler was smart enough to try replacing only `B` with a wildcard it would give the solution `?F = [b]Fun[A,b]` but that may be too much to ask (combinatorial explosio

[2019-01-01 17:59] joroKr21 commented on #9345
Works in 2.12.7 and 2.13.x

[2019-01-02 21:38] SethTisue commented on #10690
There is no such plan. A community-submitted pull request with a backport would be accepted if it seemed sufficiently compatible and safe. (I'm wording that cautiously because the 2.12 collections are much different than the 2.13 collections and I haven't assessed what the relevant code looks like in 2.12. Doing that assessment would be part of the work of doing the backport.)

[2019-01-02 21:49] SethTisue commented on #9968
see also https://github.com/scala/scala/pull/7552

[2019-01-03 01:35] ashwinbhaskar opened #11332 "scalac -Xprompt terminates before taking any input from user"
`scalac  -Xprompt sandbox/UnapplyTest.scala`

gives

[code]

[2019-01-03 16:54] oddodaoddo opened #11333 "Scala compiler crash (2.12.8 and previous)"
Scala 2.12.8 and previous all produce same behavior. Here is the code:

[code]

Here is the build.sbt:
scalaVersion := “2.12.8”

If I run “sbt compile”, the compiler throws up with a bunch of errors such as:
[error] (Compile / compileIncremental) java.lang.AssertionError: assertion failed:
[error] Context(testbed.scala) {

I should mention that the code runs happily in the scala REPL:
[code]

[2019-01-03 21:48] #11257 closed

[2019-01-03 21:50] SethTisue commented on #11240
@ashwinbhaskar if you accept my invite to https://github.com/orgs/scala/teams/contributors/members and reply here, I'll assign you the ticket. welcome!

[2019-01-03 22:56] som-snytt commented on #7947
Footnote, jline also has "command parsing with quoting", maybe it's improved in jline 3, maybe it's not better than the current solution, and maybe it's a better dependency after modularization.

[2019-01-04 01:33] ashwinbhaskar commented on #11240
@SethTisue I am delighted to accept the invite. But the link gives 404. Seems to be broken

[2019-01-04 01:50] ashwinbhaskar commented on #11240
@SethTisue Thanks for inviting me! I have accepted the invite.

[2019-01-04 08:07] oskin1 opened #11334 "an unexpected type representation reached the compiler backend while compiling"
I experienced the following compiler errors:
[code]
along with this message:
`an unexpected type representation reached the compiler backend while compiling Funnel.scala: ErasedValueType(class Sink, Array[Byte]). If possible, please file a bug on https://github.com/scala/bug/issues`

Here is the branch containing the project at the error state -- https://github.com/oskin1/CuckooScala/tree/scalac-b

[2019-01-04 17:41] som-snytt commented on #11332
The report is about the sbt task, where it's not obvious that there's hope of reading from the console.
[code]
There are still rough edges from the command line due to the new reporters.

[2019-01-04 21:14] som-snytt commented on #11332
For the rough edges, https://github.com/scala/scala/pull/7601

[2019-01-04 22:42] som-snytt commented on #11332
For the sbt task, you can add
[code]
Probably they won't want to do that by default just for this marginal feature.

[2019-01-05 00:16] som-snytt commented on #11334
Duplicates https://github.com/scala/bug/issues/10600

Also works to add a dummy method:
[code]

[2019-01-05 00:16] #11334 closed

[2019-01-06 18:18] diesalbla commented on #10215
This still fails with Scala 2.12.8, but it has been fixed in the current HEAD of Scala 2.13.

[2019-01-06 22:02] smishmash commented on #11330
PR is here: https://github.com/scala/scala/pull/7607#issue-242509725

It has a failure that I don't understand.

[2019-01-07 15:21] smishmash commented on #11330
@som-snytt thank you for the pointer. I have updated the PR and all tests pass.

[2019-01-07 15:51] #11332 closed

[2019-01-07 17:35] #4889 closed

[2019-01-08 05:53] som-snytt commented on #11298
Yes, on the linked ticket, Patrik mentions this is how overloading works. The compiler doesn't error on definition, but maybe someone should write a scalafix lint warning.

[2019-01-08 05:53] #11298 closed

[2019-01-08 12:33] adriaanm commented on #11110
For migration to dotty, we can adjust adaption use -Xsource. Since we're out of time for RC1, re-scheduling for 2.13.1. If someone manages to fix this for the RC1, that's fine too, but we won't hold up the RCs for this.

[2019-01-08 12:34] adriaanm commented on #11102
Let's improve the error message in 2.13.1. This does not block RC1.

[2019-01-08 13:10] adriaanm commented on #11076
Yes, duplicate of #11045

[2019-01-08 13:10] #11076 closed

[2019-01-08 13:47] adriaanm commented on #10920
Can we avoid the existential in the collections in favor of the type param? I think we're out of time to fix the typer for 2.13.

[2019-01-08 13:54] adriaanm commented on #7187
Implemented under -Xsource:2.13 in https://github.com/scala/scala/pull/6475

[2019-01-08 16:39] szeiger commented on #11307
Given the high complexity of the new implementation I also agree with forcing elements when their existence has been determined. It would also resolve the problems with `IterableFactory.fill` (which doesn't really make sense for `LazyList` if the elements are not evaluated in order) and with `Iterator` not being lazy enough as a basic abstraction.

[2019-01-08 16:45] adriaanm commented on #10497
The cycle is caused by calling `filterAccessorAnnots` while completing the accessor / field.

[2019-01-08 17:54] szeiger commented on #11204
Closing as duplicate of https://github.com/scala/bug/issues/9237

[2019-01-08 17:54] #11204 closed

[2019-01-08 18:00] SethTisue commented on #11307
I'm fine with dropping form 2. It turned out to be a bigger can of worms that any of us anticipated.

[2019-01-08 18:13] szeiger commented on #8585
2.13 defines it in `IterableOnceOps` using external iteration. `Traversable` with internal iteration is gone.

[2019-01-08 18:13] #8585 closed

[2019-01-08 18:19] szeiger commented on #6825
We have a completely new `HashMap` in 2.13. We also had `AnyRefMap` for quite a while. It is based on open addressing (like the now deprecated `OpenHashMap`) so it should be a good choice for reducing heap allocations.

[2019-01-08 18:19] #6825 closed

[2019-01-08 18:22] szeiger commented on #10945
`Partition` shouldn't have required serialization in the first place (it was only used as a temporary placeholder). Since the serialization tests are passing and there are no known missing classes I'm closing this ticket.

[2019-01-08 18:22] #10945 closed

[2019-01-08 18:33] szeiger commented on #9954
`VectorIterator.drop` exists in 2.13 but still no `slice` or `take`

[2019-01-08 18:39] szeiger commented on #11067
Closing as "won't fix". These classes should be accessible for implementing collections and different View types. See the discussion on https://github.com/scala/scala/pull/7066 for details.

[2019-01-08 18:39] #11067 closed

[2019-01-08 18:41] szeiger commented on #11134
Rescheduling to 2.14 for potential deprecation.

[2019-01-08 18:45] szeiger commented on #10909
Closing as duplicate of https://github.com/scala/bug/issues/9237

[2019-01-08 18:45] #10909 closed

[2019-01-08 20:17] mkeskells commented on #11060
@lrytz what is the break in 2.13

[2019-01-08 20:48] adriaanm commented on #11060
completion inside an annotation doesn't work in the repl

[2019-01-08 20:49] adriaanm commented on #11060
`@deprecated(message = "".<TAB>) class C` // TAB does nothing

[2019-01-08 22:02] SethTisue commented on #11302
do we have a guess what scala/scala PR might have altered this behavior? perhaps we'll need to bisect.

@milessabin does this look like your territory...?

[2019-01-08 22:05] SethTisue commented on #11082
@MrRexZ if you accept my invitation to https://github.com/orgs/scala/teams/contributors and then reply here, I'll assign you the ticket

[2019-01-08 22:11] SethTisue commented on #11304
It would be good to know whether this changed again in 2.13.

[2019-01-08 22:30] SethTisue commented on #11316
maintaining source compatibility for the REPL internals between releases isn't really a goal. this is the kind of thing that can change even in a minor release, let alone a major release.

if working around this is somehow causing real difficulty, let us know (and explain why), otherwise it falls under "sorry but oh well"

[2019-01-08 22:30] #11316 closed

[2019-01-08 22:50] SethTisue commented on #5388
scala/scala#7532 (2.13), scala/scala#7559 (2.12)

Enno thanks for fixing the bug I reported in 2012 :-)

[2019-01-08 22:50] NthPortal commented on #11105
Rejected by #11307

[2019-01-08 22:50] #11105 closed

[2019-01-08 22:54] SethTisue commented on #11307
@NthPortal also I think there's now sufficient consensus that you can go forward with this.

[2019-01-08 23:27] SethTisue opened #11412 "run/streams.scala intermittently fails on Windows"
seen at e.g. https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-windows/839/consoleText

[code]

@NthPortal what do you make of this, could this be a real bug?

note that I'm not completely certain it never fails except on Windows, if anyone else has seen this on a non-Windows system, let us know

[2019-01-08 23:44] twenovales commented on #11304
@SethTisue 2.13.0-M5 is better on `existsEmptinessBefore` than 2.12.8, but still much slower than 2.11.11 overall.

[code]

(I only ran these two, I haven't checked any other benchmarks on 2.13.0-M5.)

[2019-01-09 00:38] SethTisue commented on #11270
doing cycle detection seems rather above-and-beyond-the-call-of-duty to me?

[2019-01-09 00:46] NthPortal commented on #11270
perhaps, yeah.

it also has the disadvantage of either evaluating twice as many elements as it needs to by scouting ahead, or holding onto (leaking memory of) half as many elements as have been traversed, so it's not clear that it's worth it for the uncommon situation of calling `distinct(By)` on a cyclic `LazyList`.

[2019-01-09 03:15] SethTisue commented on #11336
bless you, GitHub, for "Transfer issue"

[2019-01-09 03:17] SethTisue commented on #11337
someone want to check if this 1) should remain open and 2) isn't a duplicate?

[2019-01-09 03:18] erikerlandson opened #11338 "Scala syntax tree returned from inferImplicitValue is failing to evaluate"
The tree returned from `inferImplicitValue` cannot (afaict) be evaluated using `c.eval` unless it was previously declared and compiled in a separate (sub)project.  I originally reported this problem on [stackoverflow](http://stackoverflow.com/questions/43097790/scala-syntax-tree-returned-from-inferimplicitvalue-is-failing-to-evaluate).

Consider the following simplified setup, where I define a met

[2019-01-09 03:20] marcospereira opened #11340 "Scaladoc can't handle Java methods with Scala inner classes as parameters"
See https://github.com/marcospereira/scaladoc-enumeration-bug

Running `scaladoc` directly results in the following output:

[code]

And running `sbt compile:doc`:

[code]

[2019-01-09 03:21] lrytz opened #11341 "Invalid Export-Package entries"
I'm on 2.13.x, but maybe it's the same on other branches

Our jars contain invalid entries in `Export-Package`, for example `build/osgi/scala-library.jar/META-INF/MANIFEST.MF` has

[code]

Probably because of this, we get in build logs

[code]

(https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-bootstrap/312/consoleFull)

[2019-01-09 03:21] SethTisue commented on #11343
@som-snytt should this stay open? I transferred it from scala-dev

[2019-01-09 03:22] Atry opened #11344 "Scaladoc 2.12 generates dead link for type alias"
On the right side bar of [this page](https://static.javadoc.io/com.thoughtworks.deeplearning/unidoc_2.12/1.0.0/com/thoughtworks/deeplearning/CumulativeLayer$Output.html), there is a link to `CumulativeTape`.
However, `CumulativeTape` is a type alias that does not marked as `@template`. The link is a dead link.

Related source code: https://github.com/ThoughtWorksInc/DeepLearning.scala/blob/afe4cee

[2019-01-09 04:54] som-snytt commented on #11336
This was a retronym request. Since then, I've had to use `"{}"` style placeholder in log4j, so I see how someone might easily omit the `$`.

[2019-01-09 05:03] som-snytt commented on #11343
The second case still warns. The improvement is to (optionally) warn only for sealed or final classes, if param is used in no override. Don't warn (optionally) for abstract classes.

[2019-01-09 06:38] MrRexZ commented on #11082
@SethTisue I've accepted your invite. Thank you! :D

[2019-01-09 07:15] som-snytt commented on #11332
Or https://github.com/scala/scala/pull/7617/files#diff-fdc3abdfd754eeb24090dbd90aeec2ceR154

[2019-01-09 11:14] milessabin commented on #11302
It's possible. I'll take a look.

[2019-01-09 13:15] szeiger commented on #10103
It's supposed to be an `IndexedSeqView` in 2.13 but it's actually broken:

[code]

`IndexedSeqOps` has the required override.  This must be a compiler bug.

[2019-01-09 14:10] Jasper-M commented on #10103
It doesn't. `view` is overriden. `view(from: Int, until: Int)` is not overridden and is deprecated in `IterableOps`.

[2019-01-09 14:57] #7187 closed

[2019-01-09 15:52] szeiger commented on #11054
I've taken another look at these two PRs. Firstly, I think my original statement that we need a separate definition for `Iterator` was wrong. This should work just fine because the third type parameter is always supposed to be inferred:

[code]

The problem with either version is that we cannot use priorities to disambiguate this against the defintions in factory objects. I'm not sure other defini

[2019-01-09 15:54] szeiger commented on #11054
I think we can live with not having a `buildFromIterableOnce` and I can't think of a good solution for the problem so I'm rescheduling it to 2.14 for now.

[2019-01-09 15:57] szeiger commented on #10103
Oh, you're right. I'll add some overrides then.

[2019-01-09 20:52] #11328 closed

[2019-01-09 21:44] Ichoran commented on #11270
Haven't looked at the implementation, but `distinct` on `LazyList` has a particularly easy way to detect cycles: you do the two-element thing _only_ starting when you hit a duplicate, and you drop it all as soon as you hit something new.  If it actually is a cycle, you'll detect it in n+3m time, where n is the non-cyclical part and m is the cyclical part; and if it's not a cycle, you have only a l

[2019-01-10 00:22] vamsi3309 opened #11346 "scala 2.12.8 [error] null [error] scala.tools.nsc.typechecker.Contexts$Context.outerDepth(Contexts.scala:237) scala 2.12.8"
Compiler raises a null pointer exception and runs into infinite loop of typechecker calls finally failing into stackoverflow error.

Problem raises with the new compiler(scala 2.12.8).

Scala version: 2.12.8
Sbt version: 1.2.8
Java version: 1.8.0_181

Please use the attached code and `sbt compile` to reproduce the problem.
Any help would be greatly appreciated.

Trying code regeneration to build c

[2019-01-10 01:08] SethTisue commented on #6071
as per https://github.com/scala/scala-dev/issues/584,
https://github.com/scala/scala/pull/7462 deprecates `@usecase` and removes all usages of it from scala/scala, "solving" the problem for 2.13

[2019-01-10 01:08] #6071 closed

[2019-01-10 01:35] SethTisue commented on #11328
@rpmcdougall I'll assign you the ticket if you accept my invite to https://github.com/orgs/scala/teams/contributors and then reply here

[2019-01-10 01:56] #9061 closed

[2019-01-10 02:49] rpmcdougall commented on #11328
I accepted your invites, thanks!

[2019-01-10 03:39] retronym commented on #10277
Looks like I introduced this regression in 2bde3928833ae194fc7e2094b8955112b70fd31f. It might be tricky to fix in a minor release because of binary incompatibilities when specialized traits and subclasses are separately compiled with different compiler minor versions.

The workaround is to use an abstract class rather than a trait for `TypedColumn`.

[2019-01-10 03:41] NthPortal commented on #11270
@Ichoran thanks! I hadn't thought of those optimisations! Just curious - would you tend to prefer scouting ahead or lagging behind?

[2019-01-10 06:46] joroKr21 commented on #11337
It's still a problem. There are 5 other issues about `foundType is Erroneous`:
#10803, #10015, #10003, #9960, #1472

[2019-01-10 06:58] joroKr21 commented on #11337
[code]
:thinking:

[2019-01-10 10:46] ashwinbhaskar commented on #11270
@Ichoran By "two-element" thing do you mean 2 iterators (one fast and one slow)?

[2019-01-10 13:02] #10497 closed

[2019-01-10 13:04] #10790 closed

[2019-01-10 13:04] #11045 closed

[2019-01-10 14:14] nilskp commented on #10790
It would be nice if we could just use `_` for unused parameters, like in pattern matching, but that's obviously way outside the scope of this ticket.

[2019-01-10 14:52] Ichoran commented on #11270
@ashwinbhaskar - Yes, that's what I mean.

@NthPortal - You add something that lags behind; you always want to have the fast-moving place be the one that is calculating what is distinct because then once you reach the end you are done and just drop everything else.

[2019-01-10 15:42] szeiger commented on #11112
Duplicate of https://github.com/scala/bug/issues/11015

[2019-01-10 15:42] #11112 closed

[2019-01-10 15:43] fommil commented on #10790
@nilskp the workaround is to use Haskell.

[2019-01-10 15:46] dwijnand commented on #10790
In Rust bindings that begin with an underscore are exempted, which is kind of nice: for example `(_key, value)` for when you only use the value of a key-value tuple.

[2019-01-10 15:49] nilskp commented on #10790
@fommil surely that's a joke.

[2019-01-10 15:50] nilskp commented on #10790
@dwijnand strikes me as unnecessary to have to name a parameter that you're not using. An underscore should be sufficient, no?

[2019-01-10 15:53] dwijnand commented on #10790
Underscore is also available.  But underscore-prefixed is convenient for cases like when you're only temporarily not using a variable (e.g commented out a code block) or for documentation/labelling purposes.

[2019-01-10 15:54] szeiger commented on #11160
I wonder if we need `ResuableBuilder` at all. `Builder` already has a `clear` method from `Growable`. Is there any reason why you would expect `clear` to work before producing a result but not afterwards (in order to reset the builder to its initial state)? I'll look through the existing builder implementations to get rid of `ReusableBuilder`. The first few non-reusable `Builder` subclasses that I

[2019-01-10 15:58] fommil commented on #10790
@nilskp clearly not a very good joke. Please create a new ticket to continue this discussion.

[2019-01-10 15:59] joshlemer commented on #11160
@szeiger this is what I have been wondering for a while, it seems to me that all builders should behave nicely, and in builders I have implemented, I have made sure they are "reusable" even without extending that trait.

[2019-01-10 16:25] Ichoran commented on #11160
I think the biggest barrier was that some mutable collections were their own builder (e.g. `ArrayBuffer`), which makes reuse tricky without substantial inefficiencies (you at least have to create one new object and transfer all the innards over).

[2019-01-10 16:26] adriaanm commented on #11158
This goes back to scala/scala@b739c4a -- since we're "overriding" a Java method with an empty argument list, we add one to the `length` method, which then disqualifies it from being a getter (`treeInfo.mayBeVarGetter` expects a `NullaryMethodType`, which has no argument lists)

[2019-01-10 16:34] szeiger commented on #11160
Good point. So we still need non-reusable builders for that. It also answers the question what the semantics after calling `result` should be. Similar to Iterators which can be reused and updated internally, the behavior in general is undefined.

[2019-01-10 16:45] steveniemitz commented on #10277
I actually had explored that, however our type hierarchy is a little more complicated, and contains something like this:

[code]

This will result in a warning if `TypedColumn` is turned into an abstract class.

[2019-01-10 17:10] som-snytt commented on #10790
@nilskp one issue (earlier in discussion) is that param name is part of API (due to named args). The ergonomics might also depend on why the param is unused (no longer used, or should be used in override, etc).

[2019-01-10 17:16] som-snytt commented on #10790
@fommil I started using `fommil` for example and unused identifiers. I don't remember where, in some scala ticket. It is strangely polyvalent or multivalent, or maybe both.

[2019-01-10 17:37] fommil commented on #10790
@som-snytt I like the implication that "ignoring superflous appearances of fommil is expected behaviour in the scala compiler" :rofl:

[2019-01-10 18:50] SethTisue commented on #11337
Dotty:

[code]

[2019-01-10 19:06] ShaneDelmore commented on #10277
Could a fix be hidden behind a compiler flag.  For those that don't do separate compilation with differing minor versions it would be nice to be able to opt-in to the old behavior.

[2019-01-10 20:08] rajcspsg commented on #11310
Hi @SethTisue @lrytz

Shall I work on this issue?

[2019-01-10 20:14] adriaanm commented on #10477
I've gone with @retronym's suggestion. I'm not super happy with the whole name-based unification that's going on in subtyping, but since we already have it, and you could argue it was an oversight there was no case for ThisType (which will widen to a refined type), let's do this!

[2019-01-10 20:16] adriaanm commented on #10256
@retronym could you take a look from the reproducible-build / source file order-dependence angle?

[2019-01-10 21:13] som-snytt opened #11347 "Optionally exclude deprecated elements from root imports"
A compiler option so that root imports exclude deprecated elements, such as `Stream` in 2.13.

Root imports are necessarily privileged, as they intrude on all namespaces; this offers stricter quality control.

It would also be useful if the compiler could treat all deprecated elements as though they were already deleted, as the deprecator plugin did, but that is probably out of scope.

[2019-01-10 21:17] som-snytt commented on #11210
Duplicates https://github.com/scala/bug/issues/7613 which popped up in my beta bug search box on github, designed to avoid duplicates.

[2019-01-11 00:47] diesalbla commented on #7891
@som-snytt The compile crash seems to be solved in the `2.13.x` branch. When running `sbt scala` and introducing the code of Paul Philips above,  I get the following:
[code]

I would need to confirm if that is the intended behavior.

[2019-01-11 00:59] NthPortal opened #11348 "Poor expansion of type hierarchy sections in scaladoc"
The 'Linear Supertypes', 'Known Subclasses' and 'Type Hierarchy' sections only expand/hide if you click on the text, not if you click anywhere else in the panel/div which has the hover animation.

[2019-01-11 01:35] #9345 closed

[2019-01-11 01:38] SethTisue commented on #7613
closing as duplicate of https://github.com/scala/bug/issues/11210 (because the newer ticket has more discussion and inbound links)

[2019-01-11 01:38] #7613 closed

[2019-01-11 01:38] SethTisue commented on #11210
ah, good catch. let's keep this one; I closed #7613

[2019-01-11 02:03] #10215 closed

[2019-01-11 02:37] #10505 closed

[2019-01-11 03:30] #7891 closed

[2019-01-11 04:17] som-snytt commented on #7613
I always feel bad that @demobox may have missed his shot at a puzzler.

[2019-01-11 04:42] som-snytt commented on #7891
I know there have been improvements to whether to hold onto an outer pointer; but there was also a recent example where it didn't correctly capture it, maybe one of your regression tests.

The anon reference to enclosing template should either receive that reference (in which case the reference is pure and can be elided) or the outer is an object and the reference is not pure because it invokes an

[2019-01-11 08:58] vitaliihonta opened #11349 "Unable to create instance of anonymous class from within whitebox macros"
Hi!
I'm developing I library providing some kind of Reader monad upon cake pattern
(https://github.com/itkpi/cakeless).
I've faced an issue with instantiation of anonymous class in quasiquoutes using whitebox macros.
Here is source code of [macro]( https://github.com/itkpi/cakeless/blob/master/kernel/src/main/scala/com/github/cakeless/internal/DependencyResolver.scala)
Here you can find an [exampl

[2019-01-11 09:06] szeiger commented on #10920
Yes, this affects `diff` and `intersect`. Both had type parameters instead of existentials in 2.12, so there shouldn't be any unexpected side-effects when reverting to that state.

[2019-01-11 10:09] Jasper-M commented on #11349
I suspect this doesn't really qualify as a bug. What you trying to do is basically the same as doing the following without macros:

[code]

You're gonna want to extract the types you want to extend into a `List`:
[code]

[2019-01-11 10:19] vitaliihonta commented on #11349
@Jasper-M thank you for your attention!
Example you wrote helped with this problem. But I'm facing another one.
Do you know any topic to discuss such troubles with macros (maybe in https://users.scala-lang.org/)?

[2019-01-11 10:34] szeiger commented on #10920
Workaround in https://github.com/scala/scala/pull/7630. Unassigning and rescheduling to 2.14.

[2019-01-11 11:02] adriaanm commented on #11015
When I worked on improving type inference for overloaded higher-order methods, I experimented with improving our treatment of overloaded methods in general, but it proved hard to find a good balance that doesn't break existing code, while enabling newer patterns such as this one to be type checked.

The core of the problem is not really due to varargs, but because they preclude reducing the overlo

[2019-01-11 14:41] demobox commented on #7613
*sigh*. Although I guess from the perspective of the community overall, "N puzzlers are better than N+1 puzzlers" ;-)

Thanks for continuing to keep a keen eye out for these, @som-snytt!

[2019-01-11 15:06] adriaanm commented on #11030
Assigning to you, @joroKr21, assuming scala/scala#7580 fixes this one too

[2019-01-11 15:38] SethTisue commented on #11347
may run afoul of https://github.com/scala/scala-dev/issues/430

[2019-01-11 16:02] adriaanm commented on #10495
@Ichoran, could you take another look?

[2019-01-11 16:07] adriaanm commented on #11294
@dwijnand would you have some spare cycles to diagnose / verify Lukas's hypo that the underlying issue is conflicting scala-library jars on the classpath?

[2019-01-11 16:13] adriaanm commented on #11326
Given the timing of RC1, starting asap would be good. We're still hoping to have all PRs merged by the end of Jan / mid Feb.

[2019-01-11 16:15] adriaanm commented on #11241
Could someone take this one and implement compat with `String.lines`? WWJD FTW

[2019-01-11 16:17] adriaanm commented on #11077
pinging a few candidates for fixing this: @mkeskells, @joshlemer, or perhaps @retronym?

[2019-01-11 16:19] adriaanm commented on #10924
👋 who would like to implement this?

[2019-01-11 16:20] adriaanm commented on #10840
This will likely miss RC1 unless someone picks it up and submits a PR in the next two weeks.

[2019-01-11 16:30] som-snytt commented on #11347
Under the `-Yimports` umbrella, it would be nice (as was proposed) to be able to

`-Yimports:scala.{Stream => _, _}`

but short of that syntax, a helper option would be `-Yimports-no-deprecated`.

Any such option is just shorthand for a well-placed compilation unit that hides undesired members of the standard imports and introduces new elements available on a quasi-global basis. But the language m

[2019-01-11 17:10] joshlemer commented on #11077
✋

[2019-01-11 17:44] dwijnand commented on #11294
Hmm, no, and not enough prior knowledge of sbt-jmh or jmh to backfill the lack of cycles.

Another wild guess (less probably) is the scala.List rewrite in the compiler?

[2019-01-12 11:39] joroKr21 commented on #11337
But dotty doesn't issue an error about `trait Foo takes type parameters` because it has type inference on `extends` (I think there's an issue about that but can't find it). The problem is that:
[code]
desugars to something like:
[code]
Instead `anon$1` ends up having an error type as a parent as in `class anon$1 extends <error>`. But `TypeMap` and by extension `isErroneous` don't look in the paren

[2019-01-12 17:45] joroKr21 commented on #11337
I believe we should not try so hard to construct a meaningful type mismatch error for an anonymous class with erroneous definition.

[2019-01-13 06:43] diesalbla commented on #9485
This is already solved in the `2.13.x` and the `2.12.8` branches.

[2019-01-13 07:50] diesalbla commented on #9963
The compiler crash only affected versions in the `2.11` line. After the `2.12.0` release, for the previous code, the compiler would reject that program with the message
[code]

[2019-01-13 14:13] diesalbla commented on #8693
This "works" in version 2.12.8, and even as early as in Scala 2.12.0. By "works" I mean that there is no longer a compiler crash, and the compiler accepts the program and succeeds.

However, I am not sure if that is the correct expected behaviour. In the example, trait `A` declares and defines a method `def print(): Unit`, and gives an (empty) concrete definition for it. Trait `B`, which extends f

[2019-01-13 18:05] Philippus commented on #11335
duplicate of #10382 ?

[2019-01-13 19:32] Yuandong-Chen opened #11350 "java.util.TreeMap's lowerKey/higherKey should return Either[None, K] instead of K"
[code]
It is confusing to treats 0 as None here because we might have valid Int 0 as valid return value.

[2019-01-13 20:56] lourkeur commented on #11350
As discussed on Gitter, this is an issue with the way Scala unboxes null values. The best way to avoid the issue is to prevent implicit unboxing by passing `java.lang.Integer` as a type parameter to `TreeMap` instead of `scala.Int`.

This is a little confusing, but I don't think it will be fixed since it's like that in the Scala Language Specification and is consistent with other things in the lan

[2019-01-13 21:42] Ichoran commented on #11152
The issues surrounding `BigDecimal` are complicated for several reasons.

* The Scala implementation of `BigDecimal` carries a `MathContext` around with it.
  1. The principle of least surprise suggests that if you set a MathContext, you expect it to be used.
  2. Most operations are binary, so there are _two_ `MathContext`s, and though the left-hand one _seems_ more natural to use, it's not _enti

[2019-01-13 22:03] plokhotnyuk commented on #11152
IMO more practical would be depreciation for usage of floating point ranges or make them iterate while incrementing value does not reach a limit.

[2019-01-14 00:42] Ichoran commented on #11152
Another possibility is to leave the current behavior alone, but add another set of operations for unbounded addition and subtraction, e.g. `++` and `--`, that would preserve all digits or crash trying.  Not sure whether `**` is a good idea.  Anyway, then `NumericRange` would have to special-case `BigDecimal` and use `++` and `--`.

[2019-01-14 00:45] Ichoran commented on #11152
@plokhotnyuk - We already got rid of IEEE754 because there's no way to do ranges properly; but with `BigDecimal` there _is_ a way to do ranges properly, so it's not very nice to just deprecate that too because we don't feel like it.

The test for whether any incrementing is happening is not entirely trivial, but I guess it could check that it works for the two endpoints.  I agree that this would b

[2019-01-14 02:49] #11335 closed

[2019-01-14 02:49] Atry commented on #11335
Yes. It's a duplicate.

[2019-01-14 08:50] Jasper-M commented on #11350
`Option[K]` might be preferable. For these edge cases in Java-Scala compatibility, probably the best you can do is add some extension methods that do the right Scala thing.

[2019-01-14 10:54] adriaanm opened #11351 "use a valid member to implement a super-accessor"
see lampepfl/dotty#5433

backport fix in https://github.com/dotty-staging/dotty/commit/e147f2232f0916e1883a8627a3a67bf873ce5c95

[2019-01-14 14:10] szeiger commented on #11159
If you disregard the anomaly for large ArraySeqs (where the overhead of the method call is very small compared to the actual work and the performance numbers may be unreliable) there is a noticeable performance loss from removing `inline final` from `+:`:

[code]

[2019-01-14 16:06] szeiger commented on #11219
Hm, I find it rather non-intuitive to force the collection up to the point where you update. However, it is consistent with `Stream` in 2.12. The default implementation would have to do the same as `LazyList`, i.e. check the size first.

But that's very inefficient, turning `update(n, ...)` from what could be a constant-time operation into an O(n) operation. Is it worth paying this cost just to ma

[2019-01-14 18:41] #9485 closed

[2019-01-14 18:42] #9963 closed

[2019-01-14 18:44] #8584 closed

[2019-01-14 20:59] julienrf commented on #11219
For strict collections at least I think it makes sense to throw an `IndexOutOfBoundsException`.

For lazy collections, we can choose to either treat the `updated` operation as a “forcing” operation, and eagerly iterate up to the `n`th element (throwing an `IndexOutOfBoundsException` if there are less than `n` elements), and return an updated collection. Or we can treat `updated` like other “transf

[2019-01-14 22:03] som-snytt commented on #11347
I see Eugene just asked for this convenience https://github.com/scala/bug/issues/11317

[2019-01-14 22:06] som-snytt commented on #9485
I noticed it was improved early in 2.12, in the long progression of function inference improvements.

[2019-01-15 01:18] diesalbla commented on #11079
Given that the preferred solution was to document the existing implementation, which was done in https://github.com/scala/scala/pull/7144, and since there has been no further discussion, I think this issue is closed.

[2019-01-15 01:18] #11079 closed

[2019-01-15 06:32] NthPortal commented on #11219
I'm not a fan of the second option for lazy collections, as it means that the exception is no longer localised to the programming error, which makes it difficult to debug. Additionally, `updated` seems to me to be the dual of `apply`, and the latter iterates up to the `n`th element.

Looking at from a different angle; in order to call `updated(n - 1, _)`, you (as a programmer) need to know that th

[2019-01-15 06:47] dwijnand commented on #11252
All yours, @ashwinbhaskar! (The Scala Team is busy finishing the last tasks for 2.13.0-RC1.)

[2019-01-15 09:18] asenovm opened #11352 "Unable to use SonarQube tool with scala 2.12.8"
Hello,

we are using SonarQube to detect different kinds of issues with our code (our stack is Java 8 + Akka, but we are using some scala constructs in our code every now and then). After updating one of the libraries we are using to a new version SonarQube started outputting multiple errors like the one below:
[code]

Basically the error is always `java.lang.IllegalStateException: bridge method n

[2019-01-15 11:04] adriaanm commented on #11294
I can also repro by invoking the given task, but can't repro it programmatically from the console (to further diagnose what the classpath is etc):

I got the values used by doing show etc, but i must be missing some aspect of how the forked classpath is set up. I can't do `show failures / Jmh / fullClasspathAsJar` without getting the verify error already, so not sure where to look for that

[code]

[2019-01-15 14:23] adriaanm commented on #11294
Ok, I convinced myself it's a classpath problem with the plugin. It has the scala 2.13.0-M5 library as well as the 2.12.7 jars on the classpath.

Painstakingly recreating the classloaders yields:
[code]

[2019-01-15 14:23] #11294 closed

[2019-01-15 14:38] adriaanm commented on #11185
Fixed in scala/scala#7517

[2019-01-15 14:38] #11185 closed

[2019-01-15 14:41] adriaanm commented on #11152
@Ichoran it would be great if you could take care of this one, time permitting

[2019-01-15 14:41] adriaanm commented on #11128
Can we close this one? Looks like the relevant PR was merged

[2019-01-15 14:42] adriaanm commented on #11116
Fixed by scala/scala#7413

[2019-01-15 14:42] #11116 closed

[2019-01-15 14:42] #11055 closed

[2019-01-15 14:43] adriaanm commented on #10495
(I've submitted Lukas's WIP as a proposed fix, hence the assignment of the issue to him.)

[2019-01-15 15:04] szeiger commented on #11219
That sounds like an argument for delayed range checking. If you expect that n is always valid anyway, it doesn't matter if you delay the range check, but you can save time by not iterating over the list.

[2019-01-16 01:09] retronym commented on #10256
I agree with the analysis that this should be done in an info-transform, not the refchecks tree-transform. That ought to solve the source-file-order dependency problem.

[2019-01-16 05:40] SethTisue commented on #11322
@adriaanm shall we milestone this for RC1, or not?

[2019-01-16 05:57] SethTisue commented on #11310
yes, please do!

[2019-01-16 06:03] SethTisue opened #11353 "deprecate scala.Immutable for 2.13"
https://www.scala-lang.org/api/2.12.8/scala/Immutable.html

I wasn't even aware this trait existed until https://stackoverflow.com/questions/54139628/why-i-can-update-state-of-an-object-extend-immutable-trait-in-scala

the trait is no longer used by the 2.13 collections, and I strongly suspect it wasn't consistently applied even in 2.8–2.12

[2019-01-16 06:04] SethTisue commented on #11353
volunteer?

[2019-01-16 06:17] satansk commented on #11353
@SethTisue I'll try it.

By the way, can we just remove its source code or annotate it with `@deperated`?

[2019-01-16 06:38] SethTisue commented on #11352
this is @lrytz's area of expertise / cross to bear

[2019-01-16 06:40] satansk commented on #11353
Get it!

[2019-01-16 07:04] SethTisue commented on #11219
I don't find this convincing. `apply` must be strict, its type requires it to be. my default expectation is that other operations on a lazy collection would be lazy if they are free to be..

seems to me like par for the course when something is lazy. lots of operations don't happen immediately.

and I find Stefan's point that the size check isn't free, it may involve traversing.

regardless: I don

[2019-01-16 07:50] adriaanm commented on #11322
I don’t think I’ll be able to add support for named/defaults by the RC. let’s schedule for 2.13.1

[2019-01-16 09:08] som-snytt commented on #11353
Maybe just deprecate on 2.12.x.

[2019-01-16 09:20] adriaanm commented on #10256
Given the magnitude of the implementation effort and potential ABI impact, I think this will have to wait until 2.14. We'll try to see what we can do in 2.13.x, but binary compatibility could stand in the way since we can't get to this by RC1.

[2019-01-16 09:20] adriaanm commented on #10256
In the mean time, if there's a small fix we can do in the 2.13.x series, let's also consider that post 2.13.0

[2019-01-16 10:45] lrytz opened #11355 "AbstractMethodError with lambdas"
[code]

[code]

[2019-01-16 10:49] retronym opened #11356 "Avoid needless anonfun() methods for lambdas and SAMs with trivial bodies"
When the body of a lambda or a SAM is just a "method reference", we could use that as the implementation method of the `LambdaMetaFactory` bootstrap, rather than emitting a wrapper method.

Current:

[code]

[2019-01-16 10:50] retronym opened #11357 "Consider inlining manually hoisted lambdas in the compiler"
https://github.com/scala/scala/blob/3b0cf29b794fc9c9c5409c0443802a815afbbf04/src/reflect/scala/reflect/internal/Types.scala#L4605-L4622

The lambda encoding hoists these automatically:

[code]

Inlining these will likely result in more readable code. There will be a small cost (creation of the `anonfun` methods at each place that defines a "copy" of the same lambda), although we could and should e

[2019-01-16 10:51] retronym opened #11358 "Optimize multi-dimensional array creation"
We could consider using:

[code]

Or we could introduce an additional constructor to `Array` that allows multiple dimensions to be specified and then update the backend to emit `multinewarray`.

@DarkDimius implemented something along these lines in dotty:

https://github.com/lampepfl/dotty/pull/1188/commits/b2215ed23311b2c99ea638f9d7fcad9737dba588
https://github.com/DarkDimius/scala/commit/4bf975

[2019-01-16 10:55] adriaanm opened #11359 "typedFunction: remove type slack for expected type now we have sam conversion"
Originally introduced in https://github.com/scala/scala/pull/2650 for https://issues.scala-lang.org/browse/SI-6221. This error message is unnecessarily confusing:

[code]

[2019-01-16 10:56] retronym opened #11362 "Unable to use functional interface as a SAM because of Scala's "concrete beats deferred" rule"
[code]

[code]

It isn't clear to me that the current approach of treating Java default methods as concrete from the perspective of the Scala type system is the right approach. (We already have a different mechanism to mark them: `Flag.JAVA_DEFAULT_METHOD`), which we can use in override checks, etc.

[2019-01-16 10:57] retronym opened #11363 "dropExistential insufficient when an existential quantifier is bounded by another"
The typer substitutes bounded wildcard types for the quantifiers of existential expected types (in non-pattern mode.)

Currently, `dropExistential` is implemented in terms of `SubstWildcardMap`.

However, as we see below, this seems too shallow, and does not descend into the info the the quantifiers themselves.

[code]

I believe something like this is needed:

[code]

I believe this will be the c

[2019-01-16 11:01] adriaanm commented on #11365
This requires a significant amount of work, but I recently discussed a related bug with retronym regarding nested types and their inheritance. Maybe worth another look in that light, @retronym?

[2019-01-16 11:03] adriaanm commented on #11366
I lost track of this one because I was focussed on the bug tracker. Will see if we can still get this into RC1 since we can't do this in a .1 release.

[2019-01-16 11:06] retronym opened #11368 "Massage implementation of structural calls to avoid: "WARNING: Illegal reflective access by scala.reflect.package$ ""
We need to tweak the desugaring of structural calls a little bit to avoid this.

Instead of:

[code]

Which is called from, e.g.

[code]

Which compiles to:
[code]

When running on JDK9+, we should call `m.canAccess(receiver)` rather than `m.canAccess(receiverClass)`.

First, we'll need to put some JDK-dependent code in `ensureAccessible`, and call `canAccess` via reflection or via a helper method

[2019-01-16 11:07] adriaanm commented on #11369
Is this still under consideration for RC1?

[2019-01-16 11:08] retronym opened #11370 "New mutable hash maps no longer expose elemEquals/elemHashCode extension point"
This is a consequence of the change to compose `HashTable` rather than extend it.

If this is an intentional breaking change, we should go a bit further and inline calls to `elemEquals` and `elemHashCode` with calls to `==` and `##`.

[2019-01-16 13:44] #10940 closed

[2019-01-16 14:20] mghildiy commented on #11369
I went through mutable.HashMap and found changes broadly as:

- mixesin trait mutable.AbstractMap

- Class level parameters added: initialCapacity: Int, loadFactor: Double

- Replaced HashTable field with Array named: private[this] var table = new Array[Node[K, V]](tableSizeFor(initialCapacity))

- field 'contentSize' intoduced

- method 'size' overriden

- inline method 'computeHash' added

- inl

[2019-01-16 15:34] SethTisue commented on #11353
It's too late for a 2.12 deprecation, IMO — 2.13.0 will almost certainly come out before 2.12.9. It's fine, there's no big rush to get rid of this.

[2019-01-16 15:36] satansk commented on #11353
And I just checked 2.13, it has been removed from 2.13.x.

[2019-01-16 15:40] SethTisue commented on #11353
gah, how'd I manage to get that wrong? 😳

okay, thanks for checking

[2019-01-16 15:40] #11353 closed

[2019-01-16 17:57] szeiger commented on #9954
`drop` exists but turns out to be broken as I discovered while trying to implement `take` and `slice`:

[code]

[2019-01-16 19:10] som-snytt commented on #11367
WIP https://github.com/scala/scala/pull/7645

[2019-01-16 19:33] SethTisue commented on #11364
is this just a duplicate of #8419 now?

[2019-01-16 19:46] adriaanm commented on #11367
Excellent, thanks @som-snytt!

[2019-01-16 21:19] #11239 closed

[2019-01-17 03:50] NthPortal commented on #11219
This feels different from other transformations, but I'm having trouble articulating *why* it feels different to me. With `updated`, you're not passing in a function that happens to throw an exception for some inputs, you're calling the method incorrectly.

Regardless, if we do decide that the bounds check on `updated` is lazy for lazy collections, the doc should specify that; as it is right now,

[2019-01-17 04:55] Ichoran commented on #11219
@NthPortal - `xs.updated(n, a)` should be as lazy as `(xs.take(n) :+ a) ++ xs.drop(n+1)`, but more efficient.

[2019-01-17 05:12] NthPortal commented on #11219
@Ichoran I will note that those are not equivalent:

[code]

[2019-01-17 07:10] sinh-idnow commented on #11353
Thank you @SethTisue

[2019-01-17 07:48] NthPortal commented on #11223
hijacking and re-opening this issue with a corner case where this is still problematic - copying the text out of the 'Full Signature' expandable sub-block on methods annotated with `@usecase`.

[2019-01-17 08:07] Jasper-M commented on #11353
If it's gone in 2.13, shouldn't it be deprecated in 2.12 to be completely correct?

[2019-01-17 08:35] plokhotnyuk commented on #11152
@Ichoran sorry, my shallow understanding of Scala library is not giving me any chance do to it in time for upcoming 2.13.0-RC1

[2019-01-17 08:44] som-snytt commented on #11353
@Jasper-M although I am always completely correct, see my previous comment, the real issue is whether @SethTisue gets enough thank-yous, and I think clearly he does not. Also, see Seth's time-traveling comment, where the version timeline doesn't coincide with the release timeline. For those who don't read sci-fi, you can't go back in time and meet yourself, such as by deprecating the very API you

[2019-01-17 09:00] Jasper-M commented on #11353
I saw, and probably nobody cares/has heard about this trait, but on the other hand people also went to trouble of adding deprecated versions of all the Gen* and *Like stuff. I guess deprecating it back in the future is still better than pretending it never existed.

[2019-01-17 10:34] NthPortal commented on #11353
Since it appears to only have been used for collections (and AFAICT, everything extends it by way of `scala.collection.immutable.Traversable`), could it be made a deprecated alias of `scala.collection.immutable.Iterable[_]`?

[2019-01-17 10:59] Jasper-M commented on #11353
https://github.com/scala/scala/pull/6883

Apparently it was already decided that this could be deleted... So probably best to just leave this closed.

[2019-01-17 11:57] szeiger commented on #11369
"changes" is an understatement - it's a completely new implementation. I think the idea here is to start with a copy of the new HashMap implementation and make the required changes for keeping track of the links.

[2019-01-17 13:11] adriaanm commented on #7187
Changed my mind -- see scala/scala#7660

[2019-01-17 14:04] joshlemer commented on #11369
@mghildiy @szeiger is right, as well as for LinkedHashSet

[2019-01-17 14:38] Prithvirajbilla opened #11371 "Unpickle error reading try catch statement in annotation."
scala version: 2.12.8
Java version: 1.8.0_112

The following code reproduces the issue. Unpickler is not able to read try catch statement and returns a runtime exception.

[code]

[2019-01-17 15:02] mghildiy commented on #11369
Thanks for the inputs.

[2019-01-17 15:33] Ichoran commented on #11219
Is there a potential performance hole (or stack overflow issue or the like) if we make updated lazy?

If yes, then I guess it should be eager.  Otherwise, I'd go with the previous reasoning that it's a variant on take/append/drop.

[2019-01-17 15:34] Ichoran commented on #11152
All right, I'll take care of it.

[2019-01-17 17:32] SethTisue commented on #11353
LOL, apparently I'll forget again in 6 months, and again...

[2019-01-17 17:34] SethTisue commented on #11353
if anyone feels strongly enough that we ought to do the deprecation in 2.12.9, I think a PR on that would be accepted

[2019-01-17 17:49] SethTisue commented on #11223
(`@usecase` is deprecated in 2.13, though)

[2019-01-17 18:30] SethTisue commented on #11371
does the language spec restrict what kind of code can appear in this position?

[2019-01-18 10:20] pavelpavlov commented on #11369
I would also like to contribute if there's need for it.
We use linked collections in our code very heavily.

[2019-01-18 13:08] som-snytt commented on #11371
This happens during REPL reflection; compilation succeeds.
[code]

[code]

[2019-01-18 13:58] szeiger commented on #11326
As a performance optimization this could go into 2.13.1 but if you're planning to work on it you should make sure that it can be implemented in a binary compatible way. It may be necessary to relax access restrictions or add empty overrides in 2.13.0.

[2019-01-18 14:06] joshlemer commented on #11326
@szeiger I'm not sure what we should do because according to discussion in https://github.com/scala/scala/pull/7520 and https://github.com/scala/bug/issues/11369, we may be rethinking entirely how we do hashing.

I don't think I have the expertise to say what hashing strategy we should use but once that decision is made, I or someone else can run with this ticket and https://github.com/scala/scala

[2019-01-18 15:19] szeiger commented on #11128
I've taken another look at the current state of the implementations that are listed as inheriting the slow implementation above. These ones should all be OK:
- `immutable.ArraySeq`, `immutable.List`, `immutable.Queue`, `immutable.Vector`:  Inherits `StrictOptimizedSeqOps.concat` which calls `appendedAll`; implements an optimized `appendedAll`
- `immutable.BitSet`: Uses `collection.BitSetOps.concat

[2019-01-18 15:38] #11210 closed

[2019-01-18 16:56] szeiger commented on #11326
We're currently using different hash improvement algorithms because the implementations were developed independently. I can't think of a good reason why we should though. If all implementations can use the same algorithm there's no need for it to be reversible anymore.

[2019-01-18 16:59] joshlemer commented on #11326
@szeiger we would still like it to be reversible so that mutable hashmaps/sets can share hashes when converting to immutable hashmaps/sets, because immutable hashmaps/sets require (as of now) original hashes

[2019-01-18 17:22] szeiger commented on #11326
What's the reason for needing both hashes? Why doesn't it always use the improved hash?

[2019-01-18 17:48] joshlemer commented on #11326
After doing some digging I found the relevant Issue and PR:

https://github.com/scala/scala-dev/issues/525

https://github.com/scala/scala/pull/6975

In the latter, @retronym states [here](https://github.com/scala/scala/pull/6975#issuecomment-411991731):

So it is about efficiently producing `HashMap[K,V]`'s `##` in a compatible way to other Map instances for instance ListMap.

[2019-01-18 17:58] szeiger commented on #11128
It looks like the lazy implementations aren't any better so we'd have to add immutable versions of the strict implementations, too.

[2019-01-18 18:21] szeiger commented on #11128
Oops, I had a PR checked out that was based on 2.13.x before https://github.com/scala/scala/pull/7647 which added `immutable.StrictOptimized(Map|Set)Ops` with a suitable implementation. It looks like https://github.com/scala/scala/pull/7657 is the last bit of this puzzle, so I'm adding the "has PR" label again.

[2019-01-18 19:06] Blaisorblade commented on #11094
@nrinaudo [asks on Gitter](https://gitter.im/scala/scala?at=5c2f667b5a0a8058be298cf9):

Wasn't aware. Is that so???
In Dotty objects are always final, hence the flag is redundant, hence we now have a warning (the flag was used often enough that an error sounded too harsh).
I don't know good reasons why Scalac would have non-final objects, but I have no insight in any transition issues here — I was

[2019-01-18 20:10] nrinaudo commented on #11094
Sure. Take the following code:

[code]
Compiled with 2.12.7, this yields the following decompiled bytecode:

[code]

On the other hand, the same code using 2.11.8, or the following code in 2.12.7:
[code]

Both compile to:
[code]

[2019-01-18 20:48] Blaisorblade commented on #11094
Thanks! FWIW this is even advice: https://nrinaudo.github.io/scala-best-practices/adts/final_case_objects.html.

So, the last Dotty release gets this right. (Somebody should add a test to ensure that stays the case). I won't speculate on how hard changing this will be in Scalac 2.14, if 2.13 doesn't fix it already.

[2019-01-18 21:06] lrytz commented on #11352
Hi Martin

Could you double-check which exact jar/classfile is causing the issue? In 2.12.7 we started adding the `ACC_BRIDGE` flag to some static methods, but in 2.12.8 we stopped emitting these static bridge methods completely. (See https://github.com/scala/scala/pull/7469#issue-233832945). So I'm a bit surprised you see this message due to a 2.12.7 -> 2.12.8 update - I'd be less surprised if th

[2019-01-18 23:01] dwijnand commented on #11094
Because of `-Yoverride-objects`?

[2019-01-18 23:23] Blaisorblade commented on #11094
Happy it’s gone in 2.13. Since Dotty can’t shadow classes, it can’t do that either.

[2019-01-19 03:07] xuwei-k opened #11372 "Scala 2.12.8 compiler does not work with "-opt:l:method" on JDK12+"
I think we should also upgrade to asm 7 (backport https://github.com/scala/scala/pull/7384) if JDK12+ support in Scala 2.12.x.

[code]

[code]

[2019-01-19 03:16] xuwei-k commented on #10717
FYI, similar issue with JDK12+ https://github.com/scala/bug/issues/11372

[2019-01-19 03:34] danieldietrich opened #11373 "java.lang.invoke.LambdaConversionException: Incorrect number of parameters for bridge signature"
There seems to be a general scala/scalac problem that does occur with **Scala 2.12.7+** but not with **Scala 2.12.4** for example. I also tested it with **Scala 2.13.0-M5**.

@2m originally reported it as possible [Vavr](https://github.com/vavr-io/vavr) bug: vavr-io/vavr#2337
I found a minimal example that only depends on standard Java 8 (or above).

[code]

[code]

[code]

### Running it

Tested

[2019-01-19 14:49] joshlemer commented on #11369
@mghildly actually those methods are being used, these are kind of "magic methods" that Java knows to call during Java serialization/deserialization. Also I would recommend not extending hashmap to implement linked hash map, but maybe some of the hashtable code can be factored out for reuse.

[2019-01-20 07:49] som-snytt commented on #11252
I can't tell if @dwijnand was saying, "Go ahead and tweet the links to the talks!" or "Go ahead and work on the bug!"

The fix seems to run into the [autotupling in patterns question](https://github.com/scala/bug/issues/6675) which was supposed to be laid to rest in 2.12 but there's no time like the present.

For the negative case of smooshing two args into one, "wrong number of args" error is acc

[2019-01-21 06:26] xuwei-k opened #11374 "latest 2.13.x compiler crash with "val `_` = 42""
build.sbt

[code]

A.scala

[code]

[code]

[2019-01-21 11:48] adriaanm commented on #11373
Interesting! Playing around with the repro, trying to minimise a bit more still:

[code]

[code]

[2019-01-21 11:50] som-snytt opened #11376 "Repl eval of class def fails the second time"
2.12 REPL can't re-eval a compiled script that contains a class definition because it attempts to forward all definitions from the wrapper class.

[code]

[2019-01-21 13:13] danieldietrich commented on #11373
Thx, that was fast!

[2019-01-21 15:13] szeiger commented on #11374
Related issues: https://github.com/scala/bug/issues/10384 https://github.com/scala/bug/issues/7691

[2019-01-21 17:52] NthPortal commented on #11223
@SethTisue true, but I don't think that means we should have poor behaviour until it's gone while people are potentially still using it. Also, IIRC Martin said he still thinks there's a lot of situations where it's really important/useful, so if/when it gets revived, it would be nice for it to behave correctly.

I agree that it's not super high priority though.

[2019-01-21 19:59] SethTisue commented on #11372
tentatively marking as "blocker", for Lukas to at least assess, risk/reward-wise

[2019-01-21 23:03] som-snytt commented on #11374
I broke this for 7691, fix attached, but the following is already broken on 2.12 with the same failure:

[code]

(10384 is surely the correct fix, perhaps allowing backticked reference to Java members.)

[2019-01-22 01:19] xuwei-k commented on #10384
FYI https://github.com/lihaoyi/fastparse/issues/214

[2019-01-22 07:15] NthPortal commented on #8693
I am not an expert here, but I would not expect or want it to compile, and honestly I'm not sure if compiling is an improvement. At least when the compiler crashes, it doesn't compile code which does the wrong thing at runtime (either throw a `VerifyError` or invoke `A`'s implementation).

[2019-01-22 07:39] NthPortal opened #11377 "Should duplicating/splitting iterators use LazyList instead of internal queues/buffers?"
Now that `LazyList` has a strict head, would it be better to implement iterator duplicating/splitting operations using it? With the current implementations, the following scenarios will all leak a tremendous amount of memory, which could otherwise be reclaimed:

[code]

For all of the above leaking methods, implementing them by creating a `LazyList` from the iterator, and then performing the opera

[2019-01-22 09:45] zhangxinlong633 opened #11378 "var define must be not null"
I want use this case:

var x

if (a == 0) {
x = 5
} else {
x = 6
}

so ...
scala must be use
var x = 0

why?

[2019-01-22 11:15] #11219 closed

[2019-01-22 13:43] #10677 closed

[2019-01-22 17:42] #10103 closed

[2019-01-23 00:27] ChernikovP opened #11379 "Inconsistent behavior of -Ywarn-value-discard flag"
It looks like `-Ywarn-value-discard` flag doesn't always warn on  [value discarding](https://www.scala-lang.org/files/archive/spec/2.12/06-expressions.html#value-conversions):

[code]

`scalac` output:

[code]

This may also have a regression from `scala` `2.11` to `2.12`:

[code]

[2019-01-23 00:36] nivekastoreth commented on #11379
I've created an example that I think demonstrates that this issue is very likely related to having multiple type parameters:
Full gist is available here: https://gist.github.com/nivekastoreth/fbe5dfb12687c565587f279909ff04f0

Example specifically pertaining to this claim:
[code]

Compiling this with both `-Xfatal-warnings` and `-Ywarn-value-discard` yields only a single warning for `OneTypeParam`

[2019-01-23 01:01] Ichoran opened #11380 "Immutable BitSet presents wrong values to filter"
[code]

Filter seems to be presenting the upper 64 bits as if they were the lower ones?  (61 + 64 = 125)

[2019-01-23 01:51] retronym commented on #8693
Here are some relevant parts of the spec:

https://www.scala-lang.org/files/archive/spec/2.11/06-expressions.html#this-and-super

This would suggest we should report an error for `super[B].print`.

But, from https://www.scala-lang.org/files/archive/spec/2.11/05-classes-and-objects.html#class-members:

Which means the concrete definition `A.print` is actually overrides the abstract declaration of `

[2019-01-23 02:08] nivekastoreth commented on #11379
Upon further investigation, this also effects a method marked as having a type that needs solving, even if it isn't used:
[code]
This yields warnings on the original footprint (`checkCompilerUnTyped` as well as on the version with the typed value on the outside (`checkCompilerTypedOuter`):
[code]

Looking at the typer output yields this tree for `checkCompilerUnTyped` (warns):
[code]

Compared to

[2019-01-23 02:39] retronym commented on #11365
- [ ] Static inner classes should in inheritable in Java sources. Fixed in https://github.com/scala/scala/pull/7671
 - [ ] Annotations errors such as "inner classes cannot be classfile annotations" should be disabled in .java sources
 - [ ] `private class ... escapes its defining scope as part of type` should be disabled in .java sources
 - [ ] Allow references to `Module$` and `Outer$Inner` from

[2019-01-23 02:54] diesalbla commented on #11380
This seems to affect only the special `Bitset` subclass for two words (from 0 to 127 elements). Using a larger number seems to work fine:
[code]
Although, in the second case, I am curious as to why does it go in that order.

[2019-01-23 05:21] mcandre commented on #10239
I remember this used to work. Perhaps Gradle updates between then and Gradle v5 broke the builtin `apply plugin: 'scala'`?

[2019-01-23 06:38] xuwei-k opened #11381 "GlobalSymbolLoaders#lookupMemberAtTyperPhaseIfPossible throw NullPointerException with JDK12"
build.sbt

[code]

project/plugins.sbt

( add `-Ydebug` for `printStackTrace` https://github.com/scala/scala/blob/v2.12.8/src/compiler/scala/tools/nsc/symtab/classfile/ClassfileParser.scala#L115 )

[code]

project/build.properties

[code]

[code]

[code]

I'm not sure this is a scalac issue or sbt issue /cc @eed3si9n

[2019-01-23 09:55] som-snytt commented on #11379
As another data point, the minimized example progresses after M5. Maybe that's due to improvements in inference for functions.
[code]

[2019-01-23 20:53] SethTisue commented on #10239
reading this over, it doesn't appear that any bug in Scala itself has been clearly identified, so I'm going to close the ticket

[2019-01-23 20:53] #10239 closed

[2019-01-24 08:31] timorantalaiho commented on #10035
Is there any chance of getting this fix to 2.12?

[2019-01-24 08:50] asenovm commented on #11352
@lrytz thanks a lot for the response and very sorry for the belated reply. The only exceptions I'm seeing in the logs are:
 - `java.lang.IllegalStateException: bridge method not marked as synthetic in class scala/collection/immutable/Stream`
 - `java.lang.IllegalStateException: bridge method not marked as synthetic in class scala/collection/GenMap`

The only change that was introduced with the com

[2019-01-24 09:50] #11303 closed

[2019-01-24 10:02] #11337 closed

[2019-01-24 10:02] #1472 closed

[2019-01-24 10:02] #9960 closed

[2019-01-24 10:02] #10003 closed

[2019-01-24 10:02] #10015 closed

[2019-01-24 10:02] #10803 closed

[2019-01-24 16:09] SethTisue commented on #8693
eh? really?

[2019-01-24 16:10] #11060 closed

[2019-01-24 16:12] adriaanm commented on #8693
(OT here -- let's discuss at https://github.com/scala/scala-dev/issues/601)

[2019-01-24 23:21] som-snytt commented on #5729
Confirming that dotty still agrees with milesy:

[code]
Some of these stale threads with multiple inversions are a challenge to follow. This one falls under "not a bug" as opposed to spec change or enhancement or fixed in dotty.

[2019-01-24 23:21] #5729 closed

[2019-01-25 09:48] mghildiy commented on #11380
In my Intellij project, build.sbt has latest scala:

`scalaVersion := "2.13.0-M5"`

Following code:
`val bitSet = collection.immutable.BitSet(125)`
`bitSet.filter{ xi => println(xi); true }`

prints 125.

[2019-01-25 10:05] Jasper-M commented on #11380
It's caused by a more recent change: scala/scala#7486

[2019-01-25 10:34] adriaanm commented on #8344
Weird. You can't apply a `String*` to a method expecting an `Object`, but you can vice versa, so it should not be ambiguous, but it also shouldn't pick the `String*` overload... I think... 🤔

[2019-01-25 10:40] adriaanm commented on #8344
While deciding which one is more specific, you get the following calls to `isCompatibleArgs`:
[code]

the second one should be false too

[2019-01-25 15:16] #11380 closed

[2019-01-25 19:58] #9757 closed

[2019-01-27 07:11] som-snytt commented on #11285
@kaishh Maybe just inspect what `1 + 2` compiles to. It might be possible to cast the universe, get a Typer and check the method mentioned earlier? Or inspect the stack trace for the doc package.

[2019-01-27 13:09] mghildiy commented on #11369
As far as I understand, new implementation of HashMap/HashSet no more has hashtable related code.

[2019-01-27 18:08] #11307 closed

[2019-01-28 08:35] #10117 closed

[2019-01-28 08:35] #10208 closed

[2019-01-28 08:35] #10116 closed

[2019-01-28 08:41] #11374 closed

[2019-01-28 15:06] #11275 closed

[2019-01-28 18:47] SethTisue commented on #11270
after scala/scala#7568 my feeling that we just shouldn't go here is growing.

[2019-01-28 18:57] SethTisue commented on #11252
@ashwinbhaskar do you plan to make a second stab at this, or is it up for grabs again?

[2019-01-29 02:26] joroKr21 opened #11383 "Incomplete substitution of type parameters in extension methods"
This occurs when combining `AnyVal` extension methods and the `Aux` pattern for dependent types.
[code]
[code]
Note that surprisingly this compiles (the only difference is a type ascription):
[code]
And now the punchline (try it with a `List[A]`):
[code]
huh? At this point the compiler looks silly :laughing:

[2019-01-29 04:19] ashwinbhaskar commented on #11252
@SethTisue : It is up for grabs:)

[2019-01-29 10:50] milessabin commented on #11383
Works in Dotty.

[2019-01-29 19:01] sharno opened #11384 "groupBy doesn't distinguish between type variables in docs"
I was looking at the `groupBy` function in `Map`
https://www.scala-lang.org/api/current/scala/collection/Map.html#groupBy[K](f:A=%3EK):scala.collection.immutable.Map[K,Repr]

It seems that the type signature should distinguish between the `K` type variable from the map that's being worked on and the `K` type variable that's the result of the the function supplied to `groupBy`

So I'd expect to see

[2019-01-30 19:53] eed3si9n opened #11385 ""Java member module without member class" when a directory with text file exists in classpath"
This was reported originally as "broken test:compile when a package with same name is present in resources folder" https://github.com/sbt/sbt/issues/4517 by @tyrcho

## steps

Unzip [demo.zip](https://github.com/sbt/sbt/files/2795402/demo.zip) which contains minimal sources to reproduce the issue.

#### build.sbt

[code]

#### project/build.properties

[code]

#### src/main/scala/com/demo/file/Fil

[2019-01-31 10:15] kamilkloch opened #11386 "Double.NaN.signum returns 0"
[code]
What is the rationale? `RichDouble.scala` line 48:
[code]

[2019-01-31 15:56] sjrd commented on #11386
I don't think so. The signature needs to be changed to returning a `Double`, which is definitely not a binary-compatible change.

[2019-01-31 15:58] SethTisue commented on #11386
in that case, we should rush a fix in. volunteer?

[2019-01-31 16:00] kamilkloch commented on #11386
I'll give it a shot.

[2019-01-31 20:19] TomasMikula commented on #10292
I don't understand why it would replace type variables from outer scope with wildcards at all.

[2019-01-31 22:18] eatkins opened #11387 "Private types trigger false positive with -Ywarn-unused:-privates"
The following code will generate the error "private type Alias in object Foo is never used" in scala 2.12.8:
[code]

This issue also came up in the example provided by @varming in the discussion of
https://github.com/scala/bug/issues/10313.

[2019-01-31 22:51] SethTisue commented on #11387
I'm an unclear on why this should be a separate ticket from #10313?

[2019-01-31 23:00] som-snytt commented on #11387
The other example from the other ticket:
[code]
I don't know if it's the same symptom. I see `YY` is unused after uncurry.

[2019-01-31 23:08] #11241 closed

[2019-02-01 00:11] eatkins commented on #11387
I see that @som-snytt already chimed in, but it was his suggestion at the bottom of #10313 that prompted my opening this issue. I have run into the issue multiple times in sbt which has both -Xfatal-warnings and -Ywarn-unused:-private set. I'd have no problem with unifying the two issues either in #10313 itself or a new issue.

[2019-02-01 00:16] #11331 closed

[2019-02-01 00:17] SethTisue commented on #11331
very nice catch! thanks for the report and the fix.

[2019-02-01 02:57] NthPortal opened #11388 "Should we deprecate Seq#lengthCompare and Seq#lengthIs?"
Should we deprecate `Seq#lengthCompare` and `Seq#lengthIs` in favour of `Iterable#sizeCompare` and `Iterable#sizeIs`? It doesn't seem necessary to have both, and the `size` variants are higher up in the hierarchy. I believe this came up in Gitter at some point, though I don't recall when.

Potentially the `length` variants could be outright removed, though it seems better to have a deprecation cyc

[2019-02-01 02:59] NthPortal commented on #11388
Deprecating the `length` variants would also mean that `lengthIs` is being added in 2.13 in a deprecated state. On the one hand, I think it's important for discoverability, since people are used using `lengthCompare`; on the other hand, we're telling people to switch to the `size` variants, so why would you ever use `lengthIs`?

[2019-02-01 03:14] NthPortal commented on #11384
This appears to also exist in 2.13: https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M5-6e0cba7/scala/collection/Map.html#groupBy[K](f:A=%3EK):scala.collection.immutable.Map[K,C]

[2019-02-01 04:37] joroKr21 commented on #10292
It works in dotty, although it gives a warning:
[code]

[2019-02-01 08:10] enzief opened #11389 "Implicit resolution failure involving type alias"
Scala version: 2.12.8
To set things up, define two types `Fix1` and `Fix2` of the same shape:
[code]
and trait `P[A]` together with its implicit definitions:
[code]

At the call-side, implicit resolution behaves differently:
[code]

[2019-02-01 09:19] joroKr21 commented on #11389
It works on 2.13.x branch, I'm not sure what caused it / fixed it.

[2019-02-01 16:52] #11389 closed

[2019-02-01 21:09] TomasMikula commented on #10292
Oh well, the compiler should learn that, locally inside that `case Bar(_)` clause, `B` _is_ `Unit`.

[2019-02-01 23:08] joroKr21 commented on #10292
But that's not how it works. Inside the method `B` is a skolem, not a type variable. There is some special handling of GADTs but it's limited.

[2019-02-03 01:07] som-snytt commented on #11388
If a deprecated method is marked inline, is there a best practice for emitting a deprecation warning only if inlining fails or is not enabled by whatever the optimizer option is? Note that Scala deprecations don't include a horizon like Java's `forRemoval`.

[2019-02-03 22:58] kamilkloch commented on #11386
`scala.runtime.ScalaNumberProxy.signum` cannot return `T` - as a result, `scala.runtime.RichByte.signum`would have to return `Byte`. Any ideas?

[2019-02-03 23:06] Ichoran commented on #11386
I think the existing behavior, weird though it is, is as correct as you can get with a generic interface that doesn't explicitly provide for `NaN` eating all values and always returning false.  You run into a similar problem when considering using `compare` to order values based on `NaN`.  You would think that `a < b` if and only if `a.compare(b) < 0`.  Also, `a > b` if and only if `a.compare(b) >

[2019-02-04 04:03] joshlemer commented on #11388
I reckon only having `size` variants should be enough.

[2019-02-04 08:55] som-snytt opened #11390 "Scaladoc omits annotation parameters"
There is a new `@` icon for annotations in M5, but it seems a consequence of the change is that the constructor is no longer shown with its parameters.

For example, `deprecated` has a `since` parameter which is no longer documented. (Cf https://github.com/scala/bug/issues/4801)

As a tweak, the search results page shows mini-C icon for annotations still.

[2019-02-04 09:49] SrTobi opened #11391 "Compiler crashes on self invocation with too many argument lists on class that defines apply."
[code]

crashes with (in ammonite):

[code]

Using `this(3).apply(3)` as well as removing the `apply`-definition correctly yields a compiler error.

[2019-02-04 10:58] #6880 closed

[2019-02-04 11:01] #4775 closed

[2019-02-04 11:01] #8344 closed

[2019-02-04 11:01] #11015 closed

[2019-02-04 11:02] #10277 closed

[2019-02-04 11:51] #10477 closed

[2019-02-04 12:52] #10768 closed

[2019-02-04 12:52] #10788 closed

[2019-02-04 13:06] #10840 closed

[2019-02-04 16:14] som-snytt commented on #11388
I propose `forRemoval` https://github.com/scala/scala/pull/7714 but I didn't establish a convention for forwarding methods. I was considering ways (short of scalafix) to make migration due to rename trivial, including avoiding warnings.

[2019-02-04 17:04] #11192 closed

[2019-02-04 17:15] SethTisue commented on #11366
next steps: re-STARR, then a followup to scala/scala#7678 that actually makes the changeover to macros

[2019-02-05 10:15] adriaanm commented on #11136
Note to self, see https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/Iterable.scala#L33

[2019-02-05 13:41] jrudolph opened #11392 "2.13 Stream.append (deprecated) has changed semantics"
Before the `Stream.append`'s parameter was by-name, now it's not any more leading to issues.

https://github.com/scala/scala/blob/8a52aa19703004f0eb22d72a1efc82617924db32/src/library/scala/collection/immutable/Stream.scala#L74-L75

If it's deprecated anyway, it would make sense to keep the semantics close to what it was before. That will also help with cross-compiling.

[2019-02-05 14:48] julienrf commented on #11392
Indeed, I don’t know why we changed this. It’s probably an oversight. We should just make it take a by-name parameter instead (it delegates to `lazyAppendedAll`, which does take a by-name parameter).

[2019-02-05 21:01] SethTisue commented on #11237
Dotty: `Exception in thread "main" java.lang.AssertionError: assertion failed: private method $anonfun in rs$line$1 accessed from method append in null`  #not-fixed-in-dotty

[2019-02-05 23:32] NthPortal commented on #11270
closing due to discussion on scala/scala#7692

[2019-02-05 23:32] #11270 closed

[2019-02-05 23:33] #9954 closed

[2019-02-05 23:55] SethTisue commented on #10962
https://github.com/scala/scala/pull/7719 undid the deprecations

[2019-02-06 02:33] mghildiy commented on #11369
Hi,

Any more inputs here?

[2019-02-06 15:45] #11351 closed

[2019-02-07 00:38] joshlemer commented on #11369
@mghildiy If I were doing it, I would simply copy paste `mutable.HashMap` as `LinkedHashMap` and make necessary changes to make the nodes linked (taking the linking logic from the current `LinkedHashMap`), and same for `LinkedHashSet`

[2019-02-07 00:40] joshlemer commented on #11369
@mghildiy the first step to changing the `mutable.HashMap` code into `LinkedHashMap` would be to change its private `Node[K, V]` class to include fields `var earlier: Node[K, V], var later: Node[K, V]`

Let me know if you have any more questions :smile:

[2019-02-07 01:52] ashwinbhaskar commented on #11350
@Yuandong-Chen How was the treemap 't' initialized?

[2019-02-07 05:29] ashawley opened #11393 "Scaladoc: Too many deprecated methods"
There are a bunch of methods listed as deprecated for [List](https://www.scala-lang.org/api/2.13.0-M5/scala/collection/immutable/List.html) in 2.13.  It doesn't appear they're actually deprecated.  The method names are in the color green.  Is it something to do with deprecations in [IterableOnceExtensionMethods](https://www.scala-lang.org/api/2.13.0-M5/scala/collection/IterableOnceExtensionMethods

[2019-02-07 10:19] adriaanm commented on #11352
It looks like Kafka 2.1.0 itself was compiled with Scala 2.12.7 (and thus depends on scala-library 2.12.7)  -- could you check the classpath to ensure only the 2.12.8 Scala library is on there? (2.12.8 and 2.12.7 are binary compatible, but the most recent version should not have the issue with bridges, as Lukas said)

PS: and indeed, Kafka 2.0.0 was using Scala 2.12.6, so that would align well wit

[2019-02-07 13:21] mghildiy commented on #11369
Thanks for the inputs @joshlemer . Would look into it this weekend.

[2019-02-07 16:24] dwijnand commented on #9368
On 2.12.7 the former fails with

[code]

and the smaller repo fails with

[code]

[2019-02-08 02:27] Yuandong-Chen commented on #11350
@ashwinbhaskar
var t = new java.util.TreeMap[Int,Int]()
Check out scala java interop for more detail.

[2019-02-08 04:37] #11246 closed

[2019-02-08 07:37] supreet11agrawal opened #11394 "Wrong answer coming"
I came across an issue whiling going through a tutorial
[code]
Maybe it's wrong. But since I am new so I decided to put it here.
Ran it in sbt console
OS - Ubuntu 18.04

[2019-02-08 10:49] joroKr21 commented on #9368
On 2.13.x branch at least it's not crashing:
[code]

[2019-02-08 11:13] joroKr21 commented on #9368
Looks like this check didn't trigger properly:
https://github.com/scala/scala/blob/284a9c03c650c76e2b5295fee5c03565bcdf5246/src/compiler/scala/tools/nsc/transform/ExplicitOuter.scala#L237-L243

In any case this looks like implementation restriction.

[2019-02-08 13:45] joroKr21 commented on #9368
In the second example `outerClass` skips  `Foo` because it considers `new { x }` local to `Foo`'s constructor but I guess secondary constructors are not properly considered by this piece of code. What should happen in this case?

https://github.com/scala/scala/blob/e959f6ccf002696f2c4f871b2fa4961083fe2fc7/src/reflect/scala/reflect/internal/Symbols.scala#L2136-L2143

[2019-02-08 16:51] SethTisue commented on #11394
@supreet11agrawal welcome! we ask that questions like this go here: https://users.scala-lang.org . when you're new to the language, it's highly likely that any unexpected behavior you encounter is actually expected, rather than being a new, previously unreported bug.

as for the content of the report, this is expected behavior according to IEEE 754. you will get the same answers in Java, JavaScrip

[2019-02-08 16:51] #11394 closed

[2019-02-08 23:21] SethTisue commented on #11310
note that this is not a simple matter of adding or updating a doc comment; the doc comment already exists, but it doesn't end up in the finished Scaladoc. it isn't clear why; you'll need to investigate. (that's why the ticket is tagged "Scaladoc tool" rather than just "doc"). note that `AnyRef.scala` is special because `AnyRef` is a compiler fiction

[2019-02-08 23:29] SethTisue commented on #10769
@evanhaldane I'm sorry, I apparently forgot to reply to this, and now a great deal of time has passed.

if you're still around and still interested, let me know, and I'll try to answer

[2019-02-09 00:01] irenedea opened #11395 "Compiler plugin naming issues after typer"
I've been working on a compile plugin whose components run after typer and I've run into a handful of  different issues that seem to relate to naming. I have a couple examples here which produce different but seemingly related errors:

### **My plugin component**
**to which I've added to Transformer.transform in each of the cases**
[code]

### **Case 1: Renaming/creating new function and calling i

[2019-02-09 21:43] NthPortal opened #11396 "Optimise immutable.Queue for head/tail"
Optimise `immutable.Queue` so that `head`/`tail` usage pattern does not cause double traversal of `in`.

Take the following usage pattern:

[code]

If `out` is empty and `in` is not, `val elem = queue.head` will require traversing `in` to find its last element, and `queue = queue.tail` will require reversing `in` (which requires traversal).

`immutable.Queue`'s methods should be optimised so that

[2019-02-10 16:50] mghildiy commented on #11369
There are some methods,like apply, which are not implemented in current version of immutable.LinkedHashMap, but they are there in immutable.HashMap.
Should they be implemented?

[2019-02-10 18:05] soronpo opened #11397 "Error in code execution order, possibly related to stabilization issues"
Possibly related to https://github.com/scala/bug/issues/10714 which was fixed in https://github.com/scala/scala/pull/6312

The following code demonstrates an error in code execution order.
An assertion placed show exactly where the error occurs.
[code]
Affected Scalac version: from 2.13.0-M4
2.13.0-M2 is OK. 2.13.0-M3 causes a crash as demonstrated in https://github.com/scala/bug/issues/10714
The

[2019-02-10 18:20] adriaanm commented on #11397
@milessabin could you investigate whether we need to fix this in RC1?

[2019-02-10 18:39] SethTisue commented on #11369
you mean because the implementations are inherited? in many cases the inherited implementations are fine and there's no reason to override them. concrete collections may override some of them, usually for efficiency

[2019-02-10 20:38] hamednourhani commented on #11348
Hi i have test it on chrome and firefox . I think actions do well when you click across white panel/dev. what is your browser/os version?

[2019-02-10 21:00] erikerlandson commented on #10987
I am running into lack of `MapBuilder` on https://github.com/non/spire/pull/759

[2019-02-10 21:33] NthPortal commented on #11348
This appears to be a 2.13 issue. I had assumed given that it exists on 2.13 that it existed on 2.12 as well, but I was mistaken.

See for reference: [here](https://scala-lang.org/files/archive/api/2.13.0-M5/scala/collection/immutable/Seq.html) and [here](https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M5-6e0cba7/scala/collection/immutable/Seq.html).

I am using Windows and a recent v

[2019-02-11 01:24] mghildiy commented on #11369
Sorry, my mistake. I was actually referring to mutable versions, not immutable..

[2019-02-11 02:30] #9368 closed

[2019-02-11 04:16] hamednourhani commented on #11300
Hi @SethTisue & @ennru
shall i work on it?

[2019-02-11 07:35] dwijnand commented on #11300
Go for it, @hamednourhani, it's all yours.

[2019-02-11 07:36] ennru commented on #11300
You're most welcome.
I digged around a bit. For some level the permalinks get based on the wrong level of package, but I didn't manage to understand why that is. And it is not obvious to where the same logic applies.

[2019-02-11 11:23] milessabin commented on #11397
I'll take a look.

[2019-02-11 21:34] SethTisue commented on #9299
new thread about a new effort to tackle this: https://contributors.scala-lang.org/t/question-about-building-scala-and-sbt-proper/2811

[2019-02-11 21:40] SethTisue commented on #10987
`Map.newBuilder` should cross-compile. (but perhaps you're in some special situation?)

[2019-02-11 22:59] SethTisue commented on #11395
I'm sorry, but we need to keep scala/bug focused on actual bug reports and not on questions

[2019-02-11 22:59] #11395 closed

[2019-02-11 23:00] SethTisue commented on #11395
https://contributors.scala-lang.org is a possible next place to try

[2019-02-12 00:53] SethTisue commented on #11395
https://contributors.scala-lang.org/t/scala-compiler-plugin-naming-issues-after-typer/2835/1

[2019-02-12 07:02] #10495 closed

[2019-02-12 07:12] adriaanm commented on #11030
Sounds like a bug in `-Ytyper-debug`, which does cause issues sometimes, but it compiles fine without the flag on current 2.13.x. Rescheduling for 2.13.1

[2019-02-12 09:44] oxbowlakes commented on #10276
We've just had a production process fall over with this one :-(

Feels like it should be an easy fix: change (in `scala.collection.parallel.Tasks.scala`)

    private[parallel] def mergeThrowables(that: Task[_, _]) {
       if (this.throwable != null && that.throwable != null)
         this.throwable.addSuppressed(that.throwable)
       else if (this.throwable == null && that.throwable != null)

[2019-02-12 10:37] som-snytt commented on #4518
It wasn't fixed under the linked ticket after all.

[2019-02-12 13:22] #11314 closed

[2019-02-12 14:54] max-kammerer opened #11398 "Compiling with JDK 12 causes runtime crash under JDK 11"
Next code fails at runtime if compiled against JDK 12 and runned with lower version of JDK (but work if compiled with JDK 11 and below)
[code]
Error: Unable to initialize main class Foo
Caused by: java.lang.NoClassDefFoundError: java/lang/constant/Constable

'Constable' was added in JDK 12

[2019-02-12 19:46] WellingR commented on #11392
I am having a look at this, as it seems fairly easy to do

[2019-02-12 23:32] SethTisue opened #11399 "post-M5 LazyList scala-collections-laws failures"
in recent 2.13 community build runs, such as https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1777/consoleFull, I'm seeing:

[code]

@NthPortal @Ichoran is this a real regression? (sorry for not taking more than a superficial look at this at the moment, I'm going breadth-first on my to-do list)

[2019-02-13 05:27] NthPortal commented on #11399
@SethTisue `sliding` is indeed incorrect for `LazyList`; not sure how to phrase it, but it's pretty easy to see from this snippet:

[code]

I'll work on a fix

[2019-02-13 09:12] Jasper-M commented on #11398
Isn't it expected that code (be it Java, Scala, ...) compiled against JDK X only works on JDK X and higher, not lower?

[2019-02-13 10:40] swachter commented on #5365
Just now fixed a bug that would have been caught by the compiler if it would default to assuming that guards always fail. IMHO that would improve the current situation.

[2019-02-13 11:07] milessabin commented on #11397
@adriaanm I'm afraid I'm not going to have time to dig in to this for a week or two.

[2019-02-13 11:08] milessabin commented on #10730
@adriaanm I'm afraid I'm not going to have time to dig in to this for a week or two.

[2019-02-13 12:10] vn971 commented on #7934
@omervk The "silencer" plugin works for this I must say, specifically the (dangerous) part of it that disables warnings based on a pattern: https://github.com/ghik/silencer#global-regex-based-suppression

[2019-02-13 13:34] oleg-py opened #11400 "-Ywarn-unused:patvars false positive in for-comprehension"
Tested on Scala 2.12.8 and 2.13.0-M5.

Compiling this object with `-Ywarn-unused:patvars`
[code]

results in a warning:

This is probably caused by desugaring of the above for-comprehension, being roughly:

[code]

Note that exact same pattern used in first `map` is carried over to the second `map`, even though now its variables aren't used.

[2019-02-13 15:44] SethTisue commented on #11398
I'm curious how `Constable` even enters into this at all, and also curious whether the same error would occur with equivalent Java code.

[2019-02-13 15:58] smarter commented on #11398
java.lang.Class now extends Constable, but that doesn't explain where it's popping up here. @max-kammerer can you post the output of `javap -p -v Foo` and `javap -p -v 'Foo$'` when compilng with jdk 11 and with jdk 12 ?

[2019-02-13 18:24] irenedea commented on #11395
Found a solution:
[code]

You must unlink the old symbol and enter the new symbol.

[2019-02-14 01:43] mghildiy commented on #11369
I am done with changes in LinkedHashMap.
Do I need to write a benchmark class too, jst like done for HashMap?
Also, currently there is a single test for LinkedHashMap(in LinkedHashMapTest.scala). Should I add tests for entire code in LinkedHahsMap.scala?

[2019-02-14 08:14] som-snytt commented on #7530
Currently, the hammer is `@unused`, but the preferable syntax to signal exclusion is `x@_`:

[code]

[2019-02-14 08:47] max-kammerer commented on #11398
1. String and boxed primitives also extends Constable in JDK 12.
Problem in changed field/accessors types:
[code]
similar with function return type
[code]

2. Next example doesn't cause any error in old JDKs, but Constable is appeared in LocalVariableTable
[code]

Javac generated different types for local variables and frames depending on '-target' option

[2019-02-14 08:55] som-snytt commented on #11400
This duplicates https://github.com/scala/bug/issues/10287 where, as you note, the desugaring makes it too much of a bother. Leaving open to track use cases (test cases).

[2019-02-14 09:03] som-snytt commented on #8476
Closing because the example doesn't warn, for some time now, unless the ident is in scope. Also, a filtering reporter is on the horizon for the worst case scenario. Also, the warning can be disabled.

[2019-02-14 09:03] #8476 closed

[2019-02-14 09:11] som-snytt commented on #7523
Subsumed by the linked ticket and also implemented.

[2019-02-14 09:11] #7523 closed

[2019-02-14 09:14] som-snytt commented on #7212
It's never too late for 2.13.

"Age is just a number." Or, a major and minor version number.

[2019-02-14 10:22] Jasper-M commented on #7212
I'm not sure if I should prefer the behavior of dotty...
If you're defining public API, especially non-final, you should give an explicit return type.

[2019-02-14 16:07] dsilvasc opened #11401 "surprising behavior for a val implementing an abstract def"
I just ran into this in production where wiring dependencies with abstract members yielded unexpected null pointer exceptions:

[code]

Will scala 2.13, 2.14 or 3.x change the behavior of abstract members implemented as vals?  Otherwise, is there a way for the compiler to prohibit the definition of `val serviceClient` from referencing abstract members like `role`?

[2019-02-14 16:10] dsilvasc commented on #11401
Looks like this is similar to https://github.com/scala/bug/issues/8517 -- the difference here is that I'd prefer if the compiler rejected programs like this and forced me to write `lazy val serviceClient` to catch the issue during development instead of runtime.

[2019-02-14 16:12] smarter commented on #11401
No, but for Scala 3 we're working on an analysis to warn in all cases when you use uninitialized values (in Scala 2 there's `-Xcheckinit` to throw an exception on uninitialized access, although I'm not sure how thorough this is).

Another way to avoid the problem would be to use a constructor parameter:
[code]

This isn't possible for traits yet but will be in the future: https://docs.scala-lang.o

[2019-02-14 16:13] smarter commented on #11401
See also https://contributors.scala-lang.org/t/lets-fix-scalas-initialization-order-when-overloading-values/2809, I think we can close this issue since there's nothing immediately actionable here.

[2019-02-14 16:13] #11401 closed

[2019-02-14 16:16] joshlemer commented on #11369
No not necessarily,

I think if you just get all existing LinkedHashMap tests to pass, that should be enough to put up a preliminary `[WIP]` pull request

[2019-02-14 16:28] dsilvasc commented on #11401
Thanks for the pointers.  Constructor args are probably the simplest way to avoid issues here, and I hadn't considered early initializers either:

[code]

[2019-02-14 16:30] dsilvasc commented on #11401
Looking forward to @liufengyun's compiler warnings work.

[2019-02-14 16:30] smarter commented on #11401
Please don't use early initializers, they're going away: https://contributors.scala-lang.org/t/proposal-to-remove-early-initializers-from-the-language/2144 :)

[2019-02-14 18:50] kamilkloch commented on #11386
@Ichoran Pls take a look.

[2019-02-14 20:51] SethTisue commented on #11398
aha, now it makes sense, thanks!

does `-release 11` make the problem go away?

[2019-02-14 23:21] som-snytt opened #11402 "REPL doesn't summarize parser deprecations"
Follow-up to https://github.com/scala/bug/issues/11278.

If `-deprecation` is not enabled, REPL doesn't report that there were deprecations for parser deprecations such as symbol syntax `'abc` and procedures `def f() {}`.

(`-deprecation` is off by default for `sbt console`.)

[2019-02-15 05:29] som-snytt commented on #9592
Confirmed that it errors correctly with 2.13, sbt 1.2.8. All that resetting was excised. It's like Bugatti's famous retort, "I make my cars to go, not to stop."

[2019-02-15 05:29] #9592 closed

[2019-02-15 10:05] max-kammerer commented on #11398
I can't use -release option on JDK 12 (works with JDK 11) cause:
[code]

[2019-02-15 15:19] dsilvasc commented on #11401
FYI, FindBugs catches this:

[code]

[2019-02-15 16:58] #11128 closed

[2019-02-15 21:40] #10924 closed

[2019-02-15 21:44] SethTisue opened #11403 "`-release` flag doesn't work on JDK 12"
[code]

`-release 8`, same.

as reported by @max-kammerer at
https://github.com/scala/bug/issues/11398#issuecomment-463980087

[2019-02-15 21:45] SethTisue commented on #11398
the failure for `-release` to work is now #11403

[2019-02-15 21:45] #11398 closed

[2019-02-15 21:45] SethTisue commented on #11398
(closed because the compiler is behaving correctly here. it's expected that `-release 11` or `-release 8` would be needed here)

[2019-02-17 03:00] dsilvasc commented on #11401
FindBugs and SpotBugs don't catch the issue when you use traits instead of classes though:

[code]

No complaints from FindBugs/SpotBugs on that one.  FindBugs has been abandoned, and SpotBugs doesn't catch the initialization issue in the resulting bytecode, which when decompiled by fernflower into java looks something like

[code]

[2019-02-17 03:38] joshlemer commented on #11168
@Ichoran just accidentally came up with a quite simple motivating example for this:

[code]

One would like to not re-compute the sorting in each branch, but one would also like to preserve the laziness of the transformation (so doing `.to(Array).view` is too strict). That's why you would use `.cache()`. This would ensure at-most-once computation up to the point of the `.cache()` call. Any transfo

[2019-02-17 03:41] NthPortal commented on #11168
also, if `cache` existed (and I'm not convinced it's technically side-effecting and needs the `()`), it would be easy to document that `sorted` has `cache` semantics

[2019-02-17 03:43] NthPortal commented on #11168
I will whip up a PoC PR

[2019-02-17 04:15] mataeil opened #11404 "failed to build project on scala-sdk-2.12.8 & jdk 1.8.0_20"
failed to build project on scala-sdk-2.12.8 & jdk 1.8.0_20
if i change java-vserion to 1.8.0_201, It's well working.

[code]

[2019-02-17 09:29] dwijnand commented on #10582
In https://github.com/scala/scala/pull/7662 @adriaanm mentions:

Does that change the feasibility of fixing this?  In other words, should this be reopened as no longer "Won't Fix"?

[2019-02-17 11:44] odersky commented on #11168
I think it would be great to add this, but fear it might be too late for
2.13 now. (if not, so much the better!)

But we should definitely try it out for 2.14 and 3.0.

 - Martin

On Sun, Feb 17, 2019 at 4:43 AM Nth <notifications@github.com> wrote:

--

Martin Odersky
EPFL and Lightbend

[2019-02-17 12:39] ritschwumm commented on #11168
@NthPortal documented as in "the type says so"?

[2019-02-17 15:40] dsilvasc commented on #11401
Suggested the example with traits as something SpotBugs might want to catch: https://github.com/spotbugs/spotbugs/issues/879

[2019-02-17 16:08] SethTisue commented on #11404
seems like Oracle's bug, not ours, if using a newer JVM fixes it.

thanks for the report — knowing the solution should help future searchers

[2019-02-17 16:08] #11404 closed

[2019-02-17 20:29] NthPortal commented on #11168
@ritschwumm no, documented with a scaladoc saying "this has similar re-evaluation semantics as [[cache]]` or something

[2019-02-17 20:54] #11392 closed

[2019-02-17 21:30] fommil commented on #10582
I have less than zero interest in this ticket. Unsubscribing.

[2019-02-17 22:21] milessabin commented on #11302
@SethTisue I'm afraid I'm not going to have time to look at this for the next week or so.

[2019-02-17 23:31] mataeil commented on #11404
thanks for your confirmation. 👍

[2019-02-18 12:41] ashwinbhaskar opened #11405 "No comments for 'force' function in LazyList"
LazyList's force function does not have any comments in the source code. It would become much easier for a developer/contributor to understand what the function does if there were comments in place

[2019-02-18 18:00] oscar-broman opened #11406 "Unable to refer to existing type starting with a lower-case letter"
In this example there's a `Var` which is potentially expensive to update, so updates are chained together.

[code]

This works:
[code]

Removing the `Op` type alias does not work:
[code]

This also doesn't work:
[code]

Furthermore, the fact that I even need the `t` type alias seems unnecessary!

[2019-02-19 02:07] #11403 closed

[2019-02-19 09:55] #11405 closed

[2019-02-19 12:14] oscar-broman commented on #11406
Appears to be fixed in dotty.

[2019-02-19 12:42] szhem opened #11407 "Mark all the generated methods with an annotation"
Introduce a runtime annotation inserted on all the generated methods by scalac.

It will help to distinguish user-written methods and compiler-generated methods from each other that can be useful for code analysis tools e.g. code coverage ones.

For example, [jacoco](https://github.com/jacoco/jacoco) uses bytecode instrumentation to analyze code coverage (so that theoretically any language that ru

[2019-02-19 14:13] vladimir-lu commented on #11030
Most likely unrelated but very similar bug (and the only google result) - but I've managed to get the `recursive method copy needs result type` error with `-Ytyper-debug` on on a simple case class with no generic parameters at all. I need to try with 2.13.0-M5, currently on 2.12.4-typelevel-4 because the library is using type literals. Should I open a new issue (still trying to minimise at the mom

[2019-02-19 15:34] adriaanm commented on #11030
I don’t think it needs a separate issue. Note that we’re not going to be able to prioritize fixing bugs in -Y flags. The typer debug mechanism is known to have issues with cycles and it’s not easy to fix

[2019-02-19 19:31] hrhino commented on #11407
Shouldn't we be marking synthetic methods as `ACC_SYNTHETIC` anyways? Does JaCoCo ignore that flag?

[2019-02-19 21:51] szhem commented on #11407
JaCoCo is pretty flexible and can be extended to support it, but care should be taken when marking generated methods with `ACC_SYNTHETIC`.

[Here are some details](https://fosdem.org/2019/schedule/event/kotlin_code_coverage_bytecode/)
Consider java8 lambda expression (18:36 on the timeline)
<img src="https://user-images.githubusercontent.com/1523889/53048796-a4772d00-34a6-11e9-846a-2e1f3dc1c08d.pn

[2019-02-19 22:00] Godin commented on #11407
@hrhino @szhem while JaCoCo ignores all methods with attribute `synthetic` except ones whose name starts with `lambda$` (because they represent bodies of lambda expression),

IMO you can't mark generated `equals`, `hashCode` etc in `case class`es as `synthetic`, because then they won't be accessible from Java - here is example to back these words:

`javap -v -p Example.class`
[code]

attempt to co

[2019-02-20 09:08] vladimir-lu commented on #11030
Understood - thanks for clarifying :)

[2019-02-20 20:04] SethTisue commented on #11381
@retronym is it obvious to you at all what the cause of this might be, or where to look?

[2019-02-20 21:56] #11264 closed

[2019-02-20 21:58] SethTisue commented on #3220
@martijnhoekstra I think this can go forward if you're still interested

(if you don't plan to tackle it, also let us know, since perhaps someone else would step up)

[2019-02-20 21:59] SethTisue commented on #9237
https://github.com/scala/scala/pull/7624

[2019-02-20 21:59] #9237 closed

[2019-02-20 22:00] SethTisue commented on #9237
that PR is marked with the release-notes label, which should be a sufficient that we don't forget to include it in migration doc

[2019-02-20 22:01] #9554 closed

[2019-02-20 22:01] SethTisue commented on #10370
@NthPortal where do we stand, here?

[2019-02-20 22:03] SethTisue commented on #11077
@joshlemer is this a blocker for RC1, or can I move it to the 2.13.1 milestone?

[2019-02-20 22:04] SethTisue commented on #11296
@joshlemer where do we stand here: should the ticket still be open, and if so is it an RC1 blocker?

[2019-02-20 22:09] #11296 closed

[2019-02-20 22:09] SethTisue commented on #11366
@retronym re-STARRing is complete, so this is unblocked. (and, you're no doubt aware, time is running short for RC1)

[2019-02-20 22:09] joshlemer commented on #11296
Done, finished @SethTisue

[2019-02-20 22:21] SethTisue commented on #11408
related: https://github.com/scala/scala-java8-compat/issues/113

[2019-02-20 22:24] ashawley commented on #3220
I ran in to this and added some tests to document the status quo https://github.com/scala/scala/pull/6501

I didn't know about this ticket.  I guess the files should be renamed to `t3220`, since `u000a` is cryptic.

[2019-02-20 22:31] SethTisue commented on #11409
@lrytz @julienrf @szeiger @joshlemer @NthPortal somebody want to pick this up for RC1?

[2019-02-20 22:31] SethTisue commented on #11409
also interested in views on whether this is an RC1 blocker or not

[2019-02-20 22:42] Ichoran commented on #11408
I've been working only on the integrated version, not on the separate repository.

[2019-02-20 22:55] adriaanm commented on #11366
This one is on my plate

[2019-02-21 01:23] NthPortal commented on #11409
Is this an optimisation issue? It kinda seems like a bug.

If I am correct that it is a bug, I think it's a blocker for RC1; otherwise, since it doesn't seem to affect any method that isn't already defined (thus making it a binary-compatible change), I'd consider it not a blocker.

@SethTisue I can't pick this up, sorry. I am at especially low capacity of late.

[2019-02-21 01:24] SethTisue commented on #11372
https://github.com/scala/community-builds/issues/864 gives further evidence that we should backport the ASM 7 upgrade to 2.12.x

[2019-02-21 01:37] NthPortal commented on #10370
As a brief note on why the two are not equivalent: `#:::` has a lazy suffix, while `++` does not. More specifically, they are roughly equivalent to having the following two signatures<sup>1</sup>:

[code]

As you can see, the argument to `++` must be evaluated before the method is called, whereas the argument to `#:::` can be evaluated only when you need to, well *after* the method is called.

---

[2019-02-21 01:57] NthPortal commented on #10370
I made a silly logic error in may above comment. `fibs` makes a call to `++` which has a strict argument, and the argument includes a call to `fibs`. This will loop and overflow the stack regardless of the implementation of `++`<sup>1</sup>. It is unavoidable.

--------
<sup>1</sup> even if the implementation of `++` always throws an exception, like `???`, in fact

[2019-02-21 02:01] NthPortal commented on #10370
I don't think this is fixable (if we're considering it a bug), unless we decide to change the signature of `concat`/`appendedAll`/`++`/`:++` to take by-name arguments, which doesn't seem super likely to happen.

[2019-02-21 02:12] NthPortal commented on #11388
anyone else have any thoughts on this? should I (or someone else) make a PR to remove the `length` variants?

[2019-02-21 02:14] NthPortal commented on #11131
It would be really nice to have this done by final release. I guess I'll grab it for now and try to get it done, unless anyone else pipes up.

[2019-02-21 02:19] NthPortal commented on #11388
Note: deprecating `lengthCompare` requires making it a final alias of `sizeCompare`, which in turn requires a scalafix migration to change existing implementations. Currently, `sizeCompare` is a final alias of `lengthCompare` on `Seq`.

[2019-02-21 09:35] Jasper-M commented on #11409
AFAICT the bug described in the report is fixed:

[code]

But apparently the intent of the ticket changed to optimizing the fix?

[2019-02-21 13:47] lJoublanc opened #11410 ""AdaptTypeError - foundType is Erroneous" when omitting type parameters from new"
When omitting the type parameters from a `new` call, there is an assertion error, as seen below.

This occurs because `Zip` is declared `trait Zip[A,B]` but we're calling `new` on line 13 without the type parameters.

Here is a minimal [scastie](https://scastie.scala-lang.org/FytRxKtJT06h95jf7oTvHA) to reproduce this. Currently occurs on 2.12.8 and 2.13.0-M5.

[code]

[2019-02-21 15:21] SethTisue commented on #11409
@szeiger do you recall why you changed the ticket name to "optimize"?

it looks like we ought to just close this, perhaps after adding the test from https://github.com/julienrf/scala/commit/c105f12900bec6e6a8eea80e9b50fd78ea037bb4

[2019-02-21 16:40] dwijnand commented on #9836
Tested on Dotty and the same problem exists there: https://scastie.scala-lang.org/kVbcuVRFQ7ScUjx5VehItA.

[2019-02-21 23:17] jeffrey-aguilera commented on #7448
It sure would be nice for `main` to return `Nothing` ... like `sys.exit`.

[2019-02-22 00:29] retronym commented on #11381
We ran into a [similar problem](https://github.com/scala/scala/pull/7428) recently. It was caused by the unusual way that SBT [overrides](https://github.com/gkossakowski/sbt/commit/4ae79b884352b2952bd88a8fcf2a0bfc8a2bc9c2) `Global.currentRun` to use its own `var curRun`, which is itself a bit of a hack to make the parser usable outside of the batch compiler.

Interesting note: the error that appea

[2019-02-22 03:40] SethTisue commented on #10662
@som-snytt is https://github.com/scala/scala/pull/7609 something you plan to return to, or is this up for grabs?

[2019-02-22 03:41] SethTisue commented on #5898
@som-snytt is https://github.com/scala/scala/pull/7526 something you plan to pick up again, or is this up for grabs?

[2019-02-22 04:00] SethTisue commented on #11155
`@usecase` is now deprecated in 2.13 (and unused in stdlib)

[2019-02-22 05:18] som-snytt commented on #5898
@SethTisue that one was resubmitted and merged. I don't remember, but I don't think it's enough to close the ticket.

[2019-02-22 05:21] som-snytt commented on #10662
I'll give it another shot. Thanks, I'd forgotten about this one, which was the final nail in spec chapter 2. I'd say it's up for grabs like the bouquet at a wedding, but does anyone really want to get tied down to a total leftover no one understands or cares about? Also, "A foreign definition induces ambiguity" is my other political joke.

[2019-02-22 05:39] SethTisue commented on #5898
oh, https://github.com/scala/scala/pull/7687

[2019-02-22 05:39] #5898 closed

[2019-02-22 05:48] joroKr21 commented on #11410
The issue will already be fixed in the next 2.13 release:
[code]

scala/scala#7635 - also see the linked issues as duplicates.

[2019-02-22 06:05] som-snytt commented on #5898
@SethTisue sorry to make work for you. Unless you need work? Probably you don't need work.

[2019-02-22 12:04] anatoliykmetyuk opened #11413 "Different compilation times when referring to an object by variable vs creating it inline"
Consider the following source:

[code]

In it, consider the two lines:

[code]

If you have the first one uncommented and the second one commented, the compilation time of the source file is ~3 seconds. If you have the second one uncommented and the first one commented, the compilation time goes up to 16 seconds.

Precisely, if you save the file with the name `Weird.scala`, here are the steps to r

[2019-02-22 14:42] #11410 closed

[2019-02-22 14:43] SethTisue commented on #5898
it beats watching TV

[2019-02-22 14:45] SethTisue commented on #11413
is it also reproducible in Scala 2.13.0-M5-1775dba (a recent nightly build, available from Maven Central)?

[2019-02-22 17:39] JSantosP opened #11414 "Eta-expansion for method with by-name parameter cannot be composed"
Description:

Scala version:
[code]
JDK version:
[code]

Example:
[code]

[2019-02-22 19:12] anatoliykmetyuk commented on #11413
Nope, I can't reproduce it on Scala 2.13.0-M5-1775dba.

[2019-02-22 19:43] #11413 closed

[2019-02-22 19:45] SethTisue commented on #11413
very nice minimization job, by the way!

@retronym should this be added to our tests or benchmarks somehow?

[2019-02-23 08:57] som-snytt commented on #11414
By-name params are a behavior of applications, but they also receive special treatment under eta-expansion:

[code]

It wouldn't be outrageous to offer an accommodation when the expected type has by-vals.
[code]
Is it more subtle than inlining:
[code]
It means losing a warning where you might assume more laziness:
[code]

[2019-02-24 14:58] nafg commented on #10477
No fix in 2.12.x?

[2019-02-24 16:35] SethTisue commented on #10477
It seems likely that a pull request with a backport would be accepted.

[2019-02-25 10:47] Philippus commented on #4364
fixed in https://github.com/scala/scala/pull/6485 ?

[2019-02-25 15:30] Jasper-M opened #11415 "Compiler crash because of method <> object overloading"
[code]

It's possible to get a different error message, but AFAICT the stacktrace is exactly the same.

[code]

[2019-02-25 16:19] psilospore opened #11416 "Method type syntax in errors & warnings doesn't have colon for the return type"
This error seems like it should be:
[code]
had colons before the return type like this?
[code]
Not sure if this is standard so it might not be a bug. But if it is valid I don't mind picking this up.

[2019-02-25 16:56] hrhino commented on #11416
That's the long-running way that scalac prints `MethodType`s, and matches the way that I usually mistype methods signatures the first time around. It's probably inspired by Java's descriptors (of the form `(I)LBase;` in the above example).

I think it makes sense to print these sorts of things in as close to real Scala code as can be done, though.

[2019-02-25 18:15] szeiger opened #11417 "ArrayBuffer#sortInPlace is broken"
It always sorts the entire array even when it is larger than the collection.

[code]

[2019-02-25 18:28] #4364 closed

[2019-02-25 18:30] SethTisue commented on #11415
in what Scala version?

[2019-02-25 18:36] Jasper-M commented on #11415
Yeah sorry. The stacktrace here is from a recent snapshot version of 2.13. I think the crash was the same on 2.12.8.

[2019-02-25 19:03] SethTisue commented on #10309
I'd be very reluctant to un-deprecate in 2.12 given that `then` is presently still a keyword in Dotty

[2019-02-25 20:55] paulp commented on #4364
You could use an annotation e.g. `@HandlesNull` on an extractor to signal the compiler that null should be passed as an argument rather than swallowed as match failure.

[2019-02-25 22:16] SethTisue commented on #11154
still happens in Scala 2.12.8 on JDK 11

[2019-02-25 22:18] SethTisue commented on #10575
I'll assume so. we can open new tickets if there are unresolved aspects

[2019-02-25 22:18] #10575 closed

[2019-02-26 10:57] som-snytt commented on #9836
I started looking at this and the linked tickets about so-called "auto-tupling in patterns".

I think the first example below is perfectly fine and should not warn (as it currently does). I almost had a fix last week, but `ExtractorAlignment` sees the tree in typer and the different tree in patmat. The test is simply that the subpattern consumes the required tuple.

The code is commented "don't un

[2019-02-26 13:00] 2m commented on #11305
Just a FYI, the Alpakka Ftp connector that we noticed this regression originally in does not compile with Scala 2.13.0-M5 with the same errors.

[2019-02-26 14:27] #11417 closed

[2019-02-26 23:41] SethTisue commented on #11305
if I understand correctly, that's expected, since scala/scala#7469 landed after 2.13.0-M5 was released. it has since been merged forward onto the 2.13.x branch for inclusion in 2.13.0-RC1

[2019-02-27 00:04] #11399 closed

[2019-02-27 09:31] Jasper-M commented on #11415
@SethTisue I was wrong. It's a regression in 2.13.
2.12.8 prints a beautiful error message:
[code]

[2019-02-27 13:12] som-snytt commented on #11416
This is how the types are represented in the spec.

There was another PR or ticket to have REPL print everything in Scala syntax. It would be handy if there were a compiler flag to pick a pretty printing option.

[2019-02-27 13:53] plokhotnyuk opened #11418 "Consider using of tzcnt instruction for better performance in foreach loop and iterator of bitsets"
This instruction has a low latency and throughput most contemporary CPUs.

Also it is implemented as intrinsic and turned on by default in JDK 8:
[code]

Below is a snippet how it can be used:
[code]

Inspired by [the Daniel Lemire's blog post](https://lemire.me/blog/2018/02/21/iterating-over-set-bits-quickly/).

[2019-02-27 17:12] SethTisue commented on #11416
you're probably thinking of https://github.com/scala/bug/issues/10024

[2019-02-27 17:12] SethTisue commented on #10024
also in this area: #11416

[2019-02-27 17:13] SethTisue commented on #11415
thanks. I've put it on the RC1 milestone for evaluation, but my guess is that @adriaanm or @retronym will move it back to "Backlog"

[2019-02-27 17:27] V-Lamp commented on #4442
Is this addressed by any chance in the new collections in 2.13? 🙂

[2019-02-27 17:35] joshlemer commented on #4442
@V-Lamp the Vectors in 2.13 will not be the new data structure (RRB Vectors), but their concatenation may be improved enormously by https://github.com/scala/scala/pull/7588 which ensures that during concatenation of vectors, the structure of the left Vector is used rather than copying it into a new Vector. This essentially means that Vector concatenation will be constant-time on the size of the le

[2019-02-28 00:48] #11299 closed

[2019-02-28 04:23] qianli8811 opened #11419 "Method is ClassTag parameter type, and the method overloading, reflected in how"
![image](https://user-images.githubusercontent.com/6313040/53541503-1c9fbb80-3b55-11e9-8bc0-7eb05744da53.png)

I want to use reflection to perform askSync this method, I did this:

    val ref = new Ref
    val m = ru.runtimeMirror(ref.getClass.getClassLoader)
    val refType = ru.typeTag[Ref].tpe
    val method = refType.decl(ru.TermName("askSync")).alternatives(0).asMethod
    val im = m.reflect

[2019-02-28 04:57] SethTisue commented on #11419
we ask that scala/bug be used for bug reports only; please ask questions on https://users.scala-lang.org (or Stack Overflow, Gitter, and so on)

it's a good question, but the number of tickets here on scala/bug is overwhelming, allowing questions just isn't practical

[2019-02-28 04:57] #11419 closed

[2019-02-28 05:12] qianli8811 commented on #11419
SethTisue, Thank you, but I think this is a small bug

[2019-02-28 05:25] SethTisue commented on #11419
okay, I'll have a look, but you can edit your report to include code, rather than screenshots of code? I can't paste a screenshot of code into my editor to try it myself.

[2019-02-28 06:18] qianli8811 commented on #11419
Sorry, just now I upload code, the browser will put some code to escape, I changed to capture, now that I've edited the code

[2019-02-28 12:47] smarter opened #11420 "Investigate use of super-accessors in traits in the standard library"
A `super.foo` call in a trait will require a super-accessor in every class that implements the trait since the super will be resolved based on the linearization order of the class. In most cases this is probably not what you want, e.g. in https://github.com/scala/scala/blob/d6455592055ce1729ab7ac11d69da3a5a5f3d9dc/src/library/scala/collection/Seq.scala#L187
I suspect what you really meant was:
[co

[2019-02-28 13:27] szeiger commented on #11420
With traits becoming more powerful and class-like, does it even make sense that an unqualified 'super' in a trait refers to the implementing class's linearization order rather than the linearization as seen by the trait?

[2019-02-28 13:48] smarter commented on #11420
It's necessary to implement some patterns, but I think it should be more explicit, e.g. `dynamicSuper.foo`, that's a tricky thing to change though.

[2019-02-28 15:21] szeiger commented on #11370
We could offer the same methods with the same names for users to override in order to make it source compatible. In the end it comes down to performance. How expensive are calls to non-final methods in the most performance-critical sections? I'll run some benchmarks.

[2019-02-28 23:39] SethTisue commented on #11419
the code (even just the first part, the `Ref` class) doesn't compile:

[code]

[2019-03-01 00:18] SethTisue commented on #11372
fixed by #7780

[2019-03-01 00:18] #11372 closed

[2019-03-01 00:57] qianli8811 commented on #11419
I have modified this syntax error

[2019-03-01 01:12] SethTisue commented on #11419
[code]

it's because context bound syntax desugars to extra arguments

[2019-03-01 02:52] qianli8811 commented on #11419
Seth Tisue, thank you very much.

[2019-03-01 06:32] NthPortal commented on #11388
Currently, name-based pattern matching uses `lengthCompare` and not `sizeCompare`. In order to deprecate `lengthCompare` on `Seq`, I think we would need to support `sizeCompare` for name-based pattern matching and deprecate `lengthCompare` for pattern matching, for consistency reasons.

Unlike `Seq#lengthCompare`, which is a well-defined symbol and fairly easy to replace using Scalafix, `lengthCom

[2019-03-01 06:52] NthPortal commented on #11377
cc @szeiger @julienrf

[2019-03-01 12:03] szeiger commented on #11370
No difference in peformance. Apparently the small hot methods always get inlined by HotSpot.

But the class is already marked `@deprecatedInheritance` because we want to disallow extending concrete collection implementations. Should we revert this decision or recommend wrapping the keys?

[2019-03-01 15:10] Ichoran commented on #11377
`LazyList` is a memory-intensive and slow way to maintain a buffer of elements that may yet be used.  The creation of the cache is already lazy by virtue of being created when the first iterator traverses the collection, and if it's not already cleared when the second one does, it could be made to do so by using a (shrinkable) ring buffer.  It's true that it's potentially very inefficient if you _

[2019-03-01 16:22] som-snytt opened #11421 "Implicit shadowing fail"
In normal lexical scope, the "package-level" import shadows the def in the package object, so `g` compiles. Implicit resolution ought to see the same thing, but `f` fails to find an implicit value.

One file:
[code]
Another file:
[code]
`-Xlog-implicits`:
[code]
As noticed by [a Scala contributor](https://github.com/scala/scala/pull/7804#issuecomment-468514779).

[2019-03-01 16:35] som-snytt commented on #11421
The [current WIP](https://github.com/scala/scala/pull/7757).

[2019-03-02 00:24] diesalbla commented on #10344
I have been able to reduce the example a little bit, by removing the `val byNameContainer` wrapper.
[code]

[2019-03-02 02:07] NthPortal commented on #11377
@Ichoran a ring buffer wouldn't work, as then the iterator appending elements would keep a reference to all of them elements, which is the source of the problem. we would need to use a mutable singly-linked list, and the appending one would only hold on to the last node.

[2019-03-02 11:59] pweisenburger commented on #10928
I stumbled again over this issue and did some further testing. The following code compiles under 2.11.x. It also still compiles with 2.12.0-M5. It, however, gives the "object creation impossible, since type T is not defined" error starting from 2.12.0-RC1: `object o { type T <: Any { type U <: T } }`

I'm not sure which of the [commits v2.12.0-M5...v2.12.0-RC1](https://github.com/scala/scala/compa

[2019-03-03 03:57] pathikrit opened #11422 "Scala implicit def not found if it is named toString"
**Compiles**
[code]

**Fails to Compile**
[code]

Error:
[code]

[2019-03-03 06:49] som-snytt commented on #11422
What version fails to compile the sample? Please include the phase of the moon. It works for me, but a bug in implicit shadowing, which is facing mandatory retirement age, seemed probable enough. Implicit shadowing should have stopped driving years ago.

[2019-03-03 23:17] pathikrit commented on #11422
@som-snytt : Check this out - https://scalafiddle.io/sf/E6tE3dW/0

[2019-03-04 04:17] som-snytt commented on #11422
The `import` is relevant. `-Xlog-implicits` explains:
[code]
The implicit must be accessible without a prefix, and inherited definitions have higher binding precedence than imports. An explicit `toString(23)` fails for the same reason. I apologize for having maligned the implicit shadower without cause.

[2019-03-04 04:17] #11422 closed

[2019-03-04 05:17] #10344 closed

[2019-03-04 05:34] pathikrit commented on #11422
Isn't this still a bug? And, this compiles fine:

[code]

[2019-03-04 06:10] shanielh commented on #11370
I always liked .net approach to this: passing a trait that has elemHashCode and elemEquals (They called it IEqualityComparer) instead of inherit the collection type.

I guess it’s too late now :-)

[2019-03-04 06:39] retronym commented on #11370
I think we should leave then final for now.

I'm surprised that the benchmark couldn't show a difference. The benchmark would need to take some care to make things realistically hard for HotSpot.

[2019-03-04 06:40] som-snytt commented on #11422
More like:
[code]
It's expected behavior per the previous comment. `toString` and `asString` are imported in the block, but defined in enclosing scope: the import cannot shadow the definition, so the name is ambiguous.

[2019-03-04 09:41] julienrf commented on #11388
Do we know any users relying on that?

I’m in favor of keeping only `size` variants, if it’s not too late to apply that change.

[2019-03-04 11:12] lrytz commented on #11388
Name-based pattern matching uses `lengthCompare` if available, and `length` otherwise. I think it would be a bit weird to change it to use `sizeCompare` and `length`, so we'd have to go all the way and use `sizeCompare` and `size` in name-based pattern matching. Not sure if that's a good idea, we're in pattern sequences (`unapplySeq`), so `length` seems more apropriate.

But should we really remov

[2019-03-04 12:44] Jasper-M commented on #10928
Here's what changed:
[code]
[code]

Which is called [here](https://github.com/scala/scala/blob/4fa4b8302bffb2f35cfdaa6015ada5f8e047564d/src/compiler/scala/tools/nsc/typechecker/RefChecks.scala#L597). Which over [here](https://github.com/scala/scala/blob/4fa4b8302bffb2f35cfdaa6015ada5f8e047564d/src/compiler/scala/tools/nsc/typechecker/RefChecks.scala#L609) leads to the abstract type's symbol being

[2019-03-04 13:37] milessabin commented on #10526
This appears to be fixed. Needs a test case to close.

[2019-03-04 14:26] szeiger commented on #11370
I agree. Configurable equality / hashing with a typeclass would be a nice feature. I couldn't find an existing ticket for it so let's use this one.

[2019-03-04 14:28] szeiger commented on #4796
Duplicate of https://github.com/scala/bug/issues/4265

[2019-03-04 14:28] #4796 closed

[2019-03-04 14:57] milessabin commented on #10526
Whoops! The issue is fixed in Dotty, not here: https://github.com/lampepfl/dotty/issues/3190.

[2019-03-04 15:16] Ichoran commented on #11377
@NthPortal - Ring buffers work fine; you just null them out as you consume them.

[2019-03-04 17:38] missingfaktor commented on #10134
Is there a workaround for this bug?

[2019-03-04 23:02] SethTisue commented on #10823
@som-snytt did this get fixed, should we close this?

[2019-03-04 23:24] som-snytt commented on #10823
Fixed by https://github.com/scala/scala/pull/7362 under aegis of scala-dev issue.

[2019-03-04 23:24] #10823 closed

[2019-03-05 11:22] lrytz commented on #11388
We discussed this issue on a team meeting and decided to keep the `size*` and `length*` methods.

To summarize, we have
  * `IterableOnceOps.size`
  * `IterableOps.sizeCompare(otherSize: Int)`
  * `IterableOps.sizeCompare(that: Iterable[_])`
  * `final IterableOps.sizeIs`
On `Seq`
  * `SeqOps.length` (`size` becomes a final alias)
  * `SeqOps.lengthCompare(len: Int)` (`sizeCompare` becomes a final

[2019-03-05 15:10] Ichoran commented on #11388
The overload should be `SeqOps.lengthCompare(that: Seq[_])` for symmetry.  Otherwise `that` doesn't necessarily have a length (as we define it).

[2019-03-05 15:16] lrytz commented on #11388
@Nth could you add this to https://github.com/scala/scala/pull/7805?

[2019-03-05 17:11] som-snytt commented on #11388
So to summarize, size matters and length also matters.

[2019-03-06 03:30] SethTisue commented on #11110
@szeiger's Scala Days talk has a slide on this. from https://downloads.lightbend.com/website/scaladays/2018/ny/slides/migrating-to-scala-2-13.pdf

<img width="504" alt="screen shot 2019-03-05 at 7 29 26 pm" src="https://user-images.githubusercontent.com/161079/53854154-25412900-3f7d-11e9-8996-7f839e88c700.png">

[2019-03-06 09:36] adriaanm commented on #11369
👋 I haven't seen a PR for this yet. As we're closing in rapidly on the RC1 due date, I'm going to have to defer this unless we can have a PR in a mergeable state this week or early next.

[2019-03-06 09:54] lrytz commented on #11180
Fixed by https://github.com/scala/scala/commit/7657e8758060d2ffc479fd2090bf7ef26b0bfeb7

[2019-03-06 09:54] #11180 closed

[2019-03-06 14:58] #11265 closed

[2019-03-06 17:38] SethTisue commented on #5896
I've renamed the ticket, given  http://openjdk.java.net/jeps/118, and since I agree that ignoring isn't a good idea

[2019-03-06 18:06] hrhino commented on #5896
Is this ticket for more than this?

[code]

[2019-03-06 18:42] SethTisue commented on #5896
oh, fixed by https://github.com/scala/scala/pull/4735 in 2.12.0 👍

[2019-03-06 18:42] #5896 closed

[2019-03-06 18:43] SethTisue commented on #5896
sadly, as a comment on that PR says, "the Java standard library isn't compiled with -parameters" 😞

[2019-03-06 21:47] NthPortal commented on #11388
@lrytz the problem is, as @Ichoran noted, `Iterable` doesn't have a length, so it would need to be `SeqOps.lengthCompare(that: Seq[_])`. I'm concerned that having different parameter types will lead to confusion, and potentially people mistakenly thinking `sizeCompare` only takes a `Seq` as well. Additionally, unlike the other operations, it must be an alias (or forward, more precisely) of the `si

[2019-03-06 21:56] NthPortal commented on #11377
@Ichoran the issue is that the other iterator may be discarded without being consumed significantly or at all, in which case the buffer will never be cleared (this is what happens in the examples above).

[2019-03-06 22:47] Ichoran commented on #11377
@NthPortal - In cases where the leading/lagging relationship is known (e.g. split, one iterator can own a buffer and the second could maintain a reference to it; if the second iterator is evoked, it can push all the intermediate data to the first one and then drop the reference.  (I guess a ring buffer isn't necessary; all the data is cached in a single operation.)

In cases where the relationship

[2019-03-07 02:07] mghildiy commented on #11369
I am facing 2 test failures for my change. Trying to find the cause.

[2019-03-07 02:22] SethTisue commented on #11369
@mghildiy sounds good enough for a WIP PR, maybe it'll be obvious to somebody where the failures might be coming from

[2019-03-07 02:33] mghildiy commented on #11369
I would create a PR in next 2-3 days.
BTW, WIP PR is just like any other PR..right? May be it just has a WIP tag?

[2019-03-07 03:15] SethTisue commented on #11369
right, or you can use GitHub's new "draft" feature, https://github.blog/2019-02-14-introducing-draft-pull-requests/

[2019-03-07 13:22] lrytz commented on #11388
Would it be really that inconsistent to have `lengthCompare(that: Iterable[_])`, or is it only a "cosmetic" question?

[2019-03-07 13:36] Raghav2211 opened #11423 "error: illegal start of type declaration"
[code]

**Java version**
[code]

**Maven dependency**
[code]

[2019-03-07 14:36] szeiger commented on #11388
I think `lengthCompare(that: Iterable[_])` would be fine. As long as the LHS has a `length` it makes sense to compare it to the `size` of some other collection.

[2019-03-07 15:11] SethTisue commented on #11423
how did this error arise? how I would reproduce it on my own machine?

[2019-03-07 15:23] Ichoran commented on #11388
It wouldn't be _that_ inconsistent but the asymmetry is a bit odd.  (`a lengthCompare b` works, but `b lengthCompare a` doesn't, even though both have finite sizes.)  I think that's a worse problem than the suggestion that maybe people won't realize you can call `sizeCompare` with a non-`Seq` `Iterable` argument.  (Neither problem is very serious.)

[2019-03-07 16:13] Atry opened #11424 "HTML in string literal in examples of Scaladoc does not properly escaped"
[code]

[code]

[code]
<img width="1552" alt="2019-03-08 00 07 06" src="https://user-images.githubusercontent.com/601530/53970788-73e5f300-4136-11e9-8827-2b6d3bb2596c.png">

[2019-03-07 17:40] szeiger commented on #11420
I think https://github.com/scala/scala/blob/d6455592055ce1729ab7ac11d69da3a5a5f3d9dc/src/library/scala/collection/Seq.scala#L187 is correct and requires dynamic resolution. `super` could either be `IterableOps` or `StrictOptimizedIterableOps`. This is the case for must `super` delegations in collection methods.

I looked through all 184 uses of unqualified `super` calls in the standard library  Th

[2019-03-07 20:16] NthPortal commented on #11388
should the aliasing be in the other direction for `lengthCompare(Iterable)`?

[2019-03-07 21:04] som-snytt commented on #11423
The canonical issue for module support is https://github.com/scala/scala-dev/issues/529

[2019-03-07 21:23] Ichoran commented on #11388
You mean the implementation is `-that.sizeCompare(this)` instead of `this.sizeCompare(that)`?  I don't think it should matter to anything.  Isn't the underlying implementation symmetric?

[2019-03-07 21:38] NthPortal commented on #11388
I mean

[code]

as opposed to

[code]

[2019-03-07 21:40] erikerlandson commented on #11152
Spire unit testing also happens to trip on this. https://github.com/typelevel/spire/pull/759

[2019-03-07 22:05] Ichoran commented on #11388
Oh, yeah, if we're not insisting both have `length`, `lengthCompare` should defer to `sizeCompare`

[2019-03-08 08:46] #11348 closed

[2019-03-08 13:33] dwijnand opened #11425 "Context-bound on unnamed type parameter becomes Any"
[code]

[2019-03-08 13:43] szeiger commented on #11425
Not limited to classes:

[code]

The relevant section of the spec is https://www.scala-lang.org/files/archive/spec/2.11/07-implicits.html#context-bounds-and-view-bounds. It does not mention wildcards explicitly but the current behavior violates this part:

[2019-03-08 14:17] szeiger commented on #11425
Let met try my best @smarter impersonation: "Works in Dotty"

Well, sort of. Dotty doesn't allow wildcard type parameters anymore so the problem doesn't come up in the first place. If that's the way forward then we should do the same in 2.14.

[2019-03-08 14:37] smarter commented on #11425
I believe so, I'd say the fact that wildcards can be used in type parameter position is just an accident of the parser implementation and not a real feature.

[2019-03-08 14:39] dwijnand commented on #11425
Is there a problem is supporting this pattern?

On the other side of the equation: can we find a good reason why to support this?  Maybe we should run the community build against the removal to see how/why it's used.

[2019-03-08 14:39] adriaanm commented on #11425
It's not intended to be a wildcard, but an unnamed type parameter. I think that's that the bug is.

[2019-03-08 14:39] adriaanm commented on #11425
Just another use of `_` 🤷‍♂️

[2019-03-08 14:50] szeiger commented on #11425
The syntax is officially documented in the spec though. Just not the semantics, which shouldn't be a problem if they are simply unnamed type parameters. I also assumed that's what they are. In this case it should be easy to fix by synthesizing a name very early (parsers or namers) before the context bound desugaring happens.

Good reasons for disallowing this syntax:
- It's inconsistent with value

[2019-03-08 14:57] szeiger commented on #11425
OTOH it is very similar to the use of `_` in type members where it also stands for an unnamed type parameter:
[code]

[2019-03-08 15:23] dwijnand commented on #11425
If we _don't_ drop unnamed type parameters, we might want to lift the restriction on naming multiple proper type parameters `_`:

[code]

like you can for the parameters of a type constructor:

[code]

It would be nice to be able to name a parameter `_`, so to avoid triggering the unused lint:

[code]

[2019-03-08 15:47] smarter commented on #11425
Please no, no extra meaning for `_`.

[2019-03-08 15:54] dwijnand commented on #11425
I wouldn't classify it as extra.  It's the same meaning that already exists: the parameter is being (un)named `_`.  It would be removing an inconsistency (which, I thought generally was well appreciated.)

[2019-03-08 17:00] szeiger commented on #11137
It's hard to tell bugs from features considering that there is no real specification for scaladoc's markup language. Dotty is using CommonMark but I didn't find any documentation about how this interacts with the traditional tag-based syntax that scaladoc inherited from javadoc, either.

I think we need to start with a spec based on CommonMark that either describes the integration of existing synt

[2019-03-08 17:36] ashawley commented on #11137
For the record, I didn't mean to be so general when I said "failing to escape tags is clearly a bug".   I was less than precise.  It was in the context of Kenji Yoshida's original report of code blocks containing XML/HTML tags that were not getting escaped, which is an obvious defect that has already been fixed in #7183 (and should be fixed in 2.12?)

[2019-03-08 18:05] szeiger commented on #11409
`setNext` is very inefficient because it has to traverse the entire tail. I'm currently trying to figure out how this was fixed in the first place. All the obvious methods are unchanged.

[2019-03-08 18:08] dsilvasc opened #11426 "cannot find implicit ClassTag after macro expansion"
Given the following program using the `lift` macro from [monadless](http://monadless.io/):

[code]

The `lift` macro fails with `scala.reflect.macros.TypecheckException: not found: value ClassTag` when it tries to `c.typecheck(tree)` in [the macro implementation](https://github.com/monadless/monadless/blob/4ee523c3fb4c87aab76c6f7dc9aead7256f1ca3a/monadless-core/src/main/scala/io/monadless/impl/Mac

[2019-03-08 18:27] szeiger commented on #11409
Ah, this was fixed even *before* https://github.com/julienrf/scala/commit/c105f12900bec6e6a8eea80e9b50fd78ea037bb4 which is confusingly located in a branch named `fix-listbuffer`. There's more room for optimization in the other methods that call `setNext`.

[2019-03-08 18:39] som-snytt commented on #11425
You can already name one parameter `_` and get a reprieve from the unused warning:
[code]
but it may not be a great idea.

The better escape hatch is:
[code]
There is already a ticket for multiple type params named `_`.

[2019-03-08 23:32] kaishh opened #11427 "Covariant HKT implicits fail to resolve"
Given this setup:

[code]

Constructing SomeAlg fails even when the types are fully annotated:

[code]

Explicitly providing `AnyIO` instance works though: `SomeAlg.make[IO](AnyIO.fromMono[IO])`

Removing covariance from `AnyIO` allows `SomeAlg.make[IO]()` to work, however, a non-type annotated version will still fail to resolve:

[code]

This is only fixed if covariance is removed from `SomeAlg`

[2019-03-09 00:14] som-snytt opened #11428 "Error if not an annotation"
Consider this example:
[code]
Dotty reports:
[code]
And scalac
[code]
I would say an error is warranted. One guess is that it was lost under https://github.com/scala/scala/pull/1901.

Description copied from https://github.com/lampepfl/dotty/issues/3617.

[2019-03-09 02:23] hrhino commented on #11426
The macro [uses the much-maligned `resetAllAttrs`](https://github.com/monadless/monadless/blob/4ee523c3fb4c87aab76c6f7dc9aead7256f1ca3a/monadless-core/src/main/scala/io/monadless/impl/Transformer.scala#L398-L403)...

The [tree](https://github.com/scala/scala/blob/v2.12.8/src/compiler/scala/reflect/reify/Taggers.scala#L43-L50) which scalac makes when it materializes a `ClassTag` is
[code]
so the `I

[2019-03-09 02:23] #11426 closed

[2019-03-09 03:04] hrhino commented on #11333
Your code is actually invalid: `Map().empty.asInstanceOf[String,List[(Int,Int)]]`. You probably meant `Map.empty.asInstanceOf[Map[String, List[(Int, Int)]]]`, by which I mean you probably want `Map.empty[String, List[(Int, Int)]]`.

We should do better than crash, though.

[2019-03-09 03:24] som-snytt commented on #11428
Related PR for related issue https://github.com/scala/scala/pull/7546

[2019-03-09 15:15] mghildiy commented on #11369
Draft PR:
https://github.com/scala/scala/pull/7839

[2019-03-09 16:22] joshlemer commented on #11369
Thanks a bunch @mghildiy :smile:

[2019-03-09 18:50] joroKr21 commented on #11427
I think the problem boils down to:
  1. Companion objects are only in implicit scope for their corresponding type, not subtypes or supertypes.
  2. Covariance causes the compiler to look for `MonoIO[F]` for some `F[x] <: IO[x]` not `MonoIO[IO]`

Note that `F[_]` is a type variable and it doesn't have a companion object.
Putting the instance in the companion object of `MonoIO` works:

[code]

[2019-03-09 19:48] kaishh commented on #11427
@joroKr21
Point 1 shouldn't be correct since accordinbg to [this article](http://eed3si9n.com/revisiting-implicits-without-import-tax) the rules are:

Meaning all supertypes of all type parameters, projection/selection prefixes, intersections and of the type itself are ALL searched. And also this example works, showing that the companion of the supertype must have been searched:

[code]

Point 2 i

[2019-03-09 22:28] joroKr21 commented on #11427
@kaishh Ah yes, you are right, I completely missed that part of implicits for some reason.
Your second example works just the same with higher-kinded types.
So I guess the problem is that while in your second example the fact that `X <: TBase` is determined by the upper bound, in the first one this fact is only known by a type variable constraint (`AnyIO[F] <: AnyIO[IO] => F[x] <: IO[x]`) and mayb

[2019-03-10 12:00] joroKr21 commented on #11383
The problem is that the second `_(i)` is typed as `B` where `B` is a type alias to `A` in `foo`. `substituteSymbols` is supposed to substitute `A` in `foo` with `A` in `foo$extension` but it does not follow the type alias. What should happen?

[2019-03-10 12:11] joroKr21 commented on #11383
Maybe same issue as #9222?

[2019-03-11 00:30] kaishh commented on #11427
@joroKr21
Note that my original example works in dotty: https://scastie.scala-lang.org/0cq8ypISSH2jBXNNEqtRlg
So, I think the behavior seen here is unlikely to be a deliberate optimization since Dotty went ahead with supporting this.
Sorry for bothering, but, @smarter, any ideas what could it be that dotty does correctly here that scalac doesn't?

[2019-03-11 00:40] smarter commented on #11427
Don't know, but what @joroKr21 is saying seems plausible, Dotty does go through upper bounds of type variables to decide what companions to look for to find implicits, I think Scala 2 does the same, but maybe it doesn't do it recursively or something ?

[2019-03-11 00:40] smarter commented on #11427
(Also I don't recommend using Scastie to infer Dotty's behavior because it's stuck on an old version of Dotty because of https://github.com/scalacenter/scastie/issues/281)

[2019-03-11 07:19] #11388 closed

[2019-03-11 08:32] som-snytt commented on #11388
Despite the PR title, I'm not sure how you can "clean up length/size comparisons", they will always be an off-color product of patriarchal culture.

[2019-03-11 13:27] szeiger commented on #11420
There doesn't appear to be anything more to do about this so I'm closing the issue.

[2019-03-11 13:27] #11420 closed

[2019-03-11 13:37] #11152 closed

[2019-03-11 13:38] SethTisue commented on #11152
fixed by scala/scala#7670

[2019-03-11 16:40] kaishh commented on #11427
Works on dotty-0.10.0-RC1 too.

Ok, would that be hard to fix? And if, hypothetically, there was a fix, would it be accepted into 2.12(.9, .10) series or would that be considered a breaking change?

[2019-03-11 16:52] smarter commented on #11427
No idea about how hard it'd be to fix :). Probably unlikely to get into 2.12 since it could break source compatibility in non-obvious ways.

[2019-03-12 06:29] ajithme opened #11429 "Scala Classloader with java.lang.ClassLoader.registerAsParallelCapable"
Currently i have a custom classloader ``abc.MyClassLoader``which extends ``java.net.URLClassLoader#URLClassLoader``, and i want to enable my custom classloader as parallel capable. To do this i need to call a static method from my custom classloader ``java.lang.ClassLoader#registerAsParallelCapable``

In java custom classloader this would be as straightforward as having registration done in a stat

[2019-03-12 06:31] ajithme commented on #11429
cc @SethTisue @szeiger @Ichoran

[2019-03-12 11:54] smarter commented on #11420
Hmm, in that case why is concat in that file marked as "TODO: ... Uncomment final" ? (Also the associated issue is closed now, not sure what the status of that is).

[2019-03-12 12:53] #11409 closed

[2019-03-12 17:39] szeiger commented on #11386
It's hard to imagine a correct Int-valued signum function for floating point numbers that is consistent with signum for integral types. The Java implementation always keeps the sign of the original number while converting all valid non-zero numbers to 1. This means that `abs(x) * signum(x)` is identical to `x` even in corner cases (+0 vs -0, +Inf vs -Inf, and even the most esoteric one, +NaN vs -N

[2019-03-12 18:14] gi114 commented on #11396
Hi,

I just started looking at places I can contribute to Scala and realized I am quite confused on how Queue in and out lists interchange elements. For example, If I add some element in the in list, do I need to add it to the out list as well ? Otherwise I will not be able to dequeue from out.. So my question is, how do they stay up to date with each other? It seems we have to perform operations

[2019-03-13 04:09] eed3si9n commented on #11386
I have an alternative PR here that returns `T` - https://github.com/scala/scala/pull/7861
Much like `min` and `max`'s implementation in RichShort, RichDouble etc I am delegating `Int`, `Long`, `Float`, and `Double` handling to the corresponding `scala.math.signum(...)`, and using `scala.math.signum(Int)` for `Short`, `Char`, and `Byte`. This hopefully keeps most consistency with Java and `scala.ma

[2019-03-13 06:28] som-snytt commented on #11429
You need [SIP-30](https://docs.scala-lang.org/sips/static-members.html) which is in dotty but not yet Scala 2? The annotation requests the member as a static member of the companion class. It looks like it works.
[code]

[2019-03-13 09:45] wangjiweisean commented on #10622
did you fix this problem yet?
I got a same problem.....

[2019-03-13 11:34] julienrf opened #11432 "mapRange-generated Ranges should be laws-tested"
See the discussion here: https://github.com/scala/collection-strawman/pull/200#discussion_r134253284

[2019-03-13 13:44] ajithme commented on #11429
@som-snytt Thanks for explanation. Unfortunately i cannot upgrade to higher scala version now. So i suppose moving my classloader implementation to java is the only option.?

[2019-03-13 14:00] som-snytt commented on #11429
I haven't experimented, and maybe there is a better technique. You could write a minimal shim in Java that delegates to code in Scala. I see the mechanism requires superclasses to be registered, so extending the Scala class is not an option.

[2019-03-13 14:53] som-snytt commented on #11241
Rust issue 55743 covers the same territory.

[2019-03-13 18:13] SethTisue commented on #10622
is it reproducible in 2.12.8 and/or 2.13.0-M5?

[2019-03-13 22:18] OberstK commented on #11424
I had a look into this and could trace down why this is happening. I will open a PR for a fix, but there is some need for discussion if I missed inter-dependencies with other behavior around the rendering of code within a comment. I hope someone else can bring in more insight

[2019-03-14 01:43] mwlon commented on #10766
Is anyone working on this? If not, any recommendations on fixing it?

This seems like a pretty major issue, and it currently hurts Apache Spark pretty badly, making certain methods not thread safe.

[2019-03-14 04:30] diesalbla opened #11434 "Final, Anonymous, or singleton (objects) classes should not have protected non-overridden members"
_Note_: This is not a bug, it's a feature (request)

Consider the following code snippet, which compiles under Scala 2.12:

[code]
The `protected` access modifier lies between _public_ and `private`: it grants access to the member for the _subclasses_, but denies it to any other class. However, since final classes, cannot be extended, and have no sub-classes, it makes no sense for them to declare

[2019-03-14 06:00] sjrd commented on #11434
There are reasonable use cases in Scala.js for `protected` members in final classes, because they are visible to JavaScript (or can be exported) but not to other Scala code.

Please don't make this idiom invalid.

[2019-03-14 06:05] diesalbla commented on #11434
Then why not make them `public`? Subclasses can extend grants on inherited `protected` members to make them public.

[2019-03-14 08:20] joroKr21 commented on #11434
Sometimes I use `protected` in `object` as a workaround for linter limitations:
[code]

If we make `encodeData` private linters would complain that it's not used.
But it is after macro expansion!

[2019-03-14 09:24] sjrd commented on #11434
@diesalbla Here is a typical usecase:
[code]

[2019-03-14 22:17] deanwampler commented on #10766
@SethTisue I know the Scala team is trying not to do any more work on Scala 2.11, but it will be a long time before all Scala 2.11-based Spark disappears from The Internets, so I hope the Scala team will consider back-porting a fix to 2.11 and 2.12.

[2019-03-15 07:48] adriaanm commented on #10766
scala.reflect is experimental. Making it thread safe without killing performance is nearly impossible. I was against even trying.

The workaround is to synchronize access by the user, or not use it at all.

2.11 is EOL.

When you consider all this together, I don’t see how we can justify cutting another 2.11 release

[2019-03-15 17:36] joshlemer commented on #11433
It would also be handy to include the exposed type of each member, so that nobody accidentally exposes/commits to a return type that's more specific than it should be.

[2019-03-15 17:53] SethTisue commented on #10766
(just my own thoughts, not a team statement:)

Quite apart from 2.11's EOL-ness, tinkering with `scala.reflect` in 2.11.x or even in 2.12.x, this late in their release cycles, seems quite risky to me.

I was going to suggest this as well.

I'm not sure if the wording is clear. Just in case, I'll rephrase: Spark could, we suggest, add locks to their own code at the `<:<` use sites. Has this been tr

[2019-03-15 18:28] eed3si9n commented on #10766
@SethTisue

(I don't much about Spark, but) An example usage looks like https://github.com/apache/spark/blob/v2.4.0/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/ScalaReflection.scala#L61-L69, which uses the Scala type information to grab Spark SQL DataType.

Here's another. https://github.com/apache/spark/blob/v2.4.0/sql/core/src/main/scala/org/apache/spark/sql/SQLContext.scala#L262-L

[2019-03-15 21:26] hrhino commented on #11434
Scala is full of silly things you can do which one might think they want to be a compiler error. However, we also have scalafix, which can be made to emit that exact error. Moreover, while I would never have guessed that there would be a reason to use `protected` over `private` here, Sébastien reminds me that just because I can't think of it doesn't mean it shouldn't exist.

So I firmly think this

[2019-03-15 21:48] mwlon commented on #10766
I wasn't expecting a backport of a fix to 2.11 or 2.12, but IMO this behavior subverts expectations, and we should try to make scala reflection better.

I'm adding a workaround in Spark: https://github.com/apache/spark/pull/24085. Still, I think this should be fixed. There is ALWAYS a way to achieve near-identical performance in a thread-safe way (for all cases that were previously correct).

[2019-03-16 00:00] joroKr21 commented on #10766
It's unfortunate that Spark is using runtime reflection to generate the serialization code. The long term solution would be to use typeclasses + compile-time typeclass derivation, but it might require some re-archirecturing.

Flink doesn't have this problem, because it's generating the serialization code at compile time with a macro: https://github.com/apache/flink/blob/master/flink-scala/src/main

[2019-03-16 00:46] mwlon commented on #10766
Spark is intended to be fully thread safe, not only within a Spark job, but also across parallel jobs in the same application: https://spark.apache.org/docs/latest/job-scheduling.html#scheduling-within-an-application

One use case where this becomes important is for reading multiple data sources at once. Here the bottleneck is often waiting on each data source to return results, so it is best for

[2019-03-16 09:02] Jasper-M commented on #10766
The worst part is that Spark actually has an `Encoder` typeclass, but (1) it's hard to implement your own and (2) they don't compose at all. E.g. when I manage to define my own `Encoder[MyType]` and I have a `case class Foo(a: Int, b: MyType)` then I will still get a runtime error because `Encoder[Foo]` doesn't delegate to my encoder but uses a limited set of hardcoded encoders.

[2019-03-16 10:00] #11366 closed

[2019-03-16 21:30] kaishh opened #11435 "Implicit conversion fails whenever an unnamed identity type lambda is present"
Example:

[code]

This example produces errors for first and second application of `use`. The third use, with `Identity` type alias instead of `Lambda[X => X]` is fine though.
[code]

[2019-03-16 22:00] kaishh commented on #11435
The example works in dotty 0.7 (and is unlikely to have regressed i suppose) https://scastie.scala-lang.org/KKEyhbRdT6KM2aajv3ssyQ

[2019-03-17 00:06] xuwei-k commented on #11124
https://github.com/scala/scala/pull/7874

[2019-03-17 10:35] joroKr21 commented on #10766
Ah yes, I forgot about `Encoder`.

To be fair it's not easy to write typeclass derivation that composes well in Scala, just take for example `shapeless` and `kittens`. But it should be possible, I've done this exercise for Flink: https://github.com/joroKr21/flink-shapeless, but haven't tried it for Spark.

[2019-03-17 10:46] joroKr21 commented on #11435
It works in Scala 2.13 but I'm not sure what fixed it. You might want to do a PR with a test.

[2019-03-17 16:20] kaishh opened #11436 ""trying to do lub/glb of typevar ?0F[_]" when overloading is used together with implicit conversions involving HKT parameters"
Example:
[code]
Error:
[code]
Note, this doesn't happen when the HKT parameter is removed, as in:
[code]

Works in [dotty-0.7](https://scastie.scala-lang.org/rFynK8IbSJ2kBYqF3GNrIw), didn't test 2.13

[2019-03-17 16:25] SethTisue commented on #11436
(note that any 2.12.x compiler crash is highly unlikely to be addressed unless it also still happens in 2.13.x)

[2019-03-17 16:47] kaishh commented on #11436
@SethTisue Fair enough. I've checked on 2.13.0-M5 – the example compiles, albeit with a warning that advises me to report it:
[code]

[2019-03-17 16:56] SethTisue commented on #11436
and in the [latest Scala 2.13 nightly](https://stackoverflow.com/q/40622878/86485), 2.13.0-pre-f1dec97, the problem has gone away entirely!

[2019-03-17 16:56] #11436 closed

[2019-03-17 19:44] kaishh commented on #11435
Alright, I'll use `-Xsource:2.13` then. Thanks!

[2019-03-17 19:44] #11435 closed

[2019-03-17 19:50] kaishh commented on #11427
This works on 2.12 with `-Xsource:2.13` flag and on `2.13.0-pre-f1dec97`.
This might have been another bug closed by https://github.com/scala/scala/pull/6069
I guess it can be closed?

[2019-03-18 09:06] #11386 closed

[2019-03-18 10:42] kaishh commented on #11427
Unfortunately, that was a false positive. The example DOES NOT work under any of [`2.13.0-M5`](https://scastie.scala-lang.org/zcbR2awuQy69mWtaSfVCqA), `2.13.0-pre-dd34f62`, `2.12.8` with `-Xsource:2.13`. I was fooled by copypasting the setup code forgetting the summon itself...
I'm reopening then.

[2019-03-18 11:10] adriaanm commented on #10766
Happy to see the workaround is doable! Just to be clear, we do not intend to provide (full) thread-safety for scala.reflect -- I don't think it's feasible. Closing this ticket to reflect that.

[2019-03-18 11:10] #10766 closed

[2019-03-18 15:56] szeiger commented on #11396
They don't. You always add to in and remove from out. The scaladoc comment explains it quite nicely:

[2019-03-18 17:47] SethTisue opened #11437 "parser issue with `var` and `_`: default-value syntax and placeholder syntax collide"
as reported at https://stackoverflow.com/questions/55182423/weird-behavior-of-anonymous-function-with-placeholder :

[code]

The error is "error: ';' expected but identifier found.", pointing to the `+`.

@travisbrown writes on SO:

Dotty has the same issue.

[2019-03-18 17:56] SethTisue commented on #11437
(As with any "good first issue", there is a possibility that it's actually hard to fix. Discovering that, and recording why here on the ticket, would be a nice contribution regardless.)

[2019-03-18 23:36] mwlon commented on #10766
@adriaanm I don't understand.
1. What's wrong with the simple solution of wrapping the `<:<` operator in a `synchronized` block internally? Isn't it much better than doing nothing?
2. Even if this is such a difficult issue to solve, it seems like egg in the face of scala. I want scala to be a language I'm happy to work in / tell my friends about. So why close the issue?

[2019-03-19 03:13] #3809 closed

[2019-03-19 08:59] adriaanm commented on #10766
Apparently our communication around scala.reflect being experimental hasn't been very effective. It's a layer built on top of the compiler, and you'll just have to take my word for it (or look around in the PR queue) that it's not an easy thing to make thread safe.  If it was as easy as you suggest in 1., we'd have done it.

2. 🤷‍♂️

[2019-03-19 16:29] som-snytt commented on #11437
That was a good first issue of the day.

[2019-03-19 23:23] Ichoran opened #11438 "ListBuffer patchInPlace throws an exception in no-work case"
[code]

All other collections agree with `patch`--this (no-op) operation is totally fine.

[2019-03-19 23:55] Ichoran opened #11439 "PriorityQueue throws NPE when on mapInPlace on empty queue"
[code]

[2019-03-20 00:06] Ichoran opened #11440 "Stack, Queue, and ArrayDeque return an empty window when empty"
The standard behavior of `sliding` is to be under-full if the collection length is less than the window length but _not to return anything_ if the collection is empty.

The collections above return an empty collection instead.

[code]

[2019-03-20 00:06] Ichoran commented on #11440
Note the previous bug (and fix) at https://github.com/scala/bug/issues/11047

[2019-03-20 02:32] gi114 commented on #11440
In Scala 2.12.1 there was no issue so we can see what has changed

[2019-03-20 09:06] plokhotnyuk opened #11441 ""-target:jvm-1.8" doesn't work and scalac produces code with class file version 55.0 while 52.0 is expected"
Prerequisites:
- Installed JDK 8 in `/usr/lib/jvm/jdk1.8.0`
- Installed JDK 11 in `/usr/lib/jvm/jdk-11`
- Installed SBT and git tools

Steps to reproduce:
1. Clone `jsoniter-scala` repo:
[code]
2. Enter to the cloned directory and checkout for the specific commit:
[code]
3. Compile and run benchmarks with JDK 11:
[code]
4. Compile and run benchmarks with JDK 8:
[code]
5. Get the following error in

[2019-03-20 09:47] michelou commented on #11441
Try the following before running sbt with a different JDK version (eg. JDK 8 -> JDK 11 in your case) :
[code]

[2019-03-20 09:59] plokhotnyuk commented on #11441
@michelou it doesn't resolve the subject issue

[2019-03-20 14:25] SethTisue commented on #11438
can we have a volunteer to attempt a fix?

[2019-03-20 14:27] SethTisue commented on #11440
can we have a volunteer to attempt a fix?

I've tentatively put it on the 2.13.1 milestone on the assumption that a fix wouldn't involve breaking bidcompat

[2019-03-20 18:20] smarter opened #11442 "Missing @tailrec error with recusive call targeting supertype"
The following outputs an error as expected:
[code]
[code]

The following also outputs an error:
[code]
[code]

But this compiles without error:
[code]

[2019-03-20 19:06] gi114 commented on #11440
Hi,

I am looking at the sliding function for the first time and it is clear what it does, though i would like to clarify what happens in the case that the starting collection length > 0, like length = 3, and the window size parameter is > length, like 4. Would the return value always be the collection of size length = 3? so would it be unchanged as far as the window size is > length?

In case the

[2019-03-20 20:17] Ichoran commented on #11440
Yes, your statements are all correct.

Note that there are other peculiar behaviors regarding moving by sliding more than one; they are as far as I know correct, so you should try to leave those intact.

For instance, this is weird but "correct" behavior:

[code]

(The principle is "stop once you have returned the last element", not "keep going until your start point runs off the end of the source

[2019-03-20 23:13] coryfklein commented on #9071
@viktorklang Do you have, or are you aware of plans to include this bug fix in a 2.12.x release?

[2019-03-21 07:20] viktorklang commented on #9071
@coryfklein It's not possible to backport the fix to 2.12.x since the 2.12.x implementation has strictly less information to work with. And I don't think (but haven't tried) it is viable to backport the entire new implementation to the 2.12.x series since I have a hard time seeing how it would be both forwards and backwards compatible with the previous 2.12 releases.

[2019-03-21 11:17] alelk commented on #11101
I've have the same issue

[2019-03-21 13:15] #11136 closed

[2019-03-21 14:19] adriaanm commented on #11124
Here's what I tried to improve type inference, but this broke a massive number of quasiquote-related tests, and we're out of time for RC1:

[code]

I also tried not changing the compiler, but a slightly more sneaky signature for `implicitly`:
[code]

this runs into other compiler bugs (the evidence parameter may be private, and the result type is not properly widened to avoid depending on it) 😓

[2019-03-21 14:41] adriaanm commented on #11124
For the record, I tried one more (perhaps too hacky) compromise, but still too many macro tests break (and I have no idea how to even approach fixing them)

[code]

Test failures:
 - run/macro-reify-chained1
 - run/macro-reify-chained2
 - run/macro-reify-nested-a1
 - run/macro-reify-nested-a2
 - run/macro-reify-nested-b1
 - run/macro-reify-nested-b2

wip: https://github.com/scala/scala/compare/2.1

[2019-03-21 15:00] #11329 closed

[2019-03-21 15:17] adriaanm commented on #11441
I doubt this is a scalac bug. Is the problematic bytecode generated by javac or scalac? If it's javac, this is the wrong tracker for this issue. If it's somehow an sbt issue, that's over at https://github.com/sbt/sbt/issues

[2019-03-21 15:19] adriaanm commented on #11326
Looks like this will slip?

[2019-03-21 15:22] adriaanm commented on #11369
It seems this PR won't be ready this week, which is the deadline for RC1. I'm going to put this on the backlog, since it doesn't sound like something we could do in 2.13.1. I haven't followed in detail, so please correct me if I'm missing something.

[2019-03-21 15:24] joshlemer commented on #11326
@adriaanm consider it slipped!

[2019-03-21 15:26] adriaanm commented on #11427
We can't tackle this in 2.13.0 anymore, but before assigning this to 2.13.1, I'd like to first understand whether this is actually a regression.

[2019-03-21 15:41] adriaanm commented on #11326
Your mountain of merged collection PRs shouldn't become a slippery slope :-) #badmetaphors (At least I have the good sense to avoid sports metaphors.)

[2019-03-21 16:04] adriaanm commented on #11439
I snuck in a fix in my other PR. This is some weird stuff, so I'm not sure it's correct, but it can't be worse than the status quo.

[2019-03-21 18:25] joroKr21 commented on #11427
This is the method that computes the implicit scope of a type:
https://github.com/scala/scala/blob/5da50e6f819ae114814360390d05106eb2ad0bd3/src/compiler/scala/tools/nsc/typechecker/Implicits.scala#L1274-L1336

There is no special handling of type variables. All abstract types end up here:
https://github.com/scala/scala/blob/5da50e6f819ae114814360390d05106eb2ad0bd3/src/compiler/scala/tools/nsc/type

[2019-03-21 21:44] #11438 closed

[2019-03-21 21:44] #11439 closed

[2019-03-22 00:43] OberstK commented on #11300
@hamednourhani Are you still working on that?
@ennru Is this still an issue? Looking at the scala doc 2.12.8 [here](https://www.scala-lang.org/api/2.12.8/scala/collection/index.html) I can not reproduce the dead link issue. The Dead Link Checker also only returns two results

[2019-03-22 00:52] NthPortal commented on #11131
Reopening for some followup to scala/scala#7842

[2019-03-22 06:50] eed3si9n commented on #11300
Here's a single `li` element for `scala.annotation` package:

[code]

The dead link is `<a href="../scala/index.html#annotation" title="Permalink">`. The dead link is repeated as `"../scala/index.html#beans"` but it does not show up in the Dead Link Checker probably because they all point to `../scala/index.html`.

[2019-03-22 08:51] eed3si9n commented on #11300
Here's my PR for this - https://github.com/scala/scala/pull/7906

[2019-03-22 10:52] OlegYch opened #11443 "Stream `find` leaks"
using 2.13.0-M5-1775dba (published on 16-Feb-2019)

this throws OOME
[code]

this correctly runs forever:
[code]

perhaps `find` should be overriden in the same way `Stream#foreach` is?

--------

Status: `LazyList` is fixed; `Stream` still needs to be

[2019-03-22 11:46] alexnivanov opened #11444 "Invalid constant in default value when an object created before constant definition"
Good day!

This piece of code illustrate the issue I found:

[code]

produces output:

[code]

So, in declaration we have the same default value for both objects, but the actual result depends on declaration order!

Eventually, we get 0 when Int constant is not yet defined, but there are *no compilation warnings* whatsoever, so it can produce some confusing and hard to find issues in production :(

[2019-03-22 14:05] SethTisue commented on #11444
https://docs.scala-lang.org/tutorials/FAQ/initialization-order.html

(the doc page shouldn't be so specific about the problem being nulls; as you've observed, you get the default value for the type, for reference types that's `null`, for `Int` it's `0`)

[2019-03-22 14:10] SethTisue commented on #11141
ticket of record is #399

[2019-03-22 14:11] SethTisue commented on #11201
ticket of record on "the usual initialization order stuff" is #399

[2019-03-22 14:12] SethTisue commented on #11444
ticket of record is #399

[2019-03-22 14:12] #11444 closed

[2019-03-22 14:14] alexnivanov commented on #11444
@SethTisue thanks for the clarification, this is a really complex issue...

[2019-03-22 14:40] plokhotnyuk commented on #11441
@adriaanm Thanks for the hint! It affects only java classes.

[2019-03-22 14:40] #11441 closed

[2019-03-22 16:17] raboof commented on #11021
(I can confirm this issue still occurs on 2.12.8 for a scaladoc annotation with a `@throws` on a class)

[2019-03-23 18:23] diesalbla commented on #11434
@joroKr21 Yeah, I have been bitten by such errors. I would say, though, that it is the linter that should be adjusted to the language, or disabled, not the other way around.

@sjrd Saw the use case. So, you use a modifier keyword with one meaning (to share with inheritors only) for a very different one (share with anyone in JavaScript). I do appreciate that porting Scala to another platform is dif

[2019-03-23 18:23] #11434 closed

[2019-03-23 23:04] Ichoran commented on #11432
I think we'll have to leave this for RC2.  I don't have time now.

[2019-03-24 05:54] NthPortal opened #11445 "OpenHashMapTest blue screen on WSL"
# Summary

Running the JUnit test `scala.collection.mutable.OpenHashMapTest` on the current `2.13.x` branch ([found here](https://github.com/scala/scala/blob/d7f81e51f0b8e249538775ce2157065b455eef94/test/junit/scala/collection/mutable/OpenHashMapTest.scala)) through sbt on WSL (Windows Subsystem for Linux) causes the system to blue screen with a `SYSTEM_SERVICE_EXCEPTION` caused by `LXCORE.SYS`. I

[2019-03-24 06:06] NthPortal commented on #11443
If I'm not mistaken, since `find` returns `Option[A]`, this fix is binary compatible?

[2019-03-24 10:14] OlegYch commented on #11443
@NthPortal i suspect adding tailrec breaks bincompat, though can't be sure

i've found a couple other functions with the same problem though - collect and collectFirst
(though collect is only broken in LazyList)

[2019-03-24 10:17] OlegYch commented on #11443
ie with -Xmx50m
[code]

[2019-03-24 10:31] smarter commented on #11443
Making a method tailrec doesn't break binary-compatibility.

[2019-03-24 14:57] #11077 closed

[2019-03-25 09:53] makarius opened #11446 "Compiler crash due to unusual unapply"
The following unusual definition of ``unapply`` crashes the compiler (e.g. 2.12.8 or 2.13.0-M5):

    object A { def unapply(s: String, strict: Boolean = false) = if (s == "") None else Some(s.length) }

    "a" match { case A(i) => i }

[crash.log](https://github.com/scala/bug/files/3002603/crash.log)

It works when the optional argument ``strict`` is omitted.

[2019-03-25 10:51] hrhino commented on #11429
Yeah, this is a pretty horrid API. I've seen this done, and the safest way is probably
[code]
[code]

which isn't nice but works.

[2019-03-25 11:41] MarkusLupusWolf commented on #11195
I have the same issue. Currently I do not know how to dynamically compile a class into a package.

[2019-03-25 13:41] Yotamho opened #11447 "Inconsistency in Scala's map for 0.0 and -0.0 as keys"
Even though `0.0D` and `-0.0D` has different `.hashCode()` return values, and are treated in Java as different values in a `HashMap`s, the following inconsistency occurs in Scala (2.12.8, JVM: 10.0.2):

    scala> Map(-0.0D->2, 0.0D->1)
    res0: scala.collection.immutable.Map[Double,Int] = Map(-0.0 -> 1)

[2019-03-25 15:45] NthPortal commented on #11443
The concern was whether or not adding an override (since the method is not currently defined in `LazyList`) is binary compatible

[2019-03-25 16:08] eed3si9n commented on #11447
I am guessing that this is related to cooperative equality (https://contributors.scala-lang.org/t/can-we-get-rid-of-cooperative-equality/1131) and weak conformance.
See also https://github.com/scala/bug/issues/10773

[2019-03-25 17:20] Atry opened #11448 "Unnecessary reflective calls are generated when the method can be accessed from self-type"
[code]

[code]

[code]

I expect `bar.i` is not a reflective call, because the backend should be able to use the information of self-type to perform a `invokevirtual` call.

[2019-03-25 17:47] som-snytt commented on #11447
My guess is
[code]
where the last test is trying to be too smart. The Javadoc for boxed `Double.equals` tweaks the zero case: "This definition allows hash tables to operate properly."

[2019-03-25 18:52] Ichoran commented on #11447
This isn't a bug.  Scala harmonizes hash code values for everything that is equal, including 0.  If your variant of zero happens to be -0.0, it prints out strange but everything works.

[code]

Note that the positive and negative zeros have a hash code of 0, just like `Int` zero:

[code]

[2019-03-25 18:52] #11447 closed

[2019-03-25 18:53] Ichoran commented on #11447
Aside: use `.##` not `.hashCode` to get your hash codes to agree with `==` equality.

[2019-03-26 00:37] retronym commented on #11293
Thanks for the report. The regression actually came a bit earlier in f50ec3c866263448d803139e119b33afb04ec2bc.

The intent of that change was to make nested macro expansions share a fresh-name namespace, associated with innermost enclosing definition that is not itself enclosed by a term owner. I'll investigate why that isn't helping in this case.

[2019-03-26 02:16] retronym commented on #11293
The issue is that during macro-paradise's annotation macro expansion of each annotated method, the `callsiteTyper` is associated with the enclosing class. Later, the expansion of def-macros during typechecking has a `callsiteTyper` associated with the particular method.  So we end can up with `foo$macro$1` generated twice within a method: first by the annotation macro that is free to modify the `D

[2019-03-26 02:32] retronym commented on #11293
Even the positions have been stripped from the `DefDef` due to use of the case class `copy` method in https://github.com/scalamacros/paradise/blob/2.12.8/plugin/src/main/scala/org/scalamacros/paradise/reflect/TreeInfo.scala#L29-L118, which bears the comment:

[code]

[2019-03-26 04:57] Ichoran opened #11449 "CollisionProofHashMap forgets its type"
map, flatMap, ++, collect, +, updated all return a generic `Map` not a `CollisionProofHashMap` even when the type can still be sorted.  Need to do whatever `TreeMap` does to prevent this from happening.

Verified in Scala 2.13.0-20190325-194214-b7cb5f4 (OpenJDK 64-Bit Server VM, Java 1.8.0_191)

[2019-03-27 08:52] #11446 closed

[2019-03-27 12:03] SethTisue commented on #11443
it appears so: https://github.com/lightbend/migration-manager/commit/e607d192074215f4bf6f9b3e58644866582bf856

but also, it's reallllllly really time to enable MiMa now on the 2.13.x branch, I am making a note to myself to finally do that this week

[2019-03-27 12:20] SethTisue commented on #11443
as an exercise, I verified the bincompat as follows. the change is clearly backwards compatible, the question is whether it's forward compatible, that is, whether code compiled when the override is present still works if the override is removed

given

[code]

compiling `(new B).foo` gives

[code]

note the reference to `B.foo`. if we change `B` to just `class B extends A` with no override, recomp

[2019-03-27 12:28] smarter commented on #11443
Yeah adding/removing an override in a class is fine I think, I'm not so sure that this also the case when doing the same in a trait given the complicated encoding used.