[2018-04-25 14:03] copumpkin commented on #10848
So it's auto-tupling + auto-conversion to `Unit`?

[2018-04-25 14:03] Jasper-M commented on #10848
@akazakov But the reason it fails is not because of the amount of parameters. It's just that you pass it an undefined value. That will _always_ fail.

[2018-04-25 14:18] hrhino commented on #10848
So, in the `wow` example, it's adapting the argument list to pass `(dst, dst, umount(dst))` (a `Tuple3`) to `MountedResource`'s constructor. In the `a` case, the arguments to the function are erroneous (`dst` is not defined), but for some reason the error gets pre-empted.

I think the bug here is that `val a` should error with `not found: value dst`.

[2018-04-25 14:47] Jasper-M commented on #10848
@akazakov Sorry, but this still looks like the same issue to me.

[2018-04-25 15:32] sunglowlee commented on #10847
I used java.util.HashSet instead and solved the problem. It seems that there does exist something wrong with scala.collection.mutable.Set.

[2018-04-25 15:42] SethTisue commented on #9560
https://github.com/scala/scala/pull/6436 has finished this off.

[2018-04-25 15:42] #9560 closed

[2018-04-25 15:44] Jasper-M commented on #10847
Do you have a self contained piece of code that shows this issue?

[2018-04-25 15:57] sunglowlee commented on #10847
The program is a little big and complicated. I am using Scala to build a graph query engine. I used shared memory to contain and manipulate the data. It is hard to find a small piece of code containing the errors. The problem might occur when multiple events are handled concurrently, even though I have already put the related code in the synchronized section.
Once I replaced the mutable.Set with j

[2018-04-25 19:19] carymrobbins opened #10849 "Invalid implicit resolution attempt for higher kind"
Notice that scalac attempts to resolve an implicit for `MonoidK[Option[String]]` whereas it should be trying to resolve `MonoidK[Option]` -

[code]

[2018-04-25 19:40] som-snytt commented on #10848
This is reminiscent of old issues about conversions getting applied to the result expression in a block, and that also led to outlawing implicit by-name parameter.

[2018-04-25 20:38] carymrobbins commented on #10849
One workaround I came up with was to proxy the higher-kinded type class -

[code]

[2018-04-26 07:02] SethTisue commented on #10847
it's entirely possible that there is a bug in scala.collection.mutable.Set, but there's nothing actionable here unless we can reproduce the problem.

[2018-04-26 07:11] SethTisue commented on #10769
@joroKr21 can you clarify the report...?

[2018-04-26 08:15] joroKr21 commented on #10769
I'm not sure what the desired behavior is. But the printed types are not even valid Scala syntax, so in that regard what Ammonite does is already an improvement.

[2018-04-26 09:10] martijnhoekstra opened #10850 "Eta expanding overloaded method with different type parameters selects an arbitrary overload"
[code]

compiles in scala 2.12

In dotty this results in

I expected the same behaviour in scala

[2018-04-26 10:54] lrytz opened #10851 "Simplify WrappedArray for boxed primitives"
In 2.12, a `mutable.ArraySeq` wraps an `Array[AnyRef]`, which means primitives are boxed in the underlying array.

`WrappedArray` by default uses unboxed arrays for primitives, but it can also wrap an array of boxed primitives.

[code]

Can / should we make this easier to do?

Also, can we avoid this problem here:
[code]

Once things are settled, update the docs at https://github.com/scala/collect

[2018-04-26 11:43] lrytz commented on #10851
Ah, the cleaner way to construct a `WrappedArray[Int]` with an underlying array of boxed primitives is ```scala
scala> WrappedArray.untagged(1,2,3)
res5: scala.collection.mutable.WrappedArray[Int] = WrappedArray(1, 2, 3)

scala> WrappedArray.untagged(1,2,3).array.getClass
res7: Class[_ <: Array[Int]] = class [Ljava.lang.Object;
[code]

[2018-04-26 12:00] lrytz commented on #10851
A related issue:

[code]

[2018-04-26 12:59] adriaanm commented on #10555
We'll deprecate this in 2.14. Scala 3 will require explicit `()` for methods that define an empty argument list (except for Java-defined methods)

Not sure I fully understood the difference between these two cases, but 2.13 will not eta-expand 0-ary methods: https://github.com/scala/scala/pull/6475/files

Given that SAM is a notion we got from Java, where you cannot define a method without an argu

[2018-04-26 13:03] adriaanm commented on #10555
(Also note that the main purpose of having no-argument-list methods is to hide the distinction between a `val` and a `def`. Since  that distinction would leak if we got SAM in the mix, that's another reason to exclude this case.)

[2018-04-26 13:05] #10555 closed

[2018-04-26 13:57] Ichoran commented on #10847
I think it is rather unlikely that mutable.Set has a bug that shows up with five elements unless the set is being used in cases that it doesn't support (e.g. concurrent access), but it wouldn't surprise me if `java.util.HashSet` is more forgiving of those use cases.

[2018-04-26 14:07] adriaanm commented on #10405
Wild guess: cross-talk between different type inference attempts during implicit search?

Slightly smaller test. This compiles, until you also import `conforms`

[code]

[2018-04-26 15:09] bbarker commented on #10330
Not sure if I should open a new bug report for this. I just came across it this morning and I appear to be using Scala 2.12.4:

[code]

I stripped down my project a bit and put it at:
https://github.com/bbarker/ProjectGists/tree/master/Scala/CCRS_knownDirectSubclasses

[2018-04-26 15:26] YuvalItzchakov commented on #10405
@Jasper-M While debugging the implicit search I never noticed Nothing? Where do you think it shows up?

[2018-04-26 15:39] Jasper-M commented on #10405
@YuvalItzchakov Yes, that's the part that makes me doubt my own theory 😅
However the fact that it only happens for covariant type constructors reminds me a bit of other issues where
[code]
compiles and infers `A` as `Nothing` in the implicit call to `convert`.

[2018-04-26 15:57] joroKr21 commented on #10555
I guess I meant this:
[code]
But I totally agree that the recent developments you mentioned are an improvement.

[2018-04-26 16:00] adriaanm commented on #10555
Glad to hear it, and very grateful for being pushed in the right direction here :-) Keep up the good work!

[2018-04-26 17:47] allanrenucci opened #10852 "Missing methods in new collections"
- collection.Set
  - [ ] `def --(IterableOnce)`, currently: `def --(collection.Set)`
- ArrayOps
  - [x] `def span`
  - [x] `def sliding`

[2018-04-26 20:37] som-snytt commented on #10850
This is the old chestnut where the two-parameter method is more specific because you can invoke the one-parameter method with two args by auto-tupling (but the converse is not true). Dotty is stingier with tupling, hence dotty-tupling.

[2018-04-26 21:40] joroKr21 commented on #10740
With the new collections we can't even define the methods above:
[code]

[2018-04-27 05:53] joroKr21 commented on #10849
`AppliedTypeVar` should probably override some methods.

[2018-04-27 06:55] #10834 closed

[2018-04-27 07:05] #10842 closed

[2018-04-27 10:44] plokhotnyuk commented on #10717
I got the same compiler crash on JDK 10 with Scala 2.12.x.

Sources: https://github.com/plokhotnyuk/jsoniter-scala
Command to reproduce: `sbt -java-home /usr/lib/jvm/jdk-10 -no-colors clean test`

Fails with 2.12.4 too, but works fine for 2.11.12: `sbt -java-home /usr/lib/jvm/jdk-10 -no-colors ++2.11.12 clean test`

[code]

[2018-04-27 11:58] bbarker commented on #10330
I also get this error in the staged release for Scala 2.12.6

[2018-04-28 04:25] ijuma commented on #10817
This is actually not true, sorry for the noise. When I moved the code to Java, it also failed to compile even though these classes were excluded from http://openjdk.java.net/jeps/260.

[2018-04-28 04:25] #10817 closed

[2018-04-28 05:06] som-snytt commented on #10747
The normal idiom, `object X extends Enumeration`, is thread-safe by virtue of construction during class loading.

[2018-04-28 05:55] joroKr21 commented on #10849
need minimization without shapeless for testing

[2018-04-28 16:47] jeroentervoorde opened #10854 "No type parameters for method flatMap in for comprehension"
Hi,

I am getting the following error in a for comprehension:

no type parameters for method flatMap
...
--- because ---
[error] argument expression's type is not compatible with formal parameter type;

It appears the have something to do with creating a new instance inside the for comprehension.
In one case the error can be worked around by making the return type of the for explicit. For the seco

[2018-04-28 16:54] ijuma commented on #10817
Unfortunately, I found another issue when using `-release 8` and Java 10, but not yet sure how to minimise it:

[code]
But `Kafka` never uses that annotation:

https://github.com/apache/kafka/blob/trunk/core/src/main/scala/kafka/Kafka.scala#L88 (the line number is a bit different because I have some local changes).

After I commented out that line, I got a similar error somewhere else:

[code]

ht

[2018-04-28 17:17] carymrobbins commented on #10849
@joroKr21 Not sure if this helps, but I wrote a very minimal Generic type class that should be (nearly) a drop-in replacement. In this case we'd have to get rid of ZipWith and FillWith too, but I assume we can just have simpler, noop definition.

[MiniGeneric.scala](https://gist.github.com/carymrobbins/c953345ed5d5c7d0dd952018b1587128)

[2018-04-28 21:47] joroKr21 commented on #10849
Thanks! I forgot to mention it here, but I already added a test over at scala/scala#6573. All we need to trigger the bug is an `Aux` implicit (i.e. type parameters end up in a refinement) depending on a higher-kinded implicit.

[2018-04-28 22:32] som-snytt commented on #10747
I was going to say there should be a test to demonstrate what is supposed to be fixed. Maybe I made that comment on a different issue with a race condition.

I'm not sure this class is worth fixing. I think it's OK to document that it has one well-defined use case and you exceed that use case at your peril.

The error with `values` is that the flag `vsetDefined` is volatile but `vset` is not. A th

[2018-04-29 04:41] NthPortal commented on #10747
I would love to do that, if I knew how xD

One of the issues with `values` is that it *may* return two different but equivalent instances (assuming you don't add values after construction). I don't think this is a *huge* problem, but given that the fix overlaps with fixing other problems caused by adding values after construction, I thought I might as well.

[2018-04-29 05:55] joroKr21 commented on #10854
scala/scala#6421

I guess the problem appears because of path-dependent types and the way for comprehensions are desugared (the second `newWrappedRequest` is actually not the same one you defined - it has passed through a `map` function).

[2018-04-29 10:51] jeroentervoorde commented on #10854
Thanks. I'll confirm the fix once your PR's are merged. I guess the chance of them getting backported to 2.12 is slim?

[2018-04-29 13:50] joroKr21 commented on #10854
I don't know if it will make in 2.13 either. There hasn't been any feedback so far. People are busy with the new collections.

[2018-04-29 17:28] NthPortal opened #10855 "Use Ordering.min and .max to implement IterableOnceOps.min and .max"
For floating point numbers, `Ordering.lteq` and `.gteq` *may* be inconsistent with `Ordering.min` and `.max` (see #10511 and [this comment on scala/scala#6323](https://github.com/scala/scala/pull/6323#issuecomment-370830008)). Consequently, `Ordering.min` and `.max` should be used to implement `IterableOnceOps.min` and `.max`, rather than `Ordering.lteq` and `.gteq`.

[2018-04-29 18:21] LPTK opened #10856 "NoSuchMethodError for field accessor of local class"
The following code generates a `NoSuchMethodError` at runtime when using Scala 2.12 but not when using Scala 2.11:

[code]

Here is the crash reproduced in the REPL:

[code]

[2018-04-29 18:49] LPTK opened #10857 "Using 'lambda' in a method name triggers an assertion failure in the compiler"
The bug looks very arcane, and I did not manage to reduce it to a simple self-contained example. Here is a [permanent link](https://github.com/epfldata/squid/blob/cb305c7b7e7d17c9123c0ec1e823e8aa9a1c300c/core/src/main/scala/squid/quasi/MetaBases.scala#L125-L127) to the place where the problematic method is defined, in my code base.

Try renaming `lamImpl` to `lambdaImpl`. When compiling such code

[2018-04-29 20:48] hrhino commented on #10857
Seems like a manifestation of #2806.

[2018-04-30 03:28] NthPortal commented on #10747
@som-snytt rereading your comment, I don't believe you're correct.

`write(vset, ValueSet.newBuilder ++= vmap.values).result())` happens before `write(vsetDefined, true)` AND
`write(vsetDefined, true)` happens before `read(vsetDefined): true` AND
`read(vsetDefined): true` happens before `read(vset): ?`

Thus, a second thread sees the publication of `vset`, even without `vset` being volatile, due t

[2018-04-30 06:13] retronym opened #10858 "regression in implicit search adapting implicit method with multiple param lists to a curried function type"
2.11:

[code]

2.12

[code]

Regressed with the pre-calculation of `ptFunctionArity` in https://github.com/scala/scala/pull/5875, in which I failed to account for the recursion in `checkCompatibility`.

[2018-04-30 13:25] #1503 closed

[2018-04-30 13:27] #8602 closed

[2018-04-30 13:27] #10722 closed

[2018-04-30 13:32] #10837 closed

[2018-04-30 13:33] #10849 closed

[2018-04-30 14:25] SethTisue commented on #10849
@joroKr21 I want to assign you the ticket as a record of who fixed it, but you'll need to accept my invite to the contributors team first.

[2018-05-02 15:37] szeiger opened #10860 "Should in-place collection updates retain key element identities?"
Should operations like `mapInPlace` and `flatMapInPlace` on mutable collections obey the general rules laid out it https://github.com/scala/bug/issues/10415#issuecomment-368047800, in particular should they retain existing key elements rather than replacing them with equal but not identical elements returned by the mapping function?

While looking at https://github.com/scala/scala/pull/6546 I was

[2018-05-02 16:19] SethTisue commented on #10767
issue: https://github.com/scala/docs.scala-lang/issues/1058
brand new PR: https://github.com/scala/docs.scala-lang/pull/1063

[2018-05-02 16:58] SethTisue commented on #10804
do we have any idea what the underlying cause might be...?

[2018-05-02 20:01] ritschwumm commented on #10860
at first glance i'd say keys are (immutable) _values_, and as such should not even have any other identity than the value themselves, and relying on reference equality in any way is just wrong.

except maybe as an implementation detail safely hidden inside the collection itself where you can  assume the same reference always points to the same value for performance reasons.

[2018-05-03 01:52] Atry commented on #10804
`XtensionQuasiquoteXxx` traits are defined in the super type `QuasiquoteParsers`, which is private. I wonder if it matters.

[2018-05-03 07:57] SethTisue commented on #10575
@retronym is this fully resolved by https://github.com/scala/scala/pull/6362?

[2018-05-03 10:40] janekdb opened #10861 "Scaladoc underline markdown not styled with underline"
When underline markdown is used in Scaladoc 2.12.x the text does not have an underline. The HTML is as expected. It's as if the CSS has turned off the underlining.

# Example
[code]

![image](https://user-images.githubusercontent.com/1123855/39572533-fe03bac4-4ebe-11e8-836a-2e2c0f0c1cc2.png)

**u** tags are present,

![image](https://user-images.githubusercontent.com/1123855/39572593-46a0c18c-4ebf

[2018-05-03 13:14] SethTisue commented on #7991
https://github.com/scala/bug/issues/6680#issuecomment-292414918:

[2018-05-03 13:14] #7991 closed

[2018-05-03 13:53] asarver opened #10862 "http://www-dev.scala-lang.org/ is ranking in search"
Sorry if this is already known (or intended), but http://www-dev.scala-lang.org/ is ranking in google search, and some of the content on the page is a year out of date.

Wanted to bring to someone's attention in case this was a dev environment or something that shouldn't be showing up when someone searches "scala". :)

[2018-05-03 13:55] SethTisue commented on #10862
yes, it's an old testbed.

@fsalvi is this on one of the machines you manage...?

[2018-05-03 13:56] SethTisue commented on #10862
@asarver THANK YOU for calling our attention to this.

[2018-05-03 14:19] fsalvi commented on #10862
I added a redirect to the main website. It should disappear soon from search engines...

[2018-05-03 14:27] #10862 closed

[2018-05-03 14:30] asarver commented on #10862
When will the redirect go in? The link is still accessible for me

[2018-05-03 14:35] Jasper-M commented on #10862
You might have to do a hard refresh (bypass the cache) to see it.

[2018-05-03 14:36] asarver commented on #10862
yup, good call. Thanks!

[2018-05-03 17:28] szeiger commented on #10860
Also pinging @mkeskells and @Ichoran who may have opinions on this.

[2018-05-03 19:09] Ichoran commented on #10860
I don't have any strong opinion, mostly because `map(k) = v` and `map += (k, v)` suggest different behaviors, yet are supposed to be identical.

I do think that `Set` and `Map` should follow the same rule.

[2018-05-03 19:31] m-sp commented on #4489
I'd like to pick that up.
seems that *a* is already used by [abstract types](https://github.com/scala/scala/blob/2.13.x/src/scaladoc/scala/tools/nsc/doc/html/resource/lib/abstract_type.svg)

so how about @ with a slightly lighter shade of green?

![image](https://user-images.githubusercontent.com/3969000/39596343-5162cea0-4f12-11e8-9b82-4a10b4ccaa8f.png)

[2018-05-03 19:41] adriaanm commented on #4489
Looks good! There’s plenty of potential for refining the scaladoc UI.
Improvements most welcome. For example, with my recent work on moving us to
D3-based rendering for the diagrams, I set the visuals back a bit there.
On Thu, May 3, 2018 at 21:31 Matthias Sperl <notifications@github.com>
wrote:

[2018-05-03 22:48] NthPortal commented on #10860
While I think it's a decent idea to have the library behave consistently, I'm not convinced that this behaviour should be specified. FWIW, Java specifies keeping the old one (for [`Set`](https://docs.oracle.com/javase/8/docs/api/java/util/Set.html#add-E-); I can't find it for `Map`).

[2018-05-04 01:08] howtonotwin commented on #10856
This can be simplified to some more basic types:

[code]

And the eerie thing is that adding a type signature fixes it:

[code]

[2018-05-04 05:13] lrytz commented on #10717
Just for reference; ASM 6.1.x has an issue that might affect us (https://gitlab.ow2.org/asm/asm/merge_requests/160), which will be fixed only in 6.2

[2018-05-04 09:55] Jasper-M commented on #10861
[It looks like it.](https://github.com/scala/scala/blob/v2.13.0-M4-pre-20d3c21/src/scaladoc/scala/tools/nsc/doc/html/resource/lib/index.css#L108) My CSS is a bit rusty, but an extra `u { text-decoration: underline; }` might do the trick.

[2018-05-04 22:08] Robert-Morewood opened #10863 "Inconsistent hashMap with mapValues"
The following **mapValues** snippet might be expected to return **true**:
`val aMap = Map(0->0).mapValues(y => ((x: Int) => x + y));
aMap.hashCode == aMap.hashCode`
However it returns **false** where I have tested it:
- Scala 2.11.8 (Java HotSpot(TM) 64-Bit Server VM, Java 1.8.0_131)
- Scala 2.12.5 (Java HotSpot(TM) 64-Bit Server VM, Java 1.8.0_112)
(A trivialized example of a problem that did aff

[2018-05-04 22:53] NthPortal commented on #10863
(@Robert-Morewood I think you need a line break before `aMap.hashCode == aMap.hashCode`; as it is now, it's not syntactically valid)

[2018-05-04 22:54] NthPortal commented on #10863
For some reason, the lambda in the map seems to be generated anew each time you do something with the map

[2018-05-04 23:02] hrhino commented on #10863
This is probably another consequence of `mapValues` being lazy: it _does_ make a new closure every time

[2018-05-05 00:58] Robert-Morewood commented on #10863
@NthPortal Thanks for the syntax correction!  I had a semi-colon in my test code...

@hrhino I suspect that mapValues is misreprented.  That lazy evaluation effectively makes it a View rather than a Map, but hashCode is treating it as the Map it claims to be.  If we instead do:
`val aMap = Map(0->0).mapValues(y => ((x: Int) => x + y)).view; aMap.hashCode == aMap.hashCode`
then hashcode works.

[2018-05-05 02:18] som-snytt commented on #10863
That's an interesting spin on an old chestnut.

The canonical issue is https://github.com/scala/bug/issues/4776.

There was just https://github.com/scala/bug/issues/10663 about hashCode when converting.

I was a little surprised that converting doesn't force; in the sense that nothing surprises me.

[code]

[2018-05-05 11:02] martijnhoekstra commented on #10850
@som-snytt way to un-minimize my test-case.

The original issue was, I believe, some variation of

[code]

resulting in
[code]

semi-minimized to `val h = Function.uncurried _` compiling, and selecting an overload seemingly arbitrarily. Close and re-open with the other test-case? Or is this actually the same "works as expected (but only by people who know how it actually works, which isn't entirel

[2018-05-05 15:05] NthPortal commented on #10863
A cheap fix/mitigation would be to tweak the `equals` method to try `eq` first. It doesn't seem to me like that should break compatibility, but I'm not an expert in that area

[2018-05-05 18:16] som-snytt commented on #10863
@NthPortal I updated the title to help us recall what we were talking about, in case it comes up later.

[2018-05-06 05:22] McBrainy opened #10864 "Small doc error in macro Context typecheck method"
For the `scala.reflect.macros.blackbox.Context` class [typecheck method][blackbox-context], the doc says the default for the `mode` param is `EXPRmode`, but the in-doc signature says `TERMmode`. As far as I can tell, `EXPRmode` doesn't exist (anymore?).

This appears in both the [blackbox][blackbox-context] and [whitebox][whitebox-context] docs.

[blackbox-context]: https://www.scala-lang.org/api/

[2018-05-06 06:37] eed3si9n commented on #10717
On JDK 10 I am getting the same while compiling Zinc, which recently added `List("-opt-inline-from:<sources>", "-opt:l:inline", "-Yopt-inline-heuristics:at-inline-annotated")` https://github.com/sbt/zinc/pull/492

[2018-05-06 13:42] hrhino commented on #10864
Nice catch! Internally, what the macro API calls `TERMmode` is in fact `EXPRmode`, so that's probably how the typo got introduced. (I don't know and can't figure out why it's different in the API layer.)

Would you like to make a pull request to scala/scala correcting it?

[2018-05-06 13:52] heathermiller commented on #10864
Yes! A PR would be most welcome!

@xeno-by, please jump in and let us know if there's anything we should be aware of about these APIs that we're overlooking?

[2018-05-06 22:05] McBrainy opened #10865 "macro Context typecheck fails to detect co/contravariance issues in class declarations"
In a whitebox or blackbox macro with `c: Context`, `c.typecheck(c.parse("class Foo[+A](var a: A)"))` fails to detect the covariant type in invariant position. I would expect it to report a type error, but instead it returns without error. Here is a REPL session that illustrates this:

[code]

As you can see, evaluation reaches `???` instead of throwing an exception at `typecheck`. However, the cla

[2018-05-07 01:53] hrhino commented on #10865
This is a duplicate of #8724, from back in 2014. The macro `typecheck` method only runs the typechecker; variance checks (and others, see that ticket) are done later on in the `refchecks` phase, which the macro framework doesn't run.

If you want a somewhat gnarly workaround (for the scalatest issue), you can try using `c.eval` on that tree, which compiles it into an in-memory filesystem, loads, a

[2018-05-07 01:53] #10865 closed

[2018-05-07 01:56] hrhino commented on #10865
To elaborate by way of example:

[code]

[2018-05-07 07:30] jroper commented on #2034
Just to point out that the "this isn't critical because it's just pretty printing" argument is false, the implementation of `Class.isAnonymousClass` invokes `Class.getSimpleName`:

[code]

I guess it's fixed in JDK9, but I don't see a rush of people upgrading.

[2018-05-07 13:10] yuxuanchiadm opened #10866 "Type pattern for higher kind type gives unchecked warning"
[code]
Java: 8
Scala: 2.12.6

[2018-05-07 13:16] yuxuanchiadm opened #10867 "Type pattern for higher kind type incorrectly inferred type of type variable pattern"
[code]

[2018-05-08 03:53] McBrainy commented on #10865
Thanks, Harrison. `eval` should be good enough for my use case.

[2018-05-08 12:50] hgiddens opened #10868 "Private implicit members of companion imported but not found by implicit search"
Private implicit members of an object, when imported from the top level, _are_ visible in the companion class but _aren't_ found by implicit search in that companion class.

[code]

I can reproduce this with 2.11.11, 2.12.6, 2.13.0-M3, and on scastie.scala-lang.org. Apologies if this is intentional behaviour, I had a bit of a read through the SLS but couldn't find covering this.

[2018-05-08 13:06] hrhino commented on #10868
`value` is accessible without a prefix inside `butNotImplicitly`, with the top-level import, so SLS 7.2¶3 implies that it should work.

[2018-05-08 13:21] Andrei-Pozolotin opened #10869 "Macro: switch v 2.12.4 -> v 2.12.6 breaks c.info"
the following snippet works on v 2.12.4  and fails on v 2.12.6

https://github.com/random-maven/scalor-maven-plugin/blob/master/demo/src/macro/scala/meta/MacroContext.scala

[code]
with trace

https://travis-ci.org/random-maven/scalor-maven-plugin/jobs/376348956#L4285

[code]

[2018-05-08 13:29] olafurpg commented on #10869
From the logs

[code]
Could any of those plugins be the cause?

[2018-05-08 13:45] hrhino commented on #10869
I suspect it's related to scala/scala#6240.

[2018-05-08 14:08] SethTisue commented on #10869
cc @som-snytt

[2018-05-08 14:18] Andrei-Pozolotin commented on #10869
I made a clean case, with no plugins:
https://github.com/random-maven/scalor-maven-plugin/tree/develop/src/it/test-macro

it produces the same trace:
[code]

[2018-05-08 16:07] som-snytt commented on #10869
The workaround is to avoid `-Xmaxerrs` on 2.12.5 and 2.12.6.

[2018-05-08 16:44] som-snytt commented on #10869
@adriaanm I see that `info` is missing from `reflect.internal.Reporter`, though it is still present in `nsc.reporters.Reporter`, where it is final. Hence it is not forwarded by `ForwardingReporter`. Is it intended to simply remove `info` in favor of `echo`? Or to maintain the distinction between a "forced" info message and mere chatter?

[2018-05-08 17:40] som-snytt commented on #10869
The other workaround is to set `-Xmaxerrs 100` or more, the default; that's the backdoor.

The PR fixes `nsc.reporters.LimitingReporter`; the other possible item is to give macro's reporter a pass in `Global.reporter_=`. That may be the anon class in `JavaUniverse.reporter`?

[2018-05-09 09:43] xuwei-k opened #10870 "large string interpolation cause StackOverflowError since Scala 2.12.5"
https://github.com/scala/scala/pull/6093

[code]

[code]

[code]

full stacktrace ↓

<details>
$ scalac Test.scala
error: java.lang.StackOverflowError
	at scala.collection.immutable.Nil$.equals(List.scala:433)
	at scala.reflect.internal.AnnotationInfos$Annotatable.dropOtherAnnotations(AnnotationInfos.scala:61)
	at scala.reflect.internal.AnnotationInfos$Annotatable.hasAnnotation(AnnotationInfos.sca

[2018-05-09 09:46] #5651 closed

[2018-05-09 17:48] szeiger commented on #10836
We had `scala.collection.mutable.ArraySeq` which has been subsumed by `scala.collection.mutable.WrappedArray`. We could call it `scala.collection.mutable.ArraySeq` instead and rename `ImmutableArray` to `scala.collection.immutable.ArraySeq`. This would gives us a nice symmetry that shows that they are essentially the same (except for the pretend immutability).

[2018-05-09 19:39] szeiger commented on #10851
If we want `WrappedArray` to allow boxed and unboxed representations we need to drop the element types in `elemTag` and `array`, at least in `WrappedArray`. They are probably safe to keep in the specialized subclasses.

This one per se is more of a puzzler than a bug:
[code]
`Array(1): Array[Any]` creates an `Array[Object]` (not an `Array[Int]` cast to `Array[Any]`). If you cast the `WrappedArray`

[2018-05-09 21:39] som-snytt commented on #10870
Workaround:

[code]

[2018-05-10 10:25] vveider opened #10871 "Scala 2.10 with JDK9 compilation error"
Hi, Scala dev team!

I'm trying to compile [Apache Ignite #master](https://github.com/apache/ignite) under JDK9 and one of it's modules (**ignite-scalar_2.10**) is categorically refuses to do so.

I run
```mvn install -U -Pall-java,all-scala,licenses,lgpl,examples -DskipTests -Dmaven.javadoc.skip=true -pl :ignite-scalar_2.10 -am```
and have the following problems:
[code]

[2018-05-10 13:47] #8299 closed

[2018-05-10 13:56] kamilduda commented on #10864
Hey, I'd like to look into this as my first contribution :smiley:

[2018-05-10 14:07] hrhino commented on #10864
Thanks! (you don't need to ask 😉)

Feel free to swing by [scala/contributors](https://gitter.im/scala/contributors) if you have any questions, or just ask here!

[2018-05-10 18:56] kamilduda commented on #10864
Ready for review: scala/scala#6613

[2018-05-10 23:13] odersky commented on #10836
That looks like a good plan of action.

[2018-05-11 05:03] kamilduda commented on #10864
Retargeted to `2.12.x` branch

[2018-05-11 08:02] xuwei-k opened #10872 "{Stream, LazyList}.iterate(_)(_).take(_).size is toooooooooo slow (exponentially) in Scala 2.13.x"
[code]

[code]

[2018-05-11 08:25] julienrf commented on #10872
I think this has been fixed by https://github.com/scala/scala/pull/6495

[2018-05-11 08:26] xuwei-k commented on #10872
Oh, sorry 🙇

[2018-05-11 08:26] #10872 closed

[2018-05-11 13:19] hedefalk commented on #10347
Could I ask where? I'm looking, but can't seem to find it.

I really want to enable warnings for unused explicit params in a pretty large piece of code. I immediately struck this case though which to me is just a false positive. We seem to have quite a few of these. I do not like the idea of using a deprecation warning for this since it's just not semantically correct. Its not deprecated, just the

[2018-05-11 13:44] SethTisue commented on #10347
https://github.com/scala/bug/issues/7934

Sam's suggestion at https://github.com/scala/bug/issues/10790 makes it a little nicer, that's what I would suggest for now

[2018-05-11 13:57] hedefalk commented on #10347
@SethTisue Thanks!

[2018-05-11 14:38] som-snytt commented on #10347
The other workaround:
[code]

[2018-05-11 19:26] SethTisue commented on #3220
this has been raised again at https://ashannon.us/articles/scala-comment-exec.html

I think if we went around on this again in 2018, the outcome might be different than the 2010 outcome. personally, I'd support a deprecate-then-remove on this.

[2018-05-11 19:32] Milyardo opened #10873 "REPL does not consistently process unicode characters in comments."
[code]

However in the REPL:

[code]

Nothing prints.

[2018-05-11 19:33] SethTisue commented on #10873
for those who haven't seen it before, the ticket on comments and unicode escapes is https://github.com/scala/bug/issues/3220

[2018-05-11 19:38] hrhino commented on #10873
repl's just too clever by half:

[code]

[2018-05-11 19:44] hrhino commented on #10873
ah, my (ancient) `quick` was 2.13... 2.12 repl is as baffled as I am.

[code]

[2018-05-11 19:57] hrhino commented on #10873
One more datum:

[code]

so that bug is in the scary line-chopping logic in `requestFromLine`. (No, I'm not waiting for sbt, why do you ask...)

[2018-05-11 19:58] som-snytt commented on #3220
I didn't read the long parts, but `\\` is the dual of `//`

[code]

[2018-05-11 19:58] #10864 closed

[2018-05-11 20:00] SethTisue commented on #10864
@kamilduda I've sent you an invite to https://github.com/orgs/scala/teams/contributors/members, if you reply here and tell me you accepted it, I'll assign this ticket to you, for the record

[2018-05-11 20:14] kamilduda commented on #10864
@SethTisue thanks! And sure, I accept it

[2018-05-11 20:18] martijnhoekstra commented on #3220
What's the process here @SethTissue? SIP? It needs a spec change and I guess a deprecation cycle.

[2018-05-11 20:27] Ichoran commented on #3220
I think it should just be done away with, with no deprecation, and only a migration tool.

As if comments weren't enough of a problem, there are a variety of other surprising behaviors and undesirable possibilities.

Problems include:

First, the feature enables difficult-to-understand variants of common code patterns:

[code]

None of these add any value at all.  If they are there, it's probably

[2018-05-11 21:16] SethTisue commented on #3220
When something is a lot of work to implement, then involving the SIP committee first can save work, if something is just going to end up being rejected. But it also costs time.

This one probably isn't much work to implement, so I'd suggest that someone simply submit a pull request (and yes, best if it includes a spec change). If the pull request becomes contentious, a SIP might eventually be aske

[2018-05-11 21:19] SethTisue commented on #3220
Calling attention to the issue on https://contributors.scala-lang.org can help rally support

[2018-05-11 21:26] SethTisue commented on #3220
fyi @adamdecaf

[2018-05-11 22:16] som-snytt commented on #3220
Is there a label for `won't fix without a fight`?

[2018-05-12 20:50] adamdecaf commented on #3220
Thanks for bumping the bug related to this. I couldn't quite find one. As @Ichoran pointed out unicode escapes often cause more problems than they fix and as we've seen can lead to problematic code.

I'll help where I can to get this pushed through. Just let me know!

[2018-05-12 21:53] Ichoran opened #10874 "mkString is ambiguous on Map"
[code]

(Note that the `ChampHashMap` name shouldn't leak out either.)

[2018-05-12 21:59] Ichoran opened #10875 "zip and friends are ambiguous on BitMaps"
Example with mutable bitmap:

[code]

[2018-05-12 22:03] Ichoran opened #10876 "Specialized hash maps lose their type with +"
It is deprecated, but this is still breaking behavior:

[code]

[2018-05-12 22:17] Ichoran opened #10877 "Array does not tolerate negative elements-to-remove in `patch`"
Most collections don't mind if `patch` has negative values to remove (it's just treated is zero).  Array now is upset:

[code]

[2018-05-13 03:04] NthPortal commented on #10874
I think it was decided that the implementing type should be printed in its string representation (just like `List` and `Vector` already do)

[2018-05-13 11:09] szeiger opened #10878 "Stream iterator is not lazy enough"
The bug in https://github.com/scala/scala/pull/6606#discussion_r186724524 is caused by `nextOption` on a `Stream` forcing the element *after* the one it returns. `nextOption` is implemented in terms of `iterator` which has the same problem. We need to revive the `StreamIterator` implementation from the old collections library which exists specifically to prevent this.

[2018-05-13 22:20] julienrf opened #10879 "flatMapping and collecting BitSets to non-Ints should return a SortedSet"
scala/scala#6603 fixes the behavior of `map` but I guess we should do the same with `flatMap` and `collect`.

[2018-05-14 06:55] vveider commented on #10871
@SethTisue, if it is duplicate, then can you advise how should I set scala compiler options from maven?

[2018-05-14 06:58] martin-g commented on #10871
@vveider Does [this](https://github.com/wicketstuff/core/blob/4fd43efb2356f46ac23b9a0af337f19e263e183a/scala-extensions-parent/pom.xml#L118-L133) example help you ?

[2018-05-14 07:26] vveider commented on #10871
@martin-g, thanks, that worked!
@SethTisue, FYI, {{-nc}} is unrecognized option, also only {{-nobootcp}} is required for successful compilation.

[2018-05-14 09:08] dsarosi opened #10880 "Upgrading to Scala 2.12.6 from 2.12.4 breaks Scaldi injection."
When upgrading our Play projects to Scala 2.12.6 from 2.12.4, scaldi-play produces serious errors.  Could this be a regression in Scala macros?

[code]

[2018-05-14 09:12] martin-g commented on #10880
@dsarosi Did you also update your Java version ? There was a change in Java that led to similar problems for pure Java libraries too.

[2018-05-14 12:16] #10878 closed

[2018-05-14 12:43] martijnhoekstra commented on #3220
https://contributors.scala-lang.org/t/escaping-unicode/1894

[2018-05-14 14:11] #10836 closed

[2018-05-14 14:20] lrytz opened #10881 "Deprecate some operations in StringOps"
[code]

See https://github.com/scala/scala/pull/6565#issuecomment-388377285

[2018-05-14 15:37] plokhotnyuk opened #10882 "Operators for BigDecimal (+, -, %, /%, quot, etc.) don't use value of mc (MathContext)"
It can lead for security problems in open systems, which use these operators without checking of scale of received BigDecimal values.

Following code can grab CPU core for several minutes and then will throw an out of memory error:
[code]

W/A is using methods of underlying java.math.BigDecimal, like:
[code]

[2018-05-14 16:15] #10845 closed

[2018-05-14 16:15] #10844 closed

[2018-05-15 02:15] aturner-tvpage commented on #10276
I just saw this error again today myself, but without to OOM exception

[2018-05-15 08:39] xuwei-k opened #10883 "Stream#take evaluate n + 1 element since Scala 2.13.0-M4"
[code]

[code]

[2018-05-15 09:13] julienrf commented on #10883
Maybe this has been fixed by https://github.com/scala/scala/pull/6636 ? Not sure…

[2018-05-15 09:35] eleaar opened #10884 "LinkedHashMap.keySet loses iteration order when manipulated"
This is a follow up to: https://github.com/scala/bug/issues/4954, but I'm creating a new issue for better visibility as the problem is still (again?) present in scala 2.12.6.

The iteration order of `LinkedHashMap.keySet` breaks when the set is manipulated. Here is an example of a failing test:

[code]

I think the culprit is `scala.collection.mutable.LinkedHashMap#DefaultKeySet`, which do not red

[2018-05-15 10:08] SethTisue commented on #10884
Does the problem still exist in Scala 2.13.0-M4? (Which just hit Maven Central minutes ago.)

[2018-05-15 10:27] julienrf opened #10885 "Make `Range` methods `final` for performance"
(@sjrd, https://github.com/scala/scala/pull/6633#issuecomment-388572053)

[2018-05-15 10:33] eleaar commented on #10884
The problem still exists in `2.13.0-M3`, but no longer exists in `2.13.0-M4`.

I see there is a `LinkedHashSet#LinkedKeySet` class in `2.13.0-M4` which does precisely what it should.

Great work guys! Technically, this may be a new record in bug resolution time :D

[2018-05-15 10:37] SethTisue commented on #10884
I'm going to close the ticket since it's fixed in M4, but regardless, we're still accepting bugfixes for the 2.12.x series. (Whether this particular bug is actually even fixable for 2.12.x in a sufficiently safe and binary compatible manner, I don't know offhand.)

[2018-05-15 10:37] #10884 closed

[2018-05-15 10:49] xuwei-k commented on #10883
Maybe scala/scala#6636 fixed only LazyList. not Stream

[code]

[2018-05-15 20:34] Sciss opened #10886 "Import alias loses setter"
I would expect either of the following two to work:

[code]

(tested with Scala 2.12.6)

[2018-05-16 03:45] lihaoyi opened #10887 ""Deep" target-typing doesn't work in overloaded methods"
This fails to compile (`Ammonite Repl 1.1.0-14-037b8eb Scala 2.12.4 Java 1.8.0_162`):

[code]

But this succeeds:

[code]

And so does this:

[code]

Not sure what the policy for how target-typing for overloaded methods is meant to work, but this behavior is internally inconsistent with itself:

- If shallow target-typing is meant to work for nested things like the tuples in example (2), and non-d

[2018-05-16 04:40] lihaoyi commented on #10887
FWIW this is the current (gross-ish) workaround I'm using:

[code]

[2018-05-16 05:46] lihaoyi opened #10888 "Error message for Java "package is not a value" is incorrect in 2.12.6"
2.12.4

[code]
2.12.6

[code]

`java.lang` is not a java class, but a package: the 2.12.4 error message was correct and the 2.12.6 error message is incorrect, making this a regression.

Notably, this broke the Ammonite test suite during the upgrade to 2.12.6 (https://github.com/lihaoyi/Ammonite/commit/2be97144fb8404059873c4d1c2de7ebd716c5753#diff-a269801311108bc1ce234cce52a424b3R17). I can work ar

[2018-05-16 05:47] lihaoyi commented on #10888
This appears to be caused by https://github.com/scala/scala/commit/55da02d3c5b381e47cabd1acaffe489d4305748b#diff-05c273d837c49f8b6278b19592a541beR756, @hrhino

[2018-05-16 23:32] hrhino commented on #10888
Good ol' Ammonite, keeping us honest. First it gives the REPL some friendly competition, now it's vetting our errors and warnings. I hope we don't get to the point where, after a green community build run, I have to ask Seth "okay Seth, pretty please kick off an Ammonite build?". I just finished reading up on dbuild for self-sufficiency purposes; guess it's time to read up on Mill, too.

[2018-05-17 00:58] som-snytt commented on #10888
You'll have to read up on Grinder, the Mill-based community build.

[2018-05-17 12:52] lrytz opened #10889 "Nested generic class requires explicit outer parameter when used from Java"
[code]

[code]

It compiles when un-commenting the `l` constructor argument.

If we define O in Java:
[code]

It seems the fact that we emit a generic signature is tripping up javac.

Classfile from Scala
[code]

Classfile from Java

[code]

[2018-05-17 13:07] lrytz commented on #10889
It seems we need to special case constructors in signature generation.

The MethodType we assign to constructor has the class as return type, but in bytecode the return type is `void`. So we need to modify that MethodType before generating the signature.

We also need to drop the `outer` parameter from the method type. With a slight modification:

[code]
currently gives
[code]

The corresponding J

[2018-05-17 16:41] mrdziuban commented on #10035
I'm running into this as a result of a macro I wrote to perform type class derivation. Are there any known solutions or workarounds?

[2018-05-17 19:47] som-snytt commented on #10035
@mrdziuban

[code]

[2018-05-18 01:45] jroper commented on #10889
Will this fix emit code that is binary compatible with the old code? Of course it won't be source compatible.

[2018-05-18 04:50] dsarosi commented on #10880
@marting-g I used Java 8 version 171 on Mac OS.

[2018-05-18 05:10] jroper commented on #10889
Disregard my previous comment, I got around to running my code, and found that the work around to make javac work of explicitly passing `this` emits code that is not binary compatible with the byte code. That probably is a javac bug, it should either fail compilation or emit valid byte code, it's doing neither:

[code]

[2018-05-18 05:11] jroper commented on #10889
Although I guess a good question is, if you fix this will it break Scala code that does successfully invoke the constructor? I'm guessing so.

[2018-05-18 07:27] martin-g commented on #10880
@dsarosi https://github.com/scala/bug/issues/10835 - this is the issue I am aware of. It also affected some Java libraries (https://twitter.com/rafaelcodes/status/989772636979838981). That's why I've asked whether you also updated (maybe automatically) your Java together with Scala.

[2018-05-18 11:38] SethTisue commented on #10833
@milessabin fixed by the PR, yes?

[2018-05-18 11:38] #10833 closed

[2018-05-18 13:30] dsarosi commented on #10880
@martin-g, it also happened with Java 8 version 144 on Mac OS.  I upgraded to version 171 in hope that it would fix the bug.

[2018-05-18 13:43] dsarosi commented on #10880
@hrhino

Having a code sample is kinda tough as it's part of a huge stack.  Other people have reported the same problem under the [scaldi-play issue](https://github.com/scaldi/scaldi-play/issues/36) that I opened and I have also posted it on [stackoverflow](https://stackoverflow.com/questions/50285563/play-2-6-13-having-trouble-running-with-scaldi).

What I could do is upgrade the [play-scaldi-exa

[2018-05-18 16:04] etorreborre opened #10890 "Access interpolated expression text in interpolated strings"
In [specs2](https://github.com/etorreborre/specs2/blob/master/core/shared/src/main/scala/org/specs2/specification/create/S2StringContext.scala#L203) we use string interpolation to "inject" tests to execute inside an interpolated string. When those tests are so expressive that the preceding text is redundant, we use the expression text as [a description of the test itself](https://etorreborre.githu

[2018-05-18 16:05] hrhino commented on #10890
I think that's not true; Dotty's positions are all range right now.

[2018-05-19 00:54] pshirshov opened #10891 "2.12.6: random IllegalArgumentException somewhere in nsc.backend.jvm.CodeGen"
Since I've migrated to 2.12.6 I've started getting these exceptions randomly while building on java 10:

Same codebase builds fine on Java 8.

I can't make a stable testcase, sorry.

[code]

[2018-05-19 00:57] hrhino commented on #10891
This looks like a likely duplicate of #10717. Are you using the optimizer?

[2018-05-20 02:37] pshirshov commented on #10891
I do. This way:
[code]

[2018-05-20 13:39] hrhino commented on #10891
Try disabling those options when compiling on Java 10; it should stop the error you're getting. 2.12.7 should have a fix for #10717, and you'll be able to build on Java 10 with the optimizer then.

[2018-05-20 13:39] #10891 closed

[2018-05-20 16:27] etorreborre commented on #10890
@hrhino sorry for the misunderstanding. In any case it would be nice if those strings were accessible directly rather than doing the pos searching I'm doing [here](https://github.com/etorreborre/specs2/blob/master/core/shared/src/main/scala/org/specs2/specification/create/S2Macro.scala#L14).

Regarding `-Yrangepos` issues, I don't remember having them directly on the `s2` macro but I remember othe

[2018-05-20 23:10] klaeufer commented on #10709
Thanks a lot, this has been fixed as of 2.12.5. Is someone from the Scala library team going to close the issue?

[2018-05-21 00:42] #10709 closed

[2018-05-21 07:36] #10888 closed

[2018-05-21 13:16] dsarosi commented on #10880
@hrhino I've created a code sample for you to try it.  Just execute `sbt run` then run in your browser.  The same sample works fine with Scala 2.12.4.

https://github.com/dsarosi/scaldi-play-example/tree/play-2.6.x-scala-2.12.6

Please make sure to checkout the branch play-2.6.x-scala-2.12.6.

[2018-05-21 13:30] dwijnand opened #10892 "Iterator#toString shouldn't side-effect"
Here's an example where the re-ordering the evaluation of `toString` affects the behaviour of iterators:

[code]

It was brought up on Gitter: https://gitter.im/scala/contributors?at=5b02b656e0b50c2d05dca187

[2018-05-21 13:33] dwijnand opened #10893 "Multiple statements in the REPL should evaluate toString in the same order"
The outputs of this should be the same:

[code]

This is a generalisation of the original `Iterator` issue reported in #10892, and stems from the same Gitter conversation: https://gitter.im/scala/contributors?at=5b02b656e0b50c2d05dca187

[2018-05-21 13:34] SethTisue commented on #10892
even without considering the REPL context specifically, I think it's a bad thing, essentially a bug, that our `Iterator#toString` calls `hasNext` at all, which might need to consume arbitrary amount of data in order to return an answer.

so 👍 to just printing `<iterator>` or some such

there are no Java Joneses to keep up with here:

[code]

[2018-05-21 13:39] SethTisue commented on #10893
I'm fine with the existing behavior, as discussed on Gitter. It seems normal to me that `toString` only gets called at the end when all the bindings are being printed.

But I'd also be fine with an implementation that interleaves evaluation and printing, too. that would make e.g. `val x = 1; while(true) { }` print `val x: Int = 1` before hanging, which seems nice.

[2018-05-21 13:42] hrhino commented on #10880
Thanks for setting that up, @dsarosi! That reliably crashes for me.

This isn't a 2.12.6 regression in the sense that it's doing anything wrong; 2.12.6 simply adds that call to `Parameter.getParameterizedType`, which is choking on a bad classfile in Play:

[code]

The constructor of this class has two parameters, according to its descriptor, but only one shows up in its signature.

Java does somet

[2018-05-21 13:44] hrhino commented on #10880
I'll take a poke at this this week. It should be relatively easy to fix, however, it will probably need to wait until Play re-publishes with 2.12.7. Going to assign it to that milestone to make sure that it gets fixed.

[2018-05-21 13:46] dwijnand opened #10894 "Iterator#hasNext should be documented"
There's detail in the class docs (v2.13.0-M4) about `Iterator#hasNext`, but nothing on the method itself. Should there by at the very minimum a reference?

[2018-05-21 13:49] hrhino commented on #10893
[Gitter link](https://gitter.im/scala/contributors?at=5b02b656e0b50c2d05dca187), for posterity.

[2018-05-21 13:50] dwijnand commented on #10893
I'm ambivalent on whether `val x: Int = 1` should print or not, just that its RHS `toString` is evaluated at the right time.

So generalising I think the following property should be true:

* multiple statements on the same line, i.e `a; b; c`,
* should mean the same thing as on multiple-lines, i.e `a\nb\nc`,
* and viceversa.

[2018-05-21 13:52] dwijnand commented on #10893
and by `toString` there I mean "string output" (to account for the actual use of `replStringOf`).

[2018-05-21 13:55] dwijnand commented on #10893
@adriaanm given your recent 2.13 REPL ventures, (1) WDYT of this ticket? and (2) do you think you could mentor on how to go about fixing this for 2.13.0-M5?

[2018-05-21 14:40] xuwei-k opened #10895 "change Either subclasses type parameters?"
We can delete some `asInstanceOf` if change type parameters of `scala.util.Left` and `scala.util.Right`.

[code]

[code]

Are there any advantages the current definition?

https://github.com/xuwei-k/scala-1/commit/01c6b85a3f38a71b0f08fef7859f969380341f86

[2018-05-21 14:52] SethTisue commented on #10895
related: https://github.com/scala/scala/pull/6329

[2018-05-21 16:56] hrhino commented on #8562
Fixed by scala/scala#6423

[2018-05-21 17:46] eed3si9n commented on #10895
If we are considering source compatibility breakages, what do you guys think about hiding `Left` and `Right` as types and leave in `object Right` whose `apply` returns `Either[Nothing, B]`? This would be analogous to `def ::` returning `List[A]` and being able to pattern match using `::`.
Thankfully there are no methods specific to `Left` or `Right`.

[2018-05-21 17:56] nau opened #10896 "StackOverflow on type self application"
It's probably a known issue but I couldn't find it.
Scala 2.12.4, Scala 2.12.6.

    object Bug {
      type S[A[_]] = A[A[Int]]
      type F[A] = S[S] // StackOverflow
      // type F = S[S] // this complains: cyclic aliasing or subtyping involving type S
    }

causes

    java.lang.StackOverflowError
	at scala.reflect.internal.Types$SimpleTypeProxy.baseType(Types.scala:160)
	at scala.reflect.in

[2018-05-21 20:36] hrhino commented on #10896
The bottom of the stack trace:

[code]

[2018-05-21 21:02] som-snytt commented on #10893
@dwijnand What you're looking for here:
[code]
Probably the `silent` command itself needn't actually operate silently. It's a little creepy.

[2018-05-21 21:08] som-snytt commented on #10893
Maybe the feedback is behind a flag because it means "batch mode" rather than "my toString is side-effecting."
[code]

[2018-05-21 21:31] nau commented on #10896
Also reproduces on 2.11.8 and 2.10.7

[2018-05-21 22:15] SongWithoutWords opened #10897 "Command invoked with sys.process behaves differently than when invoked in shell (both bash and fish)"
I encountered this issue when trying to invoke `emacs --eval '(ediff "file1" "file2")'`, from Scala in order to diff failed test results against the expected result.

The issue can be reproed using the following minimal example:

[code]

[2018-05-21 22:27] SongWithoutWords commented on #10897
The message `*ERROR*: End of file during parsing` from Emacs indicates that there is an unmatched opening parenthesis, so it's almost as if the command line is modified in some way before it is invoked.

[2018-05-21 22:45] som-snytt commented on #10892
How about something like:
[code]

[2018-05-21 23:13] SethTisue commented on #10892
@som-snytt I'd rather `Iterator` were kept simple... if someone wants to know if the iterator is empty or not, let them call `hasNext` themselves

[2018-05-21 23:15] SongWithoutWords commented on #10897
This issue occurs also with `Process("emacsclient --eval '(+ 4 5)'").!!` and `Process("emacsclient --eval '(+ 4 5)'").lines`, and in both sbt builds and the scala interpreter.

[2018-05-21 23:17] SethTisue commented on #10897
no shell is involved with `sys.process.!`, by design. that means shell-specific concepts like quoting don't apply. to separate arguments, do e.g. `Seq("emacsclient", "--eval", "(+ 4 5)").!`. the same is true of the underlying Java API

[2018-05-21 23:17] #10897 closed

[2018-05-21 23:19] #7027 closed

[2018-05-21 23:19] SongWithoutWords commented on #10897
thank you @SethTisue , works like a charm

[2018-05-21 23:28] SethTisue commented on #7027
`sys.process` doesn't aim to offer shell features.

[2018-05-22 00:06] som-snytt commented on #10892
@SethTisue That's OK, [this PR](https://github.com/scala/scala/pull/6668) is only 2.12.  Strawman got its side-effecting `toString` restored in February.

[2018-05-22 06:04] dwijnand commented on #10893
I'd like the evaluation of toString to happen at the right time, but I don't want to lose results printing.

[2018-05-22 08:32] dwijnand commented on #10895
What am I not understanding? AFAICT `Right.apply` switching from returning `Right` to `Either` is a source compatibility breakage.

[2018-05-22 09:18] SethTisue commented on #10895
I'm going to close this as design discussions should happen on https://contributors.scala-lang.org, scala/bug is for bugs. there is no bug here.

[2018-05-22 09:18] #10895 closed

[2018-05-22 10:31] dwijnand commented on #10895
I've bootstrapped the conversation on the forums: https://contributors.scala-lang.org/t/change-either-subclasses-type-parameters/1918.

[2018-05-22 16:32] szeiger commented on #10412
The problem gets worse when the object contains non-serializable state or when you use serialization proxies and circular dependencies (in which case a proxy of the wrong type can leak out into other deserialization code).

There does not seem to be an easy way to avoid this problem in a generic way (i.e. in a trait which could be implemented by multiple objects). It can't extend `Externalizable`

[2018-05-23 00:18] klaeufer opened #10898 "Collections are missing scan equivalent of reduce (Haskell's scanl1)"
This is a variant of `scanLeft` that has no starting value argument, requiring the collection to be nonempty.

[code]

It would apply to finite and infinite collections.

Whether `scanLeft1` is the best name is subject to further discussion.

Applies up to 2.13.x as far as I can tell.

[2018-05-23 09:50] #10892 closed

[2018-05-23 09:53] lrytz opened #10899 "The default iterator should not force an element after next()"
https://github.com/scala/scala/pull/6636 added a lazy iterator to avoid forcing the next-next element when calling `next`. This should be the default, as the new collections are safe-for-lazy-by-default.

[2018-05-23 13:32] SethTisue commented on #10747
to make a long story short for anyone interested, this is now just a documentation issue. we can document the thread-unsafely and leave it at that

there is some further discussion on https://github.com/scala/scala/pull/6471 which was closed with being merged

[2018-05-24 07:48] #10781 closed

[2018-05-24 07:49] #10759 closed

[2018-05-24 07:49] #8670 closed

[2018-05-24 07:50] #8620 closed

[2018-05-24 07:51] #9874 closed

[2018-05-24 07:51] lrytz commented on #9874
https://github.com/scala/scala/pull/6468

[2018-05-24 07:51] lrytz commented on #9875
https://github.com/scala/scala/pull/6468

[2018-05-24 07:51] #9875 closed

[2018-05-24 07:51] lrytz commented on #8518
https://github.com/scala/scala/pull/6468

[2018-05-24 07:51] #8518 closed

[2018-05-24 07:51] lrytz commented on #10759
https://github.com/scala/scala/pull/6468

[2018-05-24 07:51] lrytz commented on #8670
https://github.com/scala/scala/pull/6468

[2018-05-24 07:51] lrytz commented on #8620
https://github.com/scala/scala/pull/6468

[2018-05-24 08:27] julienrf opened #10900 "Add `--` operator on s.c.i.Set"
`collection.Set[A]` has a deprecated `--` operation that takes as parameter another `Set[A]`. In 2.12 this operation was not deprecated and took a `TraversableOnce` as parameter.

But then immutable `Set` does not provide a non-deprecated `--` operation. FTR, this operator does exist in `s.c.i.Map`.

I think we should add the following operations to `s.c.i.SetOps[A]`:

[code]

[2018-05-24 09:04] allanrenucci commented on #10852
Closing in favor of  #10900

[2018-05-24 09:04] #10852 closed

[2018-05-24 16:02] allanrenucci opened #10901 "`def collect(pf: PartialFunction)` implemented in term of `isDefinedAt` and `apply`"
The following implementations of `collect` are implemented in term of `isDefinedAt` and `apply` which will cause double evaluation of pattern matchers and guards:
- [x] `AnyRefMap`
- [x] `Try`
- [x] `LongMap`
- [x] `StrictOptimizedIterableOps`
- [x] `SortedSet`
- [x] `SortedMap`
- [x] `collection.Map`
- [x] `Iterator`
- [x] `Iterable`

[2018-05-24 16:54] Jasper-M commented on #10901
What's the alternative?

[2018-05-24 17:12] fommil opened #10902 "annotation macros in the presentation compiler"
This is moving https://github.com/scalamacros/paradise/issues/105 to here, now that paradise will be part of scalac

TL;DR macro annotations don't seem to work very well in the PC. I have never been able to minimise it, and a lot of the time I'm hearing this through users who complain about it.

It would be good to get to the bottom of it, and it's probably either a one line fix or impossible. Sim

[2018-05-24 22:35] som-snytt commented on #10898
My attempt as an overload in 2.13 seems to fail:

https://github.com/scala/scala/pull/6677

[2018-05-25 08:17] #6654 closed

[2018-05-25 08:17] #7005 closed

[2018-05-25 08:42] lrytz commented on #10412
Hmm, I just merged https://github.com/scala/scala/pull/6676 which adds a number of these overrides that @szeiger suggests above. However, reading https://docs.oracle.com/javase/8/docs/platform/serialization/spec/output.html#a861

Maybe we're fine because modules have a `readResolve` method that discards the deserialized object. But can we be sure?

[2018-05-25 13:03] szeiger commented on #10412
I also read that section before making the change. Continuing in the same paragraph:

Maybe I don't understand the implications but this looks to me like it is perfectly safe not do do default serialization. What's the point of deserializing an object when the class cannot be resolved? The only use case appears to be partial parsing of object streams, i.e. skipping over objects that cannot be dese

[2018-05-25 14:19] lrytz opened #10903 "Fragile initialization of runtime reflection universe, forces a large graph"
[`Definitions.init`](https://github.com/scala/scala/blob/v2.13.0-M4/src/reflect/scala/reflect/internal/Definitions.scala#L1427-L1434) carefully forces core types in a specific order (e.g., first load the `scala` package, then create synthetic members such as `Nothing`). See this [epic comment in `JavaUniverse.init()`](https://github.com/scala/scala/blob/v2.13.0-M4/src/reflect/scala/reflect/runtime

[2018-05-25 17:18] som-snytt opened #10904 "`BoxedUnit` in pattern match result"
[SomeOne](https://stackoverflow.com/q/50510305/1296806) asked about extra `BoxedUnit`s when comparing pattern matching to equivalent `if/else`.

This is mitigated by `-opt:copy-propagation`.

[code]

[2018-05-26 00:10] Blaisorblade commented on #10896
FWIW Dotty correctly rejects this with an error similar to Haskell:
[code]

[2018-05-26 02:10] Blaisorblade opened #10905 "Singleton bound and type projections don't play nice with each other"
If a value member `tasty` has abstract type `T` and `T` is marked as being a singleton type (that is, currently, `T <: Singleton`), I’d expect `tasty.type = T`, because both types are singleton that contain `tasty`. This currently fails in Scalac and Dotty.

A minimized example:

[code]

/cc @milessabin

### Background

I ran into this while prototyping a heavily path-dependent API in Dotty (an ea

[2018-05-26 05:46] xuwei-k opened #10906 "Can't call scala.Enumeration#ValueSet#map in Scala 2.13.0-M4 (ambiguous overload)"
[code]

workaround

[code]

[2018-05-26 12:16] xuwei-k opened #10907 "Can't compile "Seq(Vector(2), List(3))" in Scala 2.13.0-M4"
[code]

same result latest 2.13.x

[code]

[code]

[2018-05-26 12:44] xuwei-k opened #10908 "Seq(LazyList(2), Vector(3)) return too complex type in Scala 2.13.0-M4"
<img width="1278" alt="screen shot 2018-05-26 at 21 33 34" src="https://user-images.githubusercontent.com/389787/40576233-5dbd8d48-612d-11e8-9364-65ba4ad0590c.png">

similar issue https://github.com/scala/bug/issues/7402 (fixed. 5 years ago)

[2018-05-26 12:50] xuwei-k commented on #10907
not bug ?🤔  https://github.com/scala/scala/commit/29406158c9051475227d240876b36a8605b98c0e#diff-bfcc30d9cea7eef4f037fec586af6ca5R9

[2018-05-26 12:58] xuwei-k commented on #10907
similar issue https://github.com/scala/bug/issues/10908

[2018-05-26 18:12] joroKr21 commented on #10907
scala/scala#6352 - I believe it's a bug. In Dotty intersection and union types make this easier.

[2018-05-28 05:55] lrytz commented on #10904
I guess one question is: should we enable local `opt`s by default? Compiler performance is the obvious counter-argrument. There might be other flags (now, in the future) for which we could recommend different values depending on the situation (local dev, ci / releasing).

We certainly should be better at telling people about the optimizer..

[2018-05-28 06:09] lrytz commented on #10907
It is a bug, in the compiler (not the collections library). With the new collections, some expressions that used to work now trip over the compiler. However, some that failed on 2.12 now work on 2.13.

On 2.12 (https://github.com/scala/scala/blob/2.12.x/test/files/neg/lub-from-hell-2.scala)
[code]

This one "works" on 2.13 (gives one of those huge lubs).

[2018-05-28 07:01] lrytz commented on #10908
Similar to my [comment on #10907](https://github.com/scala/bug/issues/10907#issuecomment-392428715); yes, this is an issue, but only indirectly related to the new collections.

[2018-05-28 07:06] #10203 closed

[2018-05-28 07:06] #10751 closed

[2018-05-28 07:06] #8562 closed

[2018-05-28 07:10] lrytz commented on #10880
@hrhino maybe related to https://github.com/scala/bug/issues/10889

[2018-05-28 07:27] rafalmag commented on #10604
I had the same issue and I can confirm that increasing of the stack size from default one (1MB to 5MB) helped.

[2018-05-28 09:04] adriaanm commented on #10869
So, the levels would be: error / warning / info / echo. Indeed -- not sure we need the lowest one, though I'm sure someone could come up with a use for it if we leave it in...

[2018-05-28 09:24] lrytz opened #10909 "CCE with enum value serialization, only with -Dpartest.exec.in.process"
Current 2.13.x, with a test re-enabled (was disabled in https://github.com/scala/scala/pull/6676/files#diff-e24063c0aa9e2f16a3cffeb86a736d90)

[code]

[code]

Compiling and running the test on the command line also succeeds. We should figure out what's going on here.

[2018-05-28 10:20] martijnhoekstra opened #10910 "Either is missing a flatten operation"
With a right-biased `Either` with a `flatMap` operation, it makes sense to also have a `flatten` operation

[2018-05-28 12:49] adriaanm commented on #10893
Happy to help, but this is not going to be a quick fix. The result printing code is pretty convoluted. Would be nice to clean it up though!

[2018-05-28 15:02] hrhino commented on #10889
It won't break Scala code; technically it won't be binary incompatible AFAICT. The problem with Javac is that when you pass the outer parameter, it doesn't recognize it as such and _also_ prepends its own outer parameter. For instance, in the original example, Javac emits a call to `p/O$I.<init>:(Lp/O;Lp/O;Ljava/lang/String;)V`, because it trusts the signature over the descriptor.

[2018-05-28 15:12] lrytz commented on #10869
https://github.com/scala/scala/pull/6609

[2018-05-28 15:12] #10869 closed

[2018-05-28 15:19] som-snytt commented on #10893
I took a look a week ago. My idea was to rewrite user code to:
[code]
The `eval` object has the form:
[code]
the only change would be to use the intermediate print results:
[code]

The annoying part is that the ancient REPL is not amenable to rewriting. I could revive a PR from a few years ago to operate on trees instead.

The additional trick would be not to force those ires values when not runni

[2018-05-28 17:18] lrytz commented on #8294
https://github.com/scala/scala/pull/6365

[2018-05-28 17:18] #8294 closed

[2018-05-28 19:05] NirvanaNrv opened #10911 "Compiler crash when resolving implicits involving higher-kinded type"
Using this type of code
[code]
I get a stack overflow with the compiler:
[code]

using Scala 2.12.6 with Java 1.8.0_171 x64 (using intelliJ, but that basically crashes the same using sbt).

[2018-05-28 19:17] NirvanaNrv commented on #10911
In `defineBaseTypeSeqOfCompoundType`, maps are prepared between types and symbols.
Then, the line
`val bts = copyRefinedType(tpe.asInstanceOf[RefinedType], tpe.parents map varToParam, varToParam mapOver tpe.decls).baseTypeSeq`
ends up calling
[code]
which clones the symbol before applying infoFn, which is based on those prepared maps, which are themselves based on the original symbols and related

[2018-05-28 19:28] NirvanaNrv commented on #10911
I successfully tested a change
[code]
which applies the function before the cloning, trying hard to leave the original symbols unchanged, but this is heavy.

[2018-05-28 20:42] NirvanaNrv commented on #10911
This looks better
[code]
Is it alright?

[2018-05-29 00:10] frozenspider commented on #6317
I just encountered something very similar to the issue in question using Scala 2.12.3, but the workaround was different for me.
[code]
Full stacktrace: https://gist.github.com/frozenspider/0df0c15321fa2b45688d698e8a74c28e

[2018-05-29 05:41] #7611 closed

[2018-05-29 05:51] #4489 closed

[2018-05-29 08:01] retronym commented on #10903
Maybe the package loader should be responsible for adding the synthetics like `Nothing` to the `scala` package, rather than trying to do it externally.

[2018-05-29 12:39] viktorklang opened #10912 "A case of `this`"
Scala Version 2.12:

I has made a mistake—I, naïvely I might add—expected the following to work:

[code]

But it yields:

[code]

-Xprint:parser says:

[code]

If *this* should not be legal to match against, then I think the error message should be more informative, and in the case this is indeed a bug, what would the consequence(s) be of fixing it?

[2018-05-29 12:48] hrhino commented on #10912
I think the only plausible bug here is that `case this => ...` doesn't compile.

The duplicated backticks are probably "just" #10685.

It's problematic that backticks mean both "treat this as an identifier even though it doesn't follow the normal lexical rules for identifiers" _and_ "treat this lowercase identifier as an identifier pattern even though it would syntactically be a variable pattern".

[2018-05-29 12:50] hrhino commented on #10912
Kinda like [this](https://scalafiddle.io/sf/if2LV0N/0):

[code]

[2018-05-29 14:13] viktorklang commented on #10912
The following works though:

[code]

[2018-05-29 14:22] hrhino commented on #10912
Right, it's a type pattern and `this.type` is a perfectly cromulent type.

[2018-05-29 14:38] viktorklang commented on #10912
@hrhino I still think it should be possible to match against the value of that type. :)

[2018-05-29 14:47] hrhino commented on #10912
Yep. As I mentioned, I'm pretty sure the bug is that `case this =>` should be accepted. I'm not sure if the spec grammar means that "this" qualifies as a `StableId`, which it would need to be to justify that syntax without a spec change, but it seems correct to me.

The other place that `StableId` shows up (other than `Path`) is imports, but that leaves a lot to be desired:

[code]

[code]

[2018-05-29 15:19] dwijnand commented on #10912
I was thinking what about making keywords that are values (e.g `true` or `this`, as opposed to, say, `private`, `val`) be un-backtickable. Then you avoid weird things like "re-defining" `true` or `this. WDYT?

[2018-05-29 19:36] viktorklang commented on #10912
Apparently I never give up! 😂
--
Cheers,
√

[2018-05-29 19:40] NirvanaNrv commented on #10911
or that
[code]

[2018-05-29 21:22] dbtsai opened #10913 "`loadFiles()` in `ILoop` was removed in Scala 2.11.12 which breaks Apache Spark"
We're migrating to Scala 2.11.12 for JDK9+ support, and we found that `loadFIles()` in `ILoop` was removed in Scala 2.11.12.

We use it as a hack to initialize the Spark before REPL sees any files.

https://github.com/apache/spark/blob/master/repl/scala-2.11/src/main/scala/org/apache/spark/repl/SparkILoop.scala#L109

Is it possible to provide a hook for this?

Thanks.

[2018-05-30 04:50] som-snytt commented on #10913
Unfortunately, `loadInitFiles` is a local function. But you can do what `sbt console` does, and run your init during your override of `createInterpreter`. The downside for `sbt` users is that `$intp` is not available; if that is deemed useful, you can add that, too; `ILoop` checks `isSbt` to see how to handle errors at that point. It's safe to `intp.initializeSynchronous`.

Alternatively, you can

[2018-05-30 07:50] adriaanm commented on #10409
Assigning to szeiger to incorporate @satendrakumar's work into the 2.13 collecitons

[2018-05-30 09:41] mkurz commented on #10717
ASM 6.2 released with better JDK 10 support and even with JDK 11 support already!
http://asm.ow2.io/versions.html
https://gitlab.ow2.org/asm/asm/tags
https://gitlab.ow2.org/asm/asm/issues/317830

[2018-05-30 12:18] #10885 closed

[2018-05-30 12:32] #10906 closed

[2018-05-30 13:49] #16 closed

[2018-05-30 14:00] lrytz commented on #10911
I think the last one looks good. Maybe we should keep the original verison under a different name, because `cloneSymbolsAndModify` is currently used in erasure, with `infoFn` being the erasure function. In this case we don't need to substitute symbols (I think), because the resulting (erased) types should not have any more symbol references.

In any case, please open a PR and you'll get more feedb

[2018-05-30 14:29] milessabin commented on #10833
Correct :-)

[2018-05-30 14:37] #10910 closed

[2018-05-30 14:46] milessabin commented on #10905
If you leave off the type annotation it's fine,

[code]
TBQH, I have never fully understood either the intended semantics of type projections, or their realization in scalac's implementation, so I can't say I'm particularly surprised that they produce odd results.

Given that Dotty has dropped type projections, what is the corresponding failing case there?

[2018-05-30 16:57] szeiger commented on #10874
Fixes by https://github.com/scala/scala/pull/6687

[2018-05-30 16:57] #10874 closed

[2018-05-30 16:59] szeiger commented on #10875
Appears to be fixed already.

[2018-05-30 16:59] #10875 closed

[2018-05-30 17:36] Ichoran commented on #9954
Sequential indexing can often be optimized surprisingly well, but the custom iterator shaves off another 15% of the runtime.  Also, it can't _always_ be optimized that well (if the loop is more complex), and then there's a major penalty (~10x, if you have to dig all the way down the 32-wide tree each time).

[2018-05-30 18:22] szeiger commented on #8576
Removing the "collections" label because this is not really about `Vector` or collections. In light of https://www.bleepingcomputer.com/news/security/oracle-plans-to-drop-java-serialization-support-the-source-of-most-security-bugs/ and with Java serialization being mostly abandoned in favor of newer protocols anyway I'm not sure we should invest time into this corner case (serialization compatibil

[2018-05-30 18:39] szeiger commented on #10137
mutable:
[code]

immutable:
[code]

I assume this is the non-uniformity to which Seth was referring earlier. We should deprecate the immutable `enqueue(Iterable)` and call it `enqueueAll`.

[2018-05-30 18:45] #10899 closed

[2018-05-30 20:21] #10877 closed

[2018-05-30 20:21] #9893 closed

[2018-05-30 20:29] #10879 closed

[2018-05-30 20:35] #10851 closed

[2018-05-30 21:54] Blaisorblade commented on #10905
Sure, but I should have clarified that's not the real usecase, just a minimized academic one. In my real example, I have `u.U#T` in some code and `u.tasty.T` in some other.

I can't speak to the implementation. And I don't think they can make sense together with `override type`.

It's literally the same, see https://github.com/lampepfl/dotty/issues/4583 (the only link was in the other direction).

[2018-05-31 05:59] som-snytt opened #10914 "REPL completion completely broken on dot continuation on 2.13"
[code]

[2018-05-31 06:03] dbtsai commented on #10913
Thanks for the reply.

I tried two of the ideas you pointed out without success.

1. Override `createInterpreter`, but it raises `NullPointerException` because `$intp` is not available yet.

2. Initialize the Spark in `initializeSynchronous` by
[code]
and
[code]
this will hang forever.

Can you elaborate more on the alternative option?

Thanks.

[2018-05-31 06:17] som-snytt commented on #10913
If you need `$intp` in the init files, and who doesn't, have you tried: https://github.com/scala/scala/blob/2.12.x/src/repl/scala/tools/nsc/interpreter/ILoop.scala#L996

I'll try to get involved between now and the weekend, it's been on my bucket list.

[2018-05-31 13:11] lrytz commented on #10903
Here's a prototype that works, but it's pretty un-pretty... https://github.com/scala/scala/compare/2.13.x...lrytz:t10903?expand=1

Need to be really careful not to force stuff.

[2018-05-31 14:30] #10886 closed

[2018-05-31 21:12] som-snytt opened #10915 "partest --no-exec"
For dry run of `run` tests and others that involve running something besides the compiler.

Clone of https://github.com/scala/scala-partest/issues/93 where the idea was awarded best new partest feature of 2018.

[2018-05-31 23:15] som-snytt commented on #10825
Another symptom https://github.com/scala/bug/issues/8831

[2018-06-01 07:40] adriaanm commented on #10902
It's not impossible, but extremely hard. I have no idea how to do it. I also want to reiterate that, while macro annotations are part of scalac, they are experimental and will change in 3.0. The main goal of the coming changes is to actually make it feasible to implement better tooling for them.

I think we need to make macro annotations no more powerful than what's needed to implement case class

[2018-06-01 08:04] fommil commented on #10902
All of these things are solved by https://gitlab.com/fommil/scalaz-deriving/blob/master/deriving-plugin/src/main/scala/scalaz/plugins/deriving/AnnotationPlugin.scala with the tradeoff that the annotation is not name checked.

But this ticket is about supporting Scala 2 code that exists today. I suspect the reason why paradise doesn't work in the PC is because nobody's ever really looked into it.

[2018-06-01 08:40] Blaisorblade opened #10916 "Conformance of type projections in SLS 3.5.2 violates expectations, conflicts with intersection types and isn't supported"
Just noticed a likely bug in the SLS 3.5.2 on conformance, possibly relevant to #7278 — it says that

and that looks incorrect.

That's only correct for nested classes in an inheritance relation (https://github.com/lampepfl/dotty/issues/4361#issuecomment-383732175), as when you emulate virtual classes in Scala; but it's wrong for nested classes in general, and it appears incorrect even for abstrac

[2018-06-01 08:59] Blaisorblade commented on #10916
BTW, that SLS clause appears to be implemented rather closely by Scalac in
https://github.com/scala/scala/blob/4e120ce7863758ac863bb42d2295b3040459f28e/src/reflect/scala/reflect/internal/tpe/TypeComparers.scala#L444-L449 — though the use `sym2.isAbstractType` and `sym2.isClass` shows this rule is not used for inner classes.

[2018-06-01 09:06] fommil commented on #10902
I put together a very small test https://github.com/mpilquist/simulacrum/pull/106

run with `sbt coreJVM/testOnly *Presentation*`

[2018-06-01 09:10] eparejatobes commented on #10916
where's the problem there?

[2018-06-01 10:00] retronym commented on #10903
Seems no worse than what we’ve tried already. Would be good to make it self
checking somehow, ie make it a hard failure if things are forced sooner
that we expect. Not sure how to make that reality though.

[2018-06-01 10:06] Blaisorblade commented on #10916
All that's true is that `U#t <: U1`, not that `U1 <: U#t` — `U#t` should be abstract.

[2018-06-01 10:29] #10880 closed

[2018-06-01 10:43] milessabin commented on #10916
Here's an example where conformance would be wrong. Fortunately scalac doesn't follow the spec here,
[code]
`Foo.type` conforms to `FB`, so if we follow SLS 3.5.2 as it is now it ought to follow that `Foo.type#T` conforms to `FB#T`.

[2018-06-01 10:45] Blaisorblade commented on #10916
@eparejatobes's question is trickier than I first thought — took me a while to convince myself, but it appears this might not lead to type unsoundness, but only to turning abstract type projections `U#t` into concrete types equal to their upper bound.

I've replaced "unsound" with "incorrect" to clarify (though I didn't mean to talk about type unsoundness).

FWIW, that clause still appears problem

[2018-06-01 10:46] eparejatobes commented on #10916
Exactly, and incidentally this is how I think they should behave :)

[2018-06-01 10:52] eparejatobes commented on #10916
@milessabin

why? it obviously shouldn't; plus in that case `FB#t` should be `Int with String`.

[2018-06-01 10:53] Blaisorblade commented on #10916
@milessabin that's true and it is an issue, but since `FB` is uninhabited, that's a bad bounds problem. A correct Scala compiler would have to reject `FB#T`, and Dotty does:

[code]

So I'd like to focus on "issues with this SLS rule for type projections that we'll keep allowing in Dotty".

(Reposting with fixes)
@eparejatobes's question is trickier than I first thought — took me a while to convin

[2018-06-01 10:55] milessabin commented on #10916
Fair enough, but then I think this discussion belongs on the Dotty issue. I don't see this being fixed in scalac any time soon.

[2018-06-01 11:03] Blaisorblade commented on #10916
Uh right, it's only `FB <: Foo.type` not the other way around.

That's indeed the Dotty semantics of `with`, but it's not so in Scalac (which I'm sure has its share of issues).

@milessabin can your example be made to work then?

Ignoring the issues with your example, that might be true. Tho the only Scala spec currently lives here and I'm uneasy with hosting a diverging spec in Dotty.
In any case

[2018-06-01 11:03] eparejatobes commented on #10916
@Blaisorblade

I don't quite see what `Int` is doing there. In your snippet, the main issue I see is with letting classes have undefined types; nobody would think this is a good idea for values, yet scala allows it for types (??). I see "turning abstract type projections U#t into concrete types equal to their upper bound" only as a patch for this.

[2018-06-01 11:15] milessabin commented on #10916
Whoops, yes, back to front. But it's still an issue the right way around,
[code]

[2018-06-01 11:20] eparejatobes commented on #10916
your `frob` there should compile; a different matter altogether is being able to come up with a *value* of type `FB#T`, which should be `Int with String` (I know, this is not the case in scala 2.x etc). Note that 3.5.2 would actually imply that the projection on an intersection would be equivalent to the intersection of the projections.

[2018-06-01 11:31] milessabin commented on #10916
I think we're talking at cross purposes here. I agree with you wrt Dotty, but given the semantics of `with` in Scala, clause 3.5.2 is clearly wrong wrt Scala.

[2018-06-01 11:39] Blaisorblade commented on #10916
That's true, and that's indeed one reason 3.5.2 can't be true for Scala 2.

[2018-06-01 11:40] eparejatobes commented on #10916
I see it the other way round: first, what's wrong at any rate is the implementation; otherwise, let's just definitely throw away the spec for good. But also, why is 3.5.2 wrong and *not* the semantics of `with`?

[2018-06-01 11:46] #10881 closed

[2018-06-01 12:12] milessabin commented on #10916
Let's at least agree that 3.5.2 conflicts with the semantics of `with` in Scala, and that @Blaisorblade's proposed amendment eliminates that conflict.

Whether or not that's that right thing to do in Dotty is a different question altogether.

[2018-06-01 12:15] Blaisorblade commented on #10916
Yes, I'll have to figure this out for Dotty, and confirm the intended semantics of type projections.

[2018-06-01 19:03] Blaisorblade commented on #8353
FYI: I've re-closed the Dotty issue for now, since Martin [went back](https://github.com/lampepfl/dotty/issues/4361#issuecomment-384994158) (more than a month ago) to the original plan of disallowing shadowing.

[2018-06-01 20:28] #10726 closed

[2018-06-02 09:26] LogicalTime commented on #5365
Having this is one of my biggest Scala desires, it has been for years. I really hope we can convince someone to implement it.

[2018-06-03 15:00] ryan-williams opened #10917 "implicit resolution fails on HKT wrapping `Nothing`"
[Ported from gitter](https://gitter.im/scala/scala?at=5b13fdcbb6eece791dd67363):

[code]

Given an instance of `TC[T]`, the compiler will happily use `TC.traverse` to generate an instance for `TC[Seq[T]]`, for all `T` except `Nothing`, afaict.

This happens in 2.11.12 and 2.12.6.

Seems related to @milessabin's [comment](https://github.com/scala/bug/issues/10393#issuecomment-312889557):

I didn't

[2018-06-03 20:55] som-snytt opened #10918 "REPL Predef intervention"
It works globally but not with the obvious syntax.
[code]

[2018-06-04 05:41] som-snytt commented on #10913
@dbtsai Apologies, I ran out of time this weekend because of IKEA. I think I did mean to bind `$intp` early if you need it, but I haven't tried it yet. Sorry I don't have something better to say. I'll try again when the opportunity presents itself.

[2018-06-04 09:52] #10784 closed

[2018-06-04 10:55] #10806 closed

[2018-06-04 11:17] lrytz opened #10919 "Make viewness of mapValues / filterKeys more obvious"
@Ichoran suggests to rename them to `mappedValueView` / `filteredKeyView` (https://github.com/scala/bug/issues/4776#issuecomment-394183317).

For naming, I think `mapValuesView` / `filterKeysView` would be more consistent, as the strict methods are called `map` / `filter` (not `mapped` / `filtered`).

"Alternatively, return a value class with a single method, `view`, that gives out the view"

[2018-06-04 11:53] lrytz commented on #5365
https://github.com/scala/scala/pull/4929 could certainly be revived

[2018-06-04 12:30] #10855 closed

[2018-06-04 14:39] smarter opened #10920 "Worse type inference when writing `[A1 >: A](x: Foo[A])` as opposed to `(x: Foo[_ >: A])`"
In the following code, `bar1` and `bar2` are equivalent:
[code]
However, type inference works better for `bar2` (in Dotty, both are inferred to `Foo[Int]`):
[code]

It'd be good to figure out whether or not this can be fixed since this affects the API of the collections, in 2.13 we currently have in `Seq`:
[code]
Which means that in the following code, `x` is inferred to have type `Buffer[Any]` an

[2018-06-04 15:44] szeiger commented on #10876
The methods return a `CC` so they keep the correct type in general. The exceptions are the mutable `SortedMap`, `LongMap` and `AnyRefMap` which require special-casing because they cannot refine `CC`.

[2018-06-04 16:07] szeiger commented on #10876
There's also a related consistency in `SortedMap.concat` which currently allows widening of the key type. This requires an overload instead of an override. The latter is sufficient in `AnyRefMap` and `LongMap` because `Map.concat` does not allow widening. `SortedMap` didn't allow it in 2.12, either (https://github.com/scala/scala/blob/2.12.x/src/library/scala/collection/SortedMapLike.scala#L96). I

[2018-06-04 17:19] m-sp commented on #10749
seems like this is a duplicate of #10397

I've tried some minor changes on my local machine and the following code:

[code]

now generates https://matthias.sperl.me/10749/a/index.html

I still have to clean up some minor things (e.g. sorting seems to be off) but I can create a PR for it, if you want!

[2018-06-04 19:01] darkfrog26 opened #10921 "ExecutionContext.reportFailure is never called"
In the following test code I intentionally throw an exception, but `reportFailure` is never invoked:

[code]

This is on Scala 2.12.6

[2018-06-04 19:47] plokhotnyuk commented on #10921
1) `ExecutionContext.global` has already defined reporter that prints stack traces to the `System.err`.
2) You should not call `reportFailure()`, your context will be called automatically if it executes the runnable, but not just forward it to another async context with a different reporter.

[2018-06-04 19:52] darkfrog26 commented on #10921
1.) I'm attempting to access the stack trace from my custom `ExecutionContext` and assumed that was the purpose of `reportFailure()`?

2.) I'm not calling it...looking at the source, my expectation was that it would automatically be called.  Look at the source above, I'm not calling `reportFailure` and when the runnable errors it doesn't call it either.

[2018-06-04 19:55] darkfrog26 commented on #10921
To clarify, I'm expecting the above code to result in `REPORT FAILURE! Test!` to be printed out, but it doesn't.  This seems like a bug to me.

[2018-06-04 20:05] mkeskells opened #10922 "VectorBuilder/Vector has a memory leak"
vector builder shared the underlying array with the built vector
[code]
so if I add to the builder after a vector is built, that built vector refers to this item so the new item cannot be GCed until the vectorBuilder, and all vectors are GCed

[2018-06-04 20:09] plokhotnyuk commented on #10921
Yes, you are right here the bug definitely somewhere here: in the code or in docs:
[code]

[2018-06-04 20:09] mkeskells opened #10923 "ArrayBuilder has a memory leak"
https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/mutable/ArrayBuilder.scala#L33

[code]
this means that existing elements in the array are not dereferenced

[2018-06-04 20:11] mkeskells opened #10924 "Builder size/isEmpty"
It would be useful for builders to provide some indication as to size, isEmpty/sizeCompare

In hot-path situations where we generate a result and process that result, it would be useful to optimise the isEmpty case (and maybe others)

[2018-06-04 20:18] martin-g commented on #10921
I think your reporter is ignored because the runnable is actually executed
with `scala.concurrent.ExecutionContext.global.execute(runnable)`

On Mon, Jun 4, 2018, 23:09 Andriy Plokhotnyuk <notifications@github.com>
wrote:

[2018-06-04 20:28] darkfrog26 commented on #10921
@martin-g, sorry, that is misleading...even if I just call `runnable.run()` the same situation occurs in that code.

[2018-06-04 20:30] som-snytt commented on #10921
Throw from your `execute` to witness true failure:
[code]

[2018-06-04 20:35] darkfrog26 commented on #10921
@som-snytt the problem is that I'm trying to access the `Throwable` when it occurs from my `ExecutionContext`, which, as I understand it, is the point of `reportFailure`.

[2018-06-04 20:35] viktorklang commented on #10921
`reportFailure` is only invoked for those async failures where there are no other means of propagating the failure.

[2018-06-04 20:36] darkfrog26 commented on #10921
@viktorklang is there no way for the custom `ExecutionContext` to access that `Throwable` that occurs within a `Future`?

[2018-06-04 20:38] viktorklang commented on #10921
@darkfrog26 No, ExecutionContext has no knowledge about Future. You can see examples of cases where the Future machinery has no option but to call `reportFailure` here: https://github.com/scala/scala/blob/2.13.x/src/library/scala/concurrent/impl/Promise.scala#L68

[2018-06-04 20:39] darkfrog26 commented on #10921
@viktorklang That's a shame.  My use-case is that I'm trying to inject trace information for asynchronous calls to populate missing trace data broken by `Future`.  This all works with a simple custom `ExecutionContext` if I could only get access to the underlying `Throwable` when it occurs.

[2018-06-04 20:41] darkfrog26 commented on #10921
Still seems like a bug that `reportFailure` isn't consistently called when a `Throwable` is fired.

[2018-06-04 20:44] viktorklang commented on #10921
@darkfrog26 It would only be a bug if that was the contract for `reportFailure`. Could could of course instrument so that whenever a Promise is completed with a Failure, you hook in there. (remember that the exception doesn't need to be thrown in the first place)

[2018-06-04 20:46] martijnhoekstra opened #10925 "".E4".toDoubleOption throws NFE"
Originally reported by @som-snytt

[2018-06-04 20:48] darkfrog26 commented on #10921
@viktorklang the problem is contextualization though.  The `ExecutionContext` has access to the stack data, and that is lost by the time the failure propagates up.

[2018-06-04 20:50] viktorklang commented on #10921
@darkfrog26 Ah, so you wanted to hook in there to do stack walking? It would be too late anyway since it would have been called lower in the stack. I guess you'd have to trap the throw instruction.

[2018-06-04 20:51] viktorklang commented on #10921
@darkfrog26 But since not all failures are thrown (merely completed with .failure(…) or any of the other complete-methods) that wouldn't cover everything.

[2018-06-04 20:52] som-snytt commented on #10925
Credit: https://scala-ci.typesafe.com/job/scala-2.13.x-validate-main/2166/

[2018-06-04 20:56] martijnhoekstra commented on #10925
I'll fix shortly.

[2018-06-04 21:49] SethTisue commented on #10808
https://github.com/scala/scala/pull/6470

[2018-06-04 21:49] #10808 closed

[2018-06-04 21:57] som-snytt commented on #10808
The beginner's issue can be solved with `-Yimports:Something` or similar, instead of making them paste code.

[2018-06-04 21:57] darkfrog26 commented on #10921
@viktorklang not exactly...at compile-time it builds a stack trace with `ExecutionContext`s (see https://github.com/outr/scribe/blob/master/core/shared/src/main/scala/scribe/Macros.scala#L73).  This all works and I can log the stack, but I want to add a feature, where possible, to update `Throwable`'s stacktrace when it's fired.  I can do this with creating a custom `Future`, but that's far more i

[2018-06-04 21:58] darkfrog26 commented on #10921
This was my attempt at solving: https://www.schibsted.pl/blog/tracing-back-scala-future-chains/ a little more cleanly

[2018-06-04 22:04] viktorklang commented on #10921
@darkfrog26 Ah, ok, then I perhaps misunderstood.

[2018-06-04 22:10] darkfrog26 commented on #10921
Is it safe to assume there's no good solution to this problem?

[2018-06-04 22:28] pshirshov opened #10926 "scalac produces inconsistent output on Mac with case-insensitive FS in case of a name clash"
`scalac` silently overwrites it's own output producing an inconsistent set of classfiles in situation when it works on a case-insensitive filesystem (like MacOS with default settings) and you have a name conflict in your source files, like:

1. You have a package object and defined a class named `Package`
2. You have two classes with the same name in different cases, like `Test` and `test`

In cas

[2018-06-04 23:53] som-snytt opened #10927 "Empty package object"
If I create a package object in the empty package:

[code]
then I have to import its members explicitly:
[code]
If the empty package is allowed to have a package object, then the workaround also bends the rule that members of the empty package cannot be imported.

Edit: obviously this is more interesting if they're importing in a named package. Also, same behavior on dotty.

[2018-06-05 04:04] retronym commented on #10922
Arguably a `ReusableBuilder` could have undefined behaviour if you retain the reference to it but fail to call `clear()`.

In the case of `VectorBuilder` I can't see any advantage to leaving its internals un-nulled on return from `result`. I guess there is a tiny cost of nulling the fields which is wasted in the common case when the builder itself is immediately released.

There is one clear (ha!)

[2018-06-05 04:15] SethTisue commented on #194
https://github.com/scala/scala/pull/6315, which deprecates `any2stringadd`, has been merged for 2.13.0-M5

[2018-06-05 04:15] #194 closed

[2018-06-05 07:32] mkeskells commented on #10922
@retronym I am not concerned with the builder retaining a reference to an unbuild result - that is part of the behaviour of a builder, its that a pre-build result retains a reference to later added value
[code]

[2018-06-05 07:44] pshirshov commented on #10926
This case is a bit different. Though, anyway, why these two tickets were closed?

[2018-06-05 11:14] viktorklang commented on #10921
@darkfrog26 IMO the best (imaginary) solution would be JVM support for async stack traces. Perhaps we'll get them with Project Loom?

[2018-06-05 13:42] darkfrog26 commented on #10921
@viktorklang while I absolutely agree, I'm on the cusp of a pretty useful solution if I could just get past this one issue.  I was just hoping you guys might know of a clever workaround that would let me do it.

[2018-06-05 13:44] szeiger commented on #10922
You are relying on undefined behavior. A `ReusableBuilder` allows reuse by calling `clear()` after `result()`. As pointed out in the doc comment, further guarantees (in particular, calling anything other than `clear()` after `result()`) are not part of the standard contract:

[code]

`VectorBuilder` makes no such guarantees (neither in 2.12.x nor in 2.13.x). If we wish to extend the contract, IMHO

[2018-06-05 14:08] darkfrog26 commented on #10921
I have this fully functional with a horrible extra step.  My original code looks like:

[code]

and it outputs the stack trace:
[code]
But if I change it to:
[code]
The trace becomes:
[code]

See how close to perfect this is?   If I could just get access to the `Throwable` from the `ExecutionContext` I wouldn't need the fix call.

[2018-06-05 14:08] darkfrog26 commented on #10921
The relevant code is:

[code]

[2018-06-05 16:59] pweisenburger opened #10928 "object creation impossible for abstract type members in objects (only in some cases)"
The following code does not compile:

[code]

It produces the somewhat confusing error message:

[code]

I'm not fully sure if the code should compile. But I guess it should. For example, the following code compiles:

[code]

[2018-06-05 17:36] som-snytt commented on #10913
@dbtsai That's fantabulous! I commented there. The upshot is, after deprecating it, because it wasn't used, I have to revive `-Yrepl-sync`. Long live `-Yrepl-sync`!

[2018-06-05 17:48] szeiger commented on #10901
We already use `applyOrElse` in `ArrayOps` but it's questionable as an optimization. I just ran some benchmarks for a similar implementation in `Iterable.collect`. Depending on the PF and the percentage of matches it can be faster but it can also be considerably slower. For simple PFs such as
[code]
the naive implementation is *always* faster, even when matching 100% (i.e. the guard is always eval

[2018-06-05 18:28] som-snytt opened #10929 "Avoid splash reader"
Maybe Spark doesn't want a splash reader.

Maybe they want to initialize synchronously, output the result of some init code, and only then let the user return from their coffee break to start inputting amazing code.

Let's just resuscitate `-Yrepl-sync` for this purpose.

[2018-06-05 18:53] allanrenucci commented on #10901
I believe the performance loss comes from boxing `var matched`.

Have you tried `collect` implemented as
[code]

`checkFallback` and `fallbackOccurred` are currently private to `PartialFunction`, but we could either make it private to the collection or create a similar marker object for `Iterable`.

[2018-06-05 19:16] szeiger commented on #10901
The performance of the "fallback" version is the same as the one with the flag. Here are some numbers from the simple PF above:
[code]
1 = naive (current impl), 2 = flag, 3 = fallback. The size of the initial buffer is always 1000, the "size" parameters determines how many of those 1000 are collected.

[2018-06-05 19:53] martijnhoekstra commented on #10901
Do you have the harness gistable @szeiger? I wonder what the "pretty" implementation `flatmap(a => pf.andThen(b => View.Single(v)).applyOrElse(a, View.Empty))` does in terms of performance.

[2018-06-05 20:09] szeiger commented on #10901
`enableOptimizer`, then `bench/jmh:run scala.collection.CollectBenchmark` in https://github.com/scala/scala/compare/2.13.x...szeiger:issue/10901-wip

[2018-06-05 20:13] hrhino commented on #10928
It's because `T` appears in its own upper bound. That check was added in scala/scala@562647a37a6675fbf328f72e081a7f88913dd004 back in '08, with a claim that it's related to virtual classes (which don't exist anymore). There's no enclosed test case that fails without this as far as I can tell, so I can't say if there's a reason for the check anymore.

[2018-06-06 03:50] xuwei-k opened #10930 "scala.collection.ArrayOps#slice throw OutOfMemoryError in latest Scala 2.13. (Int overflow?)"
- https://github.com/scala/scala/blob/2b49d718fd2ce034a5f450b2041013e2889591d0/src/library/scala/collection/ArrayOps.scala#L239-L241
- https://github.com/scala/scala/blob/v2.12.6/src/library/scala/collection/mutable/ArrayOps.scala#L46-L48

build.sbt

[code]

### latest Scala 2.13

[code]

###  Scala 2.13.0-M4

[code]

### Scala 2.12.6

[code]

[2018-06-06 04:33] xuwei-k commented on #10930
`scala.collection.immutable.ArraySeq#slice` as well

[code]

[code]

[2018-06-06 04:57] xuwei-k commented on #10717
https://github.com/scala/scala/pull/6733

[2018-06-06 05:33] xuwei-k opened #10931 "Nil.startsWith(Nil, 1) return true but Array().startsWith(Array(), 1) return false in latest Scala 2.13"
build.sbt

[code]

### latest Scala 2.13

[code]

### Scala 2.13.0-M4

[code]

### Scala 2.12.6

[code]

[2018-06-06 05:43] julienrf commented on #10931
Our custom implementation in `ArrayOps` is not consistent with the implementation in `SeqOps`. Also I’ve noticed that this operation is not on `StringOps`. We should probably add it as well for the sake of consistency.

[2018-06-06 08:09] xuwei-k opened #10932 "inappropriate mutable.MultiMap#toString in Scala 2.13.0-M4"
[code]

[code]

[code]

I think we should override [`def className: String`](https://github.com/scala/scala/blob/v2.13.0-M4/src/library/scala/collection/Iterable.scala#L183-L260)

[2018-06-06 09:33] julienrf opened #10933 "Unable to access the underlying array of an “untagged” ArraySeq"
[code]

[2018-06-06 09:40] julienrf commented on #10933
I was using an old version of Scala.

[2018-06-06 09:40] #10933 closed

[2018-06-06 09:58] #10876 closed

[2018-06-06 11:40] #10925 closed

[2018-06-06 12:52] smarter commented on #10919
Having a strict version of these methods would be great too.

[2018-06-06 13:30] lrytz commented on #10919
In principle the operations should be strict on strict collections, and lazy on views, like other operations. We probably cannot just change the semantics though..

[2018-06-06 13:59] allanrenucci commented on #10901
I tried three other implementations of collect:
[code]
Here is the benchmark results:
[code]
If we were to implement `collect` in term of `applyOrElse`, `collect5` seems to be the best compromise.

Also I changed the benchmark to collect on a `List` instead of an `ArraySeq`.

[2018-06-06 14:45] #5674 closed

[2018-06-06 15:01] szeiger commented on #10919
Let's deprecate the operations on `MapOps` now and undeprecate them on `MapView` so that you get the desired semantics with `.view.mapValues` and `.view.filterKeys`. Maybe we can make the versions on `Map` strict in 2.14 after a deprecation cycle without removing them first? Otherwise this will have to wait until Scala 3.1.

[2018-06-06 15:20] szeiger commented on #10931
It's pointless in `StringOps` because `java.lang.String` has it's own `startsWith` method.

[2018-06-06 15:58] szeiger commented on #10931
I'm wondering if the original implementation was intentional or accidental. Does it make sense to say that a collection contains an empty collection at an out-of-bounds index?

[2018-06-06 17:44] mkeskells commented on #10922
@szeiger
the documentation on `ReusableBuilder` is  out of step with its implementations, at best, e.g. `ListBuffer` for example has specific code to cope with the reuse pattern that I described, addition then build then further addition, so I do not believe that your statement is observed in common usage, but the documentation does not refer to this extended behaviour. Looking through the subclas

[2018-06-06 20:15] SethTisue commented on #10604
closing since there isn't currently anything actionable here, unless new information comes to light.

[2018-06-06 20:15] #10604 closed

[2018-06-06 20:35] #10930 closed

[2018-06-06 20:39] lrytz commented on #10931
`Nil` is not defined at index `0`, but `Nil.startsWith(Nil, 0)` is true. So it seems to make sense if `Nil.startsWith(Nil, x)` is true for any x.

[2018-06-06 20:39] #10931 closed

[2018-06-06 20:45] lrytz commented on #10919
This sounds good, but it's annoying if you want a strict `mapValues` (without deprecation warning): you have to write `.view.mapValues(f).toMap`. We could add `mapValuesStrict`? But it's also not great to add a method only to deprecate it in the next release...

[2018-06-06 22:20] #10861 closed

[2018-06-06 22:20] SethTisue commented on #10861
thanks Janek for the catch, and thanks Jasper for the fix!

[2018-06-06 22:30] SethTisue commented on #16
for fixing the last open two-digit Scala issue, @martijnhoekstra officially gets to wear a big, shiny golden crown whenever he wants.

https://github.com/scala/bug/issues?q=is%3Aopen+is%3Aissue+sort%3Acreated-asc shows 16 remaining open three-digit issues, for anyone interested in earning the right to wear an only slightly smaller and slightly less jewel-encrusted crown

[2018-06-07 07:20] lrytz commented on #9080
https://github.com/scala/scala/pull/6729 can be adapted and re-opened once M5 is the new STARR.

[2018-06-07 08:02] julienrf opened #10934 "Support traverse and sequence operations on more types"
I’m copying the content of https://github.com/scala/collection-strawman/issues/247 here.

We currently have the `Future.traverse` and `Future.sequence` methods that allow us to turn a `Seq[Future[A]]` into a `Future[Seq[A]]`. But I find these operations very useful on other types as well. For instance to turn:
- an `Option[Future[A]]` into a `Future[Option[A]]`,
- an `Either[E, Future[A]]` into a

[2018-06-07 09:10] Jasper-M commented on #7881
This doesn't appear to be fixed?

[2018-06-07 09:15] #10915 closed

[2018-06-07 12:29] szeiger commented on #10919
Well, it's already better than 2.12 where there's no obvious way at all to make the result strict.

[2018-06-07 13:27] szeiger commented on #10923
There are two mutually incompatible optimizations one can perform. Either avoid allocating new arrays by keeping owned arrays after `result()` is called or ensure that no references are retained. `ArrayBuilder` does the former and IMHO this is the right decision. If you want to ensure that no references are retained, you can drop the `ArrayBuilder` instead of reusing it.

One situation that we can

[2018-06-07 13:56] srowen commented on #10913
@dbtsai et al -- see https://issues.apache.org/jira/browse/SPARK-20395 and https://github.com/apache/spark/pull/17982 . The internal change in question happened about 2.11.10 or so if it matters. Reenabling the hack is great I suppose but Spark was always using internal methods that weren't exposed.

[2018-06-07 15:33] szeiger commented on #10932
Taking another look at those definitions, except for `View` all of them are in concrete collection implementations. If we add them to abstract traits like `Map` (which is the case in 2.12) this calls into question the need for the generic implementation in `Iterable`. We could simply set it to `Iterable` there, add overrides in `Map`, `Set` and `Seq` and require all collection implementations to o

[2018-06-07 15:55] szeiger commented on #10909
It's probably an instance of https://github.com/scala/bug/issues/9237. Running with `partest.exec.in.process` puts the test classes into a different ClassLoader than the standard library so you get circular dependencies between the classloaders on deserialization. When you run it standalone everything is in the same classloader.

[2018-06-07 16:57] szeiger commented on #10922
The documentation in `ReusableBuilder` covers the guarantees that *every* `ReusableBuilder` must make, which is allow reuse after calling `clear()` after `result()`. This is all you can rely on in general. It does not mean that subclasses cannot allow other patterns as well.

As you observed, some already do. In particular, `ListBuffer.result()` simply calls `toList`, so any interleaving of `Buffe

[2018-06-07 17:27] szeiger commented on #10900
Why did we create this asymmetry in the first place? `Set` supports set difference with `diff` (`&-`) and exclusion of single elements with `excl` (`-`) whereas `Map` supports removal of elements with `removeAll` (`--`) and `remove` (`-`). Having different names for these operators makes sense but sharing the symbolic operators for some of them less so. Should we rename `&-` back to `--`?

[2018-06-07 18:22] viktorklang commented on #10901
@allanrenucci Why do you need to allocate a new marker for each invocation?

[2018-06-07 20:41] julienrf commented on #10900
`&~` is different than `--` because the former takes a `Set` whereas the latter takes an `IterableOnce`. Both `&~` and `--` exists in 2.12. Maybe we should keep both of them?

[2018-06-07 21:09] viktorklang commented on #10921
@darkfrog26 Sounds like this would need runtime weaving.

[2018-06-07 21:11] viktorklang commented on #10901
@allanrenucci Collect2 is this:

[code]

[2018-06-07 21:17] allanrenucci commented on #10901
My bad, I meant `collect3`:
[code]

[2018-06-07 21:29] viktorklang commented on #10901
@allanrenucci Are `checkFallback` and `fallbackOccurred` @inline and/or final?

[2018-06-07 21:35] smarter commented on #10934
Discoverability could be improved by making Scaladoc aware of typeclasses in some way.

[2018-06-07 22:10] julienrf commented on #10934
I think it's not just Scaladoc, but also auto-completion and the quality of error messages in case there is a type mismatch.

On June 7, 2018 11:35:11 PM GMT+02:00, Guillaume Martres <notifications@github.com> wrote:

[2018-06-07 22:13] smarter commented on #10934
All of those are things we could and should improve since type classes are already heavily used in Scala code :).

[2018-06-08 06:51] lrytz commented on #10932
Sounds good to me.

[2018-06-08 06:54] lrytz commented on #10909
Ah, that makes sense, thanks.

[2018-06-08 08:20] lrytz commented on #10934
with `scaladoc -implicit` extension methods are added

[2018-06-08 09:49] olafurpg opened #10935 "Cryptic error message: value += is not a member of Int"
Type errors in the rhs of a `+=` assignment have a cryptic error message
[code]

I expected the error message to be something like

[code]

[2018-06-08 12:35] hrhino commented on #10935
Yep. There's [logic](https://github.com/scala/scala/blob/2.13.x/src/compiler/scala/tools/nsc/typechecker/Typers.scala#L4757-L4764) that compares positions to try to finesse when to show the error. The heuristics apparently could be subtler.

[2018-06-08 12:53] ggevay opened #10936 "showCode outputs incorrect code for implicit lambda parameters"
[code]
which gives
[code]
Here `showCode` prints the following, which can't be parsed:
[code]
Note that it can be parsed if I edit it to this:
[code]
(I tried this on Scala 2.12.6)

[2018-06-08 15:12] darkfrog26 commented on #10921
@viktorklang, I've tried using Reflection to access the `CallbackRunnable`'s `value: Try[T]`, but even when an exception is thrown, it's still a `Success`.

[2018-06-08 16:59] Ichoran commented on #10901
If we're concerned about efficiency, why is this implemented in terms of `flatMap` with an extra wrapper?

Also, I generally find self-returning functions faster than closures that return a different marker when using `applyOrElse`:

[code]

Before optimization, this makes sense, as you only have one formal allocation instead of two.

[2018-06-08 20:55] viktorklang commented on #10921
@darkfrog26 I don't know the circumstances. You sure you are looking at the right thing?

[2018-06-09 01:38] darkfrog26 commented on #10921
The `Runnable` that the `ExecutionContext` receives is a `CallbackRunnable`. Beyond that, I really have no clue. :-p

[2018-06-09 04:49] som-snytt commented on #10935
I think we get three tries to get it right, then we have to scrub toilets at EPFL.

[2018-06-09 04:56] som-snytt commented on #10935
Whew. Did @hrhino contribute something recently?
[code]

[2018-06-09 05:07] som-snytt commented on #10935
In fact the commit says mid-March but it went in at end of May. Now why is that so hard to figure out?

Also, I ought to have demonstrated the easy way to make sure your REPL transcript shows the version:

[code]
Thankfully, the caret adjusts to the prompt width. Alas, the banner is broken on 2.13.

[2018-06-09 21:49] hrhino opened #10937 "Type projection from infix symbolic operator prints misleadingly"
[code]

[2018-06-10 22:48] som-snytt commented on #9132
@retronym This was a nice one to read.

[2018-06-10 23:42] retronym opened #10938 "Warning should not be issued for erroneous type: "the existential type <error> forSome { type _$1; type _$2 }, which cannot be expressed by wildcards, should be enabled""
[code]

[2018-06-11 00:15] kmizu commented on #10934
I don' agree this proposal.  since `Traverse` , `Applicative` , etc. are supported in Scalaz and/or Cats.  If you think such type classes are useful, you should just use them.  On the other hand,  including such type classes makes Scala more difficult.  Why they are needed in Scala standard library ?

[2018-06-11 00:31] eed3si9n commented on #5324
Sent a PR - https://github.com/scala/scala/pull/6767

[2018-06-11 01:18] Ichoran commented on #10773
Can we please widen literals that fit losslessly?  It's a pain to have to write `0f` every time you just mean zero.  The compiler is in a perfect position to tell.  After all, it already does for integers that are too large.  (See behavior with `Short` vs `Int`, for example.)

[2018-06-11 06:17] sjrd commented on #5324
Repeating what I said at https://github.com/scala/scala/pull/6767#issuecomment-396120033 :

What's the rationale for this to be in `Predef`? It could and should be explicitly imported.

There should be much stronger resistance against putting stuff in `Predef`, including pimps to `Any`.

[2018-06-11 06:41] julienrf commented on #10934
I think that they are common enough to be part of the standard library. We already have `map` on lots of data types, for instance, because `map` is a very common operation. I would like to have `traverse` and `sequence` as well.

[2018-06-11 06:48] sjrd commented on #10934
How is `Applicative` so much more common than `Functor` or the zillion other "standard" typeclasses? What is the *qualitative* difference between `Applicative` and `Functor` that justifies the former to go in the stdlib but not the latter?

If we open the standard library to some categorical typeclasses, we won't know where to stop anymore.

[2018-06-11 07:01] julienrf commented on #10934
`Applicative` is actually less common than `Functor`. We currently use `Functor` on lots of types of the standard library without even knowing about the `Functor` typeclass because we simply use the `map` operation (the `Functor` typeclass has not been reified in the standard library). We also use `Applicative` operations such as `zip` (on `Option` and `Future`) without the `Applicative` typeclass

[2018-06-11 09:19] #10935 closed

[2018-06-11 11:02] #10932 closed

[2018-06-11 12:45] Jasper-M commented on #10938
I can't reproduce this :(

[2018-06-11 13:03] som-snytt commented on #10938
[code]
Double-feature reporting is fixed on 2.13.

[2018-06-11 13:13] #10937 closed

[2018-06-11 13:24] Jasper-M commented on #10938
All I get is:

[code]

This is via sbt consoleQuick.

[2018-06-11 13:27] SethTisue commented on #10935
https://github.com/scala/scala/pull/6759

[2018-06-11 13:29] #9132 closed

[2018-06-11 13:32] som-snytt commented on #10938
There are things `sbt` isn't telling you. Also they don't customize the replay advice.

[code]

[2018-06-11 13:37] Jasper-M commented on #10938
[code]

Ok, I'm going to guess the feature warning thing just gets overwritten in case there's also an error... Apologies for the noise.

[2018-06-11 14:16] szeiger commented on #10901
`flatMap` is the best you can do in `Iterable`. We have more efficient implementations in subclasses. I benchmarked the most inefficient case as a baseline. On more specialized implementations the performance differences of PF handling should be even larger.

[2018-06-11 14:17] som-snytt commented on #10938
Thanks, you made me notice that the REPL Reporter needs to be tweaked for the recent Reporter upgrade. It shouldn't show the `----` divider. I actually just spent a half hour of wtf, which is french for finding the widget.

[2018-06-11 14:32] Ichoran commented on #10901
@szeiger - If that were true, then `filter` would also have to defer to `flatMap`, which it doesn't.

[2018-06-11 14:46] szeiger commented on #10901
I suppose we could add `View.Collect` as a potentially more efficient backing operation.

[2018-06-11 14:53] holograph commented on #10762
Alas, this is also an issue with Accord (see wix/accord#126). I'll post if I can find a workaround; in the meantime, to reproduce:

1. Build `resetallattrs`:
[code]
1. Build Accord:
[code]

Sample output:
[code]

[2018-06-11 20:09] eed3si9n commented on #5324
So it seems like people are ok with this being part of Scala library, but -1 on `scala.Prefef`.

Any suggestions on what the import would be called?

[code]

?

[2018-06-11 20:15] Ichoran commented on #5324
`AnyOps` seems too general.  Maybe `ChainingOps`?

[2018-06-11 20:48] paulp commented on #5324
Please, you shouldn't even be considering a name like `AnyOps` in the standard library, ever. Don't sentence thousands of people to import renaming in every file. Every implicit in the standard library should be named something like `ThisIsTheStandardLibraryAnyOps`.

[2018-06-11 21:21] eed3si9n commented on #5324
@paulp

Good point.

Maybe we should adopt the Cats naming convention and prefix the package name like `scala.util.ScalaUtilChainingOps`.

[2018-06-11 23:41] SethTisue commented on #10921
it doesn't sound like there's anything clearly actionable here? reopen if I'm wrong.

[2018-06-11 23:41] #10921 closed

[2018-06-11 23:47] som-snytt commented on #10921
@SethTisue you mean wrong about this, right?

[2018-06-11 23:56] retronym commented on #10762
@holograph Thanks for the repro. Unfortunatlely I get stuck here:

[code]

I tried deleting `/Users/jz/.ivy2/cache/org.scalamacros/`, but the problem persisted.

Any ideas how I can get around that?

[2018-06-12 01:35] SethTisue commented on #10921
![e2c](https://user-images.githubusercontent.com/161079/41265246-537673b0-6dbf-11e8-8a21-48b3eca0a7e3.jpg)

[2018-06-12 02:08] darkfrog26 commented on #10921
Yeah, looks like a limitation that won't be easily circumvented.  I've got a less-than-perfect workaround, but that's life in the programming world.

[2018-06-12 02:36] SethTisue commented on #10397
duplicate of https://github.com/scala/bug/issues/10749 (which is a newer ticket, but it attracted more discussion than this one, so I'm closing this one)

[2018-06-12 02:36] #10397 closed

[2018-06-12 02:37] SethTisue commented on #10749
yes, that looks appealing. /cc @sjrd who reported #10397

[2018-06-12 05:21] holograph commented on #10762
Oh yeah, that’s a quirk of the build that I haven’t yet started looking into. Try `sbt package publishLocal` instead, I think that worked for me.

[2018-06-13 03:54] tpolecat commented on #10934
I have at least two concerns with going down this road:

1. As you have seen already, it's very hard to draw the boundary around what's in and what's out; and once you start pulling the thread a lot of stuff pops out. If you find `Traverse` and `Applicative` on the [cats infographic](https://github.com/tpolecat/cats-infographic) you will see that there's a lot of other nearby structure to consider

[2018-06-13 08:35] shelajev commented on #10487
Hi, we hit a similar issue while trying to compile scala or akka apps to native images with GraalVM.
For example, the [akka-quickstart-scala](https://developer.lightbend.com/start/?group=akka&project=akka-quickstart-scala) uses the
`object Main extends App {` main class, and we hit the problem as described in [graal#370](https://github.com/oracle/graal/issues/370).

Currently it can be worked arou

[2018-06-13 08:58] #10923 closed

[2018-06-13 09:24] #9552 closed

[2018-06-13 10:56] lrytz commented on #10487
https://github.com/scala/scala/pull/6788

[2018-06-13 11:55] julienrf opened #10940 "Check that strict operation implementations are only in `StrictOptimizedXxxOps` traits"
The `XxxOps` traits (such is `IterableOps`) should be safe to extend by non-strict collection types. Therefore they should only contain view-based operation implementations. This is not currently always the case, for instance @smarter made me realized that [this override](https://github.com/scala/scala/blob/c5da7a0331e6549402253fb46053f1b0172ecac1/src/library/scala/collection/immutable/Set.scala#L

[2018-06-13 12:35] julienrf opened #10941 "Clearly mention in the collections API documentation which operations always force the evaluation of elements"
With the new view-based design, collections template traits (such as `IterableOps`) can be safely inherited by non-strict collections without having to override all the operations to make them non-strict. However, some operations do eagerly evaluate the collection elements (for instance, `groupBy`).
More generally, all the operations that are implemented by using `newSpecificBuilder` or `iterableF

[2018-06-13 13:00] julienrf commented on #10934
OK, I understand your arguments so I’m closing this issue.

[2018-06-13 13:00] #10934 closed

[2018-06-13 14:07] szeiger commented on #10901
I can confirm Allan's results. Using a separate marker object is measurably faster than a self-returning functions. But there is no need to allocate it inside of `collect`. Reusing a global instance is just as fast. My latest results show this:
[code]
1 = naive, 3 = global marker, 4 = global self-returning function, 5 = same as allan's 5

It also shows that we're already faster than the naive vers

[2018-06-13 14:32] smarter commented on #10940
Related: make sure that the StrictOptimizedXOps are mixed in everywhere they need to be, e.g. shouldn't BitSet extend `StrictOptimizedSortedSetOps` ?

[2018-06-13 14:35] julienrf commented on #10940
Yes. In the case of `BitSet` I’ve fixed it in scala/scala#6776

[2018-06-14 04:48] #10487 closed

[2018-06-14 04:56] #10938 closed

[2018-06-14 10:38] adriaanm commented on #10559
Add the test to the build to close https://github.com/scala/scala-dev/issues/437

[2018-06-14 11:36] szeiger commented on #10901
Another interesting option:
[code]
Throwing an exception in the non-matching case is only 5% slower for the size=100 test (90% non-matching) but 25% faster for size=1000 (100% matching).

[2018-06-14 11:39] NthPortal opened #10942 "SortedSet/SortedMap operations do not default to the collection's Ordering"
`SortedSet`/`SortedMap` operations do not default to the collection's `Ordering`. Instead, they will use whatever implicit `Ordering` happens to be in scope.

While it is *possible* to use the collection's `Ordering` (as demonstrated below), it is not obvious how to do it, or that it needs to be done. Additionally, it is difficult to impossible if the collection does not first get assigned to a va

[2018-06-14 11:49] szeiger commented on #10901
I spoke too soon. I didn't compile the library with optimizations for that test. Using an Exception is a bit slower in both cases when the optimizer is enabled.

[2018-06-14 11:55] NthPortal commented on #6709
Should be fixed in the 2.13 collections rework

[2018-06-14 11:55] #6709 closed

[2018-06-14 12:02] julienrf commented on #10942
This is because `map` can change the type of elements, so it has to take an implicit `Ordering` for the new type of elements.

We could try to add an overload of `map` for the case of endofunctions. (And we would have to do the same for `collect` and `flatMap`)

[2018-06-14 12:02] pweisenburger commented on #10928
I'm also not completely sure if there still is a reason for that check, of course. But I would be really surprised if `object o { type T <: Any { type U <: T } }` should not compile. It does not compile on Scala 2.12.6. But it does on Dotty and, interestingly, it also compiles on Scala 2.11.12.

[2018-06-14 12:09] NthPortal commented on #8664
Should be trivial to add this to `scala.math.Ordering`. I can look into it tonight.

[2018-06-14 13:20] viktorklang commented on #10901
@szeiger Where do you toggle that setting?

[2018-06-14 14:55] #10922 closed

[2018-06-14 18:15] som-snytt opened #10943 "Repl feature warnings are always verbose"
[code]

[2018-06-14 21:49] #10559 closed

[2018-06-15 01:43] kmizu opened #10944 "The results of eta-expansion are wrong about Boolean's || and &&."
In Scala 2.12,  the type of

[code]

and

[code]

are not `(=> Boolean) => Boolean)` but `Boolean => Boolean`.  However, spec says these methods are methods to take by-name parameter in Scala 2.12.

From https://github.com/scala/scala/pull/6785#issuecomment-397166383  :

[2018-06-15 08:58] #10749 closed

[2018-06-15 09:05] lrytz opened #10945 "Some types in collections still need to be made Serializable"
For example `Partition` (https://github.com/scala/scala/blob/4b5694deb00a66475ccb1b096b139c8004c55c7d/src/library/scala/collection/View.scala#L146-L147)

[2018-06-15 10:51] soronpo opened #10946 "Allow @implicitNotFound custom error messages for implicit conversions"
Consider the following example:
[code]

I guess the reason that the custom error isn't displayed is that there can be cases where several implicit conversions are inspected by the compiler and there can be more than one that fails or ones that pass, so we don't want unnecessary errors to be displayed in either case.

However, there are situations where there is only a single viable implicit conver

[2018-06-15 12:12] fommil commented on #10934
As to my opinion on the matter, which has not been requested, so I'll keep it short: it's good to see EPFL / Lightbend embracing FP concepts. I'm not sure reinventing the wheel would be a great move, though. These things already exist in scalaz.

[2018-06-15 12:33] julienrf commented on #10934
Actually, I didn’t explicitly request a review from anybody. The issue is public and everybody is welcome to comment on it.

[2018-06-15 12:43] emilypi commented on #10934
Are fundamental design decisions in Scala being dictated by whether or not the docs look nice?  I'm in favor of Scala incorporating a truncated functor hierarchy. It's certainly more desirable than `A => IterableOnce[A]` in every collection and then having the docs lie to cover up that design decision.

[2018-06-15 12:56] fommil commented on #10934
@julienrf there was a request on typelevel/general to comment here, and no equivalent in scalaz/scalaz. I think it's good to be reaching out of the EPFL bubble when asking for feedback but you're using "beware of the leopard" logic if you expect to get feedback representative of the FP community. I advise tagging @xuwei-k as the unofficial "lead" of scalaz 7.x and @jdegoes for 8.x... there might e

[2018-06-15 13:01] adriaanm commented on #10946
Happy to discuss, especially based on concrete use cases like this.

I'm concerned that it'll get complicated to define exactly when we "commit" to a certain failing conversion and use its underlying failure reason as the error. We do have some precedence in this area (AmbiguousImplicitError tries to explain more).

[2018-06-15 17:18] SethTisue commented on #10737
@df3n5 after accepting my invite to https://github.com/orgs/scala/teams/contributors, comment here and I'll assign the ticket to you.

[2018-06-15 17:18] #10737 closed

[2018-06-15 19:17] df3n5 commented on #10737
@SethTisue I have accepted that invite now.

[2018-06-17 05:59] som-snytt commented on #10945
I patched the three warnings in `View` at https://github.com/scala/scala/pull/6806/commits

[2018-06-17 17:31] zxxc commented on #10603
same issue when i'm trying to start sbt
[code]

[2018-06-18 08:15] lrytz opened #10947 "Re-consider where to define *InPlace in the hierarchy"
Continuing the discussion from https://github.com/scala/scala/pull/6793

[2018-06-18 08:15] lrytz commented on #10947
@NthPortal  says:

This would lead to the anti-pattern of putting a mutable collection into a `var`, so I agree it's not a very nice API.

Could we could factor the `InPlace` methdos out (as abstract methods only) into a trait to mix into concrete collection types and maybe `mutable.IndexedSeqOps`? Or are the requirements different for `map/flatMap/filter/...`, so it doesn't make sense to put them

[2018-06-18 12:56] NthPortal commented on #10947
Good point. I was thinking more from the perspective of chaining ops (e.g. `seq.maybeSortInPlace.apply(3)`), which of course is much less common for mutable collections.

I retract my comment.

[2018-06-18 14:03] holograph opened #10948 "Regression in 2.13.0-M4 on Java 10: spurious "macro implementation not found" errors"
This happens with Scala 2.13.0-M4 on Java 10 (works with 2.12.6 on Java 10), and can be reproduced by:

1. `git clone git@github.com:scalamacros/resetallattrs.git`
2. `git checkout scala-2.13.0-M4`
3. `sbt ++2.13.0-M4 test`

Expected result: correct compilation and execution of tests.

Actual result (edited for brevity):
[code]

The same code compiles fine on 2.11.x, 2.12.x and 2.13.0-M3, and the

[2018-06-18 19:53] SethTisue commented on #10948
I followed the given reproduction steps and there was no error. transcript: https://gist.github.com/SethTisue/5e2cd519592c2bbc197a3e06e94e5ccc

[2018-06-18 21:44] julienrf opened #10949 "Add updateWith/updatedWith operation to Map collections"
I think it would be interesting to add an `updatedWith` operation to `immutable.Map`:

[code]

This operation has been implemented in scala-collection-contrib, for reference: https://github.com/scala/scala-collection-contrib/blob/master/src/main/scala/scala/collection/decorators/ImmutableMapDecorator.scala#L7-L26

Similarly, we should have an `updateWith` operation in `mutable.Map`:

[code]

This

[2018-06-18 22:55] Ichoran commented on #10949
That is a pretty hairy signature.  Can it just be `Option[V] => Option[V]` or `PartialFunction[V => V]`?  I understand how this is more general, but I worry that it is general to the point of obtuseness.

[2018-06-18 22:58] julienrf commented on #10949
I can understand that this is a scary signature. The goal is to not require users to be exhaustive when they call it.

[2018-06-19 00:02] erikerlandson commented on #10947
This seems like it might be a good use case for type classes.  Define a type class `NLogNSortable`, or some such. Provide implicit conversion.

That, or `implicit class`, which would be nicer from a library user perspective.

[2018-06-19 00:07] erikerlandson commented on #10947
Just in general, making all the collections hierarchies lighter weight, and moving more functionality to `implicit class` and/or type-classes, seems like it might help resolve some thorny design conflicts that naturally arise out of trying to do things with complex hierarchies.

[2018-06-19 06:35] Ichoran commented on #10949
When exhaustiveness is a simple `case x => x` away, I am not sure the extra-complicated signature is worth it.

You can implement a lot of stuff in terms of `flatMap`, but we provide `filter` and `map` anyway.

[2018-06-19 09:16] martijnhoekstra commented on #10949
shouldn't it be `def updatedWith[V1](key: K)(f: PartialFunction[Option[V], Option[V1]]): Map[K, V1]`? (or a non-partial variation I'm more partial to)?

[2018-06-19 09:38] retronym commented on #10703
Seems like a duplicate of #10187, although the [fix in 2.13.x](https://github.com/scala/collection-strawman/issues/382) is different from that [in 2.12.x](https://github.com/scala/scala/commit/898fa00a76286786427b093f0161ea0d3d3bae29).

I'll investigate further.

[2018-06-19 09:41] retronym commented on #10703
Ah, I see that this was reported after the attempted fix in 2.12.x, but shows a case where the behaviour is still wrong.

[2018-06-19 09:42] retronym commented on #10703
We should backport the fix to 2.12.7

[2018-06-19 10:52] julienrf opened #10950 "Make sure Set operations are efficiently implemented in BitSet"
The `&~`, `|`, `&` and `^` operations should be overridden in `BitSet` for performance, as it was the case in 2.12.

[2018-06-19 14:37] julienrf commented on #10949
@martijnhoekstra Yes, I updated the issue description with the correct type signature.

[2018-06-19 16:45] dyuval commented on #10894
@dwijnand did you had in mind something like this:
  /**  Returns true if there is a next element available. */
  def hasNext: Boolean

[2018-06-19 16:53] dwijnand commented on #10894
I would say that and also a reference to the further information available in the class docs.

[2018-06-19 18:10] alejopa commented on #10945
How can I find out which collections need to be made Serializable?

[2018-06-19 18:20] mcanlas commented on #10948
One thing that's missing from the instructions is `cd resetallattrs/` in case anyone else tries to robotically copy paste it all, haha.

[2018-06-20 01:13] xuwei-k opened #10951 ""a".mkString(",") throw OutOfMemoryError in latest Scala 2.13"
[code]

[code]

[code]

[code]

[2018-06-20 06:37] SethTisue commented on #10951
LOL

[2018-06-20 09:34] holograph commented on #10948
I'm trying to reproduce this properly, will follow up

[2018-06-20 09:41] holograph commented on #10948
@lrytz @SethTisue This appears to be a regression with later JDKs. Specifically, the error occurs with JDK 10.0.1 but NOT with JDK 1.8.0_171:

[code]

Followed by:
[code]

[2018-06-20 10:07] lrytz commented on #10948
Thanks! I can reproduce the crash on Java 10 with 2.13.0-M4. Java 10 and 2.12.6 works.

[2018-06-20 10:33] nokok opened #10952 "Strange behavior in ValDef"
I was found strange behavior in `val 1 = 1`.
Is this by design?

### REPL:
[code]

### scalac:

[code]

[code]

[2018-06-20 14:11] SethTisue commented on #10948
curious if Java 9 is affected too.

this is a nice reminder that we need a [Java 10 community build](https://github.com/scala/community-builds/issues/735)

[2018-06-20 14:17] SethTisue commented on #10952
yes, by design, this is legal Scala. `val` takes a pattern, `1` is a pattern.

this was discussed thoroughly at https://www.scala-lang.org/old/node/10730

[2018-06-20 14:17] #10952 closed

[2018-06-20 21:30] mzuehlke commented on #10950
I will try this as a first issue. Should have a PR later this week.

[2018-06-21 14:20] som-snytt commented on #10951
This makes me rethink my experiment to distinguish "lowercase" numerals, where one would be indistinguishable from the Turkish dotless eye, and to my eye, indistinguishable from eye `i`.

Anyway, `i` is way overused. `n` should suffice.

`"Seth never indexes into anything."`

[2018-06-22 09:34] alex1712 commented on #10823
I am taking a look on the issue, and the behaviour in the current 2.13.x branch is even worst.

If I try `Process.cat(List(new File("hello"), new File("world"))).!!`, I get `java.lang.StackOverflowError`

Sending them as separate arguments (`Process.cat(new File("hello"), new File("world"))`) the behaviour is as in previous versions, appending only the content of the first file.

I'll keep trying

[2018-06-22 13:42] alex1712 commented on #10823
I will create a new Issue for the StackOverflowError in 2.13.x when sending a Seq[File]

[2018-06-22 13:43] #10950 closed

[2018-06-22 13:45] alex1712 opened #10953 "java.lang.StackOverflowError When calling `Process.cat` with a Seq[File]"
When running this code agains the branch 2.13.x
[code]

I get a StackOverflowError
[code]

Investigating this issue (https://github.com/scala/bug/issues/10823) I found  that in the current version this new problem appears.

[2018-06-22 14:42] alex1712 commented on #10823
I did a PR for the other Issue but still don't get why the final File gets only the cat result of the first Process. At least the StackOverflowError should not come in scala 2.13 :)

[2018-06-22 15:13] julienrf commented on #6947
This is what we now get for `foldLeft` in `Map`:

![image](https://user-images.githubusercontent.com/332812/41784100-fddb447a-763e-11e8-83d0-2db292c2d223.png)

I’ve checked all the places where we use `@usecase` and saw no misleading type signature. I think we can close this issue.

[2018-06-22 15:13] #6947 closed

[2018-06-22 15:14] julienrf commented on #6947
(And this is also what we get for the `map` operation)

![image](https://user-images.githubusercontent.com/332812/41784321-a7d343f6-763f-11e8-9c79-41d0fd896fe4.png)

[2018-06-22 18:18] akauppi commented on #7884
I made a [repo](https://github.com/akauppi/case-class-gym) to exercise and study this behavior a bit.

Had been touched by it once or twice, last year, when I wanted to have a case class that only gets created internally. Had noticed that not defining the `.apply` allowed outside creation of instances, which I thought surprising.

I agree with @scabug that "principled thing is to give the syntheti

[2018-06-22 18:46] akauppi commented on #7884
Have mentioned this in https://users.scala-lang.org/t/ending-the-confusion-of-private-case-class-constructor-in-scala-2-13-or-2-14/2915

[2018-06-22 19:20] SethTisue commented on #7884
I think a pull request on this would likely be accepted.

[2018-06-22 22:03] fommil opened #10954 "implicit resolution issue when using tagged types"
Without copying an implementation of scalaz tagged types into this example, this is as minimal as I can get this compilation failure.

Removing the `//` comments, this compiles, which shouldn't intuitively be needed because the instance is on the companion of `Bar`.

However, it is unclear if the companion of `Bar` should even be searched. It is certainly a parameter of the type, so I would have t

[2018-06-22 23:06] hrhino commented on #10954
Thanks for the minimization. I'm of the opinion that this should compile, too. I'll go read the spec tonight or tomorrow and post a formal argument for why.

Just to double check, this fails on 2.12.6? (I'd check but I'm on my phone for the next few hours).

[2018-06-23 13:03] akauppi commented on #7884
I'll be likely to work on this in July.

[2018-06-23 17:41] fommil commented on #10954
nope

[code]

[2018-06-23 19:10] SethTisue commented on #10954
if this works in 2.13.0-M4, we should close the ticket. does it?

[2018-06-23 20:39] fommil commented on #10954
I am not using 2.13 at work and will not be doing so for a long time. Is there a reason to believe that this is fixed in 2.13?

[2018-06-23 21:01] hrhino commented on #10954
Nope.

[code]

What's going on is that by the time implicit search happens, the type lambda's been normalized to `AnyRef { type Self = Bar[α] ; type Tag = Parallel }`, and the only parts of that type are `AnyRef` and its parts. The spec doesn't appear to mandate this dealiasing, so I'd say this is probably a bug in that sense.

I think this is a major weakness of scalaz 7.2's tagged types encoding

[2018-06-23 21:12] julienrf opened #10955 "Iterator.unfold is missing"
See this post for a motivation: https://contributors.scala-lang.org/t/which-operations-should-be-included-in-the-new-collections/1106/75

In short: `LazyList` has un `unfold` but since it memoizes its elements it’s not memory efficient. We should either implement it in a GC-friendly way or simply add `unfold` to the `Iterator` companion.

[2018-06-24 05:53] NthPortal commented on #10947
@erikerlandson one of the problems with using typeclasses for this is that all of the `<op>InPlace` implementations tend to require access to the private state of the class, which may not be available to the typeclass

[2018-06-24 15:43] LPTK commented on #10955
`Iterator.unfold` should definitely be added even if `LazyList .unfold` is made more efficient, as the iterator version will still probably be much faster. And I've often wondered why this method (which seems very important to me) does not exist yet.

Corollary: can we have `Iterable.unfold` too, which wraps `Iterator.unfold` into a stateless interface? I prefer avoiding `Iterator`s as much as pos

[2018-06-24 16:06] NthPortal commented on #10955
@LPTK do you think `init` should be by-name for that?

[2018-06-24 16:33] SethTisue commented on #10954
seems peculiar it would work in 2.12 with `-Xsource:2.13` but fail in actual 2.13

[2018-06-24 16:36] hrhino commented on #10954
@SethTisue no, sorry about that, it fails in 2.12, too. As I brought up on gitter, I tried to reproduce without scalaz by inlining the definition of `@@`, but I forgot what it actually was.

scalaz 7.2 has:
[code]

I used:
[code]

It works with the latter encoding but not with the former. I haven't managed to find what about the former is superior; it leads to this problem where the implicit searc

[2018-06-24 16:37] tarsa commented on #10955
Init argument is not the first element, but it is used to compute the first element. Therefore I think that we do not need to have initial state passed by name. Problem is different. LazyList factory forces computation of first element because it always calls Iterator.hasNext. Check it:
[code]

OTOH, Iterator based unfold could be used to implement unfold for all collections. See this:
[code]

[2018-06-24 16:42] #8664 closed

[2018-06-24 20:09] akauppi commented on #7884
@SethTisue I'd be happy to make SIP, but plan to do so after I've got a PR with associated tests ready. One reason to go SIP is that (to what I've seen so far) the current behaviour doesn't seem to be clearly defined, rather it "just is". I'll see that better when making changes to Scala, and if those changes don't break existing tests, that would useful information.

[2018-06-24 20:38] jpallas opened #10956 "interpreter crashes with StackOverflowError on long import line"
It seems that a single import with many import expressions can make the interpreter use  a lot of stack space.  It's not actually unbounded recursion, because increasing the stack size fixes the problem, but somehow the stack usage is dependent on the number of imports.

Failing example:

[code]

Passing example:
[code]

[overflow-awt.txt](https://github.com/scala/bug/files/2131183/overflow-awt.tx

[2018-06-24 21:12] hrhino commented on #10956
I ran into this with sbt's `consoleProject` task a week or two ago. Every import pushes quite a few stack frames and eventually you run out of space.

[2018-06-25 00:04] retronym commented on #10412
@szeiger What problems are you thinking about when you say:

[2018-06-25 08:47] adriaanm commented on #7884
The copy method is synthesized here: https://github.com/scala/scala/blob/2.13.x/src/compiler/scala/tools/nsc/typechecker/Unapplies.scala#L176-L233. Its signature is completed by https://github.com/scala/scala/blob/2.13.x/src/compiler/scala/tools/nsc/typechecker/Namers.scala#L593-L616

[2018-06-25 08:57] MasseGuillaume opened #10957 "collection.Map -- not available in 2.13.0-M4"
It's not possible to remove elements on `collection.Map` but it's possible to add [`collection.Map.++`](https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/collection/Map.html#++[V2%3E:V](xs:Iterable[(K,V2)]):CC[K,V2])

[2018-06-25 09:04] julienrf commented on #10957
Reminder: we removed `--` in `collection.Map` because then `collection.mutable.Map` would inherit from it in addition to its own `--=`. If we add it back I think it should be deprecated, with the same kind of messages we already have for `collection.Map#+` (https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/collection/Map.html#+[V1%3E:V](kv:(K,V1)):CC[K,V1]).

[2018-06-25 11:28] julienrf commented on #10941
Closed by #6824

[2018-06-25 11:28] #10941 closed

[2018-06-25 17:22] #10747 closed

[2018-06-25 18:11] hrhino opened #10958 "Using a Java annotation as a ClassfileAnnotation leads to problems"
This one's mostly for fun, because why would you do such a thing?

[code]

_not_ a `ClassCastException`, as you may have thought!

I'm not sure what can be done about this; patching parents of a class to add superclasses that just aren't there at runtime is inviting runtime crashers at the very least.

[2018-06-25 18:16] som-snytt commented on #10956
You just got lucky.

It's overflowing compiling the long string construction:

[code]

Cf the output for `import scala.concurrent._, scala.collection.{mutable, immutable}`.

Just adding a println for the current stack depth makes scalac also overflow the example, so scalac was also near the ceiling; the REPL wasn't doing any extra analysis, but it starts with less stack.

I'll close this issue, th

[2018-06-25 18:58] lrytz commented on #10958
This is an endless source of bugs, see https://github.com/scala/bug/issues/9400. We should stop modifying java annotations (flags, parents, etc) and trying to work around the inconsistencies in later phases.

[2018-06-25 19:36] som-snytt commented on #10956
I tried the s-interpolator trick, it passes typer but still exhausts stack in ref-checks. I'll try again later, maybe there's something trickier.

[2018-06-25 20:32] hrhino commented on #10958
ah, I think this is a duplicate of #9644, which I somehow didn't find.

[2018-06-25 20:32] #10958 closed

[2018-06-25 20:37] som-snytt commented on #10956
The trickier was to use a string builder directly. Or directlierly.

[2018-06-25 22:52] aryairani opened #10959 "Class jdk.internal.HotSpotIntrinsicCandidate not found - continuing with a stub."
I see this error compiling with 2.12.5 or 2.12.6 with `-opt:inline -opt-inline-from:**` with JDK 10.
[code]
It's okay with JDK 9.

2.12.4 also fails, but more messily:
[code]

If the problem isn't obvious, let me know and I will try to come up with a minimized example.  Or at least an example.

[2018-06-26 03:30] SethTisue commented on #10913
should this ticket be closed now that https://github.com/apache/spark/pull/21495 has gone through?

[2018-06-26 05:41] xuwei-k opened #10960 ""type mismatch" error since Scala 2.13.0-M4"
bug or by design?

- compile failed with Scala 2.13.0-M4, 2.13.0-pre-1e904d7 (latest 2018-06-26)
- compile succeed with Scala 2.13.0-M3, 2.12.6, 2.11.12, 2.10.7

[code]

[code]

[2018-06-26 08:01] adriaanm commented on #10954
Nice analysis, @hrhino! The `@@` alias is expanded and the parts of a structural type do not include its members.

The spec is ambiguous on the expansion of a type application to a type alias. (See https://www.scala-lang.org/files/archive/spec/2.12/07-implicits.html#implicit-parameters -- I've included the relevant cases of the definition below.)

The _parts_ of a type T are:

- if T is a compound

[2018-06-26 08:18] fommil commented on #10954
@adriaanm thanks, so are we saying this is a bug or not a bug?

If you want more details on anything related to scalaz, you could ask your colleague, Jason, as he is [the primary author](https://github.com/scalaz/scalaz/graphs/contributors?from=2008-11-30&to=2018-06-26&type=a)  :smile:

Changing the definition of `@@` is not an option: it is an upstream dependency. As @hrhino points out though, it

[2018-06-26 08:33] adriaanm commented on #10954
I was looking at the dotty implementation, and it looks like they interpret the spec to include any type application. So, we should as well. I'll consider this change for M5, assuming it doesn't cause any regressions. I hesitate a bit, because I'm not keen on enlarging the implicit scope, but it does feel more intuitive.

[2018-06-26 09:56] #10894 closed

[2018-06-26 09:58] #10137 closed

[2018-06-26 12:01] adriaanm commented on #10954
(See https://github.com/scala/scala-dev/issues/446 re: my unease.)

[2018-06-26 12:10] hrhino commented on #10954
Independently of whether this is a bug, and independently of whether this can be fixed, I think the current scalaz encoding is (as Adriaan points out) much ceremony for nothing, and it's good that it's getting changed in 7.3. @fommil what do you think would be wrong with changing the 7.2 definition to

[code]

which should IIUC make this work.

[2018-06-26 12:21] joroKr21 commented on #10954
`@@` got dealiased before implicit search because of the hacky encoding of type lambdas (`({ type λ[α] = Bar[α] @@ Parallel })#λ`). `λ` here has to be dealiased to figure out what it is and there is no partial dealiasing.

[2018-06-26 12:35] hrhino commented on #10948
This is fixed by scala/scala#6695 (re-merging fix for scala/scala-dev#480 after it was accidentally dropped during a forward merge.)

[2018-06-26 12:35] #10948 closed

[2018-06-26 13:08] vilinski commented on #10470
Just to be clear, is it "by design" or "won't fix" or why is it closed? The 2.12.6 compiles big case classes still with "-Xss" option only.

[2018-06-26 14:01] SethTisue commented on #10470
it's considered normal that some kinds of unusual Scala code may require extra stack to compile.

it's also considered normal that the exact point at which the default stack size becomes insufficient may change from time to time, including in a minor release.

[2018-06-26 14:33] fommil commented on #10954
@hrhino you'd be best talking to kenji and stephen compall about that. It sounds like it might have far reaching consequences, so maybe best left for 7.3.

[2018-06-26 19:00] som-snytt commented on #10960
Failed previously under `-Xfuture`. The future is [now](https://github.com/scala/scala/pull/6502). The PR is 6502 like the chip.

The correct idiom is now `case a: Empty.type => a`. Otherwise, all you got was an equals test.

Also, `-Xlint` would have told you:

[code]

I know everyone has `-Xlint` turned on all the time.

[2018-06-26 19:00] #10960 closed

[2018-06-27 00:03] eed3si9n commented on #10960
What should be the recommend rewrite here?

[code]

or

[code]

?

[2018-06-27 01:05] som-snytt commented on #10960
The first idiom is eq and a check cast, which I think is the usual intuition for matching a singleton. The second idiom is equals, with `getstatic` module load every time you mention `Empty`.

Probably scalafix should generate `case empty: Empty.type =>`.

Now I don't remember when I started the quinoa.

[2018-06-27 01:49] retronym commented on #10954
[Previous discussion](https://github.com/scala/bug/issues/9770#issuecomment-292440679) about the can-of-worms that gets opened when considering the arguments of alias applications. (e.g. should we do this for each step of dealising?).

I borrowed the formulation of `@@` in Scalaz from @milessabin, IIRC. I didn't consider the interaction with the implicit scope.

[2018-06-27 09:32] #10900 closed

[2018-06-27 11:09] #10953 closed

[2018-06-27 13:15] #9529 closed

[2018-06-27 13:20] sjrd commented on #10960
A scalafix rewrite should preserve the meaning of the existing code if at all possible. In this case, this means:
[code]
Yes, it's unsound, which precisely match how unsound the previous meaning was.

[2018-06-27 14:33] MasseGuillaume opened #10961 "[2.13.0-M4] Implement missing methods for Iterator"
* [ ] `def aggregate[B](z: ⇒ B)(seqop: (B, A) ⇒ B, combop: (B, B) ⇒ B): B`
* [ ] `def copyToArray(xs: Array[A]): Unit`
* [ ] `def corresponds[B](that: GenTraversableOnce[B])(p: (A, B) ⇒ Boolean): Boolean`
* [ ] `def hasDefiniteSize: Boolean`
* [ ] `def isTraversableAgain: Boolean`
* [ ] `def padTo(len: Int, elem: A): Iterator[A]`
* [ ] `def partition(p: (A) ⇒ Boolean): (Iterator[A], Iterator[A])`

[2018-06-27 14:51] dbtsai commented on #10913
Thank you all for helping on this!

[2018-06-27 14:51] #10913 closed

[2018-06-27 15:16] julienrf commented on #10961
These operations were available in 2.12, we should add them back.

[2018-06-27 15:17] julienrf commented on #10961
Note that there is a `padTo` implementation for `Iterator` in `View.PadTo`.

[2018-06-27 15:17] julienrf commented on #10961
I’m not sure `scanRight` makes much sense in `Iterator` but we should at least provide a deprecated implementation.

[2018-06-27 15:21] julienrf opened #10962 "scan operation in Iterable should be deprecated, fold should be added (and deprecated)"
These operations are equivalent to `scanLeft` and `foldLeft`, respectively, on sequential collections. Since the new collections are only sequential, I see no reason to keep those operations. The current state is that we have a non-deprecated `scan` and no `fold`. Both should be present and deprecated.

[2018-06-27 17:23] som-snytt commented on #10137
Cleaning up old branches, I found one with just the deprecation.
[code]

[2018-06-27 18:22] eed3si9n commented on #10960
When I asked "What should be the recommend rewrite", I didn't necessarily mean the mechanical ones, but in general, I feel like we should try to conserve the likely-intent of the code, not the surprising behavior of the code.

The most straightforward read of the code

[code]

is that the author tried to pattern match on `this` with `Empty`, and use the value typed to it. The fact that it uses `==

[2018-06-27 18:49] som-snytt commented on #10960
I was going to say that if Scalafix doesn't fix something, it's not doing its job.

But I like the idea of a lint option to specify whether you prefer improved behavior or reproduced behavior.

English "fix" has the primary meaning to set in place. The sense of repair means you have a screw loose, that requires fastening. Nicely, it's related to dike, which is also multivalent, and ditch, Teich.

[2018-06-27 21:55] invadergir opened #10963 "ListSet.toList ordering"
Hi,

I'm trying to sort out what the actual behavior of ListSet.toList should be.  The documentation for the [current 2.12 version](https://www.scala-lang.org/api/2.12.6/scala/collection/immutable/ListSet.html) says

I've seen different things.  What is the expected behavior?  Is the code or the documentation wrong?

In Scala 2.12.6:
[code]

For comparison, 2.11 works as the documentation would im

[2018-06-27 21:58] SethTisue commented on #10963
please search the bug tracker for other issues involving `ListSet`

(and/or try it in Scala 2.13.0-M4, which has a revamped collections library)

[2018-06-27 21:58] #10963 closed

[2018-06-27 22:08] invadergir commented on #10963
I don't think it's a duplicate of https://github.com/scala/bug/issues/10005, which I saw.  I think the docs  need updating to reflect the new behavior.  That link does answer my first question, however.

[2018-06-27 22:24] SethTisue commented on #10963
if the docs and the behavior are out of sync in 2.13.0-M4, we should have an open ticket on that.

if the docs and the behavior are out of sync in 2.12.x only, then we'd certainly welcome a 2.12.x pull request correcting that

[2018-06-27 22:41] Prithvirajbilla commented on #10962
Hi, I'd like to pick this. Let me know if some one is already working on this. This will be first one for me. Thanks.

[2018-06-28 01:43] Prithvirajbilla commented on #10962
IterableOnce already has a fold method. so added deprecated annotation to it.
https://github.com/Prithvirajbilla/scala/commit/14d96f3f66fc6257ea2a76689df0eda84d912223 This should address the issue.

[2018-06-28 04:28] NthPortal commented on #10962
@Prithvirajbilla If no one else has said here that they're working on it (and it's not assigned to anyone), you can assume no one else has started working on it, and claim it with a comment (as you have done). Thanks for picking this up!

[2018-06-28 09:12] Jasper-M commented on #10963
I think both the docs and the code are correct in sync. The docs specifically say:

Elements are indeed stored *internally* in reverse insertion order, but this only affects performance, not behavior. Perhaps you *could* say that public documentation talking about implementation details causes confusion, and they should just list the performance characteristics without explanation?

[2018-06-28 12:01] DavidPerezIngeniero commented on #10870
That's true, in my project I use heavily string interpolation and sometimes large strings.

[2018-06-28 12:08] SethTisue commented on #10870
@retronym shall we close this as falling under the usual policy that it's normal for some kinds of unusually involved code to require giving the compiler extra stack?

[2018-06-28 13:19] Prithvirajbilla commented on #10962
@NthPortal thanks for telling me what the proper etiquette is.

[2018-06-28 13:35] #10951 closed

[2018-06-28 21:55] eed3si9n commented on #10870
Could you give some guidance to the recommended JVM setup when using sbt?
We are seeing multiple reports of build crashing after bumping up to the latest where it worked ok previously. In case of https://github.com/scalikejdbc/scalikejdbc/pull/874 when I first became aware of this issue the Travis CI log says:

[code]

That's 6MB of stack per thread, which is a lot already considering the default

[2018-06-29 00:29] #10962 closed

[2018-06-29 03:07] eed3si9n commented on #10870
Also the stack traces above are from RefCheck, and another sbt issue (https://github.com/sbt/sbt/issues/4182) shows something like:

[code]

How does an intrinsfied tree look like to the typer? A large chain of string concatenation?

[code]

[2018-06-29 04:19] retronym commented on #10870
Yes, its a big string concatentation. The JVM backend turns that into more imperative/performance `StringBuilder` mutation. In ScalaJS, string contatentation than using string builder.

The string concatentation is nested `Apply` nodes. Deeply nested trees do require more stack in each phase of the compiler, the SOE could come in typer, or refchecks, or elsewhere.

I suppose we could use a flatter

[2018-06-29 04:28] som-snytt commented on #10870
I just dealt with large string appends in a REPL PR. I'm not some kind of genius computer scientist, all I want to do is make a long string, why is that hard? I could try to help over here; I feel bad b/c 24 hrs in a day and only one retronym. Possibly there are more hours in a day down under.

[2018-06-29 12:14] szeiger commented on #10412
I was referring to the cyclic references problem with serialization proxies but a quick test run of serialization tests for the collections (with my current workaround replaced by a proxy) shows no problems. I'll have to perform a broader test by letting the compiler generate this pattern for all singleton objects.

[2018-06-29 12:29] mschlaipfer opened #10964 "Type checker runs out of memory on deeply nested lambda term (generated code)"
I am trying to synthesize Scala code automatically and unfortunately the Scala type checker runs out of memory when running `sbt compile` on this generated code. I currently start sbt with `sbt -J-Xmx6G -J-Xms6G -J-Xss40M -J-XX:+UseConcMarkSweepGC`

The code causing it is at the bottom. It contains a deeply nested lambda term. The program might contain errors in and of itself.

I guess my question

[2018-06-29 14:17] plokhotnyuk commented on #10717
@lrytz referenced pr merged to 2.13.x branch only... will it be backported to 2.12.x?

[2018-06-29 14:24] lrytz commented on #10717
it should be, let's keep this open.

[2018-06-29 16:06] szeiger commented on #10412
Here's my attempt so far: https://github.com/scala/scala/compare/2.13.x...szeiger:issue/10412

But I can't make it work. Whatever way I use to generate the call to `getClass()` (see `SyntheticMethods.scala`), if it gets past type-checking I end up with an error like this:

[code]
Any suggestions welcome on how to do that adaptation to the existential type correctly.

[2018-06-29 16:33] Wogan commented on #10898
This looks similar to `combine` from `SemiGroup`; maybe that name makes sense.

[2018-06-29 16:39] mschlaipfer commented on #10964
I wrote a code generator for F# and the "equivalent" F# program terminates within less than a second (with a type error as of now), so I think this is a valid Scala issue.

[2018-06-29 17:36] som-snytt commented on #10898
@Wogan Thanks for looking. You raised my hopes and then dashed them. :)

I may propose calling it `somSnytt`, which is the same length as `scanLeft` with the same initial and final letter. That ought to drum up further responses both pro and con, probably con.

[2018-06-29 19:03] som-snytt opened #10965 "REPL export to sbt"
REPL should have an easy way to export my session to an sbt project.

The config should include only what my session requires.

[2018-06-29 20:28] isaacl opened #10966 "optimize ArrayOps slice"
Can we adjust ArrayOps to use `java.util.Arrays.copyOfRange`?

[code]

[code]

The discrepancy even worse when the array doesn't need to be reduced, still `25ns` for take, but only `3ns` for my custom method.

[2018-06-30 04:52] Ichoran commented on #10966
Part of the contract of `take` is that you get a new collection, so you can't shortcut it when the array is already shorter than 10.  (You can shortcut it for `ArraySeq`.)

But we should use `java.util.Arrays.copyOf` where we can.  (Keep in mind that the methods are overloaded on `Arrays`, so depending on context you may have the overhead of dispatch to the correct method.)

[2018-06-30 06:15] isaacl commented on #10966
I didn't see that documented. Do we have to keep that contract?

vector docs currently say, for example:

[2018-06-30 13:50] Ichoran commented on #10966
Yes, for mutable collections you have to keep the contract that you get a fresh copy.  Otherwise whether or not modifications affect the original is unpredictable.  (The contract may be implicit, but it's true for all operations that do not explicitly work in place.)

[2018-06-30 21:49] nuransan opened #10967 "java.lang.IllegalAccessError while instantiating specialized class in certain circumstances"
[code]

[code]

Scala version: 2.12.6 (also: 2.11.12 and seems all the earlier)
Java version: 1.8.0_171

[2018-06-30 23:57] isaacl commented on #10966
So I have this function:

[code]

Is this the most efficient way to copy up to X items to a new list?

[2018-07-01 00:35] isaacl commented on #10966
We can probably use scala's Array.copy https://github.com/scala/scala/blob/2.13.x/src/library/scala/Array.scala#L124

[2018-07-01 13:16] som-snytt commented on #4511
From https://github.com/scala/bug/issues/10967
[code]

[2018-07-01 13:17] som-snytt commented on #10967
Duplicates https://github.com/scala/bug/issues/4511

I added the test sample there.

[2018-07-01 13:17] #10967 closed

[2018-07-01 13:30] som-snytt commented on #9577
Duplicates #4511

[2018-07-01 13:31] #9577 closed

[2018-07-01 18:20] Ichoran commented on #10966
@isaacl - Doubtful.  It's probably faster to
[code]

[2018-07-01 20:04] Jasper-M commented on #10966
I would hope that `arr.iterator.take(n).toList` is a good compromise.

[2018-07-01 22:50] NthPortal commented on #10966
or `arr.view.take(n).toList`

[2018-07-02 03:06] isaacl commented on #10966
I notice that `xs.length` almost always gets converted to ScalaRunTime.array_length, which does an instance lookup check.  In fact, even if I adjust an ArrayOps method to:

[code]
the `x.length` call gets converted to `array_length`. Why is this?

[2018-07-02 05:12] isaacl opened #10968 "reduce ScalaRunTime array type checking"
java.lang.reflect.Array has methods that can do many of the runtime tasks, and most have intrinsics.

`array_length` could instead call `Array.getLength`

And I think the boxing of the reflect methods is consistent with ScalaRunTime.
`array_apply` => `Array.get(Object, int)`
`array_update` => `Array.set(Object, int, Object)` works as long as object isn't null

Does `array_clone` need to check type

[2018-07-02 08:56] Jasper-M opened #10969 "Scaladoc contains unexpanded macros"
See for instance https://www.scala-lang.org/api/2.13.0-M4/scala/collection/IterableOnceOps.html or https://www.scala-lang.org/api/2.13.0-M4/scala/collection/immutable/List.html. It's full of `$coll` and `$willNotTerminateInf` etc. It looks like it's primarily the new collections that are affected, because e.g. the `Option` scaladoc looks ok.
Related issue: #9785

[2018-07-02 11:56] Jasper-M commented on #10966
To return to the core of this issue: isn't this optimization already done in 2.13.x? https://github.com/scala/scala/blob/v2.13.0-M4/src/library/scala/collection/ArrayOps.scala#L237-L258

[2018-07-02 13:34] julienrf opened #10970 "Buffer misses appendAll and append"
In 2.12, `Buffer` has `append` and `appendAll`. These methods do not exist in 2.13. `Buffer` does have `append` but its type signature is different. We should match the previous type signatures and deprecate them in favor of `addAll`.

[2018-07-02 14:48] isaacl commented on #10966
yes, it does already use copyOfRange.  I was using this bug for general slice perf.

[2018-07-02 15:07] isaacl commented on #10966
@szeiger I wonder if we could speed up `slice`/`take`/`fold` by having a ConcreteArrayOps class which Arrays with known type can use instead of having to go through type switching at runtime.

[2018-07-02 19:53] Prithvirajbilla commented on #10970
I'd like to pick this up. thanks.

[2018-07-02 20:06] julienrf commented on #10970
Thank *you*, go ahead!

[2018-07-03 00:52] isaacl commented on #10968
Looks like you _can_ use Object.clone() for arrays.

https://github.com/scala/scala/blob/443e175/src/compiler/scala/tools/nsc/backend/jvm/BCodeBodyBuilder.scala#L668-L680

http://hg.openjdk.java.net/jdk8/jdk8/hotspot/file/87ee5ee27509/src/share/vm/interpreter/linkResolver.cpp#l439

[2018-07-03 13:34] isaacl commented on #10966
Indeed. It appears that change simply never got moved to 2.13.x. I couldn't find any clear reason with git sleuthing.

[2018-07-03 14:44] Jasper-M commented on #10966
I just realized, `ArrayOps` is a value class. In 2.12 those specialized subclasses were also value classes, but that was completely useless since value classes still box when you call an inherited method on them. If you want to have. You would have to redefine all inherited members in every specialized subclass if you want to avoid the extra boxing.

[2018-07-03 21:29] Ichoran commented on #10966
@Jasper-M - Yes, that's absolutely right!  It's still probably worth doing, if someone is willing to keep it all straight.

[2018-07-04 16:24] MasseGuillaume opened #10971 "[2.13.0-M4] Renaming parameters"
Some parameter renames make sense:

`ArraySeq.update`: idx => index

Some renames are inconsistent:

`ArrayBuffer.remove`: `n => idx` (should be `index` to be consistent with above)

Some renames are worst:

`ArrayBuffer`: `initialSize => initSize`
`SortedMapFactory.apply`: `ord` => `arg0` (this is one is at least consistent with `EvidenceIterableFactory`)

Let's try to be consistent. We should al

[2018-07-04 16:33] MasseGuillaume opened #10973 "[2.13.0-M4] avoid using default parameters"
Some operations like SeqOps now uses default parameter. This is a breaking change if you use eta-expension.

before

[code]

now

[code]

[code]

This apply to at least:

SeqOps
* [ ] `indexOf`
* [ ] `indexOfSlice`
* [ ] `indexWhere`
* [ ] `lastIndexOf`
* [ ] `lastIndexOfSlice`
* [ ] `lastIndexWhere`

[2018-07-04 16:44] MasseGuillaume opened #10974 "[2.13.0-M4] missing methods in IterableOps, IterableOnceOps"
* `IterableOps`
  * missing methods from `TraversableLike`
    * [ ] `def ++:[B](that: TraversableOnce[B]): Traversable[B]`
    * [x] `def view(from: Int, until: Int): TraversableView[A, Repr]`

  * missing methods from GenTraversableLike
    * [ ] `def repr: Repr`
    * [x] `def stringPrefix: String`
    * [x] `def sameElements(that: GenIterable[A]): Boolean`

* `  IterableOnceOps`
  * missing me

[2018-07-04 16:48] MasseGuillaume opened #10975 "[2.13.0-M4] missing method in IterableFactory"
[code]

from scala.collection.generic.GenTraversableFactory

[2018-07-04 16:49] MasseGuillaume opened #10976 "[2.13.0-M4] missing method canEqual"
from `IterableLike`

[2018-07-04 16:51] MasseGuillaume opened #10977 "[2.13.0-M4] missing method Searching.SearchImpl.search"

[2018-07-04 16:52] MasseGuillaume opened #10978 "[2.13.0-M4] missing classes in collection.generic"
[code]

[2018-07-04 16:53] MasseGuillaume opened #10979 "[2.13.0-M4] missing method on immutable.Stream"
`def print(): Unit`

[2018-07-04 16:54] MasseGuillaume opened #10980 "[2.13.0-M4] missing method on immutable.TreeMap"
`def compare(k0: A, k1: A): Int`

[2018-07-04 16:56] MasseGuillaume opened #10981 "[2.13.0-M4] missing method on ArrayBuffer"
- [x] +=:,
- [ ] ++=:
- [ ] result
- [x] stringPrefix

[2018-07-04 19:04] lrytz commented on #10973
i think this is a breaking change we're willing to accept, so a documentation issue.

[2018-07-04 19:31] julienrf commented on #10971
To clarify on the actions that should be done: we should always use the same names as in 2.12, except when the new names are clearer. In such cases, we should add the `@deprecatedName('oldName)` annotation to not break the source compatibility.

[2018-07-04 19:52] julienrf commented on #10974
We do have `stringPrefix`, `sameElements` (deprecated and provided by an implicit conversion), `copyToBuffer` (deprecated), `copyToArray`, `hasDefiniteSize` and `toIterator`.

I think `++:` does not really make sense on `Iterable` because there is no notion of element order so you can use `ys ++ xs` instead of `xs ++: ys`. If element order is important then you should use a `Seq`. Thus, we should

[2018-07-04 20:00] julienrf commented on #10975
Note that this method was not available in the `Set` factory object in 2.12. If we add it to `IterableFactory` then it will become available to the new `Set` factory objects. I think this is fine, though.

The new signature should be:

[code]

[2018-07-04 20:03] julienrf commented on #10976
Indeed this is a breaking change that we should document: equality is not anymore defined at the level of `Iterable`, but it is defined in each branch: `Set`, `Map`, `Seq`.

[2018-07-04 20:04] julienrf commented on #10977
It is [here](https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/collection/Searching$.html#search[Repr,A](coll:Repr)(implicitfr:scala.collection.generic.IsSeqLike[Repr]):scala.collection.Searching.SearchImpl[Repr,fr.A]). Or is it somehow incompatible?

[2018-07-04 20:06] julienrf commented on #10978
I think we should just document that `Sizing` and `SliceInterval` do not exist anymore.

For those that have been moved to the `collection.mutable` package, my opinion is that that package suits them better, so I would just add deprecated aliases to them.

[2018-07-04 20:11] julienrf commented on #10979
It seems that we miss [the two overloads](https://github.com/scala/scala/blob/v2.12.6/src/library/scala/collection/immutable/Stream.scala#L278-L294) of this method. We should add them and deprecate them in favor of `print(xs.force.mkString)`.

[2018-07-04 20:12] julienrf commented on #10980
I don’t know if it’s worth keeping non-deprecated, the implementation simply delegates to `ordering.compare`.

[2018-07-04 20:14] julienrf commented on #10980
If we add it, it should be added to `SortedOps` so that it is also available to `TreeSet` (as in 2.12).

[2018-07-05 01:29] isaacl opened #10982 "immutable/ArraySeq should be named differently"
This can cause confusion with the mutable ArraySeq.

[2018-07-05 05:56] PeterAJansen opened #10983 "util.control.Breaks / break() appears to allow breaking outside breakable{} scope"
Hi there,

I tracked down a bug today in some code that ended up being an errant break() in a function X without a breakable {} structure, but that was called by function Y with a breakable structure -- and the break in X was breaking out of the breakable {} in Y, beyond it's scope.

Below is a distilled example -- I would expect the break() in check() to throw an error for being outside a breakab

[2018-07-05 06:47] lrytz commented on #10982
It was a conscious decision: https://github.com/scala/bug/issues/10836. Note that there are many collections that exist mutable and immutable with the same name.

[2018-07-05 06:47] #10982 closed

[2018-07-05 07:42] martijnhoekstra commented on #10983
Thanks for the report.

The doc at https://www.scala-lang.org/api/current/scala/util/control/Breaks$.html#break():Nothing doesn't give me any reason to think your expectations should hold. I can't see anything directly actionable here, so I'm closing this report.

Further discussion about the (desired) semantics of the break method could go on https://users.scala-lang.org or https://contributors.s

[2018-07-05 07:42] #10983 closed

[2018-07-05 07:57] julienrf commented on #10970
After thinking more about this one I think it’s fine to have `append` and `appendAll` (non-deprecated) in `Buffer`, for symmetry with `prepend` and `prependAll`.

So, we should do the following:

- add `append` and `appendAll`, and make `addOne` and `addAll` final aliases to these methods,
- add deprecated variadic versions of `append` and `prepend`. We should suggest users to use `appendAll` and

[2018-07-05 08:03] #10977 closed

[2018-07-05 08:32] MasseGuillaume commented on #10973
If you add another default parameter (in future) you break the code at call site once again.

[code]

If you add another method, it's compatible:

[code]

[2018-07-05 08:41] MasseGuillaume opened #10984 "[2.13.0-M4] missing method on SetOps, MapOps"
missing methods from SetLike

[code]
missing methods from MapLike

[code]

[2018-07-05 08:48] MasseGuillaume opened #10985 "[2.13.0-M4] missing method on Array"
[code]

[2018-07-05 08:52] MasseGuillaume opened #10986 "[2.13.0-M4] missing classes on ArrayOps"
* [ ] `ofBoolean`
* [ ] `ofByte`
* [ ] `ofChar`
* [ ] `ofDouble`
* [ ] `ofFloat`
* [ ] `ofInt`
* [ ] `ofLong`
* [ ] `ofRef[T <: AnyRef]`
* [ ] `ofShort`
* [ ] `ofUnit`

[2018-07-05 08:55] MasseGuillaume opened #10987 "[2.13.0-M4] missing classes on scala.collection.mutable"
* [ ] `ArrayStack`
* [ ] `FlatHashTable`
* [ ] `HashTable` (now private, implementation details)
* [ ] `History`
* [ ] `LazyBuilder`
* [ ] `LinearSeq`
* [ ] `LinkedEntry` (removed, Class for the linked hash map entry, used internally.)
* [ ] `MapBuilder`
* [ ] `MutableList`
* [ ] `Publisher`
* [ ] `ResizableArray`
* [ ] `RevertibleHistory`
* [ ] `SetBuilder`
* [ ] `StackBuilder`
* [ ] `Subscriber`

[2018-07-05 09:06] MasseGuillaume opened #10988 "[2.13.0-M4] missing method on mutable.HashMap"
[code]

[2018-07-05 09:09] MasseGuillaume opened #10989 "[2.13.0-M4] missing method on mutable.PriorityQueue"
[code]

[2018-07-05 09:16] MasseGuillaume opened #10990 "[2.13.0-M4] missing method on mutable.SortedMap"
[code]

[2018-07-05 09:20] MasseGuillaume opened #10991 "[2.13.0-M4] missing constructor on mutable.StringBuilder"
missing constructor

[code]

Also: keep same parameter names for constructors:

2.12

[code]

2.13

[code]

[2018-07-05 09:20] MasseGuillaume commented on #10971
related: https://github.com/scala/bug/issues/10991

[2018-07-05 09:22] MasseGuillaume opened #10992 "[2.13.0-M4] missing method on mutable.TreeSet"
[code]

[2018-07-05 09:25] MasseGuillaume opened #10993 "[2.13.0-M4] scala.sys.process.ProcessBuilder scaladocs refers to deprecated method lineStream"
https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/sys/process/ProcessBuilder.html

we should replace all occurrences of `*Stream` to `lazy*`

[2018-07-05 09:27] MasseGuillaume opened #10994 "[2.13.0-M4] duplicated use case in scaladoc"
for example:

https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/collection/mutable/HashMap.html#max:(K,V)

[2018-07-05 09:29] julienrf commented on #10984
These [methods](https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/Set.scala#L164-L165) [are](https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/Set.scala#L185-L186) [all](https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/Map.scala#L54-L55) [available](https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/Map.scala#L

[2018-07-05 09:29] #10984 closed

[2018-07-05 09:31] MasseGuillaume commented on #10984
Maybe it's a bug in the repl ?

[code]

[2018-07-05 09:35] olafurpg commented on #10973
This breaking change can be avoided with minimal effort and the 2.12 design has the benefit of playing nicer with eta expansion. By keeping the old design you also avoid the need to document the breaking change altogether. I think it would be great to preserve the 2.12 API.

[2018-07-05 09:37] MasseGuillaume commented on #10984
Sorry I tested this on 2.13.0-M4, not master.

[2018-07-05 09:37] MasseGuillaume opened #10995 "[2.13.0-M4] missing method “companion” from IterableFactory"
[code]

[2018-07-05 09:58] julienrf commented on #10985
@lrytz Do you know if there was a reason to not have it in `Array` anymore? I see that you added it to partest tools only.

[2018-07-05 10:01] julienrf commented on #10986
These public classes have been moved to the `ArrayBuilder` object. We should move them back to `ArrayOps`, unless there is a reason for that? (maybe @szeiger knows?)

[2018-07-05 10:04] julienrf commented on #10987
I think we should just document that in the FAQ (for now).

[2018-07-05 10:04] lrytz commented on #10985
It's a hacky ugly testing utility to print values in (nested) arrays. If you feel strongly about it, we can add it deprecated.

[2018-07-05 10:07] julienrf commented on #10988
This is because `mutable.HashMap` is not anymore a `Builder` of itself. Also, the `result()` method is missing.

Should we make `mutable.HashMap` a builder of itself again?

[2018-07-05 10:08] julienrf commented on #10981
- [ ] `mapResult` is missing, too.

[2018-07-05 10:13] julienrf commented on #10989
BTW, I just noticed that we forgot to override the `iterableFactory` member. We should override it to return `PriorityQueue` (the companion object), remove the overrides of `fromSpecificIterable` and `newSpecificBuilder`, and finally add a deprecated `orderedCompanion` alias to `iterableFactory`.

[2018-07-05 10:15] julienrf commented on #10990
Indeed, and `mutable.Map` doesn’t have it either. It’s reported [here](https://github.com/scala/collection-strawman/wiki/FAQ#what-are-the-breaking-changes) but we should provide a deprecated implementation (in `mutable.MapOps`).

[2018-07-05 10:17] julienrf commented on #10992
Indeed there is no notion of “keys” in `TreeSet` so the method is now simply named `iteratorFrom`. We should add a deprecated alias.

[2018-07-05 10:19] julienrf commented on #10993
I think this has been fixed in https://github.com/scala/scala/commit/b504fe4c40a5857cf8fe6b7c4aba778c4a4e0ae6

[2018-07-05 10:19] #10993 closed

[2018-07-05 10:23] julienrf commented on #10994
This has been fixed in https://github.com/scala/scala/commit/ae816685d57a87a54f41dc02a62c0a2fb7d72d89

[2018-07-05 10:23] #10994 closed

[2018-07-05 11:42] Jasper-M commented on #10986
To quote [myself](https://github.com/scala/bug/issues/10966#issuecomment-402182484):

To which @Ichoran says:

[2018-07-05 11:51] #10582 closed

[2018-07-05 11:51] #10660 closed

[2018-07-05 11:51] #10753 closed

[2018-07-05 11:51] #10793 closed

[2018-07-05 11:51] #10794 closed

[2018-07-05 11:51] #10795 closed

[2018-07-05 11:51] #10796 closed

[2018-07-05 11:51] #10797 closed

[2018-07-05 11:51] #10902 closed

[2018-07-05 11:51] #10954 closed

[2018-07-05 12:40] LPTK commented on #10660
@jcracknell maybe we should open another issue for that. It does seem a little surprising, and I think emitting a warning for this would be a good idea.

[2018-07-05 14:11] alex1712 commented on #10823
In case anyone else wants to take the issue, I am not able to work further here at least for now. From my investigation I think the problem is in the way the `AndBuilder` in `scala/sys/process/ProcessImpl.scala` is creating the Process from the both `cat`.

[2018-07-05 15:13] MasseGuillaume opened #10996 "[2.13.0-M4] wrong signature for “transform” from mutable.IterableOps"
`scala.collection.mutable.Map`

as seen from 2.13

[code]

as seen from 2.12

[code]

`transform` should not be defined in `mutable.IterableOps` but in both: `mutable.MapOps` and `mutable.SeqOps` with the 2.12 signature.

[2018-07-05 17:00] INRIX-Cory-Bradshaw opened #10997 "Set Intersect (&) not "left sided""
When using sets to find the intersection between case classes with two parenthesis the results are not the items from the left operand found in the right operand, but a mix. The test below creates two sets looking for diffs/intersects based on the first parameter list (a Long). Each set has items with the same second parameter set to make spotting where the returned items came from easier.

Result

[2018-07-05 17:42] som-snytt commented on #10997
You're asking for `xs & ys` to work the same as `xs filter ys`. Why not just use `filter`?

[2018-07-05 17:46] INRIX-Cory-Bradshaw commented on #10997
I ended up using filter, but this seemed like an inconsistency with the set operations (hence opening the ticket), as the other operations seem to return items from the left operand. I am wondering if this behavior between scala versions, only because we had comments in the code mentioning keeping a specific set on the left of the operator so its items get returned, but this could have also been a

[2018-07-05 18:59] som-snytt commented on #10997
Your example gives the result you expect in 2.13. In 2.12, `intersect` is defined as `filter`, but overridden in `HashSet` with comments suggesting the behavior is intended:
[code]
I'm not a doctor or a lawyer or a collections expert, but I play one on tv.

[2018-07-05 19:05] INRIX-Cory-Bradshaw commented on #10997
Interesting, I'm not sure what the underlying set implementation is being used. I am taking a Java collection .asScala.map(transform).toSet . I am using scala 2.12.2.

This can be closed if this is a known behavior, I just thought it was at odds with the other behaviors seen in the set operations. (I guess symmetric operations is the term I am looking to describe what I was expecting)

[2018-07-05 20:57] som-snytt commented on #10997
I also noticed that the behavior changes for `set.par`, and that the overview doc doesn't seem to mention . Probably commutativity is assumed. But there are other cases where equality is defined one way but folks want one element to be preferred over another that is equal to it. Then the useful question is, why do you prefer that element, if they are otherwise equal?

[2018-07-05 20:57] #10997 closed

[2018-07-06 06:38] #10996 closed

[2018-07-06 06:42] MasseGuillaume commented on #10985
Yes I think we should leave it: https://github.com/scalatest/scalatest/pull/1383

[2018-07-06 07:25] MasseGuillaume opened #10998 "[2.13.0-M4] missing methods thisCollection/toCollection from TraversableLike / IterableLike"
`TraversableLike`

[code]

`IterableLike`

[code]

[2018-07-06 07:35] gmethvin commented on #10975
It also did not exist before on `Iterator`, but I think it's also fine there.

[2018-07-06 07:41] MasseGuillaume opened #10999 "Scaladoc: add protected to visibility"
In the filtered search there are only two options for visibility: Public, All.

I think we should have

* Public
* Protected
* Private
* All / None

Public, Protected, Private should toggle (on/off)

All, None should clear the above

[2018-07-06 08:12] MasseGuillaume opened #11000 "[2.13.0-M4] missing methods newBuilder from HasNewBuilder"
[code]

[2018-07-06 09:23] #9246 closed

[2018-07-06 09:26] MasseGuillaume opened #11001 "[2.13.0-M4] new method mutable.Set.get not so useful"
[`mutable.SetOps.get`](https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/collection/mutable/SetOps.html#get(elem:A):Option[A])

[code]
I don't think this method  should be added. At least not abstract, since it can be defined as

[code]

It's not consistent with the [`immutable.SetOps`](https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/collection/immutable

[2018-07-06 12:30] julienrf commented on #10949
Let’s keep it in collection-contrib for now.

[2018-07-06 12:30] #10949 closed

[2018-07-06 12:43] julienrf commented on #10998
Is it OK to only document that change?

[2018-07-06 12:48] julienrf commented on #11000
I think we don’t have this `HasNewBuilder` trait anymore, right?

[2018-07-06 13:02] MasseGuillaume commented on #11000
@julienrf correct, in 2.12 if you extend let's say `collection.Seq` you would get `newBuilder`.

https://static.javadoc.io/org.scala-lang/scala-library/2.12.6/scala/collection/Seq.html

select all in the visibility

[2018-07-06 13:03] MasseGuillaume commented on #10998
`@deprecation` all the things!

[2018-07-06 16:40] fommil commented on #10790
@som-snytt unrelated :smile: I'm just closing all my scala related tickets due to a loss of interest in contributing to the language. I added `scalaz.unused` in any case, which is good enough for me.

[2018-07-06 17:34] som-snytt commented on #10999
Relatedly, https://github.com/scala/bug/issues/3807

[2018-07-06 18:34] Ichoran commented on #10949
We should still have a proper efficient `updateWith(k, f: V => V): Boolean` at least for mutable maps where slotting the new item in the same hole is vastly faster than doing two lookups.

[2018-07-07 06:16] gmethvin commented on #10989
@julienrf That won't quite work, because the `PriorityQueue` companion is not an `IterableFactory` but a `SortedIterableFactory`. We could do something similar to `TreeSet` and add a `sortedIterableFactory` method though.

[2018-07-07 09:52] gmethvin commented on #10961
I'm planning to submit a PR for this.

It looks like `toTraversable` is implemented in `IterableOnceExtensionMethods`, so it would already be usable on `Iterator`.

I agree `scanRight` doesn't make sense at all on `Iterator`. I think we should deprecate and suggest using some kind of `Iterable`, though I'm not sure how prescriptive we should be there about what to use. We could suggest a direct re

[2018-07-07 17:44] soronpo commented on #10758
Reopening. This issue occurs again for 2.13.0-M4 :cry:

[2018-07-07 17:47] soronpo commented on #10758
FYI, 2.12.6 is OK.

[2018-07-07 17:50] soronpo commented on #10758
I updated the original post to reflect the tested scalac versions.

[2018-07-07 20:54] gmethvin commented on #11001
`get` is documented to return a *reference to the contained element* equal to `elem`, so it would not be sufficient to return the argument.

The question is whether it is sufficiently useful to have a method that works like that. I can think of ways someone might use a reference to the contained element, but they all involve doing unusual things with `equals` and/or mutating data structures inside

[2018-07-08 01:05] Prithvirajbilla commented on #10971
I'd like to pick this up. thanks

[2018-07-08 01:18] Prithvirajbilla commented on #10971
I couldn't find this rename in SortedMapFactory(https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/Factory.scala#L661)

[2018-07-08 01:30] Prithvirajbilla commented on #10995
I'd like to pick this up. thanks.

[2018-07-08 01:58] joshlemer opened #11002 "[2.13.0-M4] IterableOnce#copyToArray should return number of elements written to Array"
I would like to suggest that these three `copyToArray` methods on IterableOnce could return the number of elements written to the array passed in, rather than returning the array itself. My reasoning is that

1) the number of elements written to the array is non-deterministic -- the IteratorOnce may run out of elements at any time. It doesn't seem very easy to determine which elements written to t

[2018-07-08 04:24] kmizu opened #11003 "A method for automatic resource management should be included in stdlib"
In Java (7 or later), the following code, closing `br` after `try` statement is executed, is legal:

[code]

Also in Scala. since such an expression is very useful, many Scala programmers reinvent their own expressions such as:

[code]

I think that such a method should be included in stdlib (e.g. `scala.io`) to avoid code duplication.

[2018-07-08 09:37] MasseGuillaume commented on #10971
@Prithvirajbilla the compiler will desugar

[code]

into

[code]

you can write the following

[code]

[2018-07-08 15:09] joshlemer commented on #10981
PR here https://github.com/scala/scala/pull/6904

[2018-07-08 15:50] Prithvirajbilla commented on #10971
okay. thanks.

What do you recommend that we do here?

Is it changing the `apply` function on SortedMapFactory back to have an implicit parameter as argument  and also change the `EvidenceIterableFactory` to also have an implicit parameter as argument. (for consistency)

Also note that we can't use `@deprecatedName` for implicit parameters.

[2018-07-08 16:20] Prithvirajbilla commented on #10978
There is no `Subtractable` class  in scala.collection.mutable

And also can some one give me pointers for which file to edit to document  that `Sizing` and `SliceInterval` do not exist anymore.

[2018-07-08 19:16] MasseGuillaume commented on #10971
seems like `EvidenceIterableFactory` is for `ClassTag` and `Ordering`. It's not worth to keep the old name since you would need to duplicate some code to keep the parameter name.

seems to work there (Scala 2.12.4)

[code]

[2018-07-08 19:31] NthPortal commented on #11003
try-with-resources is actually more complicated than that. I believe it is basically equivalent to

[code]

I don't know off the top of my head what it does for multiple resources, but I imagine it's even more complicated.

[2018-07-08 19:31] MasseGuillaume commented on #10978
https://static.javadoc.io/org.scala-lang/scala-library/2.12.6/scala/collection/generic/Subtractable.html

It looks like Subtractable is now implemented correctly in `SetOps`, `MapOps`, etc. We should keep it for compatibility in generic.

[2018-07-08 19:33] MasseGuillaume commented on #11002
looks like this bug: https://github.com/scala/bug/issues/8469

[2018-07-08 21:47] Ichoran commented on #11003
@NthPortal - This complication is exactly why it should be provided.  Everyone needs it, approximately, but it's kind of tricky to get right.  (FWIW I wouldn't use quite the implementation you gave, but the point that you need to handle exceptions in many different places is a good one.)

[2018-07-08 21:49] Ichoran commented on #11002
Agreed.  Not knowing what you copied makes for an error-prone API.  If we don't provide an integer return value, we should do something else that allows the information to be gathered.

[2018-07-08 21:53] NthPortal commented on #11003
@Ichoran I wouldn't use that implementation either - I'd probably take into account `scala.util.control.NonFatal`. However, as best I can tell, the implementation I gave is what Java compiles/desugars a `try`-with-resources (with a single resource) to.

[2018-07-08 22:01] ritschwumm commented on #11003
i've implemented this a couple of times now, i think it should go into the standard library. preferrably with a typeclass instead of using AutoCloseable, though: there's quite a few resources in java.* that do not implement Autclosable or Closable but still would profit from this construct

[2018-07-09 00:13] gmethvin commented on #11003
I agree, this seems like a missing feature in Scala. If we add this it should probably be typeclass-based. It would also be nice to have a convenient syntax for handling multiple resources.

[2018-07-09 00:43] gmethvin commented on #10961
It looks like we already have `def copyToArray[B >: A](xs: Array[B], start: Int = 0)` which would be source compatible with previous usages of `def copyToArray[B >: A](xs: Array[B]): Unit`.

[2018-07-09 01:32] NthPortal commented on #11003
@ritschwumm good idea. with an implicit declared in scope automatically for `AutoClosable`.

I might take a look at this

[2018-07-09 01:33] NthPortal commented on #11003
relevant: scala/scala#6347

[2018-07-09 04:51] NthPortal commented on #11003
I went with `Resource`, but I'm open to bikeshedding

[2018-07-09 04:54] NthPortal commented on #11003
@gmethvin I think you will probably have to live with nesting (which isn't too much more verbose than Java's `try`-with-resources)

[2018-07-09 08:06] MasseGuillaume commented on #10961
@gmethvin it's not source compatible: https://github.com/scala/bug/issues/10973#issuecomment-402646937

[2018-07-09 08:21] gmethvin commented on #10961
Ah, I missed that case. Thanks for the explanation. I'll remove the default parameter then and stick with the method overloading.

[2018-07-09 09:17] julienrf commented on #10978
We could add `Subtractable` back (without using it) and deprecate it, indeed.

[2018-07-09 09:58] julienrf commented on #10989
Good point. Let’s forget about my previous comment then and just add a deprecated `orderedCompanion` that aliases to `PriorityQueue`.

[2018-07-09 11:22] julienrf opened #11004 "Consider adding an `updateWith` operation on mutable Maps"
From https://github.com/scala/bug/issues/10949#issuecomment-403114097:

[2018-07-09 12:36] allanrenucci opened #11005 "`knownSize` not always constant time on views"
Most of the `knownSize` implementations on views are defined in term of the underlying data-structure. If the underlying data structure is itself a view then the contract for `knownSize` can be broken. E.g.
[code]
In the example above, the complexity of `knownSize` is linear in the size of `xss`

[2018-07-09 12:37] #10975 closed

[2018-07-09 13:06] MasseGuillaume opened #11006 "mutable.IndexedSeqOps should implement mapInPlace"
[code]

[2018-07-09 15:36] MasseGuillaume opened #11007 "[2.13.0-M4] WrappedArray make has a different signature in ArraySeq"
2.12

[`def make[T](x: AnyRef): WrappedArray[T]`](https://static.javadoc.io/org.scala-lang/scala-library/2.12.6/scala/collection/mutable/WrappedArray$.html#make[T](x:AnyRef):scala.collection.mutable.WrappedArray[T])

2.13

[`def make[T](x: Array[T]): ArraySeq[T]`](https://static.javadoc.io/org.scala-lang/scala-library/2.13.0-M4/scala/collection/mutable/ArraySeq$.html#make[T](x:Array[T]):scala.coll

[2018-07-09 15:39] lrytz commented on #11007
WrappedArray was renamed to ArraySeq in 2.13, so I think this is an intended change.

[2018-07-09 21:46] SethTisue commented on #10790
@fommil if we reopen a particular ticket of yours — for example, this one — that someone expresses an interest in, is that okay? (or will you just close it again?)

[2018-07-09 21:55] fommil commented on #10790
sure, that's fine, I can always unsubscribe if it's noisy.

[2018-07-09 22:03] som-snytt commented on #10790
I can be pretty noisy. Sorry, I just did it again.

[2018-07-09 22:37] SethTisue commented on #10983
improvements to the Scaladoc in this area would be welcome

[2018-07-10 01:39] Prithvirajbilla commented on #10971
regarding the @deprecatedName for implicit parameters. It works. My bad. sorry.

I guess it is just my Intellij showing red in this case.

Thanks.

[2018-07-10 06:57] #10978 closed

[2018-07-10 06:59] #10991 closed

[2018-07-10 07:00] #10979 closed

[2018-07-10 07:01] #10995 closed

[2018-07-10 07:01] #10971 closed

[2018-07-10 07:06] #10970 closed

[2018-07-10 07:32] julienrf commented on #11000
I think you can implement it as follows (in `IterableOps`, `ArrayOps` and `StringOps`):

[code]

[2018-07-10 07:36] julienrf commented on #10988
You can see how this has been done in `ArrayBuffer`

[2018-07-10 07:38] sujeet opened #11008 "Quasiquote pattern-matching codegen is non-deterministic"
[Usage of `randomUUID`](https://github.com/scala/scala/blob/57f93de9147f1d52c15912f0428b733a2e719b47/src/compiler/scala/reflect/quasiquotes/Placeholders.scala#L23) implies we won't be able to have fully-reproducible builds. For example, it breaks bazel's caching. Because of this, each time code that uses quasiquote pattern-matching is compiled, the output `.class` file for the anonymous class is d

[2018-07-10 08:04] MasseGuillaume opened #11009 "[2.13.0-M4] Keep the override on the symbolic operator"
Let's say I implement a Map in 2.12. I need to override `def - (key: K): C`. If I bump the Scala version to 2.13, I now need to override the alphanumeric method `remove(key: K): C`.

https://github.com/scala/scala/blob/a0026305125dcc814097b1fbb798fe925ca9f81f/src/library/scala/collection/immutable/Map.scala#L59-L62

currently:

[code]
I propose we keep the symbolic operator non-final for compatibi

[2018-07-10 08:27] MasseGuillaume opened #11010 "[2.13.0-M4] Missing type Coll"
https://static.javadoc.io/org.scala-lang/scala-library/2.12.6/index.html?search=Coll

[2018-07-10 08:30] julienrf commented on #11010
I think that, in `IterableOps`, `Coll` should be an alias to `CC[_]`. In `MapOps` it should be an alias to `CC[_, _]`.

[2018-07-10 08:37] MasseGuillaume opened #11011 "[2.13.0-M4] stringPrefix should not be final (yet)"
Let's add a `@deprecatedOverriding` first.

[code]

[2018-07-10 09:15] #11001 closed

[2018-07-10 11:44] MasseGuillaume commented on #11007
@lrytz correct there is a depreciation method for this scala.colletion.mutable package object.

[code]

However since the signature is different, this is not an exact replacement. You cannot use `ArraySeq` instead of `WrappedArray`. We should deprecate the 2.12 signature and find a different name for the 2.13 signature.

[2018-07-10 12:37] MasseGuillaume commented on #11000
`StringOps` is` final`, it's not necessary anymore since we don't have `StringLike`. ibid for ArrayOps.

[2018-07-10 12:56] julienrf commented on #11007
@MasseGuillaume Although the signature says `AnyRef`, the method was actually defined only on Arrays, so there should be no breakage at use site.

[2018-07-10 13:01] MasseGuillaume commented on #11007
counter example: https://github.com/scala/scala/blob/cf4fb702b17d4b9e9784e5660bc14e708c136f60/src/library/scala/collection/mutable/ArrayLike.scala#L39-L46

[2018-07-10 17:12] smarter opened #11012 "@deprecated on the constructor of an annotation class does not result in any warning when using the annotation"
The warning does appear when instantiating the annotation class by hand using `new`:
[code]

[2018-07-10 18:13] SethTisue commented on #11012
(potential "good first issue", that is, for someone wanting to get into the compiler code a little)

[2018-07-10 19:29] SethTisue commented on #11002
duplicate of #8469

[2018-07-10 19:29] #11002 closed

[2018-07-10 19:30] SethTisue commented on #8469
the duplicate report #11002 has some further explanation/justification

[2018-07-10 19:57] joshlemer commented on #8469
@SethTisue Is there any indication that this can be in before the release of 2.13? Since the time to make these changes is now. In the previous api, these methods returned Unit, so there is no danger of changing their behavior. If 2.13 is published with these methods returning `Array[T]` it would be a breaking change to return elems copied.

[2018-07-10 20:32] SethTisue commented on #11008
/cc @retronym who's always interested in stability

[2018-07-10 21:06] SethTisue commented on #8469
there is still time before 2.13.0-M5, which is targeted for Aug 10.

true (though it's still not a 100% source-compatible change, since the inferred type of an expression could change as a result. regardless, as you point out, this particular source-compatibility horse already left the barn in 2.13.0-M4)

@julienrf is this a change you'd accept...?

[2018-07-10 21:11] gmethvin commented on #10989
OK I'll submit a PR to add the method. It looks like the only place we need to add it is in `PriorityQueue` since no other collections used `GenericOrderedTraversableTemplate`.

[2018-07-11 02:13] Prithvirajbilla commented on #11011
I'd like to pick this up.  Thanks.

[2018-07-11 02:14] Prithvirajbilla commented on #11011
Are you referring to `stringPrefix` method in `scala.collection.Set`?  or something else.  clarification need.  Thanks

[2018-07-11 02:30] SethTisue commented on #11011
it's on `Iterable`, and then gets overridden in `Set` and other collections

[2018-07-11 06:51] #10989 closed

[2018-07-11 06:58] julienrf commented on #8469
Yes, we should try to fix that!

[2018-07-11 07:02] #10980 closed

[2018-07-11 07:31] julienrf commented on #11007
@MasseGuillaume Do you think we can close this issue?

[2018-07-11 07:51] #10992 closed

[2018-07-11 07:52] #10961 closed

[2018-07-11 08:00] MasseGuillaume commented on #11011
Yep, this is fixed on the latest branch, thanks.

[2018-07-11 08:00] #11011 closed

[2018-07-11 08:02] #11007 closed

[2018-07-11 11:16] MasseGuillaume opened #11013 "[2.13.0-M4] Missing type collection.IndexedSeqOptimized"

[2018-07-11 12:31] julienrf commented on #11013
We should add a deprecated alias to `IndexedSeqOps`, but the type signature is not exactly the same as before (same problem as with `IndexedSeqLike` vs `IndexedSeqOps`).

[2018-07-11 12:32] #11006 closed

[2018-07-11 13:18] #10858 closed

[2018-07-11 13:22] MasseGuillaume commented on #10973
another breaking pattern found in Akka:

[code]

[2018-07-11 13:29] MasseGuillaume opened #11014 "[2.13.0-M4] length made final without deprecatedOverride"
We should add a `@deprecatedOverride` first then mark them as final (in 2.14).

[code]

* [ ] `collection.Iterator`

[2018-07-11 15:48] SethTisue commented on #8469
@joshlemer do you plan to submit a pull request on it...?

[2018-07-11 15:57] joshlemer commented on #8469
@SethTisue Yes I'll try and do this tonight :-)

[2018-07-11 16:00] SethTisue commented on #11011
@Prithvirajbilla thanks for investigating!

[2018-07-11 18:29] soronpo commented on #10758
I updated the original post with the commits that cause the regression.

[2018-07-11 19:34] som-snytt commented on #11014
Required on sealed classes?

TIL `Iterator.length`.

[2018-07-12 00:52] retronym commented on #10758
[code]

[code]

[2018-07-12 00:56] Prithvirajbilla commented on #11014
`length` method in  concurrent.duration.InfiniteDuration is marked as `final`. https://github.com/scala/scala/blob/2.13.x/src/library/scala/concurrent/duration/Duration.scala#L214 But I wouldn't drop `final` for this one.